In [1]:

import requests
url = "https://rest.yahoofinanceapi.com/v6/finance/quote"
querystring = {'symbols':'AAPL,BTC-USD,MSFT'}
headers = {'x-api-key':'n2dqkAuQWt9w2a9LzNpWI5qfNlPtbiNoXpH6HjIf'}

response = requests.request("GET", url, headers=headers,
                           params=querystring)

In [3]:
import yfinance as yf
GetAAPLInfo = yf.Ticker("AAPL")

In [4]:
# display Company Sector
print("Company Sector: ", GetAAPLInfo.info['sector'])

Company Sector:  Technology

In [5]:
# dispaly P/E ratio
print("Price Earnings Ratio: ", GetAAPLInfo.info['trailingPE'])

Price Earnings Ratio:  28.594362

In [6]:
# get all value pairs that are available:
for key, value in GetAAPLInfo.info.items():
    print(key, ":", value)

zip : 95014
sector : Technology
fullTimeEmployees : 147000
longBusinessSummary : Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.
city : Cupertino
phone : 408-996-1010
state : CA
country : United States
companyOfficers : []
website : http://www.apple.com
maxAge : 1
address1 : One Apple Park Way
industry : Consumer Electronics
ebitdaMargins : 0.31955
profitMargins : 0.25004
grossMargins : 0.41005
operatingCashflow : 104414003200
revenueGrowth : 0.364
operatingMargins : 0.28788
ebitda : 110934999040
targetLowPrice : 132
recommendationKey : buy
grossProfits : 104956000000
freeCashflow : 80625876992
targetMedianPrice : 169.28
currentPrice : 146.06
earningsGrowth : 1
currentRatio : 1.062
returnOnAssets : 0.19302
numberOfAnalystOpinions : 43
targetMeanPrice : 167.27
debtToEquity : 210.782
returnOnEquity : 1.27125
targetHighPrice : 190
totalCash : 61696000000
totalDebt : 135491002368
totalRevenue : 347155005440
totalCashPerShare : 3.732
financialCurrency : USD
revenuePerShare : 20.61
quickRatio : 0.887
recommendationMean : 1.9
exchange : NMS
shortName : Apple Inc.
longName : Apple Inc.
exchangeTimezoneName : America/New_York
exchangeTimezoneShortName : EDT
isEsgPopulated : False
gmtOffSetMilliseconds : -14400000
quoteType : EQUITY
symbol : AAPL
messageBoardId : finmb_24937
market : us_market
annualHoldingsTurnover : None
enterpriseToRevenue : 7.167
beta3Year : None
enterpriseToEbitda : 22.429
52WeekChange : 0.32685316
morningStarRiskRating : None
forwardEps : 5.71
revenueQuarterlyGrowth : None
sharesOutstanding : 16530199552
fundInceptionDate : None
annualReportExpenseRatio : None
totalAssets : None
bookValue : 3.882
sharesShort : 96838699
sharesPercentSharesOut : 0.0058999998
fundFamily : None
lastFiscalYearEnd : 1601078400
heldPercentInstitutions : 0.58731997
netIncomeToCommon : 86801997824
trailingEps : 5.108
lastDividendValue : None
SandP52WeekChange : 0.3510847
priceToBook : 37.624935
heldPercentInsiders : 0.00071000005
nextFiscalYearEnd : 1664150400
yield : None
mostRecentQuarter : 1624665600
shortRatio : 1.46
sharesShortPreviousMonthDate : 1627603200
floatShares : 16513305231
beta : 1.201965
enterpriseValue : 2488191156224
priceHint : 2
threeYearAverageReturn : None
lastSplitDate : None
lastSplitFactor : None
legalType : None
lastDividendDate : None
morningStarOverallRating : None
earningsQuarterlyGrowth : 0.932
priceToSalesTrailing12Months : 6.954821
dateShortInterest : 1630368000
pegRatio : 1.4
ytdReturn : None
forwardPE : 25.579683
lastCapGain : None
shortPercentOfFloat : 0.0058999998
sharesShortPriorMonth : 93114834
impliedSharesOutstanding : None
category : None
fiveYearAverageReturn : None
previousClose : 148.79
regularMarketOpen : 148.82
twoHundredDayAverage : 135.44843
trailingAnnualDividendYield : 0.0056119366
payoutRatio : 0.16309999
volume24Hr : None
regularMarketDayHigh : 148.79
navPrice : None
averageDailyVolume10Day : 95639625
regularMarketPreviousClose : 148.79
fiftyDayAverage : 149.21771
trailingAnnualDividendRate : 0.835
open : 148.82
toCurrency : None
averageVolume10days : 95639625
expireDate : None
algorithm : None
dividendRate : 0.88
exDividendDate : 1628208000
circulatingSupply : None
startDate : None
regularMarketDayLow : 145.76
currency : USD
trailingPE : 28.594362
regularMarketVolume : 129868824
lastMarket : None
maxSupply : None
openInterest : None
marketCap : 2414401028096
volumeAllCurrencies : None
strikePrice : None
averageVolume : 79521745
dayLow : 145.76
ask : 145.8
askSize : 1100
volume : 129868824
fiftyTwoWeekHigh : 157.26
fromCurrency : None
fiveYearAvgDividendYield : 1.27
fiftyTwoWeekLow : 103.1
bid : 145.75
tradeable : False
dividendYield : 0.006
bidSize : 1400
dayHigh : 148.79
regularMarketPrice : 146.06
logo_url : https://logo.clearbit.com/apple.com

In [7]:
# get historical market prices
print(GetAAPLInfo.history(period="3mo"))

                  Open        High         Low       Close     Volume  \
Date
2021-06-18  130.514458  131.313248  130.045159  130.264832  108953300
2021-06-21  130.105073  132.211917  129.016708  132.102081   79663300
2021-06-22  131.932333  133.879413  131.423086  133.779556   74783600
2021-06-23  133.569887  134.119068  133.030687  133.499985   60214200
2021-06-24  134.248856  134.438574  132.731126  133.210419   68711000
...                ...         ...         ...         ...        ...
2021-09-13  150.630005  151.419998  148.750000  149.550003  102404300
2021-09-14  150.350006  151.070007  146.910004  148.119995  109296300
2021-09-15  148.559998  149.440002  146.369995  149.029999   83281300
2021-09-16  148.440002  148.970001  147.220001  148.789993   68034100
2021-09-17  148.820007  148.820007  145.759995  146.059998  129728700

            Dividends  Stock Splits
Date
2021-06-18        0.0             0
2021-06-21        0.0             0
2021-06-22        0.0             0
2021-06-23        0.0             0
2021-06-24        0.0             0
...               ...           ...
2021-09-13        0.0             0
2021-09-14        0.0             0
2021-09-15        0.0             0
2021-09-16        0.0             0
2021-09-17        0.0             0

[64 rows x 7 columns]

In [17]:
# get historical market data for the provided start and end datesa
import datetime as dt

# create startDate
startDate = datetime.datetime(2019, 5, 31)
# create endDate
endDate = datetime.datetime(2021, 1, 30)

print(GetAAPLInfo.history(start = startDate, end=endDate))

                  Open        High         Low       Close     Volume  \
Date
2019-05-31   43.181805   43.613062   42.877969   42.897572  108174400
2019-06-03   43.027439   43.595909   41.721424   42.463867  161584400
2019-06-04   42.988224   44.063910   42.762796   44.017353  123872000
2019-06-05   45.154295   45.328268   44.384898   44.727940  119093600
2019-06-06   44.860258   45.445882   44.632378   45.384624   90105200
...                ...         ...         ...         ...        ...
2021-01-25  142.400940  144.411483  135.901464  142.251633  157611700
2021-01-26  142.928469  143.625193  140.708887  142.490524   98390600
2021-01-27  142.759249  143.625191  139.753383  141.395660  140843800
2021-01-28  138.867542  141.325993  136.060723  136.448898  142621100
2021-01-29  135.194777  136.100525  129.601064  131.342880  177523800

            Dividends  Stock Splits
Date
2019-05-31        0.0           0.0
2019-06-03        0.0           0.0
2019-06-04        0.0           0.0
2019-06-05        0.0           0.0
2019-06-06        0.0           0.0
...               ...           ...
2021-01-25        0.0           0.0
2021-01-26        0.0           0.0
2021-01-27        0.0           0.0
2021-01-28        0.0           0.0
2021-01-29        0.0           0.0

[421 rows x 7 columns]

In [24]:
from pandas_datareader import data as pdr
yf.pdr_override()

# download dataframe
data = pdr.get_data_yahoo("AAPL",start='2018-01-01', end='2018-12-31')
data.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2018-01-02  42.540001  43.075001  42.314999  43.064999  41.248272  102223600
2018-01-03  43.132500  43.637501  42.990002  43.057499  41.241089  118071600
2018-01-04  43.134998  43.367500  43.020000  43.257500  41.432659   89738400
2018-01-05  43.360001  43.842499  43.262501  43.750000  41.904385   94640000
2018-01-08  43.587502  43.902500  43.482498  43.587502  41.748737   82271200

In [25]:
msft = yf.Ticker("MSFT")
msft_info = msft.info

In [26]:
msft_dividends = msft.dividends.to_frame()
msft_dividends

            Dividends
Date
2003-02-19       0.08
2003-10-15       0.16
2004-08-23       0.08
2004-11-15       3.08
2005-02-15       0.08
...               ...
2020-08-19       0.51
2020-11-18       0.56
2021-02-17       0.56
2021-05-19       0.56
2021-08-18       0.56

[71 rows x 1 columns]

In [27]:
msft_financials = msft.financials
msft_financials.head()

,2021-06-30,2020-06-30,2019-06-30,2018-06-30
Research Development,20716000000.0,19269000000.0,16876000000.0,14726000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,71102000000.0,53036000000.0,43688000000.0,36474000000.0
Minority Interest,None,None,None,None
Net Income,61271000000.0,44281000000.0,39240000000.0,16571000000.0

In [28]:
msft_qrtly_financials = msft.quarterly_financials
msft_qrtly_financials.head(25)

,2021-06-30,2021-03-31,2020-12-31,2020-09-30
Research Development,5687000000.0,5204000000.0,4899000000.0,4926000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,19405000000.0,17236000000.0,18337000000.0,16124000000.0
Minority Interest,None,None,None,None
Net Income,16458000000.0,15457000000.0,15463000000.0,13893000000.0
Selling General Administrative,7379000000.0,6409000000.0,6086000000.0,5350000000.0
Gross Profit,32161000000.0,28661000000.0,28882000000.0,26152000000.0
Ebit,19095000000.0,17048000000.0,17897000000.0,15876000000.0
Operating Income,19095000000.0,17048000000.0,17897000000.0,15876000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-549000000.0,-628000000.0,-568000000.0,-585000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,2947000000.0,1779000000.0,2874000000.0,2231000000.0
Total Revenue,46152000000.0,41706000000.0,43076000000.0,37154000000.0
Total Operating Expenses,27057000000.0,24658000000.0,25179000000.0,21278000000.0
Cost Of Revenue,13991000000.0,13045000000.0,14194000000.0,11002000000.0
Total Other Income Expense Net,310000000.0,188000000.0,440000000.0,248000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,16458000000.0,15457000000.0,15463000000.0,13893000000.0
Net Income Applicable To Common Shares,16458000000.0,15457000000.0,15463000000.0,13893000000.0

In [29]:
msft_qrtly_financials.columns

DatetimeIndex(['2021-06-30', '2021-03-31', '2020-12-31', '2020-09-30'], dtype='datetime64[ns]', name='', freq=None)

In [30]:
msft_qrtly_financials.index

Index(['Research Development', 'Effect Of Accounting Charges',
       'Income Before Tax', 'Minority Interest', 'Net Income',
       'Selling General Administrative', 'Gross Profit', 'Ebit',
       'Operating Income', 'Other Operating Expenses', 'Interest Expense',
       'Extraordinary Items', 'Non Recurring', 'Other Items',
       'Income Tax Expense', 'Total Revenue', 'Total Operating Expenses',
       'Cost Of Revenue', 'Total Other Income Expense Net',
       'Discontinued Operations', 'Net Income From Continuing Ops',
       'Net Income Applicable To Common Shares'],
      dtype='object')

In [31]:
import matplotlib.pyplot as plt

In [36]:
revenue = msft.quarterly_financials.loc['Total Revenue'].to_frame()
revenue

            Total Revenue

2021-06-30  46152000000.0
2021-03-31  41706000000.0
2020-12-31  43076000000.0
2020-09-30  37154000000.0

In [12]:

nasdaq_sym = pdr.get_nasdaq_symbols()
nasdaq_sym

,Nasdaq Traded,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
Symbol,,,,,,,,,,,
A,True,"Agilent Technologies, Inc. Common Stock",N,,False,100.0,False,NaN,A,A,False
AA,True,Alcoa Corporation Common Stock,N,,False,100.0,False,NaN,AA,AA,False
AAA,True,Listed Funds Trust AAF First Priority CLO Bond...,P,,True,100.0,False,NaN,AAA,AAA,False
AAAU,True,Goldman Sachs Physical Gold ETF Shares,P,,True,100.0,False,NaN,AAAU,AAAU,False
AAC,True,Ares Acquisition Corporation Class A Ordinary ...,N,,False,100.0,False,NaN,AAC,AAC,False
...,...,...,...,...,...,...,...,...,...,...,...
ZXZZT,True,NASDAQ TEST STOCK,Q,G,False,100.0,True,N,NaN,ZXZZT,False
ZY,True,Zymergen Inc. - Common Stock,Q,Q,False,100.0,False,N,NaN,ZY,False
ZYME,True,Zymeworks Inc. Common Shares,N,,False,100.0,False,NaN,ZYME,ZYME,False
ZYNE,True,"Zynerba Pharmaceuticals, Inc. - Common Stock",Q,G,False,100.0,False,N,NaN,ZYNE,False
ZYXI,True,"Zynex, Inc. - Common Stock",Q,Q,False,100.0,False,N,NaN,ZYXI,False

In [13]:
nasdaq_sym.loc['AAPL']

Nasdaq Traded                            True
Security Name       Apple Inc. - Common Stock
Listing Exchange                            Q
Market Category                             Q
ETF                                     False
Round Lot Size                          100.0
Test Issue                              False
Financial Status                            N
CQS Symbol                                NaN
NASDAQ Symbol                            AAPL
NextShares                              False
Name: AAPL, dtype: object

In [18]:
ticker='AAPL'
start = dt.datetime(2019, 1, 1)
data2 = pdr.get_data_stooq(ticker, start)
data2

               Open     High      Low    Close     Volume
Date
2021-09-17  148.820  148.820  145.760  146.060  129868824
2021-09-16  148.440  148.970  147.221  148.790   68034149
2021-09-15  148.560  149.440  146.370  149.030   83281315
2021-09-14  150.350  151.070  146.910  148.120  109296295
2021-09-13  150.630  151.420  148.750  149.550  102404329
...             ...      ...      ...      ...        ...
2019-01-08   36.352   36.901   36.098   36.636  168794736
2019-01-07   36.140   36.172   35.461   35.951  225377881
2019-01-04   35.128   36.106   34.951   36.034  241133189
2019-01-03   34.995   35.415   34.512   34.559  375695298
2019-01-02   37.649   38.606   37.484   38.382  152396455

[684 rows x 5 columns]