In [138]:
import pandas as pd
import numpy as np

In [139]:
df_t0 = pd.DataFrame(np.random.randint(5,1000, size=(100,5)),columns=(['Price','Market Cap', 'Price Target','Date', '% YTD']))

min_date = pd.to_datetime('2021-10-30')
max_date = pd.to_datetime('2022-01-1')

d = (max_date - min_date).days + 1

In [140]:
df_t0['Price'] = np.random.randint(25,1000, size=len(df_t0))
df_t0['Market Cap'] = np.random.randint(500,50000, size=len(df_t0))
df_t0['% YTD'] = np.random.randint(-10,70, size=len(df_t0))
df_t0['Date'] = min_date + pd.to_timedelta(pd.np.random.randint(d,size=len(df_t0)), unit='d')

<ipython-input-140-88b9bda54361>:4: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  df_t0['Date'] = min_date + pd.to_timedelta(pd.np.random.randint(d,size=len(df_t0)), unit='d')

In [141]:
df_t0 = df_t0.reset_index().head()

In [142]:
df_t1 = pd.DataFrame(np.random.randint(5,1000, size=(100,5)),columns=(['Price','Market Cap', 'Price Target','Date', '% YTD']))

min_date = pd.to_datetime('2021-01-02')
max_date = pd.to_datetime('2022-01-13')

d = (max_date - min_date).days + 1

df_t1['Price'] = np.random.randint(25,1000, size=len(df_t1))
df_t1['Market Cap'] = np.random.randint(500,50000, size=len(df_t1))
df_t1['% YTD'] = np.random.randint(-10,70, size=len(df_t1))
df_t1['Date'] = min_date + pd.to_timedelta(pd.np.random.randint(d,size=len(df_t1)), unit='d')

<ipython-input-142-a473188663aa>:11: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  df_t1['Date'] = min_date + pd.to_timedelta(pd.np.random.randint(d,size=len(df_t1)), unit='d')

In [143]:
df_t1 = df_t1.reset_index().head()

In [144]:
comparison_vals = df_t0.values == df_t1.values
row,cols = np.where(comparison_vals ==False )
for item in zip(row,cols):
    df_t1.iloc[item[0], item[1]] = '{} {}'.format(df_t0.iloc[item[0],item[1]], df_t1.iloc[item[0],item[1]])

In [145]:
df_t0.head()

   index  Price  Market Cap  Price Target       Date  % YTD
0      0    234       10062           729 2021-12-30     -8
1      1    800        6143           488 2021-11-11     55
2      2    939        6057           440 2021-11-27     -8
3      3    212       17010           987 2021-11-23     -9
4      4    551        5459           690 2021-12-21     10

In [146]:
df_t1.head()

,index,Price,Market Cap,Price Target,Date,% YTD
0,0,234 452,10062 43848,729 757,2021-12-30 00:00:00 2021-07-21 00:00:00,-8 -7
1,1,800 603,6143 48845,488 377,2021-11-11 00:00:00 2021-01-23 00:00:00,55 6
2,2,939 245,6057 23358,440 534,2021-11-27 00:00:00 2021-06-03 00:00:00,-8 33
3,3,212 443,17010 24823,987 138,2021-11-23 00:00:00 2021-01-04 00:00:00,-9 26
4,4,551 872,5459 3256,690 538,2021-12-21 00:00:00 2021-04-29 00:00:00,10 2

In [147]:
dfs = pd.concat([df_t0, df_t1])
dfs

,index,Price,Market Cap,Price Target,Date,% YTD
0,0,234,10062,729,2021-12-30 00:00:00,-8
1,1,800,6143,488,2021-11-11 00:00:00,55
2,2,939,6057,440,2021-11-27 00:00:00,-8
3,3,212,17010,987,2021-11-23 00:00:00,-9
4,4,551,5459,690,2021-12-21 00:00:00,10
0,0,234 452,10062 43848,729 757,2021-12-30 00:00:00 2021-07-21 00:00:00,-8 -7
1,1,800 603,6143 48845,488 377,2021-11-11 00:00:00 2021-01-23 00:00:00,55 6
2,2,939 245,6057 23358,440 534,2021-11-27 00:00:00 2021-06-03 00:00:00,-8 33
3,3,212 443,17010 24823,987 138,2021-11-23 00:00:00 2021-01-04 00:00:00,-9 26
4,4,551 872,5459 3256,690 538,2021-12-21 00:00:00 2021-04-29 00:00:00,10 2

In [148]:
df_t0.compare(df_t1).head()

  Price          Market Cap              Price Target                Date  \
   self    other       self        other         self    other       self
0   234  234 452      10062  10062 43848          729  729 757 2021-12-30
1   800  800 603       6143   6143 48845          488  488 377 2021-11-11
2   939  939 245       6057   6057 23358          440  440 534 2021-11-27
3   212  212 443      17010  17010 24823          987  987 138 2021-11-23
4   551  551 872       5459    5459 3256          690  690 538 2021-12-21

                                           % YTD
                                     other  self  other
0  2021-12-30 00:00:00 2021-07-21 00:00:00    -8  -8 -7
1  2021-11-11 00:00:00 2021-01-23 00:00:00    55   55 6
2  2021-11-27 00:00:00 2021-06-03 00:00:00    -8  -8 33
3  2021-11-23 00:00:00 2021-01-04 00:00:00    -9  -9 26
4  2021-12-21 00:00:00 2021-04-29 00:00:00    10   10 2

In [149]:
df_t0.compare(df_t1, align_axis='index').head()

           Price   Market Cap Price Target  \
0 self       234        10062          729
  other  234 452  10062 43848      729 757
1 self       800         6143          488
  other  800 603   6143 48845      488 377
2 self       939         6057          440

                                            Date  % YTD
0 self                       2021-12-30 00:00:00     -8
  other  2021-12-30 00:00:00 2021-07-21 00:00:00  -8 -7
1 self                       2021-11-11 00:00:00     55
  other  2021-11-11 00:00:00 2021-01-23 00:00:00   55 6
2 self                       2021-11-27 00:00:00     -8

In [150]:
dictionary = {1:df_t0,2:df_t1}
df_combined=pd.concat(dictionary)
df_combined.drop_duplicates(keep=False).head()

     index Price Market Cap Price Target                 Date % YTD
1 0      0   234      10062          729  2021-12-30 00:00:00    -8
  1      1   800       6143          488  2021-11-11 00:00:00    55
  2      2   939       6057          440  2021-11-27 00:00:00    -8
  3      3   212      17010          987  2021-11-23 00:00:00    -9
  4      4   551       5459          690  2021-12-21 00:00:00    10

In [151]:
df_t0.compare(df_t1, align_axis=0).head()

           Price   Market Cap Price Target  \
0 self       234        10062          729
  other  234 452  10062 43848      729 757
1 self       800         6143          488
  other  800 603   6143 48845      488 377
2 self       939         6057          440

                                            Date  % YTD
0 self                       2021-12-30 00:00:00     -8
  other  2021-12-30 00:00:00 2021-07-21 00:00:00  -8 -7
1 self                       2021-11-11 00:00:00     55
  other  2021-11-11 00:00:00 2021-01-23 00:00:00   55 6
2 self                       2021-11-27 00:00:00     -8

In [152]:
df_all = pd.concat([df_t0.set_index('index'),df_t1.set_index('index')],axis='columns', keys=['First','Second'])
df_all.head()

      First                                            Second               \
      Price Market Cap Price Target       Date % YTD    Price   Market Cap
index
0       234      10062          729 2021-12-30    -8  234 452  10062 43848
1       800       6143          488 2021-11-11    55  800 603   6143 48845
2       939       6057          440 2021-11-27    -8  939 245   6057 23358
3       212      17010          987 2021-11-23    -9  212 443  17010 24823
4       551       5459          690 2021-12-21    10  551 872    5459 3256


      Price Target                                     Date  % YTD
index
0          729 757  2021-12-30 00:00:00 2021-07-21 00:00:00  -8 -7
1          488 377  2021-11-11 00:00:00 2021-01-23 00:00:00   55 6
2          440 534  2021-11-27 00:00:00 2021-06-03 00:00:00  -8 33
3          987 138  2021-11-23 00:00:00 2021-01-04 00:00:00  -9 26
4          690 538  2021-12-21 00:00:00 2021-04-29 00:00:00   10 2

In [153]:
df_final = df_all.swaplevel(axis='columns')[df.columns[1:]]
df_final

      Market Cap              Price Target                Date  \
           First       Second        First   Second      First
index
0          10062  10062 43848          729  729 757 2021-12-30
1           6143   6143 48845          488  488 377 2021-11-11
2           6057   6057 23358          440  440 534 2021-11-27
3          17010  17010 24823          987  987 138 2021-11-23
4           5459    5459 3256          690  690 538 2021-12-21

                                               % YTD
                                        Second First Second
index
0      2021-12-30 00:00:00 2021-07-21 00:00:00    -8  -8 -7
1      2021-11-11 00:00:00 2021-01-23 00:00:00    55   55 6
2      2021-11-27 00:00:00 2021-06-03 00:00:00    -8  -8 33
3      2021-11-23 00:00:00 2021-01-04 00:00:00    -9  -9 26
4      2021-12-21 00:00:00 2021-04-29 00:00:00    10   10 2

In [154]:
def highlight_diff(data, color='coral'):
    attr = 'background-color: {}'.format(color)
    other = data.xs('First', axis='columns', level=-1)
    return pd.DataFrame(np.where(data.ne(other, level=0), attr, ''),
                        index=data.index, columns=data.columns)

df_final.style.apply(highlight_diff, axis=None)