In [65]:
import pandas as pd
from datetime import date, timedelta

In [66]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 200)
pd.set_option('display.min_rows', 20)

In [67]:
df_2017_raw = pd.read_csv('SP_500_2017_sort.csv', parse_dates=date_cols)
df_2018_raw = pd.read_csv('SP_500_2018_sort.csv',parse_dates=date_cols)
df_2019_raw = pd.read_csv('SP_500_2019_sort.csv',parse_dates=date_cols)
df_2020_raw = pd.read_csv('SP_500_2020_sort.csv',parse_dates=date_cols)
df_2021_raw =  pd.read_csv('SP_500_2021_sort.csv',parse_dates=date_cols)
df_2022_raw =  pd.read_csv('SP_500_2022_sort.csv',parse_dates=date_cols)

In [68]:
years = [2017, 2018, 2019, 2020, 2021, 2022]
print(f"The year {years[0]} has {df_2017_raw['date'].nunique()} trading days")
print(f"The year {years[1]} has {df_2018_raw['date'].nunique()} trading days")
print(f"The year {years[2]} has {df_2019_raw['date'].nunique()} trading days")
print(f"The year {years[3]} has {df_2020_raw['date'].nunique()} trading days")
print(f"The year {years[4]} has {df_2021_raw['date'].nunique()} trading days")
print(f"The year {years[5]} has {df_2022_raw['date'].nunique()} trading days")

The year 2017 has 251 trading days
The year 2018 has 251 trading days
The year 2019 has 252 trading days
The year 2020 has 253 trading days
The year 2021 has 252 trading days
The year 2022 has 105 trading days

In [69]:
# load data
date_cols =['date']

df_2017_raw = pd.read_csv('SP_500_2017_sort.csv', parse_dates=date_cols)
df_2017_raw = df_2017_raw[['Ticker', 'Company','Sector','date','month_x', 'year_x','closeadj','marketcap','ev',
                          'pe','ps','evebit','evebitda']]

In [70]:
df_2017_raw['Day Count'] = df_2017_raw.groupby("Ticker").cumcount() + 1
df_2017_raw.head()

,Ticker,Company,Sector,date,month_x,year_x,closeadj,marketcap,ev,pe,ps,evebit,evebitda,Day Count
0,AAPL,Apple,Information Technology,2017-01-03,1,2017,27.255,619358.8,685906.8,13.6,2.9,10.9,9.4,1
1,GOOGL,Alphabet (Class A),Communication Services,2017-01-03,1,2017,808.010,556911.7,551443.7,29.2,6.5,24.4,19.4,1
2,MSFT,Microsoft,Information Technology,2017-01-03,1,2017,57.923,486581.4,424339.4,29.4,5.7,20.2,15.2,1
3,BRK.B,Berkshire Hathaway,Financials,2017-01-03,1,2017,163.830,404033.3,420996.3,17.4,1.9,12.0,9.6,1
4,XOM,ExxonMobil,Energy,2017-01-03,1,2017,68.484,376893.0,417955.0,42.2,1.7,41.6,14.4,1

## 2018

In [71]:
date_cols =['date']

df_2018_raw = pd.read_csv('SP_500_2018_sort.csv', parse_dates=date_cols)
df_2018_raw = df_2018_raw[['Ticker', 'Company','Sector','date','month_x', 'year_x','closeadj','marketcap','ev',
                          'pe','ps','evebit','evebitda']]

In [80]:
df_2018_raw['Day Count'] = df_2018_raw.groupby("Ticker").cumcount() + 252
df_2018_raw.head()

,Ticker,Company,Sector,date,month_x,year_x,closeadj,marketcap,ev,pe,ps,evebit,evebitda,Day Count
0,AAPL,Apple,Information Technology,2018-01-02,1,2018,41.074,884436.6,979827.6,18.3,3.9,14.8,12.8,252
1,GOOGL,Alphabet (Class A),Communication Services,2018-01-02,1,2018,1073.210,745668.6,739051.6,35.5,7.1,28.3,22.6,252
2,MSFT,Microsoft,Information Technology,2018-01-02,1,2018,81.323,663069.0,615841.0,28.7,7.1,21.8,16.3,252
3,AMZN,Amazon,Consumer Discretionary,2018-01-02,1,2018,1189.010,572950.8,584893.8,297.5,3.6,156.6,41.7,252
4,FB,Facebook,Communication Services,2018-01-02,1,2018,181.420,527171.8,519970.8,33.1,14.4,29.5,25.4,252

In [81]:
df_2018 = df_2018_raw.append(df_2017_raw)

<ipython-input-81-91125bd7b0b2>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_2018 = df_2018_raw.append(df_2017_raw)

In [82]:
df_2018.shape

(243012, 14)

In [83]:
df_2018.sort_values(by='date').tail()

,Ticker,Company,Sector,date,month_x,year_x,closeadj,marketcap,ev,pe,ps,evebit,evebitda,Day Count
121604,MTCH,Match Group,Communication Services,2018-12-31,12,2018,58.972,15286.4,15613.2,32.7,3.7,26.2,20.8,502
121603,KEY,KeyCorp,Financials,2018-12-31,12,2018,12.768,15290.4,30742.4,10.1,2.5,14.8,12.4,502
121602,FITB,Fifth Third Bancorp,Financials,2018-12-31,12,2018,20.821,15426.6,31216.6,7.2,2.3,12.8,11.2,502
121600,AME,Ametek,Industrials,2018-12-31,12,2018,66.218,15714.3,17096.8,19.5,3.3,16.9,14.1,502
121505,TEL,TE Connectivity,Information Technology,2018-12-31,12,2018,70.989,25943.7,29095.7,10.1,1.9,12.5,9.7,502

In [84]:
# need to write a function where:
    # for ticker in df[Ticker]:
        # if Day count < 251:
            # find min closeadj for day count < 251
        # else if Day count between 252 and 501:
            # find min closeadj
        #elif Dat Count between

In [85]:
# for each ticker:
    # if 'Day Count' between 252 and 501:
        # min_range = 'Day Count' - 251
        # max_range = "Day Count" 
        # max  = max of closeadj for range (min_range to max_range)
        # min  = min of closeadj for range (min_range to max_range)
    #elif

In [101]:
df_2018.dtypes

Ticker               object
Company              object
Sector               object
date         datetime64[ns]
month_x               int64
year_x                int64
closeadj            float64
marketcap           float64
ev                  float64
pe                  float64
ps                  float64
evebit              float64
evebitda            float64
Day Count             int64
52W_Min               int64
dtype: object

In [109]:
def low_range(df):
    min_range = df['Day Count'] - 251
    max_range = df['Day Count']
    if df['Day Count'] > 251:
        max_value = df.groupby('Ticker')[['closeadj']].agg('max')
        return min_range
    else:
        pass

In [110]:
df_2018['52W_Min'] = df_2018.apply(lambda row: low_range(row), axis=1)

AttributeError: 'str' object has no attribute 'ndim'

In [106]:
df_2018['52W_Min'].value_counts().head()

1.0     488
10.0    488
2.0     488
16.0    488
15.0    488
Name: 52W_Min, dtype: int64

In [107]:
df_2018.head()

,Ticker,Company,Sector,date,month_x,year_x,closeadj,marketcap,ev,pe,ps,evebit,evebitda,Day Count,52W_Min
0,AAPL,Apple,Information Technology,2018-01-02,1,2018,41.074,884436.6,979827.6,18.3,3.9,14.8,12.8,252,1.0
1,GOOGL,Alphabet (Class A),Communication Services,2018-01-02,1,2018,1073.210,745668.6,739051.6,35.5,7.1,28.3,22.6,252,1.0
2,MSFT,Microsoft,Information Technology,2018-01-02,1,2018,81.323,663069.0,615841.0,28.7,7.1,21.8,16.3,252,1.0
3,AMZN,Amazon,Consumer Discretionary,2018-01-02,1,2018,1189.010,572950.8,584893.8,297.5,3.6,156.6,41.7,252,1.0
4,FB,Facebook,Communication Services,2018-01-02,1,2018,181.420,527171.8,519970.8,33.1,14.4,29.5,25.4,252,1.0

In [96]:

df_2018.groupby

<bound method DataFrame.groupby of        Ticker                     Company                  Sector       date  \
0        AAPL                       Apple  Information Technology 2018-01-02
1       GOOGL          Alphabet (Class A)  Communication Services 2018-01-02
2        MSFT                   Microsoft  Information Technology 2018-01-02
3        AMZN                      Amazon  Consumer Discretionary 2018-01-02
4          FB                    Facebook  Communication Services 2018-01-02
5       BRK.B          Berkshire Hathaway              Financials 2018-01-02
6         JPM              JPMorgan Chase              Financials 2018-01-02
7         JNJ           Johnson & Johnson             Health Care 2018-01-02
8         XOM                  ExxonMobil                  Energy 2018-01-02
9         BAC             Bank of America              Financials 2018-01-02
...       ...                         ...                     ...        ...
121196    CRL  Charles River Laboratories             Health Care 2017-12-29
121197   DXCM                      DexCom             Health Care 2017-12-29
121198   TECH                  Bio-Techne             Health Care 2017-12-29
121199   PAYC                      Paycom  Information Technology 2017-12-29
121200   MPWR    Monolithic Power Systems  Information Technology 2017-12-29
121201   GNRC            Generac Holdings             Industrials 2017-12-29
121202   PENN        Penn National Gaming  Consumer Discretionary 2017-12-29
121203    CZR       Caesars Entertainment  Consumer Discretionary 2017-12-29
121204   ETSY                        Etsy  Consumer Discretionary 2017-12-29
121205   ENPH              Enphase Energy  Information Technology 2017-12-29

        month_x  year_x  closeadj  marketcap        ev     pe    ps  evebit  \
0             1    2018    41.074   884436.6  979827.6   18.3   3.9    14.8
1             1    2018  1073.210   745668.6  739051.6   35.5   7.1    28.3
2             1    2018    81.323   663069.0  615841.0   28.7   7.1    21.8
3             1    2018  1189.010   572950.8  584893.8  297.5   3.6   156.6
4             1    2018   181.420   527171.8  519970.8   33.1  14.4    29.5
5             1    2018   197.220   486202.8  544986.8   26.0   2.0    17.7
6             1    2018    95.049   374556.9  428694.9   15.0   3.8    12.5
7             1    2018   123.581   374044.2  393489.2   23.4   5.0    19.4
8             1    2018    66.514   360281.1  396625.1   27.7   1.4    24.1
9             1    2018    27.140   311875.3  363922.3   16.7   3.6    12.6
...         ...     ...       ...        ...       ...    ...   ...     ...
121196       12    2017   109.450     5183.7    6243.2   26.2   2.8    19.6
121197       12    2017    57.390     4987.4    4909.3 -103.5   7.5   -88.0
121198       12    2017   126.468     4853.2    5118.2   64.1   8.4    43.3
121199       12    2017    80.330     4755.2    4723.0   76.0  11.7    65.1
121200       12    2017   108.350     4664.8    4560.4   66.9  10.5    61.1
121201       12    2017    49.520     3078.3    3988.5   25.7   1.9    17.3
121202       12    2017    31.330     2854.0    7461.0    3.5   0.9    14.0
121203       12    2017    33.150     2546.7    4615.6 -172.2   2.1   118.1
121204       12    2017    20.450     2489.1    2295.2  158.9   6.0   286.4
121205       12    2017     2.410      206.1     224.8   -3.7   0.7    -4.8

        evebitda  Day Count
0           12.8        252
1           22.6        252
2           16.3        252
3           41.7        252
4           25.4        252
5           13.7        252
6           10.6        252
7           15.7        252
8           10.3        252
9           11.7        252
...          ...        ...
121196      13.8        251
121197    -121.8        251
121198      28.4        251
121199      52.2        251
121200      50.2        251
121201      14.1        251
121202       9.2        251
121203      37.0        251
121204      64.6        251
121205      -6.0        251

[243012 rows x 14 columns]>