In [69]:
import pandas as pd

In [70]:
crm_excel = pd.read_excel('/Users/brendan/Desktop/Python/Quandl/CRM_GS.xlsx', sheet_name='Python')

In [71]:
crm_excel.head()

,Unnamed: 0,2002-04-30 00:00:00,2002-07-31 00:00:00,2002-10-31 00:00:00,2003-01-31 00:00:00,Unnamed: 5,Unnamed: 6,2003-04-30 00:00:00,2003-07-31 00:00:00,2003-10-31 00:00:00,...,2031-07-31 00:00:00,2031-10-31 00:00:00,2032-01-31 00:00:00,Unnamed: 179,Unnamed: 180,2032-04-30 00:00:00,2032-07-31 00:00:00,2032-10-31 00:00:00,2033-01-31 00:00:00,Unnamed: 185
0,NaN,1Q03 (A),2Q03 (A),3Q03 (A),4Q03 (A),FY03 (A),NaN,1Q04 (A),2Q04 (A),3Q04 (A),...,2Q32 (E),3Q32 (E),4Q32 (E),FY32 (E),NaN,1Q33 (E),2Q33 (E),3Q33 (E),4Q33 (E),FY33 (E)
1,Subscription/ Support Revenue,8810,11275,12937,14634,47656,NaN,16922,19592,22480,...,22218912.930447,23766203.111847,25439039.794277,92651785.25646,NaN,23138116.06768,24218615.094188,25905161.391913,27728553.375761,100990445.929542
2,% of revenues,0.942145,0.948834,0.911634,0.940126,0.934596,NaN,0.894728,0.906072,0.883856,...,0.955819,0.953201,0.954932,0.954428,NaN,0.95537,0.957371,0.95484,0.956514,0.956027
3,sequential growth %,NaN,0.279796,0.147406,0.131174,0,NaN,0.156348,0.157783,0.147407,...,0.046698,0.069638,0.070387,0,NaN,-0.090449,0.046698,0.069638,0.070387,0
4,year over year growth %,NaN,NaN,NaN,NaN,1.215219,NaN,0.920772,0.73765,0.737652,...,0.1,0.1,0.1,0.1,NaN,0.09,0.09,0.09,0.09,0.09

In [81]:
#crm = crm_excel.iloc[:6,:4]
crm_excel
crm.columns = ['Value', '2002-04-30', '2002-07-31', '2002-10-31']
crm

ValueError: Length mismatch: Expected axis has 186 elements, new values have 4 elements

In [83]:
crm_excel.T

,0,1,2,3,4,5,6,7,8,9,...,183,184,185,186,187,188,189,190,191,192
Unnamed: 0,NaN,Subscription/ Support Revenue,% of revenues,sequential growth %,year over year growth %,Professional Services Revenue,% of revenues,sequential growth %,year over year growth %,Revenue adjustment,...,Basic shares out,"GAAP EPS, basic","Non GAAP, basic",NaN,Total Cash,Total Debt,Net Cash,NaN,Net Cash / Share,YoY Growth
2002-04-30 00:00:00,1Q03 (A),8810,0.942145,NaN,NaN,541,0.942145,NaN,NaN,0,...,0,0,0,NaN,13822,0,13822,NaN,0.138697,0
2002-07-31 00:00:00,2Q03 (A),11275,0.948834,0.279796,NaN,608,0.948834,0.279796,NaN,0,...,0,0,0,NaN,15155,0,15155,NaN,0.146425,0
2002-10-31 00:00:00,3Q03 (A),12937,0.911634,0.147406,NaN,1254,0.911634,0.147406,NaN,0,...,0,0,0,NaN,15102,0,15102,NaN,0.14028,0
2003-01-31 00:00:00,4Q03 (A),14634,0.940126,0.131174,NaN,932,0.940126,0.131174,NaN,0,...,0,0,0,NaN,16009,0,16009,NaN,0.143987,0
Unnamed: 5,FY03 (A),47656,0.934596,0,1.215219,3335,0.934596,0,1.215219,0,...,0,0,0,NaN,16009,0,16009,NaN,0.151746,0
Unnamed: 6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-04-30 00:00:00,1Q04 (A),16922,0.894728,0.156348,0.920772,1991,0.894728,0.156348,0.920772,0,...,0,0,0,NaN,20335,0,20335,NaN,0.055489,0
2003-07-31 00:00:00,2Q04 (A),19592,0.906072,0.157783,0.73765,2031,0.906072,0.157783,0.73765,0,...,116944,-0.0,0.001043,NaN,23780,0,23780,NaN,0.064639,0
2003-10-31 00:00:00,3Q04 (A),22480,0.883856,0.147407,0.737652,2954,0.883856,0.147407,0.737652,0,...,119624,0.0,0.031674,NaN,30486,0,30486,NaN,0.079789,0
2004-01-31 00:00:00,4Q04 (A),26802,0.891824,0.19226,0.831488,3251,0.891824,0.19226,0.831488,0,...,122468,-0.0,-0.006247,NaN,35812,0,35812,NaN,0.292419,0
Unnamed: 11,FY04 (A),85796,0.893494,0,0.800319,10227,0.893494,0,0.800319,0,...,118420,-0.005109,0.029674,NaN,35812,0,35812,NaN,0.115624,-0.238042
Unnamed: 12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-04-30 00:00:00,1Q05 (A),31116,0.893137,0.160958,0.83879,3723,0.893137,0.160958,0.83879,0,...,126752,-0.012528,0.003448,NaN,43733,0,43733,NaN,0.108899,0
2004-07-31 00:00:00,2Q05 (A),36017,0.887534,0.157507,0.838352,4564,0.887534,0.157507,0.838352,0,...,258096,-0.005548,0.004533,NaN,116150,0,116150,NaN,0.269492,0
2004-10-31 00:00:00,3Q05 (A),41465,0.894394,0.151262,0.844528,4896,0.894394,0.151262,0.844528,0,...,409348,-0.000652,0.00526,NaN,114397,0,114397,NaN,0.246172,0
2005-01-31 00:00:00,4Q05 (A),49379,0.904477,0.19086,0.842363,5215,0.904477,0.19086,0.842363,0,...,413832,0.000072,0.008665,NaN,205938,0,205938,NaN,0.440762,0
Unnamed: 17,FY05 (A),157977,0.895688,0,0.84131,18398,0.895688,0,0.84131,0,...,302012,-0.010784,0.024324,NaN,205938,0,205938,NaN,0.466841,3.03759
Unnamed: 18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-04-30 00:00:00,1Q06 (A),58190,0.906711,0.178436,0.870099,5987,0.906711,0.178436,0.870099,0,...,420884,0.010407,0.00973,NaN,217004,0,217004,NaN,0.466206,0
2005-07-31 00:00:00,2Q06 (A),65638,0.912361,0.127995,0.822417,6305,0.912361,0.127995,0.822417,0,...,426456,0.011818,0.011818,NaN,232710,0,232710,NaN,0.493138,0
2005-10-31 00:00:00,3Q06 (A),74386,0.899762,0.133276,0.793947,8287,0.899762,0.133276,0.793947,0,...,431124,0.014954,0.014954,NaN,256853,0,256853,NaN,0.541176,0
2006-01-31 00:00:00,4Q06 (A),82425,0.905133,0.108071,0.669232,8639,0.905133,0.108071,0.669232,0,...,437820,0.013606,0.013606,NaN,296792,0,296792,NaN,0.613293,0
Unnamed: 23,FY06 (A),280639,0.905705,0,0.776455,29218,0.905705,0,0.776455,0,...,429096,0.05086,0.050196,NaN,296792,0,296792,NaN,0.626171,0.341295
Unnamed: 24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-04-30 00:00:00,1Q07 (A),94493,0.902633,0.146412,0.62387,10193,0.902633,0.146412,0.62387,0,...,443828,-0.000516,0.011245,NaN,298313,0,298313,NaN,0.62217,0
2006-07-31 00:00:00,2Q07 (A),106663,0.902875,0.128793,0.625019,11474,0.902875,0.128793,0.625019,0,...,447352,0.014068,0.014068,NaN,334107,0,334107,NaN,0.702939,0
2006-10-31 00:00:00,3Q07 (A),118433,0.910652,0.110348,0.592141,11620,0.910652,0.110348,0.592141,0,...,451540,0.016714,0.016714,NaN,371278,0,371278,NaN,0.771702,0
2007-01-31 00:00:00,4Q07 (A),132071,0.915748,0.115154,0.602317,12151,0.915748,0.115154,0.602317,0,...,455620,0.016606,0.016606,NaN,412512,0,412512,NaN,0.850477,0
Unnamed: 29,FY07 (A),451660,0.908593,0,0.609399,45438,0.908593,0,0.609399,0,...,449544,0.047108,0.05872,NaN,412512,0,412512,NaN,0.858987,0.371808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2028-04-30 00:00:00,1Q29 (E),15804950.800305,0.946732,-0.065415,0.12,889264.730028,0.946732,-0.065415,0.12,0,...,533816,4.422778,7.956815,NaN,91549013.150284,10592000,80957013.150284,NaN,66.796061,0
2028-07-31 00:00:00,2Q29 (E),16543007.170313,0.949101,0.046698,0.12,887182.142838,0.949101,0.046698,0.12,0,...,537819.62,5.48983,9.040612,NaN,94839964.46457,10592000,84247964.46457,NaN,68.993907,0
2028-10-31 00:00:00,3Q29 (E),17695036.193766,0.946106,0.069638,0.12,1007972.199844,0.946106,0.069638,0.12,0,...,541853.26715,5.42266,9.581301,NaN,97493281.939739,10592000,86901281.939739,NaN,70.637033,0
2029-01-31 00:00:00,4Q29 (E),18940540.38737,0.948086,0.070387,0.12,1037128.4205,0.948086,0.070387,0.12,0,...,545917.166654,5.700021,9.532601,NaN,101517124.756039,10592000,90925124.756039,NaN,73.357601,0
Unnamed: 161,FY29 (E),68983534.551754,0.94751,0,0.12,3821547.49321,0.94751,0,0.12,0,...,539851.513451,21.049332,36.130978,NaN,101517124.756039,10592000,90925124.756039,NaN,74.181831,0.258186
Unnamed: 162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2029-04-30 00:00:00,1Q30 (E),17543495.388339,0.949466,-0.07376,0.11,933727.966529,0.949466,-0.07376,0.11,0,...,533816,5.099476,9.076398,NaN,113360714.180475,10592000,102768714.180475,NaN,82.295688,0
2029-07-31 00:00:00,2Q30 (E),18362737.959047,0.951719,0.046698,0.11,931541.24998,0.951719,0.046698,0.11,0,...,537819.62,6.287847,10.28026,NaN,117198238.905207,10592000,106606238.905207,NaN,84.733223,0
2029-10-31 00:00:00,3Q30 (E),19641490.17508,0.948871,0.069638,0.11,1058370.809836,0.948871,0.069638,0.11,0,...,541853.26715,6.193454,10.8836,NaN,120335775.507338,10592000,109743775.507338,NaN,86.57768,0
2030-01-31 00:00:00,4Q30 (E),21023999.829981,0.950754,0.070387,0.11,1088984.841526,0.950754,0.070387,0.11,0,...,545917.166654,6.507382,10.85167,NaN,124870580.928918,10592000,114278580.928918,NaN,89.484091,0
Unnamed: 167,FY30 (E),76571723.352447,0.950206,0,0.11,4012624.86787,0.950206,0,0.11,0,...,539851.513451,24.103563,41.114045,NaN,124870580.928918,10592000,114278580.928918,NaN,90.489515,0.219834
Unnamed: 168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2030-04-30 00:00:00,1Q31 (E),19297844.927173,0.951652,-0.082104,0.1,980414.364855,0.951652,-0.082104,0.1,0,...,533816,5.759609,10.237019,NaN,137710652.374006,10592000,127118652.374006,NaN,98.797333,0
2030-07-31 00:00:00,2Q31 (E),20199011.754952,0.953813,0.046698,0.1,978118.312479,0.953813,0.046698,0.1,0,...,537819.62,7.071226,11.56079,NaN,142112337.232433,10592000,131520337.232433,NaN,101.457416,0
2030-10-31 00:00:00,3Q31 (E),21605639.192588,0.951081,0.069638,0.1,1111289.350328,0.951081,0.069638,0.1,0,...,541853.26715,6.939119,12.229005,NaN,145757233.831157,10592000,135165233.831157,NaN,103.492965,0
2031-01-31 00:00:00,4Q31 (E),23126399.812979,0.952887,0.070387,0.1,1143434.083602,0.952887,0.070387,0.1,0,...,545917.166654,7.296123,12.216015,NaN,150821969.134679,10592000,140229969.134679,NaN,106.571631,0
Unnamed: 173,FY31 (E),84228895.687691,0.952361,0,0.1,4213256.111264,0.952361,0,0.1,0,...,539851.513451,27.082779,46.267468,NaN,150821969.134679,10592000,140229969.134679,NaN,107.769047,0.190956
Unnamed: 174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2031-04-30 00:00:00,1Q32 (E),21227629.41989,0.953748,-0.082104,0.1,1029435.083098,0.953748,-0.082104,0.1,0,...,533816,6.47585,11.528348,NaN,164638174.571053,10592000,154046174.571053,NaN,116.489191,0
2031-07-31 00:00:00,2Q32 (E),22218912.930447,0.955819,0.046698,0.1,1027024.228103,0.955819,0.046698,0.1,0,...,536485.08,7.942863,13.015539,NaN,169630768.138647,10592000,159038768.138647,NaN,119.666242,0
2031-10-31 00:00:00,3Q32 (E),23766203.111847,0.953201,0.069638,0.1,1166853.817844,0.953201,0.069638,0.1,0,...,539167.5054,7.783724,13.791569,NaN,173730270.970381,10592000,163138270.970381,NaN,122.140149,0
2032-01-31 00:00:00,4Q32 (E),25439039.794277,0.954932,0.070387,0.1,1200605.787782,0.954932,0.070387,0.1,0,...,541863.342927,8.214051,13.834851,NaN,179198330.219382,10592000,168606330.219382,NaN,125.606005,0
Unnamed: 179,FY32 (E),92651785.25646,0.954428,0,0.1,4423918.916827,0.954428,0,0.1,0,...,537832.982082,30.429083,52.18948,NaN,179198330.219382,10592000,168606330.219382,NaN,126.547259,0.174245
Unnamed: 180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2032-04-30 00:00:00,1Q33 (E),23138116.06768,0.95537,-0.090449,0.09,1080906.837253,0.95537,-0.090449,0.09,0,...,533816,7.154708,12.856213,NaN,193938525.835379,10592000,183346525.835379,NaN,136.246336,0
2032-07-31 00:00:00,2Q33 (E),24218615.094188,0.957371,0.046698,0.09,1078375.439508,0.957371,0.046698,0.09,0,...,535150.54,8.782488,14.512556,NaN,199472421.952914,10592000,188880421.952914,NaN,140.008599,0
2032-10-31 00:00:00,3Q33 (E),25905161.391913,0.95484,0.069638,0.09,1225196.508736,0.95484,0.069638,0.09,0,...,536488.41635,8.583702,15.405047,NaN,204106629.831487,10592000,193514629.831487,NaN,143.086015,0
2033-01-31 00:00:00,4Q33 (E),27728553.375761,0.956514,0.070387,0.09,1260636.077171,0.956514,0.070387,0.09,0,...,537829.637391,9.102096,15.517474,NaN,210153600.180035,10592000,199561600.180035,NaN,147.189212,0
Unnamed: 185,FY33 (E),100990445.929542,0.956027,0,0.09,4645114.862668,0.956027,0,0.09,0,...,535821.148435,33.630036,58.302368,NaN,210153600.180035,10592000,199561600.180035,NaN,147.740941,0.167476