In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime as dt
import scipy.stats as stats
from basketball_reference_scraper.players import get_stats, get_game_logs, get_player_headshot
from basketball_reference_scraper.teams import get_roster, get_team_stats, get_opp_stats, get_roster_stats,get_team_misc


from matplotlib import rcParams

In [2]:
# Constants
SEASON_2000_START = '1999-11-02'
SEASON_2000_END = '2000-04-19'

SEASON_2001_START = '2000-11-01'
SEASON_2001_END = '2001-04-18'

SEASON_2002_START = '2001-10-30'
SEASON_2002_END = '2002-04-17'

SEASON_2003_START = '2002-10-30'
SEASON_2003_END = '2003-04-16'

SEASON_2004_START = '2003-10-29'
SEASON_2004_END = '2004-04-12'

SEASON_2005_START = '2004-11-03'
SEASON_2005_END = '2005-04-20'

SEASON_2006_START = '2005-11-02'
SEASON_2006_END = '2006-04-19'

SEASON_2007_START = '2006-11-01'
SEASON_2007_END = '2007-04-18'

SEASON_2008_START = '2007-11-02'
SEASON_2008_END = '2008-04-16'

SEASON_2009_START = '2008-10-28'
SEASON_2009_END = '2009-04-15'

SEASON_2010_START = '2009-10-27'
SEASON_2010_END = '2010-04-14'

SEASON_2011_START = '2010-10-26'
SEASON_2011_END = '2011-04-13'

SEASON_2012_START = '2011-11-25'
SEASON_2012_END = '2012-04-26'

SEASON_2013_START = '2012-10-30'
SEASON_2013_END = '2014-04-17'

SEASON_2014_START = '2013-10-30'
SEASON_2014_END = '2014-04-16'

SEASON_2015_START = '2014-10-29'
SEASON_2015_END = '2015-04-15'

SEASON_2016_START = '2015-10-28' 
SEASON_2016_END = '2016-04-13'

SEASON_2017_START = '2016-10-25'
SEASON_2017_END = '2017-04-14'

SEASON_2018_START = '2017-10-17'
SEASON_2018_END = '2018-04-14'

SEASON_2019_START = '2018-10-18'
SEASON_2019_END = '2019-04-12'

SEASON_2020_START = '2019-10-22'
SEASON_2020_END = '2020-08-15'

SEASON_2021_START = '2020-12-22'
SEASON_2021_END = '2021-05-16'

In [44]:
BOS_2000 = get_roster('BOS', 2000)
BOS_2000['Season'] = '2000'

BOS_2001 = get_roster('BOS', 2001)
BOS_2001['Season'] = '2001'

BOS_2002 = get_roster('BOS', 2002)
BOS_2002['Season'] = '2002'

BOS_2003 = get_roster('BOS', 2003)
BOS_2003['Season'] = '2003'

BOS_2004 = get_roster('BOS', 2004)
BOS_2004['Season'] = '2004'

BOS_2005 = get_roster('BOS', 2005)
BOS_2005['Season'] = '2005'

BOS_2006 = get_roster('BOS', 2006)
BOS_2006['Season'] = '2006'

BOS_2007 = get_roster('BOS', 2007)
BOS_2007['Season'] = '2007'

BOS_2008 = get_roster('BOS', 2008)
BOS_2008['Season'] = '2008'

BOS_2009 = get_roster('BOS', 2009)
BOS_2009['Season'] = '2009'

BOS_2010 = get_roster('BOS', 2010)
BOS_2010['Season'] = '2010'

BOS_2011 = get_roster('BOS', 2011)
BOS_2011['Season'] = '2011'

BOS_2012 = get_roster('BOS', 2012)
BOS_2012['Season'] = '2012'

BOS_2013 = get_roster('BOS', 2013)
BOS_2013['Season'] = '2013'

BOS_2014 = get_roster('BOS', 2014)
BOS_2014['Season'] = '2014'

BOS_2015 = get_roster('BOS', 2015)
BOS_2015['Season'] = '2015'

BOS_2016 = get_roster('BOS', 2016)
BOS_2016['Season'] = '2016'

BOS_2017 = get_roster('BOS', 2017)
BOS_2017['Season'] = '2017'

BOS_2018 = get_roster('BOS', 2018)
BOS_2018['Season'] = '2018'

BOS_2019 = get_roster('BOS', 2019)
BOS_2019['Season'] = '2019'

BOS_2020 = get_roster('BOS', 2020)
BOS_2020['Season'] = '2020'

BOS_2021 = get_roster('BOS', 2021)
BOS_2021['Season'] = '2021'

In [45]:
BOS_df = [BOS_2000, BOS_2001, BOS_2002, BOS_2003, BOS_2004, BOS_2005, BOS_2006, BOS_2007, BOS_2008,
         BOS_2009, BOS_2010, BOS_2011, BOS_2012, BOS_2013, BOS_2014, BOS_2015, BOS_2016,
         BOS_2017, BOS_2018, BOS_2019, BOS_2020, BOS_2021]
type(BOS_df)

list

In [46]:
BOS_2000.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season
0,7,Kenny Anderson,PG,6-0,168,1970-10-09,US,8,Georgia Tech,2000
1,11,Dana Barros,PG,5-11,163,1967-04-13,US,10,Boston College,2000
2,4,Tony Battie,C,6-11,230,1976-02-11,US,2,Texas Tech,2000
3,40,Calbert Cheaney,SG,6-7,209,1971-07-17,US,6,Indiana,2000
4,29,Pervis Ellison,C,6-9,210,1967-04-03,US,9,Louisville,2000

In [47]:
BOS_2000.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season
0,7,Kenny Anderson,PG,6-0,168,1970-10-09,US,8,Georgia Tech,2000
1,11,Dana Barros,PG,5-11,163,1967-04-13,US,10,Boston College,2000
2,4,Tony Battie,C,6-11,230,1976-02-11,US,2,Texas Tech,2000
3,40,Calbert Cheaney,SG,6-7,209,1971-07-17,US,6,Indiana,2000
4,29,Pervis Ellison,C,6-9,210,1967-04-03,US,9,Louisville,2000

In [49]:
BOS_2021

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season
0,7,Jaylen Brown,SG,6-6,223,1996-10-24,US,4,California,2021
1,4,Carsen Edwards,SG,5-11,200,1998-03-12,US,1,Purdue,2021
2,99,Tacko Fall,C,7-5,311,1995-12-10,SN,1,Central Florida,2021
3,94,Evan Fournier,SG,6-7,205,1992-10-29,FR,8,NaN,2021
4,43,Javonte Green,SG,6-4,205,1993-07-23,US,1,Radford,2021
5,40,Luke Kornet,C,7-2,250,1995-07-15,US,3,Vanderbilt,2021
6,45,Romeo Langford,SG,6-4,216,1999-10-25,US,1,Indiana,2021
7,26,Aaron Nesmith,SF,6-5,215,1999-10-16,US,R,Vanderbilt,2021
8,37,Semi Ojeleye,PF,6-6,240,1994-12-05,US,3,"Duke, SMU",2021
9,20,Jabari Parker,PF,6-8,245,1995-03-15,US,6,Duke,2021
10,11,Payton Pritchard,SG,6-1,195,1998-01-28,US,R,Oregon,2021
11,36,Marcus Smart,PG,6-3,220,1994-03-06,US,6,Oklahoma State,2021
12,0,Jayson Tatum,SF,6-8,210,1998-03-03,US,3,Duke,2021
13,55,Jeff Teague,PG,6-3,195,1988-06-10,US,11,Wake Forest,2021
14,27,Daniel Theis,C,6-8,245,1992-04-04,DE,3,NaN,2021
15,13,Tristan Thompson,PF,6-9,254,1991-03-13,CA,9,Texas,2021
16,20,Moritz Wagner,C,6-11,245,1997-04-26,DE,2,Michigan,2021
17,8,Kemba Walker,PG,6-0,184,1990-05-08,US,9,UConn,2021
18,51,Tremont Waters,PG,5-10,175,1998-01-10,US,1,LSU,2021
19,12,Grant Williams,PF,6-6,236,1998-11-30,US,1,Tennessee,2021
20,44,Robert Williams,C,6-8,237,1997-10-17,US,2,Texas A&M,2021

In [50]:
df_celtics_master = pd.concat([BOS_2000, BOS_2001, BOS_2002, BOS_2003, BOS_2004, BOS_2005, BOS_2006, BOS_2007, BOS_2008,
         BOS_2009, BOS_2010, BOS_2011, BOS_2012, BOS_2013, BOS_2014, BOS_2015, BOS_2016,
         BOS_2017, BOS_2018, BOS_2019, BOS_2020, BOS_2021], axis=0)
df_celtics_master.head(60)

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season
0,7,Kenny Anderson,PG,6-0,168,1970-10-09,US,8,Georgia Tech,2000
1,11,Dana Barros,PG,5-11,163,1967-04-13,US,10,Boston College,2000
2,4,Tony Battie,C,6-11,230,1976-02-11,US,2,Texas Tech,2000
3,40,Calbert Cheaney,SG,6-7,209,1971-07-17,US,6,Indiana,2000
4,29,Pervis Ellison,C,6-9,210,1967-04-03,US,9,Louisville,2000
5,27,Danny Fortson,PF,6-7,260,1976-03-27,US,2,Cincinnati,2000
6,44,Adrian Griffin,SG,6-5,217,1974-07-04,US,R,Seton Hall,2000
7,0,Walter McCarty,PF,6-10,230,1974-02-01,US,3,Kentucky,2000
8,20,Doug Overton,PG,6-3,190,1969-08-03,US,7,La Salle,2000
9,34,Paul Pierce,SF,6-7,235,1977-10-13,US,1,Kansas,2000
10,52,Vitaly Potapenko,C,6-10,280,1975-03-21,UA,3,Wright State University,2000
11,5,Jamel Thomas,SF,6-6,215,1973-03-25,US,R,Providence,2000
12,5,Wayne Turner,PG,6-2,190,1976-03-22,US,R,Kentucky,2000
13,8,Antoine Walker,PF,6-8,224,1976-08-12,US,3,Kentucky,2000
14,55,Eric Williams,SF,6-8,220,1972-07-17,US,4,"Vincennes University, Providence",2000
0,7,Kenny Anderson,PG,6-0,168,1970-10-09,US,9,Georgia Tech,2001
1,4,Tony Battie,C,6-11,230,1976-02-11,US,3,Texas Tech,2001
2,30,Mark Blount,C,7-0,230,1975-11-30,US,R,Pitt,2001
3,11,Randy Brown,PG,6-2,190,1968-05-22,US,9,"Houston, New Mexico State",2001
4,40,Rick Brunson,PG,6-4,190,1972-06-14,US,3,Temple,2001
5,43,Chris Carr,SG,6-5,207,1974-03-12,US,5,Southern Illinois,2001
6,44,Adrian Griffin,SF,6-5,217,1974-07-04,US,1,Seton Hall,2001
7,12,Chris Herren,PG,6-2,197,1975-09-27,US,1,"Boston College, Fresno State",2001
8,0,Walter McCarty,PF,6-10,230,1974-02-01,US,4,Kentucky,2001
9,5,Jérôme Moïso,C,6-10,235,1978-06-15,FR,R,UCLA,2001
10,9,Doug Overton,PG,6-3,190,1969-08-03,US,8,La Salle,2001
11,9,Milt Palacio,PG,6-3,195,1978-02-07,US,1,"Midland College, Colorado State",2001
12,34,Paul Pierce,SF,6-7,235,1977-10-13,US,2,Kansas,2001
13,52,Vitaly Potapenko,C,6-10,280,1975-03-21,UA,4,Wright State University,2001
14,20,Bryant Stith,SG,6-5,208,1970-12-10,US,8,Virginia,2001
15,8,Antoine Walker,PF,6-8,224,1976-08-12,US,4,Kentucky,2001
16,55,Eric Williams,SF,6-8,220,1972-07-17,US,5,"Vincennes University, Providence",2001
0,7,Kenny Anderson,PG,6-0,168,1970-10-09,US,10,Georgia Tech,2002
1,4,Tony Battie,C,6-11,230,1976-02-11,US,4,Texas Tech,2002
2,30,Mark Blount,C,7-0,230,1975-11-30,US,1,Pitt,2002
3,42,Kedrick Brown,SF,6-7,222,1981-03-18,US,R,Okaloosa-Walton Community College,2002
4,11,Randy Brown,PG,6-2,190,1968-05-22,US,10,"Houston, New Mexico State",2002
5,28,Tony Delk,SG,6-1,189,1974-01-28,US,5,Kentucky,2002
6,40,Joseph Forte,SG,6-4,194,1981-03-23,US,R,UNC,2002
7,31,Joe Johnson,SG,6-7,240,1981-06-29,US,R,Arkansas,2002
8,0,Walter McCarty,PF,6-10,230,1974-02-01,US,5,Kentucky,2002
9,9,Milt Palacio,PG,6-3,195,1978-02-07,US,2,"Midland College, Colorado State",2002
10,34,Paul Pierce,SG,6-7,235,1977-10-13,US,3,Kansas,2002
11,52,Vitaly Potapenko,C,6-10,280,1975-03-21,UA,5,Wright State University,2002
12,54,Rodney Rogers,SF,6-7,235,1971-06-20,US,8,Wake Forest,2002
13,20,Erick Strickland,PG,6-3,210,1973-11-25,US,5,Nebraska,2002
14,8,Antoine Walker,PF,6-8,224,1976-08-12,US,5,Kentucky,2002
15,55,Eric Williams,SF,6-8,220,1972-07-17,US,6,"Vincennes University, Providence",2002
0,42,Vin Baker,C,6-11,232,1971-11-23,US,9,University of Hartford,2003
1,4,Tony Battie,C,6-11,230,1976-02-11,US,5,Texas Tech,2003
2,30,Mark Blount,C,7-0,230,1975-11-30,US,2,Pitt,2003
3,9,J.R. Bremer,PG,6-2,185,1980-09-19,US,R,St. Bonaventure,2003
4,5,Kedrick Brown,SF,6-7,222,1981-03-18,US,1,Okaloosa-Walton Community College,2003
5,11,Mark Bryant,PF,6-9,245,1965-04-25,US,14,Seton Hall,2003
6,12,Bimbo Coles,PG,6-1,180,1968-04-22,US,12,Virginia Tech,2003
7,7,Tony Delk,PG,6-1,189,1974-01-28,US,6,Kentucky,2003
8,43,Grant Long,PF,6-8,225,1966-03-12,US,14,Eastern Michigan,2003
9,0,Walter McCarty,SF,6-10,230,1974-02-01,US,6,Kentucky,2003
10,31,Mikki Moore,C,6-11,225,1975-11-04,US,4,Nebraska,2003
11,34,Paul Pierce,SG,6-7,235,1977-10-13,US,4,Kansas,2003

In [6]:
df_celtics_master['PLAYER'].value_counts()

Paul Pierce         14
Rajon Rondo          9
Kendrick Perkins     8
Marcus Smart         7
Avery Bradley        7
                    ..
James Posey          1
Scot Pollard         1
Sam Cassell          1
P.J. Brown           1
Moritz Wagner        1
Name: PLAYER, Length: 194, dtype: int64

In [7]:
celtics_all = df_celtics_master['PLAYER'].unique()
celtics_all

array(['Kenny Anderson', 'Dana Barros', 'Tony Battie', 'Calbert Cheaney',
       'Pervis Ellison', 'Danny Fortson', 'Adrian Griffin',
       'Walter McCarty', 'Doug Overton', 'Paul Pierce',
       'Vitaly Potapenko', 'Jamel Thomas', 'Wayne Turner',
       'Antoine Walker', 'Eric Williams', 'Mark Blount', 'Randy Brown',
       'Rick Brunson', 'Chris Carr', 'Chris Herren', 'Jérôme Moïso',
       'Milt Palacio', 'Bryant Stith', 'Kedrick Brown', 'Tony Delk',
       'Joseph Forte', 'Joe Johnson', 'Rodney Rogers', 'Erick Strickland',
       'Vin Baker', 'J.R. Bremer', 'Mark Bryant', 'Bimbo Coles',
       'Grant Long', 'Mikki Moore', 'Bruno Šundov', 'Shammond Williams',
       'Rubén Wolkowyski', 'Chucky Atkins', 'Marcus Banks', 'Ricky Davis',
       'Brandon Hunter', 'Mike James', 'Jumaine Jones', 'Raef LaFrentz',
       'Chris Mihm', 'Kendrick Perkins', 'Michael Stewart', 'Jiří Welsch',
       'Tony Allen', 'Tom Gugliotta', 'Al Jefferson', 'Gary Payton',
       'Justin Reed', 'Delonte West', 'Dan Dickau', 'Ryan Gomes',
       'Gerald Green', 'Orien Greene', 'Dwayne Jones',
       'Michael Olowokandi', 'Brian Scalabrine', 'Wally Szczerbiak',
       'Kevinn Pinkney', 'Leon Powe', 'Theo Ratliff', 'Allan Ray',
       'Rajon Rondo', 'Sebastian Telfair', 'Ray Allen', 'P.J. Brown',
       'Sam Cassell', 'Glen Davis', 'Kevin Garnett', 'Eddie House',
       'Scot Pollard', 'James Posey', 'Gabe Pruitt', 'J.R. Giddens',
       'Stephon Marbury', "Patrick O'Bryant", 'Henry Walker',
       'Marquis Daniels', 'Michael Finley', 'Lester Hudson',
       'Oliver Lafayette', 'Marcus Landry', 'Nate Robinson',
       'Rasheed Wallace', 'Shelden Williams', 'Carlos Arroyo',
       'Avery Bradley', 'Semih Erden', 'Jeff Green', 'Luke Harangody',
       'Chris Johnson', 'Nenad Krstić', 'Troy Murphy', "Jermaine O'Neal",
       "Shaquille O'Neal", 'Sasha Pavlović', 'Von Wafer', 'Brandon Bass',
       'Keyon Dooling', 'Ryan Hollins', 'JaJuan Johnson', "E'Twaun Moore",
       'Mickaël Piétrus', 'Greg Stiemsma', 'Chris Wilcox',
       'Sean Williams', 'Leandro Barbosa', 'Jason Collins',
       'Jordan Crawford', 'Kris Joseph', 'Courtney Lee', 'Fab Melo',
       'Darko Miličić', 'Shavlik Randolph', 'Jared Sullinger',
       'Jason Terry', 'Jarvis Varnado', 'D.J. White', 'Terrence Williams',
       'Joel Anthony', 'Chris Babb', 'Jerryd Bayless', 'Vander Blue',
       'Keith Bogans', 'MarShon Brooks', 'Vítor Faverani',
       'Kris Humphries', 'Kelly Olynyk', 'Phil Pressey', 'Gerald Wallace',
       'Jae Crowder', 'Luigi Datome', 'Jonas Jerebko', 'Jameer Nelson',
       'Dwight Powell', 'Tayshaun Prince', 'Marcus Smart',
       'Isaiah Thomas', 'Marcus Thornton', 'Evan Turner',
       'Brandan Wright', 'James Young', 'Tyler Zeller', 'Coty Clarke',
       'John Holland', 'R.J. Hunter', 'Amir Johnson', 'David Lee',
       'Jordan Mickey', 'Terry Rozier', 'Jaylen Brown', 'Al Horford',
       'Demetrius Jackson', 'Kadeem Allen', 'Aron Baynes', 'Jabari Bird',
       'Jarell Eddie', 'Jonathan Gibson', 'Gordon Hayward',
       'Kyrie Irving', 'Shane Larkin', 'Greg Monroe', 'Marcus Morris',
       'Abdel Nader', 'Semi Ojeleye', 'Xavier Silas', 'Jayson Tatum',
       'Daniel Theis', 'Guerschon Yabusele', 'PJ Dozier',
       'Brad Wanamaker', 'Robert Williams', 'Carsen Edwards',
       'Tacko Fall', 'Javonte Green', 'Enes Kanter', 'Romeo Langford',
       'Vincent Poirier', 'Kemba Walker', 'Tremont Waters',
       'Grant Williams', 'Evan Fournier', 'Luke Kornet', 'Aaron Nesmith',
       'Jabari Parker', 'Payton Pritchard', 'Jeff Teague',
       'Tristan Thompson', 'Moritz Wagner'], dtype=object)

In [54]:
BOS_2008.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season
0,20,Ray Allen,SG,6-5,205,1975-07-20,US,11,UConn,2008
1,42,Tony Allen,SG,6-4,213,1982-01-11,US,3,"Butler County Community College, Oklahoma State",2008
2,93,P.J. Brown,PF,6-11,225,1969-10-14,US,14,Louisiana Tech,2008
3,28,Sam Cassell,PG,6-3,185,1969-11-18,US,14,Florida State,2008
4,11,Glen Davis,C,6-9,289,1986-01-01,US,R,LSU,2008

In [76]:
players_2008 = BOS_2008['PLAYER'].to_list()
players2008 = []

for p in players_2008:
    x = p.split()[0]+p.split()[1]
    players2008.append((x+'2008'))

In [81]:
#players2008

In [84]:
ray_allen_2008 = get_game_logs('Ray Allen', SEASON_2008_START, SEASON_2008_END, playoffs=False)
tony_allen_2008 = get_game_logs('Tony Allen', SEASON_2008_START, SEASON_2008_END, playoffs=False)
paul_pierce_2008 = get_game_logs('Paul Pierce', SEASON_2008_START, SEASON_2008_END, playoffs=False)
kevin_garnett_2008 = get_game_logs('Kevin Garnett', SEASON_2008_START, SEASON_2008_END, playoffs=False)

You searched for "Ray Allen"
21 results found.
0: Ray Allen
1: Randy Allen
2: Bob Allen
3: Lavoy Allen
4: Tony Allen
5: Bill Allen
6: Grayson Allen
7: Malik Allen
8: Ray Blume
9: Ray Corley
10: Ray Ellefson
11: Ray Felix
12: Jay Miller
13: Ray Owes
14: Ray Ramsey
15: Ray Epps
16: Roy Marble
17: Raja Bell
18: Troy Bell
19: Gary Hill
20: Gary Neal
Pick one: 0
Results for Ray Allen:

You searched for "Tony Allen"
26 results found.
0: Tony Allen
1: Bob Allen
2: Randy Allen
3: Ray Allen
4: Tony Fuller
5: Tony Kappen
6: Bill Allen
7: Lavoy Allen
8: Toby Bailey
9: Tony Bradley
10: Tony Brown
11: Tony Dawson
12: Tony Delk
13: Tony Farmer
14: Tony Parker
15: Tony Wroten
16: Tony Zeno
17: Tony Battie
18: Tony Dumas
19: Tony Jaros
20: Tony Lavelli
21: Tony Price
22: Tony Snell
23: Tony White
24: Lonzo Ball
25: Donta Hall
Pick one: 0
Results for Tony Allen:

You searched for "Paul Pierce"
5 results found.
0: Paul Pierce
1: Paul George
2: Paul Pressey
3: Paul Reed
4: Paul Zipser
Pick one: 0
Results for Paul Pierce:

You searched for "Kevin Garnett"
6 results found.
0: Kevin Garnett
1: Calvin Garrett
2: Dean Garrett
3: Kevin Kunnert
4: Kevin Grevey
5: Kevin Martin
Pick one: 0
Results for Kevin Garnett:

In [102]:
paul_pierce_2008['GAME_SCORE'] = paul_pierce_2008['GAME_SCORE'].astype(float)
paul_pierce_2008['Player'] = 'Paul Pierce'
paul_pierce_2008.head()

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2007-11-02,30-020,BOS,HOME,WAS,W (+20),1,39:22,10,19,...,5,4,0,1,3,3,28,18.7,+19,Paul Pierce
1,2007-11-04,30-022,BOS,AWAY,TOR,W (+3),1,45:34,4,17,...,5,6,2,0,3,4,13,5.4,+1,Paul Pierce
2,2007-11-07,30-025,BOS,HOME,DEN,W (+26),1,29:42,10,15,...,5,5,5,0,2,2,26,26.3,+26,Paul Pierce
3,2007-11-09,30-027,BOS,HOME,ATL,W (+23),1,37:06,8,15,...,3,4,1,0,5,1,23,14.6,+13,Paul Pierce
4,2007-11-10,30-028,BOS,AWAY,NJN,W (+11),1,40:08,9,19,...,3,4,2,0,2,2,28,20.4,+16,Paul Pierce

In [103]:
kevin_garnett_2008['GAME_SCORE'] = kevin_garnett_2008['GAME_SCORE'].astype(float)
kevin_garnett_2008['Player'] = 'Kevin Garnett'

kevin_garnett_2008.head()

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2007-11-02,31-167,BOS,HOME,WAS,W (+20),1,38:08,9,17,...,20,5,3,3,3,2,22,25.3,+16,Kevin Garnett
1,2007-11-04,31-169,BOS,AWAY,TOR,W (+3),1,43:38,9,18,...,13,6,3,0,3,5,23,20.5,+7,Kevin Garnett
2,2007-11-07,31-172,BOS,HOME,DEN,W (+26),1,36:24,10,14,...,13,7,4,1,5,3,23,24.5,+33,Kevin Garnett
3,2007-11-09,31-174,BOS,HOME,ATL,W (+23),1,38:24,12,16,...,19,6,1,2,6,3,27,26.5,+19,Kevin Garnett
4,2007-11-10,31-175,BOS,AWAY,NJN,W (+11),1,42:50,5,14,...,14,6,3,1,2,3,18,19.9,+10,Kevin Garnett

In [104]:
ray_allen_2008['GAME_SCORE'] = ray_allen_2008['GAME_SCORE'].astype(float)
ray_allen_2008['Player'] = 'Ray Allen'
ray_allen_2008.head()

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2007-11-02,32-105,BOS,HOME,WAS,W (+20),1,38:08,5,10,...,4,2,0,0,0,2,17,14.6,+16,Ray Allen
1,2007-11-04,32-107,BOS,AWAY,TOR,W (+3),1,49:10,11,16,...,4,0,0,0,2,1,33,25.0,-1,Ray Allen
2,2007-11-07,32-110,BOS,HOME,DEN,W (+26),1,32:48,8,12,...,3,6,2,0,2,1,22,22.3,+25,Ray Allen
3,2007-11-09,32-112,BOS,HOME,ATL,W (+23),1,35:14,6,9,...,2,3,1,0,1,3,14,11.6,+14,Ray Allen
4,2007-11-10,32-113,BOS,AWAY,NJN,W (+11),1,48:00,7,17,...,10,5,0,0,3,1,27,21.4,+11,Ray Allen

In [105]:
big_three_2008 = pd.concat([paul_pierce_2008, kevin_garnett_2008, ray_allen_2008], axis=0)
big_three_2008.head()

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2007-11-02,30-020,BOS,HOME,WAS,W (+20),1,39:22,10,19,...,5,4,0,1,3,3,28,18.7,+19,Paul Pierce
1,2007-11-04,30-022,BOS,AWAY,TOR,W (+3),1,45:34,4,17,...,5,6,2,0,3,4,13,5.4,+1,Paul Pierce
2,2007-11-07,30-025,BOS,HOME,DEN,W (+26),1,29:42,10,15,...,5,5,5,0,2,2,26,26.3,+26,Paul Pierce
3,2007-11-09,30-027,BOS,HOME,ATL,W (+23),1,37:06,8,15,...,3,4,1,0,5,1,23,14.6,+13,Paul Pierce
4,2007-11-10,30-028,BOS,AWAY,NJN,W (+11),1,40:08,9,19,...,3,4,2,0,2,2,28,20.4,+16,Paul Pierce

In [107]:
big_three_2008['GAME_SCORE'] = big_three_2008['GAME_SCORE'].astype(float)
big_three_2008.sort_values(by='GAME_SCORE', ascending=False)

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
5,2007-11-13,30-031,BOS,AWAY,IND,W (+15),1,41:20,8,17,...,11,6,2,1,1,3,31,30.7,+10,Paul Pierce
53,2008-02-20,32-215,BOS,AWAY,GSW,L (-2),1,38:42,11,17,...,3,6,1,0,0,2,32,30.2,+5,Ray Allen
73,2008-03-26,31-312,BOS,HOME,PHO,W (+20),1,33:56,12,19,...,3,6,2,2,0,3,30,30.0,+14,Kevin Garnett
74,2008-03-28,30-167,BOS,HOME,NOH,W (+20),1,36:16,7,11,...,6,9,0,0,1,3,27,28.0,+28,Paul Pierce
37,2008-01-16,32-180,BOS,HOME,POR,W (+10),1,42:24,12,20,...,3,3,1,0,0,5,35,27.8,+9,Ray Allen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,2008-02-27,30-137,BOS,HOME,CLE,W (+5),1,38:59,4,14,...,2,5,1,0,6,5,12,0.5,+4,Paul Pierce
85,2008-04-16,32-271,BOS,HOME,NJN,W (+11),1,17:28,1,4,...,3,1,0,0,2,2,3,-0.2,+1,Ray Allen
35,2008-01-12,32-176,BOS,AWAY,WAS,L (-7),1,40:33,3,13,...,1,1,1,1,3,2,8,-0.6,0,Ray Allen
42,2008-01-25,32-189,BOS,HOME,MIN,W (+1),1,40:25,4,18,...,4,2,1,0,5,2,12,-0.8,0,Ray Allen
31,2008-01-04,32-168,BOS,HOME,MEM,W (+4),1,35:18,0,9,...,2,5,1,0,3,2,2,-2.6,+5,Ray Allen