In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime as dt
import scipy.stats as stats
from basketball_reference_scraper.players import get_stats, get_game_logs, get_player_headshot
from basketball_reference_scraper.teams import get_roster, get_team_stats, get_opp_stats, get_roster_stats,get_team_misc

In [3]:
# Plan
# the goal is to find the best games by year based on GAME_SCORE - we want the top 5 indivudals games since 2000
# but will need to get all players that played

# How to attack?
    # by team/ by year
    # save each palyer's game log as a df
    # then copncat to get team DFs
    # and then can sum to get seasons

In [4]:
# will need to pull in every game log/ of every player/ on every team/ for each year since 2000


# Constants
SEASON_2000_START = '1999-11-02'
SEASON_2000_END = '2000-04-19'

SEASON_2001_START = '2000-11-01'
SEASON_2001_END = '2001-04-18'

SEASON_2002_START = '2001-10-30'
SEASON_2002_END = '2002-04-17'

SEASON_2003_START = '2002-10-30'
SEASON_2003_END = '2003-04-16'

SEASON_2004_START = '2003-10-29'
SEASON_2004_END = '2004-04-12'

SEASON_2005_START = '2004-11-03'
SEASON_2005_END = '2005-04-20'

SEASON_2006_START = '2005-11-02'
SEASON_2006_END = '2006-04-19'

SEASON_2007_START = '2006-11-01'
SEASON_2007_END = '2007-04-18'

SEASON_2008_START = '2007-11-02'
SEASON_2008_END = '2008-04-16'

SEASON_2009_START = '2008-10-28'
SEASON_2009_END = '2009-04-15'

SEASON_2010_START = '2009-10-27'
SEASON_2010_END = '2010-04-14'

SEASON_2011_START = '2010-10-26'
SEASON_2011_END = '2011-04-13'

SEASON_2012_START = '2011-11-25'
SEASON_2012_END = '2012-04-26'

SEASON_2013_START = '2012-10-30'
SEASON_2013_END = '2014-04-17'

SEASON_2014_START = '2013-10-30'
SEASON_2014_END = '2014-04-16'

SEASON_2015_START = '2014-10-29'
SEASON_2015_END = '2015-04-15'

SEASON_2016_START = '2015-10-28' 
SEASON_2016_END = '2016-04-13'

SEASON_2017_START = '2016-10-25'
SEASON_2017_END = '2017-04-14'

SEASON_2018_START = '2017-10-17'
SEASON_2018_END = '2018-04-14'

SEASON_2019_START = '2018-10-18'
SEASON_2019_END = '2019-04-12'

SEASON_2020_START = '2019-10-22'
SEASON_2020_END = '2020-08-15'

SEASON_2021_START = '2020-12-22'
SEASON_2021_END = '2021-05-16'

In [5]:
# get a list ofm all players in the NBA from 2000 - then get game logs for each and subset for team name
# need to sue getroster function


ray_allen_2008 = get_game_logs('Ray Allen', SEASON_2008_START, SEASON_2008_END, playoffs=False)

BOS_2018 = get_roster('BOS', 2018)
BOS_2018['Season'] = '2018'
BOS_2018.head()

You searched for "Ray Allen"
21 results found.
0: Ray Allen
1: Randy Allen
2: Bob Allen
3: Lavoy Allen
4: Tony Allen
5: Bill Allen
6: Grayson Allen
7: Malik Allen
8: Ray Blume
9: Ray Corley
10: Ray Ellefson
11: Ray Felix
12: Jay Miller
13: Ray Owes
14: Ray Ramsey
15: Ray Epps
16: Roy Marble
17: Raja Bell
18: Troy Bell
19: Gary Hill
20: Gary Neal
Pick one: 0
Results for Ray Allen:

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season
0,45,Kadeem Allen,PG,6-1,200,1993-01-15,US,R,Arizona,2018
1,46,Aron Baynes,C,6-10,260,1986-12-09,NZ,5,Washington State,2018
2,26,Jabari Bird,SG,6-6,198,1994-07-03,US,R,California,2018
3,7,Jaylen Brown,SG,6-6,223,1996-10-24,US,1,California,2018
4,9,Jarell Eddie,SF,6-7,218,1991-10-30,US,2,Virginia Tech,2018

In [6]:
teams = ['ATL','BOS', 'BRK', 'CHI', 'CHO', 'CLE','DEN',
        'DET', 'GSW', 'PHI', 'HOU', 'IND', 'LAC', 'LAL',
        'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK','OKC',
        'ORL', 'PHO', 'POR', 'SAC', 'SAS', 'TOR', 'UTA',
        'WAS']
seasons = [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
          2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]
players = []
dfs = {}

In [7]:
nba_dict = {'Team': teams, 'Season':seasons}

#nba_df = get_roster(nba_dict)
#nba_df.head()
nba_dict
#df = get_roster(nba_dict, nba_dict[1])

{'Team': ['ATL',
  'BOS',
  'BRK',
  'CHI',
  'CHO',
  'CLE',
  'DEN',
  'DET',
  'GSW',
  'PHI',
  'HOU',
  'IND',
  'LAC',
  'LAL',
  'MEM',
  'MIA',
  'MIL',
  'MIN',
  'NOP',
  'NYK',
  'OKC',
  'ORL',
  'PHO',
  'POR',
  'SAC',
  'SAS',
  'TOR',
  'UTA',
  'WAS'],
 'Season': [2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018,
  2019,
  2020,
  2021]}

In [8]:
df_BOS = get_roster('BOS', 2008)
df_BOS.columns

Index(['NUMBER', 'PLAYER', 'POS', 'HEIGHT', 'WEIGHT', 'BIRTH_DATE',
       'NATIONALITY', 'EXPERIENCE', 'COLLEGE'],
      dtype='object')

In [9]:
nba_2008 = []
teams_ = ['BOS','LAL', 'CHI']

In [10]:
teams = ['ATL','BOS', 'BRK', 'CHI', 'CHO', 'CLE','DEN',
        'DET', 'GSW', 'PHI', 'HOU', 'IND', 'LAC', 'LAL',
        'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK','OKC',
        'ORL', 'PHO', 'POR', 'SAC', 'SAS', 'TOR', 'UTA',
        'WAS']

## ATL

In [ ]:
BOS_df_2000 = BOS_df_all[BOS_df_all['Season'] == 2000]
BOS_df_2001 = BOS_df_all[BOS_df_all['Season'] == 2001]
BOS_df_2002 = BOS_df_all[BOS_df_all['Season'] == 2002]
BOS_df_2003 = BOS_df_all[BOS_df_all['Season'] == 2003]
BOS_df_2004 = BOS_df_all[BOS_df_all['Season'] == 2004]
BOS_df_2005 = BOS_df_all[BOS_df_all['Season'] == 2005]
BOS_df_2006 = BOS_df_all[BOS_df_all['Season'] == 2006]
BOS_df_2007 = BOS_df_all[BOS_df_all['Season'] == 2007]
BOS_df_2008 = BOS_df_all[BOS_df_all['Season'] == 2008]
BOS_df_2009 = BOS_df_all[BOS_df_all['Season'] == 2009]
BOS_df_2010 = BOS_df_all[BOS_df_all['Season'] == 2010]
BOS_df_2011 = BOS_df_all[BOS_df_all['Season'] == 2011]
BOS_df_2012 = BOS_df_all[BOS_df_all['Season'] == 2012]
BOS_df_2013 = BOS_df_all[BOS_df_all['Season'] == 2013]
BOS_df_2014 = BOS_df_all[BOS_df_all['Season'] == 2014]
BOS_df_2015 = BOS_df_all[BOS_df_all['Season'] == 2015]
BOS_df_2016 = BOS_df_all[BOS_df_all['Season'] == 2016]
BOS_df_2017 = BOS_df_all[BOS_df_all['Season'] == 2017]
BOS_df_2018 = BOS_df_all[BOS_df_all['Season'] == 2018]
BOS_df_2019 = BOS_df_all[BOS_df_all['Season'] == 2019]
BOS_df_2020 = BOS_df_all[BOS_df_all['Season'] == 2020]
BOS_df_2021 = BOS_df_all[BOS_df_all['Season'] == 2021]

In [ ]:
BOS_df_2000_players = BOS_df_2000['PLAYER'].to_list()
BOS_df_2001_players = BOS_df_2001['PLAYER'].to_list()
BOS_df_2002_players = BOS_df_2002['PLAYER'].to_list()
BOS_df_2003_players = BOS_df_2003['PLAYER'].to_list()
BOS_df_2004_players = BOS_df_2004['PLAYER'].to_list()
BOS_df_2005_players = BOS_df_2005['PLAYER'].to_list()

BOS_df_2006_players = BOS_df_2006['PLAYER'].to_list()
BOS_df_2007_players = BOS_df_2007['PLAYER'].to_list()
BOS_df_2008_players = BOS_df_2008['PLAYER'].to_list()
BOS_df_2009_players = BOS_df_2009['PLAYER'].to_list()
BOS_df_2010_players = BOS_df_2010['PLAYER'].to_list()
BOS_df_2011_players = BOS_df_2011['PLAYER'].to_list()

BOS_df_2012_players = BOS_df_2012['PLAYER'].to_list()
BOS_df_2013_players = BOS_df_2013['PLAYER'].to_list()
BOS_df_2014_players = BOS_df_2014['PLAYER'].to_list()
BOS_df_2015_players = BOS_df_2015['PLAYER'].to_list()
BOS_df_2016_players = BOS_df_2016['PLAYER'].to_list()
BOS_df_2017_players = BOS_df_2017['PLAYER'].to_list()

BOS_df_2018_players = BOS_df_2018['PLAYER'].to_list()
BOS_df_2019_players = BOS_df_2019['PLAYER'].to_list()
BOS_df_2020_players = BOS_df_2020['PLAYER'].to_list()
BOS_df_2021_players = BOS_df_2021['PLAYER'].to_list()

In [11]:
season = 2000
appended_data_ATL = []

# ATL
while season <= 2021:
    df_ATL = get_roster('ATL', season)
    df_ATL['Season'] = season
    df_ATL['Team'] = 'ATL'
    appended_data_ATL.append(df_ATL)
    season = season + 1
appended_data_ATL = pd.concat(appended_data_ATL)

In [40]:
ATL_df_all = appended_data_ATL.copy()
ATL_df_all_csv = ATL_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_players_all.csv', index=False)
ATL_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_players_all.csv')
ATL_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,10,Drew Barry,PG,6-5,191,1973-02-17,US,2,Georgia Tech,2000,ATL
1,3,Cal Bowdler,SF,6-10,245,1977-03-31,US,R,Old Dominion,2000,ATL
2,12,Bimbo Coles,PG,6-1,180,1968-04-22,US,9,Virginia Tech,2000,ATL
3,4,Chris Crawford,PF,6-9,235,1975-05-13,US,2,Marquette,2000,ATL
4,20,LaPhonso Ellis,PF,6-8,240,1970-05-05,US,7,Notre Dame,2000,ATL

In [4]:
season = 2000

while season <= 2021:
    ATL_df_+ str(season) = ATL_df_all[ATL_df_all['Season'] == season]
    ATL_df_+ str(season)+_players = ATL_df_+str(season)['PLAYER'].to_list()

ATL_2000_gamelog = []

for p in ATL_df_2000_players:
    player_log = get_game_logs(str(p), SEASON_2000_START, SEASON_2000_END, playoffs = False)
    player_log['Player'] = p
    
    ATL_2000_gamelog.append(player_log)
ATL_2000_gamelog = pd.concat(ATL_2000_gamelog)    
ATL_2000_gamelogs = ATL_2000_gamelog.copy()
ATL_2000_gamelogs['GAME_SCORE'] = ATL_2000_gamelogs['GAME_SCORE'].astype(float)
ATL_2000_games = ATL_2000_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
ATL_2000_games_csv = ATL_2000_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2000_games.csv', index=False)
ATL_2000_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ATL/ATL_2000_games.csv')
ATL_2000_games_proc.head()

SyntaxError: cannot assign to operator (<ipython-input-4-a64c448662a1>, line 4)

## BOS

In [13]:
season = 2000
appended_data_BOS = []

while season <= 2021:
    df_BOS = get_roster('BOS', season)
    df_BOS['Season'] = season
    df_BOS['Team'] = 'BOS'
    appended_data_BOS.append(df_BOS)
    season = season + 1
appended_data_BOS = pd.concat(appended_data_BOS)

In [41]:
BOS_df_all = appended_data_BOS.copy()
BOS_df_all_csv = BOS_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_players_all.csv', index=False)
BOS_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_players_all.csv')
BOS_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,7,Kenny Anderson,PG,6-0,168,1970-10-09,US,8,Georgia Tech,2000,BOS
1,11,Dana Barros,PG,5-11,163,1967-04-13,US,10,Boston College,2000,BOS
2,4,Tony Battie,C,6-11,230,1976-02-11,US,2,Texas Tech,2000,BOS
3,40,Calbert Cheaney,SG,6-7,209,1971-07-17,US,6,Indiana,2000,BOS
4,29,Pervis Ellison,C,6-9,210,1967-04-03,US,9,Louisville,2000,BOS

## BRK

In [42]:
season = 2013
appended_data_BRK = []

while season <= 2021:
    df_BRK = get_roster('BRK', season)
    df_BRK['Season'] = season
    df_BRK['Team'] = 'BRK'
    appended_data_BRK.append(df_BRK)
    season = season + 1
appended_data_BRK = pd.concat(appended_data_BRK)

In [43]:
BRK_df_all = appended_data_BRK.copy()
BRK_df_all_csv = BRK_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/BRK/BRK_players_all.csv', index=False)
BRK_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BRK/BRK_players_all.csv')
BRK_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,0,Andray Blatche,C,6-11,235,1986-08-22,US,7,NaN,2013,BRK
1,10,Keith Bogans,SG,6-5,215,1980-05-12,US,9,Kentucky,2013,BRK
2,9,MarShon Brooks,SG,6-5,200,1989-01-26,US,1,Providence,2013,BRK
3,2,Josh Childress,SF,6-8,210,1983-06-20,US,6,Stanford,2013,BRK
4,30,Reggie Evans,PF,6-8,245,1980-05-18,US,10,Iowa,2013,BRK

## CHI

In [44]:
season = 2000
appended_data_CHI = []

while season <= 2021:
    df_CHI = get_roster('CHI', season)
    df_CHI['Season'] = season
    df_CHI['Team'] = 'CHI'
    appended_data_CHI.append(df_CHI)
    season = season + 1
appended_data_CHI = pd.concat(appended_data_CHI)

In [45]:
CHI_df_all = appended_data_CHI.copy()
CHI_df_all_csv = CHI_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_players_all.csv', index=False)
CHI_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHI/CHI_players_all.csv')
CHI_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,22,Chris Anstey,C,7-0,249,1975-01-01,AU,2,NaN,2000,CHI
1,11,B.J. Armstrong,PG,6-2,175,1967-09-09,US,10,Iowa,2000,CHI
2,25,Corey Benjamin,SG,6-6,200,1978-02-24,US,1,Oregon State,2000,CHI
3,42,Elton Brand,PF,6-8,275,1979-03-11,US,R,Duke,2000,CHI
4,1,Randy Brown,PG,6-2,190,1968-05-22,US,8,"Houston, New Mexico State",2000,CHI

## CHO

In [47]:
season = 2016
appended_data_CHO = []

while season <= 2021:
    df_CHO = get_roster('CHO', season)
    df_CHO['Season'] = season
    df_CHO['Team'] = 'CHO'
    appended_data_CHO.append(df_CHO)
    season = season + 1
appended_data_CHO = pd.concat(appended_data_CHO)

In [48]:
CHO_df_all = appended_data_CHO.copy()
CHO_df_all_csv = CHO_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/CHO/CHO_players_all.csv', index=False)
CHO_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CHO/CHO_players_all.csv')
CHO_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,5,Nicolas Batum,SF,6-8,230,1988-12-14,FR,7,NaN,2016,CHO
1,30,Troy Daniels,SG,6-4,200,1991-07-15,US,2,VCU,2016,CHO
2,12,Jorge Gutiérrez,PG,6-3,191,1988-12-27,MX,2,California,2016,CHO
3,19,P.J. Hairston,SF,6-6,230,1992-12-24,US,1,UNC,2016,CHO
4,50,Tyler Hansbrough,PF,6-9,250,1985-11-03,US,6,UNC,2016,CHO

## CLE

In [49]:
season = 2000
appended_data_CLE = []

while season <= 2021:
    df_CLE = get_roster('CLE', season)
    df_CLE['Season'] = season
    df_CLE['Team'] = 'CLE'
    appended_data_CLE.append(df_CLE)
    season = season + 1
appended_data_CLE = pd.concat(appended_data_CLE)

In [50]:
CLE_df_all = appended_data_CLE.copy()
CLE_df_all_csv = CLE_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/CLE/CLE_players_all.csv', index=False)
CLE_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/CLE/CLE_players_all.csv')
CLE_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,0,Benoit Benjamin,C,7-0,250,1964-11-22,US,14,Creighton,2000,CLE
1,5,Earl Boykins,PG,5-5,135,1976-06-02,US,1,Eastern Michigan,2000,CLE
2,47,A.J. Bramlett,C,6-10,227,1977-01-10,US,R,Arizona,2000,CLE
3,2,Mark Bryant,PF,6-9,245,1965-04-25,US,11,Seton Hall,2000,CLE
4,32,Pete Chilcutt,PF,6-10,230,1968-09-14,US,8,UNC,2000,CLE

## DEN

In [52]:
season = 2000
appended_data_DEN = []

while season <= 2021:
    df_DEN = get_roster('DEN', season)
    df_DEN['Season'] = season
    df_DEN['Team'] = 'DEN'
    appended_data_DEN.append(df_DEN)
    season = season + 1
appended_data_DEN = pd.concat(appended_data_DEN)

In [53]:
DEN_df_all = appended_data_DEN.copy()
DEN_df_all_csv = DEN_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_players_all.csv', index=False)
DEN_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DEN/DEN_players_all.csv')
DEN_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,9,Tariq Abdul-Wahad,SG,6-6,223,1974-11-03,FR,2,"Michigan, San Jose State",2000,DEN
1,7,Cory Alexander,PG,6-1,185,1973-06-22,US,4,Virginia,2000,DEN
2,4,Chauncey Billups,SG,6-3,202,1976-09-25,US,2,Colorado,2000,DEN
3,42,Ryan Bowen,SF,6-7,215,1975-11-20,US,R,Iowa,2000,DEN
4,"13, 15",Keon Clark,C,6-11,220,1975-04-16,US,1,UNLV,2000,DEN

## DET

In [55]:
season = 2000
appended_data_DET = []

while season <= 2021:
    df_DET = get_roster('DET', season)
    df_DET['Season'] = season
    df_DET['Team'] = 'DET'
    appended_data_DET.append(df_DET)
    season = season + 1
appended_data_DET = pd.concat(appended_data_DET)

In [56]:
DET_df_all = appended_data_DET.copy()
DET_df_all_csv = DET_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/DET/DET_players_all.csv', index=False)
DET_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/DET/DET_players_all.csv')
DET_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,20,Marcus Brown,SG,6-3,185,1974-04-03,US,1,Murray State,2000,DET
1,30,Jud Buechler,SF,6-6,220,1968-06-19,US,9,Arizona,2000,DET
2,22,John Crotty,PG,6-1,185,1969-07-15,US,7,Virginia,2000,DET
3,12,Michael Curry,SG,6-5,210,1968-08-22,US,5,Georgia Southern University,2000,DET
4,33,Grant Hill,SF,6-8,225,1972-10-05,US,5,Duke,2000,DET

## GSW

In [58]:
season = 2000
appended_data_GSW = []

while season <= 2021:
    df_GSW = get_roster('GSW', season)
    df_GSW['Season'] = season
    df_GSW['Team'] = 'GSW'
    appended_data_GSW.append(df_GSW)
    season = season + 1
appended_data_GSW = pd.concat(appended_data_GSW)

In [59]:
GSW_df_all = appended_data_GSW.copy()
GSW_df_all_csv = GSW_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/GSW/GSW_players_all.csv', index=False)
GSW_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/GSW/GSW_players_all.csv')
GSW_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,2,Drew Barry,PG,6-5,191,1973-02-17,US,2,Georgia Tech,2000,GSW
1,10,Mookie Blaylock,PG,6-0,180,1967-03-20,US,10,"Midland College, Oklahoma",2000,GSW
2,21,Jason Caffey,PF,6-8,255,1973-06-12,US,4,Alabama,2000,GSW
3,43,Chris Carr,SG,6-5,207,1974-03-12,US,4,Southern Illinois,2000,GSW
4,35,Terry Cummings,PF,6-9,220,1961-03-15,US,17,DePaul,2000,GSW

## PHI

In [60]:
season = 2000
appended_data_PHI = []

while season <= 2021:
    df_PHI = get_roster('PHI', season)
    df_PHI['Season'] = season
    df_PHI['Team'] = 'PHI'
    appended_data_PHI.append(df_PHI)
    season = season + 1
appended_data_PHI = pd.concat(appended_data_PHI)

In [61]:
PHI_df_all = appended_data_PHI.copy()
PHI_df_all_csv = PHI_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/PHI/PHI_players_all.csv', index=False)
PHI_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/PHI/PHI_players_all.csv')
PHI_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,12,Bruce Bowen,SF,6-7,185,1971-06-14,US,3,Cal State Fullerton,2000,PHI
1,11,Ira Bowman,SG,6-5,195,1973-06-11,US,R,"Providence, Penn",2000,PHI
2,52,Matt Geiger,C,7-0,243,1969-09-10,US,7,"Auburn, Georgia Tech",2000,PHI
3,40,Tyrone Hill,PF,6-9,240,1968-03-19,US,9,Xavier,2000,PHI
4,21,Larry Hughes,SG,6-5,184,1979-01-23,US,1,Saint Louis,2000,PHI

## HOU

In [62]:
season = 2000
appended_data_HOU = []

while season <= 2021:
    df_HOU = get_roster('HOU', season)
    df_HOU['Season'] = season
    df_HOU['Team'] = 'HOU'
    appended_data_HOU.append(df_HOU)
    season = season + 1
appended_data_HOU = pd.concat(appended_data_HOU)

In [63]:
HOU_df_all = appended_data_HOU.copy()
HOU_df_all_csv = HOU_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/HOU/HOU_players_all.csv', index=False)
HOU_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/HOU/HOU_players_all.csv')
HOU_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,40,Shandon Anderson,SF,6-6,208,1973-12-31,US,3,Georgia,2000,HOU
1,4,Charles Barkley,PF,6-6,252,1963-02-20,US,15,Auburn,2000,HOU
2,50,Matt Bullard,PF,6-10,215,1967-06-05,US,8,"Colorado, Iowa",2000,HOU
3,13,Kelvin Cato,C,6-11,255,1974-08-26,US,2,"University of South Alabama, Iowa State",2000,HOU
4,15,Bill Curley,PF,6-9,220,1972-05-29,US,3,Boston College,2000,HOU

## IND

In [64]:
season = 2000
appended_data_IND = []

while season <= 2021:
    df_IND = get_roster('IND', season)
    df_IND['Season'] = season
    df_IND['Team'] = 'IND'
    appended_data_IND.append(df_IND)
    season = season + 1
appended_data_IND = pd.concat(appended_data_IND)

In [65]:
IND_df_all = appended_data_IND.copy()
IND_df_all_csv = IND_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_players_all.csv', index=False)
IND_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/IND/IND_players_all.csv')
IND_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,24,Jonathan Bender,SF,6-11,202,1981-01-30,US,R,NaN,2000,IND
1,4,Travis Best,PG,5-11,182,1972-07-12,US,4,Georgia Tech,2000,IND
2,44,Austin Croshere,PF,6-9,235,1975-05-01,US,2,Providence,2000,IND
3,32,Dale Davis,C,6-11,230,1969-03-25,US,8,Clemson,2000,IND
4,10,Jeff Foster,C,6-11,236,1977-01-16,US,R,Texas State University,2000,IND

## LAL

In [66]:
season = 2000
appended_data_LAL = []

while season <= 2021:
    df_LAL = get_roster('LAL', season)
    df_LAL['Season'] = season
    df_LAL['Team'] = 'LAL'
    appended_data_LAL.append(df_LAL)
    season = season + 1
appended_data_LAL = pd.concat(appended_data_LAL)

In [67]:
LAL_df_all = appended_data_LAL.copy()
LAL_df_all_csv = LAL_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_players_all.csv', index=False)
LAL_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAL/LAL_players_all.csv')
LAL_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,8,Kobe Bryant,SG,6-6,212,1978-08-23,US,3,NaN,2000,LAL
1,11,John Celestand,PG,6-4,178,1977-03-06,US,R,Villanova,2000,LAL
2,2,Derek Fisher,PG,6-1,200,1974-08-09,US,3,Little Rock,2000,LAL
3,17,Rick Fox,SF,6-7,230,1969-07-24,CA,8,UNC,2000,LAL
4,3,Devean George,SF,6-8,220,1977-08-29,US,R,Augsburg College,2000,LAL

## LAC

In [68]:
season = 2000
appended_data_LAC = []

while season <= 2021:
    df_LAC = get_roster('LAC', season)
    df_LAC['Season'] = season
    df_LAC['Team'] = 'LAC'
    appended_data_LAC.append(df_LAC)
    season = season + 1
appended_data_LAC = pd.concat(appended_data_LAC)

In [69]:
LAC_df_all = appended_data_LAC.copy()
LAC_df_all_csv = LAC_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_players_all.csv', index=False)
LAC_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/LAC/LAC_players_all.csv')
LAC_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,1,Derek Anderson,SG,6-5,194,1974-07-18,US,2,"Ohio State, Kentucky",2000,LAC
1,30,Anthony Avent,PF,6-9,235,1969-10-18,US,5,Seton Hall,2000,LAC
2,44,Mario Bennett,PF,6-6,235,1973-08-01,US,3,Arizona State,2000,LAC
3,41,Etdrick Bohannon,PF,6-9,220,1973-05-29,US,2,"Arizona, Tennessee, Auburn University at Montg...",2000,LAC
4,24,Pete Chilcutt,PF,6-10,230,1968-09-14,US,8,UNC,2000,LAC

## MEM

In [70]:
season = 2002
appended_data_MEM = []

while season <= 2021:
    df_MEM = get_roster('MEM', season)
    df_MEM['Season'] = season
    df_MEM['Team'] = 'MEM'
    appended_data_MEM.append(df_MEM)
    season = season + 1
appended_data_MEM = pd.concat(appended_data_MEM)

In [71]:
MEM_df_all = appended_data_MEM.copy()
MEM_df_all_csv = MEM_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/MEM/MEM_players_all.csv', index=False)
MEM_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MEM/MEM_players_all.csv')
MEM_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,25,Nick Anderson,SG,6-6,205,1968-01-20,US,12,Illinois,2002,MEM
1,9,Isaac Austin,C,6-10,255,1969-08-18,US,8,Arizona State,2002,MEM
2,31,Shane Battier,SF,6-8,220,1978-09-09,US,R,Duke,2002,MEM
3,32,Rodney Buford,SG,6-5,189,1977-11-02,US,2,Creighton,2002,MEM
4,8,Michael Dickerson,SG,6-5,190,1975-06-25,US,3,Arizona,2002,MEM

## MIA

In [72]:
season = 2000
appended_data_MIA = []

while season <= 2021:
    df_MIA = get_roster('MIA', season)
    df_MIA['Season'] = season
    df_MIA['Team'] = 'MIA'
    appended_data_MIA.append(df_MIA)
    season = season + 1
appended_data_MIA = pd.concat(appended_data_MIA)

In [73]:
MIA_df_all = appended_data_MIA.copy()
MIA_df_all_csv = MIA_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_players_all.csv', index=False)
MIA_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIA/MIA_players_all.csv')
MIA_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,12,Bruce Bowen,SF,6-7,185,1971-06-14,US,3,Cal State Fullerton,2000,MIA
1,42,P.J. Brown,PF,6-11,225,1969-10-14,US,6,Louisiana Tech,2000,MIA
2,32,Rodney Buford,SG,6-5,189,1977-11-02,US,R,Creighton,2000,MIA
3,25,Anthony Carter,PG,6-1,190,1975-06-16,US,R,Hawaii,2000,MIA
4,4,Duane Causwell,C,7-0,240,1968-05-31,US,9,Temple,2000,MIA

## MIL

In [74]:
season = 2000
appended_data_MIL = []

while season <= 2021:
    df_MIL = get_roster('MIL', season)
    df_MIL['Season'] = season
    df_MIL['Team'] = 'MIL'
    appended_data_MIL.append(df_MIL)
    season = season + 1
appended_data_MIL = pd.concat(appended_data_MIL)

In [75]:
MIL_df_all = appended_data_MIL.copy()
MIL_df_all_csv = MIL_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_players_all.csv', index=False)
MIL_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIL/MIL_players_all.csv')
MIL_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,34,Ray Allen,SG,6-5,205,1975-07-20,US,3,UConn,2000,MIL
1,11,Rafer Alston,PG,6-2,171,1976-07-24,US,R,Fresno State,2000,MIL
2,10,Sam Cassell,PG,6-3,185,1969-11-18,US,6,Florida State,2000,MIL
3,15,Vinny Del Negro,PG,6-4,185,1966-08-09,US,9,NC State,2000,MIL
4,9,Dale Ellis,SG,6-7,205,1960-08-06,US,16,Tennessee,2000,MIL

## MIN

In [76]:
season = 2000
appended_data_MIN = []

while season <= 2021:
    df_MIN = get_roster('MIN', season)
    df_MIN['Season'] = season
    df_MIN['Team'] = 'MIN'
    appended_data_MIN.append(df_MIN)
    season = season + 1
appended_data_MIN = pd.concat(appended_data_MIN)

In [77]:
MIN_df_all = appended_data_MIN.copy()
MIN_df_all_csv = MIN_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_players_all.csv', index=False)
MIN_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/MIN/MIN_players_all.csv')
MIN_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,5,William Avery,PG,6-2,197,1979-08-08,US,R,Duke,2000,MIN
1,7,Terrell Brandon,PG,5-11,180,1970-05-20,US,8,Oregon,2000,MIN
2,21,Kevin Garnett,PF,6-11,240,1976-05-19,US,4,NaN,2000,MIN
3,22,Dean Garrett,C,6-10,225,1966-11-27,US,3,Indiana,2000,MIN
4,20,Tom Hammonds,PF,6-9,215,1967-03-27,US,10,Georgia Tech,2000,MIN

## NOP

In [78]:
season = 2014
appended_data_NOP = []

while season <= 2021:
    df_NOP = get_roster('NOP', season)
    df_NOP['Season'] = season
    df_NOP['Team'] = 'NOP'
    appended_data_NOP.append(df_NOP)
    season = season + 1
appended_data_NOP = pd.concat(appended_data_NOP)

In [79]:
NOP_df_all = appended_data_NOP.copy()
NOP_df_all_csv = NOP_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/NOP/NOP_players_all.csv', index=False)
NOP_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NOP/NOP_players_all.csv')
NOP_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,"12, 42",Alexis Ajinça,C,7-2,248,1988-05-06,FR,3,NaN,2014,NOP
1,0,Al-Farouq Aminu,SF,6-8,220,1990-09-21,US,3,Wake Forest,2014,NOP
2,17,Lou Amundson,PF,6-9,220,1982-12-07,US,7,UNLV,2014,NOP
3,33,Ryan Anderson,PF,6-9,240,1988-05-06,US,5,California,2014,NOP
4,8,Luke Babbitt,PF,6-9,225,1989-06-20,US,3,Nevada,2014,NOP

## NYK

In [80]:
season = 2000
appended_data_NYK = []

while season <= 2021:
    df_NYK = get_roster('NYK', season)
    df_NYK['Season'] = season
    df_NYK['Team'] = 'NYK'
    appended_data_NYK.append(df_NYK)
    season = season + 1
appended_data_NYK = pd.concat(appended_data_NYK)

In [81]:
NYK_df_all = appended_data_NYK.copy()
NYK_df_all_csv = NYK_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_players_all.csv', index=False)
NYK_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_players_all.csv')
NYK_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,41,Etdrick Bohannon,PF,6-9,220,1973-05-29,US,2,"Arizona, Tennessee, Auburn University at Montg...",2000,NYK
1,9,Rick Brunson,PG,6-4,190,1972-06-14,US,2,Temple,2000,NYK
2,23,Marcus Camby,C,6-11,220,1974-03-22,US,3,UMass,2000,NYK
3,1,Chris Childs,PG,6-3,195,1967-11-20,US,5,Boise State,2000,NYK
4,14,Chris Dudley,C,6-11,235,1965-02-22,US,12,Yale,2000,NYK

## OKC

In [82]:
season = 2016
appended_data_OKC = []

while season <= 2021:
    df_OKC = get_roster('OKC', season)
    df_OKC['Season'] = season
    df_OKC['Team'] = 'OKC'
    appended_data_OKC.append(df_OKC)
    season = season + 1
appended_data_OKC = pd.concat(appended_data_OKC)

In [83]:
OKC_df_all = appended_data_OKC.copy()
OKC_df_all_csv = OKC_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/OKC/OKC_players_all.csv', index=False)
OKC_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/OKC/OKC_players_all.csv')
OKC_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,12,Steven Adams,C,6-11,265,1993-07-20,NZ,2,Pitt,2016,OKC
1,14,D.J. Augustin,PG,5-11,183,1987-11-10,US,7,Texas,2016,OKC
2,4,Nick Collison,PF,6-10,255,1980-10-26,US,11,Kansas,2016,OKC
3,35,Kevin Durant,SF,6-10,240,1988-09-29,US,8,Texas,2016,OKC
4,6,Randy Foye,SG,6-4,213,1983-09-24,US,9,Villanova,2016,OKC

## ORL

In [84]:
season = 2000
appended_data_ORL = []

while season <= 2021:
    df_ORL = get_roster('ORL', season)
    df_ORL['Season'] = season
    df_ORL['Team'] = 'ORL'
    appended_data_ORL.append(df_ORL)
    season = season + 1
appended_data_ORL = pd.concat(appended_data_ORL)

In [85]:
ORL_df_all = appended_data_ORL.copy()
ORL_df_all_csv = ORL_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/ORL/ORL_players_all.csv', index=False)
ORL_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/ORL/ORL_players_all.csv')
ORL_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,9,Tariq Abdul-Wahad,SG,6-6,223,1974-11-03,FR,2,"Michigan, San Jose State",2000,ORL
1,13,John Amaechi,C,6-10,270,1970-11-26,US,1,"Vanderbilt, Penn State",2000,ORL
2,10,Darrell Armstrong,PG,6-0,170,1968-06-22,US,5,Fayetteville State University,2000,ORL
3,31,Chucky Atkins,PG,5-11,160,1974-08-14,US,R,South Florida,2000,ORL
4,11,Earl Boykins,PG,5-5,135,1976-06-02,US,1,Eastern Michigan,2000,ORL

## PHO

In [86]:
season = 2000
appended_data_PHO = []

while season <= 2021:
    df_PHO = get_roster('PHO', season)
    df_PHO['Season'] = season
    df_PHO['Team'] = 'PHO'
    appended_data_PHO.append(df_PHO)
    season = season + 1
appended_data_PHO = pd.concat(appended_data_PHO)

In [87]:
PHO_df_all = appended_data_PHO.copy()
PHO_df_all_csv = PHO_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/PHO/PHO_players_all.csv', index=False)
PHO_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/PHO/PHO_players_all.csv')
PHO_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,12,Toby Bailey,SG,6-6,213,1975-11-19,US,1,UCLA,2000,PHO
1,40,Corie Blount,PF,6-9,240,1969-01-04,US,6,Cincinnati,2000,PHO
2,3,Rex Chapman,SG,6-4,185,1967-10-05,US,11,Kentucky,2000,PHO
3,43,Ben Davis,PF,6-9,240,1972-12-26,US,3,"Kansas, Arizona",2000,PHO
4,11,Todd Day,SG,6-6,188,1970-01-07,US,6,Arkansas,2000,PHO

## POR

In [88]:
season = 2000
appended_data_POR = []

while season <= 2021:
    df_POR = get_roster('POR', season)
    df_POR['Season'] = season
    df_POR['Team'] = 'POR'
    appended_data_POR.append(df_POR)
    season = season + 1
appended_data_POR = pd.concat(appended_data_POR)

In [89]:
POR_df_all = appended_data_POR.copy()
POR_df_all_csv = POR_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/POR/POR_players_all.csv', index=False)
POR_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/POR/POR_players_all.csv')
POR_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,50,Greg Anthony,PG,6-0,176,1967-11-15,US,8,"University of Portland, UNLV",2000,POR
1,2,Stacey Augmon,SG,6-8,205,1968-08-01,US,8,UNLV,2000,POR
2,44,Brian Grant,PF,6-9,254,1972-03-05,US,5,Xavier,2000,POR
3,14,Gary Grant,PG,6-3,185,1965-04-21,US,11,Michigan,2000,POR
4,34,Antonio Harvey,PF,6-11,225,1970-07-06,US,4,"Southern Illinois, Georgia, Pfeiffer University",2000,POR

## SAS

In [90]:
season = 2000
appended_data_SAS = []

while season <= 2021:
    df_SAS = get_roster('SAS', season)
    df_SAS['Season'] = season
    df_SAS['Team'] = 'SAS'
    appended_data_SAS.append(df_SAS)
    season = season + 1
appended_data_SAS = pd.concat(appended_data_SAS)

In [91]:
SAS_df_all = appended_data_SAS.copy()
SAS_df_all_csv = SAS_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_players_all.csv', index=False)
SAS_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_players_all.csv')
SAS_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,52,Chucky Brown,PF,6-7,214,1968-02-29,US,10,NC State,2000,SAS
1,33,Antonio Daniels,SG,6-4,195,1975-03-19,US,2,Bowling Green,2000,SAS
2,5,Derrick Dial,SG,6-4,184,1975-12-20,US,R,Eastern Michigan,2000,SAS
3,21,Tim Duncan,PF,6-11,250,1976-04-25,VI,2,Wake Forest,2000,SAS
4,17,Mario Elie,SF,6-5,210,1963-11-26,US,9,American International College,2000,SAS

## SAC

In [92]:
season = 2000
appended_data_SAC = []

while season <= 2021:
    df_SAC = get_roster('SAC', season)
    df_SAC['Season'] = season
    df_SAC['Team'] = 'SAC'
    appended_data_SAC.append(df_SAC)
    season = season + 1
appended_data_SAC = pd.concat(appended_data_SAC)

In [93]:
SAC_df_all = appended_data_SAC.copy()
SAC_df_all_csv = SAC_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/SAC/SAC_players_all.csv', index=False)
SAC_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAC/SAC_players_all.csv')
SAC_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,25,Nick Anderson,SG,6-6,205,1968-01-20,US,10,Illinois,2000,SAC
1,20,Jon Barry,SG,6-4,195,1969-07-25,US,7,"University of the Pacific, Georgia Tech",2000,SAC
2,23,Tyrone Corbin,SF,6-6,210,1962-12-31,US,14,DePaul,2000,SAC
3,0,Tony Delk,PG,6-1,189,1974-01-28,US,3,Kentucky,2000,SAC
4,21,Vlade Divac,C,7-1,243,1968-02-03,RS,10,NaN,2000,SAC

## TOR

In [94]:
season = 2000
appended_data_TOR = []

while season <= 2021:
    df_TOR = get_roster('TOR', season)
    df_TOR['Season'] = season
    df_TOR['Team'] = 'TOR'
    appended_data_TOR.append(df_TOR)
    season = season + 1
appended_data_TOR = pd.concat(appended_data_TOR)

In [95]:
TOR_df_all = appended_data_TOR.copy()
TOR_df_all_csv = TOR_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/TOR/TOR_players_all.csv', index=False)
TOR_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/TOR/TOR_players_all.csv')
TOR_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,14,Muggsy Bogues,PG,5-3,136,1965-01-09,US,12,Wake Forest,2000,TOR
1,7,Dee Brown,PG,6-1,160,1968-11-29,US,9,Jacksonville University,2000,TOR
2,15,Vince Carter,SF,6-6,220,1977-01-26,US,1,UNC,2000,TOR
3,13,Doug Christie,SG,6-6,200,1970-05-09,US,7,Pepperdine,2000,TOR
4,30,Dell Curry,SG,6-4,190,1964-06-25,US,13,Virginia Tech,2000,TOR

## UTA

In [96]:
season = 2000
appended_data_UTA = []

while season <= 2021:
    df_UTA = get_roster('UTA', season)
    df_UTA['Season'] = season
    df_UTA['Team'] = 'UTA'
    appended_data_UTA.append(df_UTA)
    season = season + 1
appended_data_UTA = pd.concat(appended_data_UTA)

In [97]:
UTA_df_all = appended_data_UTA.copy()
UTA_df_all_csv = UTA_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_players_all.csv', index=False)
UTA_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_players_all.csv')
UTA_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,23,Pete Chilcutt,PF,6-10,230,1968-09-14,US,8,UNC,2000,UTA
1,10,Howard Eisley,PG,6-2,177,1972-12-04,US,5,Boston College,2000,UTA
2,5,Armen Gilliam,PF,6-9,230,1964-05-28,US,12,UNLV,2000,UTA
3,14,Jeff Hornacek,SG,6-3,190,1963-05-03,US,13,Iowa State,2000,UTA
4,31,Adam Keefe,C,6-9,230,1970-02-22,US,7,Stanford,2000,UTA

## WAS

In [98]:
season = 2000
appended_data_WAS = []

while season <= 2021:
    df_WAS = get_roster('WAS', season)
    df_WAS['Season'] = season
    df_WAS['Team'] = 'WAS'
    appended_data_WAS.append(df_WAS)
    season = season + 1
appended_data_WAS = pd.concat(appended_data_WAS)

In [99]:
WAS_df_all = appended_data_WAS.copy()
WAS_df_all_csv = WAS_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_players_all.csv', index=False)
WAS_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/WAS/WAS_players_all.csv')
WAS_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,8,Isaac Austin,C,6-10,255,1969-08-18,US,6,Arizona State,2000,WAS
1,52,Calvin Booth,C,6-11,230,1976-05-07,US,R,Penn State,2000,WAS
2,32,Richard Hamilton,SG,6-6,185,1978-02-14,US,R,UConn,2000,WAS
3,5,Juwan Howard,PF,6-9,240,1973-02-07,US,5,Michigan,2000,WAS
4,10,Reggie Jordan,PG,6-4,195,1968-01-26,US,5,New Mexico State,2000,WAS

## MASter DF

In [ ]:
team_dfs = [ATL_df_all, BOS_df_all, BRK_df_all, CHI_df_all, CHO_df_all, CLE_df_all, DEN_df_all,
           DET_df_all, GSW_df_all, PHI_df_all, HOU_df_all, IND_df_all, LAC_df_all, LAL_df_all,
           MEM_df_all, MIA_df_all, MIL_df_all, MIN_df_all, NOP_df_all, NYK_df_all, OKC_df_all,
           ORL_df_all, PHO_df_all, POR_df_all, SAC_df_all, SAS_df_all, TOR_df_all, UTA_df_all,
           WAS_df_all]

In [ ]:
nba_all = pd.concat(team_dfs)
nba_all.shape

In [ ]:
nba_all.head()

In [ ]:
nba_all['NATIONALITY'].value_counts().to_frame()

In [ ]:
BOS_df_all.head()

In [ ]:
BOS_df_2000 = BOS_df_all[BOS_df_all['Season'] == 2000]
BOS_df_2001 = BOS_df_all[BOS_df_all['Season'] == 2001]
BOS_df_2002 = BOS_df_all[BOS_df_all['Season'] == 2002]
BOS_df_2003 = BOS_df_all[BOS_df_all['Season'] == 2003]
BOS_df_2004 = BOS_df_all[BOS_df_all['Season'] == 2004]
BOS_df_2005 = BOS_df_all[BOS_df_all['Season'] == 2005]
BOS_df_2006 = BOS_df_all[BOS_df_all['Season'] == 2006]
BOS_df_2007 = BOS_df_all[BOS_df_all['Season'] == 2007]
BOS_df_2008 = BOS_df_all[BOS_df_all['Season'] == 2008]
BOS_df_2009 = BOS_df_all[BOS_df_all['Season'] == 2009]
BOS_df_2010 = BOS_df_all[BOS_df_all['Season'] == 2010]
BOS_df_2011 = BOS_df_all[BOS_df_all['Season'] == 2011]
BOS_df_2012 = BOS_df_all[BOS_df_all['Season'] == 2012]
BOS_df_2013 = BOS_df_all[BOS_df_all['Season'] == 2013]
BOS_df_2014 = BOS_df_all[BOS_df_all['Season'] == 2014]
BOS_df_2015 = BOS_df_all[BOS_df_all['Season'] == 2015]
BOS_df_2016 = BOS_df_all[BOS_df_all['Season'] == 2016]
BOS_df_2017 = BOS_df_all[BOS_df_all['Season'] == 2017]
BOS_df_2018 = BOS_df_all[BOS_df_all['Season'] == 2018]
BOS_df_2019 = BOS_df_all[BOS_df_all['Season'] == 2019]
BOS_df_2020 = BOS_df_all[BOS_df_all['Season'] == 2020]
BOS_df_2021 = BOS_df_all[BOS_df_all['Season'] == 2021]

In [ ]:
BOS_df_2000_players = BOS_df_2000['PLAYER'].to_list()
BOS_df_2001_players = BOS_df_2001['PLAYER'].to_list()
BOS_df_2002_players = BOS_df_2002['PLAYER'].to_list()
BOS_df_2003_players = BOS_df_2003['PLAYER'].to_list()
BOS_df_2004_players = BOS_df_2004['PLAYER'].to_list()
BOS_df_2005_players = BOS_df_2005['PLAYER'].to_list()

BOS_df_2006_players = BOS_df_2006['PLAYER'].to_list()
BOS_df_2007_players = BOS_df_2007['PLAYER'].to_list()
BOS_df_2008_players = BOS_df_2008['PLAYER'].to_list()
BOS_df_2009_players = BOS_df_2009['PLAYER'].to_list()
BOS_df_2010_players = BOS_df_2010['PLAYER'].to_list()
BOS_df_2011_players = BOS_df_2011['PLAYER'].to_list()

BOS_df_2012_players = BOS_df_2012['PLAYER'].to_list()
BOS_df_2013_players = BOS_df_2013['PLAYER'].to_list()
BOS_df_2014_players = BOS_df_2014['PLAYER'].to_list()
BOS_df_2015_players = BOS_df_2015['PLAYER'].to_list()
BOS_df_2016_players = BOS_df_2016['PLAYER'].to_list()
BOS_df_2017_players = BOS_df_2017['PLAYER'].to_list()

BOS_df_2018_players = BOS_df_2018['PLAYER'].to_list()
BOS_df_2019_players = BOS_df_2019['PLAYER'].to_list()
BOS_df_2020_players = BOS_df_2020['PLAYER'].to_list()
BOS_df_2021_players = BOS_df_2021['PLAYER'].to_list()

## BOS 2000 Season

In [ ]:
BOS_2000_gamelog = []



for p in BOS_df_2000_players:
    player_log = get_game_logs(str(p), SEASON_2000_START, SEASON_2000_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2000_gamelog.append(player_log)
BOS_2000_gamelog = pd.concat(BOS_2000_gamelog)    
BOS_2000_gamelogs = BOS_2000_gamelog.copy()
BOS_2000_gamelogs.head()

In [ ]:
BOS_2000_gamelogs['GAME_SCORE'] = BOS_2000_gamelogs['GAME_SCORE'].astype(float)

In [ ]:
BOS_2000_games = BOS_2000_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2000_games_csv = BOS_2000_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS_2000_games.csv', index=False)
BOS_2000_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS_2000_games.csv')
BOS_2000_games_proc.head()

## BOS 2001 Season

In [ ]:
BOS_2001_gamelog = []



for p in BOS_df_2001_players:
    player_log = get_game_logs(str(p), SEASON_2001_START, SEASON_2001_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2001_gamelog.append(player_log)
BOS_2001_gamelog = pd.concat(BOS_2001_gamelog)    
BOS_2001_gamelogs = BOS_2001_gamelog.copy()
BOS_2001_gamelogs.head()

In [ ]:
BOS_2001_gamelogs['GAME_SCORE'] = BOS_2001_gamelogs['GAME_SCORE'].astype(float)
BOS_2001_games = BOS_2001_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2001_games_csv = BOS_2001_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS_2001_games.csv', index=False)
BOS_2001_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS_2001_games.csv')
BOS_2001_games_proc.head()

## BOS 2002 Season

In [ ]:
BOS_2002_gamelog = []



for p in BOS_df_2002_players:
    player_log = get_game_logs(str(p), SEASON_2002_START, SEASON_2002_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2002_gamelog.append(player_log)
BOS_2002_gamelog = pd.concat(BOS_2002_gamelog)    
BOS_2002_gamelogs = BOS_2002_gamelog.copy()
BOS_2002_gamelogs.head()

In [ ]:
BOS_2002_gamelogs['GAME_SCORE'] = BOS_2002_gamelogs['GAME_SCORE'].astype(float)
BOS_2002_games = BOS_2002_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2002_games_csv = BOS_2002_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2002_games.csv', index=False)
BOS_2002_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2002_games.csv')
BOS_2002_games_proc.head()

## BOS 2003 Season

In [ ]:
BOS_2003_gamelog = []



for p in BOS_df_2003_players:
    player_log = get_game_logs(str(p), SEASON_2003_START, SEASON_2003_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2003_gamelog.append(player_log)
BOS_2003_gamelog = pd.concat(BOS_2003_gamelog)    
BOS_2003_gamelogs = BOS_2003_gamelog.copy()
BOS_2003_gamelogs.head()

In [ ]:
BOS_2003_gamelogs['GAME_SCORE'] = BOS_2003_gamelogs['GAME_SCORE'].astype(float)
BOS_2003_games = BOS_2003_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2003_games = BOS_2003_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2003_games_csv = BOS_2003_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2003_games.csv', index=False)
BOS_2003_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2003_games.csv')
BOS_2003_games_proc.head()
BOS_2003_games

## BOS 2004 Season

In [ ]:
BOS_2004_gamelog = []



for p in BOS_df_2004_players:
    player_log = get_game_logs(str(p), SEASON_2004_START, SEASON_2004_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2004_gamelog.append(player_log)
BOS_2004_gamelog = pd.concat(BOS_2004_gamelog)    
BOS_2004_gamelogs = BOS_2004_gamelog.copy()
BOS_2004_gamelogs.head()

In [ ]:
BOS_2004_gamelogs['GAME_SCORE'] = BOS_2004_gamelogs['GAME_SCORE'].astype(float)
BOS_2004_games = BOS_2004_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2004_games = BOS_2004_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2004_games_csv = BOS_2004_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2004_games.csv', index=False)
BOS_2004_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2004_games.csv')
BOS_2004_games_proc.head()

## BOS 2005 Season

In [ ]:
BOS_2005_gamelog = []

for p in BOS_df_2005_players:
    player_log = get_game_logs(str(p), SEASON_2005_START, SEASON_2005_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2005_gamelog.append(player_log)
BOS_2005_gamelog = pd.concat(BOS_2005_gamelog)    
BOS_2005_gamelogs = BOS_2005_gamelog.copy()
BOS_2005_gamelogs.head()

In [ ]:
BOS_2005_gamelogs['GAME_SCORE'] = BOS_2005_gamelogs['GAME_SCORE'].astype(float)
BOS_2005_games = BOS_2005_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2005_games_csv = BOS_2005_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2005_games.csv', index=False)
BOS_2005_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2005_games.csv')
BOS_2005_games_proc.head()

## BOS 2006 Season

In [ ]:
BOS_2006_gamelog = []

for p in BOS_df_2006_players:
    player_log = get_game_logs(str(p), SEASON_2006_START, SEASON_2006_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2006_gamelog.append(player_log)
BOS_2006_gamelog = pd.concat(BOS_2006_gamelog)    
BOS_2006_gamelogs = BOS_2006_gamelog.copy()
BOS_2006_gamelogs.head()

In [ ]:
BOS_2006_gamelogs['GAME_SCORE'] = BOS_2006_gamelogs['GAME_SCORE'].astype(float)
BOS_2006_games = BOS_2006_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2006_games_csv = BOS_2006_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2006_games.csv', index=False)
BOS_2006_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2006_games.csv')
BOS_2006_games_proc.head()

## BOS 2007 season

In [ ]:
BOS_2007_gamelog = []

for p in BOS_df_2007_players:
    player_log = get_game_logs(str(p), SEASON_2007_START, SEASON_2007_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2007_gamelog.append(player_log)
BOS_2007_gamelog = pd.concat(BOS_2007_gamelog)    
BOS_2007_gamelogs = BOS_2007_gamelog.copy()
BOS_2007_gamelogs.head()

In [ ]:
BOS_2007_gamelogs['GAME_SCORE'] = BOS_2007_gamelogs['GAME_SCORE'].astype(float)
BOS_2007_games = BOS_2007_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2007_games_csv = BOS_2007_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2007_games.csv', index=False)
BOS_2007_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2007_games.csv')
BOS_2007_games_proc.head()

## BOS 2008 season

In [ ]:
BOS_2008_gamelog = []



for p in BOS_df_2008_players:
    player_log = get_game_logs(str(p), SEASON_2008_START, SEASON_2008_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2008_gamelog.append(player_log)
BOS_2008_gamelog = pd.concat(BOS_2008_gamelog)    
BOS_2008_gamelogs = BOS_2008_gamelog.copy()
BOS_2008_gamelogs.head()

In [ ]:
BOS_2008_gamelogs['GAME_SCORE'] = BOS_2008_gamelogs['GAME_SCORE'].astype(float)
BOS_2008_games = BOS_2008_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2008_games_csv = BOS_2008_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2008_games.csv', index=False)
BOS_2008_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2008_games.csv')
BOS_2008_games_proc.head()

##  BOS 2009 season

In [ ]:
## Patty O'Bryant ##

BOS_2009_gamelog = []



for p in BOS_df_2009_players:
    player_log = get_game_logs(str(p), SEASON_2009_START, SEASON_2009_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2009_gamelog.append(player_log)
BOS_2009_gamelog = pd.concat(BOS_2009_gamelog)    
BOS_2009_gamelogs = BOS_2009_gamelog.copy()
BOS_2009_gamelogs.head()

In [ ]:
BOS_2009_gamelogs['GAME_SCORE'] = BOS_2009_gamelogs['GAME_SCORE'].astype(float)
BOS_2009_games = BOS_2009_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2009_games_csv = BOS_2009_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2009_games.csv', index=False)
BOS_2009_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2009_games.csv')
BOS_2009_games_proc.head()

## BOS 2010 season

In [ ]:
## HEnry Wwalker ##

BOS_2010_gamelog = []



for p in BOS_df_2010_players:
    player_log = get_game_logs(str(p), SEASON_2010_START, SEASON_2010_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2010_gamelog.append(player_log)
BOS_2010_gamelog = pd.concat(BOS_2010_gamelog)    
BOS_2010_gamelogs = BOS_2010_gamelog.copy()
BOS_2010_gamelogs.head()

In [ ]:
BOS_2010_gamelogs['GAME_SCORE'] = BOS_2010_gamelogs['GAME_SCORE'].astype(float)
BOS_2010_games = BOS_2010_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2010_games

## BOS 2011 Season

In [ ]:
## Jermaine O'Neal ##

BOS_2011_gamelog = []



for p in BOS_df_2011_players:
    player_log = get_game_logs(str(p), SEASON_2011_START, SEASON_2011_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2011_gamelog.append(player_log)
BOS_2011_gamelog = pd.concat(BOS_2011_gamelog)    
BOS_2011_gamelogs = BOS_2011_gamelog.copy()
BOS_2011_gamelogs.head()

In [ ]:
BOS_2011_gamelogs['GAME_SCORE'] = BOS_2011_gamelogs['GAME_SCORE'].astype(float)
BOS_2011_games = BOS_2011_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2011_games

## BOS 2012 season

In [ ]:
# E'twan moore ##

BOS_2012_gamelog = []



for p in BOS_df_2012_players:
    player_log = get_game_logs(str(p), SEASON_2012_START, SEASON_2012_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2012_gamelog.append(player_log)
BOS_2012_gamelog = pd.concat(BOS_2012_gamelog)    
BOS_2012_gamelogs = BOS_2012_gamelog.copy()
BOS_2012_gamelogs.head()

In [ ]:
BOS_2012_gamelogs['GAME_SCORE'] = BOS_2012_gamelogs['GAME_SCORE'].astype(float)
BOS_2012_games = BOS_2012_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2012_games

## BOS 2013 season

In [ ]:

BOS_2013_gamelog = []



for p in BOS_df_2013_players:
    player_log = get_game_logs(str(p), SEASON_2013_START, SEASON_2013_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2013_gamelog.append(player_log)
BOS_2013_gamelog = pd.concat(BOS_2013_gamelog)    
BOS_2013_gamelogs = BOS_2013_gamelog.copy()
BOS_2013_gamelogs.head()

In [ ]:
BOS_2013_gamelogs['GAME_SCORE'] = BOS_2013_gamelogs['GAME_SCORE'].astype(float)
BOS_2013_games = BOS_2013_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2013_games_csv = BOS_2013_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2013_games.csv', index=False)
BOS_2013_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2013_games.csv')
BOS_2013_games_proc.head()

## BOS 2014 season

In [ ]:
# vitor faverani
BOS_2014_gamelog = []



for p in BOS_df_2014_players:
    player_log = get_game_logs(str(p), SEASON_2014_START, SEASON_2014_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2014_gamelog.append(player_log)
BOS_2014_gamelog = pd.concat(BOS_2014_gamelog)    
BOS_2014_gamelogs = BOS_2014_gamelog.copy()
BOS_2014_gamelogs.head()

In [ ]:
BOS_2014_gamelogs['GAME_SCORE'] = BOS_2014_gamelogs['GAME_SCORE'].astype(float)
BOS_2014_games = BOS_2014_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2014_games

## BOS 2015 season

In [ ]:
# luigi datome
BOS_2015_gamelog = []



for p in BOS_df_2015_players:
    player_log = get_game_logs(str(p), SEASON_2015_START, SEASON_2015_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2015_gamelog.append(player_log)
BOS_2015_gamelog = pd.concat(BOS_2015_gamelog)    
BOS_2015_gamelogs = BOS_2015_gamelog.copy()
BOS_2015_gamelogs.head()

In [ ]:
BOS_2015_gamelogs['GAME_SCORE'] = BOS_2015_gamelogs['GAME_SCORE'].astype(float)
BOS_2015_games = BOS_2015_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2015_games

## BOS 2016 season

In [ ]:
# david lee
BOS_2016_gamelog = []



for p in BOS_df_2016_players:
    player_log = get_game_logs(str(p), SEASON_2016_START, SEASON_2016_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2016_gamelog.append(player_log)
BOS_2016_gamelog = pd.concat(BOS_2016_gamelog)    
BOS_2016_gamelogs = BOS_2016_gamelog.copy()
BOS_2016_gamelogs.head()

In [ ]:
BOS_2016_gamelogs['GAME_SCORE'] = BOS_2016_gamelogs['GAME_SCORE'].astype(float)
BOS_2016_games = BOS_2016_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2016_games

## BOS 2017 season

In [ ]:
BOS_2017_gamelog = []



for p in BOS_df_2017_players:
    player_log = get_game_logs(str(p), SEASON_2017_START, SEASON_2017_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2017_gamelog.append(player_log)
BOS_2017_gamelog = pd.concat(BOS_2017_gamelog)    
BOS_2017_gamelogs = BOS_2017_gamelog.copy()
BOS_2017_gamelogs.head()

In [ ]:
BOS_2017_gamelogs['GAME_SCORE'] = BOS_2017_gamelogs['GAME_SCORE'].astype(float)
BOS_2017_games = BOS_2017_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2017_games_csv = BOS_2017_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2017_games.csv', index=False)
BOS_2017_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2017_games.csv')
BOS_2017_games_proc.head()

## BOS 2018 season

In [ ]:
BOS_2018_gamelog = []



for p in BOS_df_2018_players:
    player_log = get_game_logs(str(p), SEASON_2018_START, SEASON_2018_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2018_gamelog.append(player_log)
BOS_2018_gamelog = pd.concat(BOS_2018_gamelog)    
BOS_2018_gamelogs = BOS_2018_gamelog.copy()
BOS_2018_gamelogs.head()

In [ ]:
BOS_2018_gamelogs['GAME_SCORE'] = BOS_2018_gamelogs['GAME_SCORE'].astype(float)
BOS_2018_games = BOS_2018_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2018_games_csv = BOS_2018_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2018_games.csv', index=False)
BOS_2018_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2018_games.csv')
BOS_2018_games_proc.head()

## BOS 2019 season

In [ ]:
BOS_2019_gamelog = []



for p in BOS_df_2019_players:
    player_log = get_game_logs(str(p), SEASON_2019_START, SEASON_2019_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2019_gamelog.append(player_log)
BOS_2019_gamelog = pd.concat(BOS_2019_gamelog)    
BOS_2019_gamelogs = BOS_2019_gamelog.copy()
BOS_2019_gamelogs.head()

In [ ]:
BOS_2019_gamelogs['GAME_SCORE'] = BOS_2019_gamelogs['GAME_SCORE'].astype(float)
BOS_2019_games = BOS_2019_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2019_games_csv = BOS_2019_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2019_games.csv', index=False)
BOS_2019_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2019_games.csv')
BOS_2019_games_proc.head()

## BOS 2020 Season

In [ ]:
BOS_2020_gamelog = []



for p in BOS_df_2020_players:
    player_log = get_game_logs(str(p), SEASON_2020_START, SEASON_2020_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2020_gamelog.append(player_log)
BOS_2020_gamelog = pd.concat(BOS_2020_gamelog)    
BOS_2020_gamelogs = BOS_2020_gamelog.copy()
BOS_2020_gamelogs.head()

In [ ]:
BOS_2020_gamelogs['GAME_SCORE'] = BOS_2020_gamelogs['GAME_SCORE'].astype(float)
BOS_2020_games = BOS_2020_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2020_games_csv = BOS_2020_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2020_games.csv', index=False)
BOS_2020_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2020_games.csv')
BOS_2020_games_proc.head()

## BOS 2021 season

In [ ]:
BOS_2021_gamelog = []



for p in BOS_df_2021_players:
    player_log = get_game_logs(str(p), SEASON_2021_START, SEASON_2021_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2021_gamelog.append(player_log)
BOS_2021_gamelog = pd.concat(BOS_2021_gamelog)    
BOS_2021_gamelogs = BOS_2021_gamelog.copy()
BOS_2021_gamelogs.head()

In [ ]:
BOS_2021_gamelogs['GAME_SCORE'] = BOS_2021_gamelogs['GAME_SCORE'].astype(float)
BOS_2021_games = BOS_2021_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2021_games_csv = BOS_2021_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2021_games.csv', index=False)
BOS_2021_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/BOS/BOS_2021_games.csv')
BOS_2021_games_proc.head()

## Combine all seasons*

In [ ]:
BOS_season_dfs = [BOS_2000_games, BOS_2001_games, BOS_2002_games, BOS_2003_games, BOS_2004_games, BOS_2005_games,
                 BOS_2006_games, BOS_2007_games, BOS_2008_games, BOS_2013_games, BOS_2017_games, BOS_2018_games,
                 BOS_2019_games, BOS_2020_games, BOS_2021_games]

In [ ]:
BOS_all = pd.concat(BOS_season_dfs)
BOS_all_sorted = BOS_all.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_all_sorted.head(25)

In [ ]:
 # -----------

In [ ]:
BOS_2008_gamelogs.tail()

BOS_2008_gamelogs['GAME_SCORE'] = BOS_2008_gamelogs['GAME_SCORE'].astype(float)

In [ ]:
BOS_2008_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)

In [ ]:
paul_pierce_2008['GAME_SCORE'] = paul_pierce_2008['GAME_SCORE'].astype(float)

In [ ]:
season = 2000
appended_data_WAS = []

while season <= 2021:
    df_WAS = get_roster('WAS', season)
    df_WAS['Season'] = season
    df_WAS['Team'] = 'WAS'
    appended_data_WAS.append(df_WAS)
    season = season + 1
appended_data_WAS = pd.concat(appended_data_WAS)

In [ ]:
p

In [ ]:
tatum_2018 = get_game_logs('Jayson Tatum', SEASON_2018_START, SEASON_2018_END, playoffs=False)

In [ ]:
 # ------

In [ ]:
season = 2000

while season <= 2021:
    df_BOS = get_roster('BOS', season)
    df_BOS['season'] = season
    season = season + 1
type(df_BOS)

In [ ]:
season = 2000
appended_data_BOS = []
appended_data_LAL = []

# BOS
while season <= 2021:
    df_BOS = get_roster('BOS', season)
    df_BOS['season'] = season
    appended_data_BOS.append(df_BOS)
    season = season + 1
appended_data_BOS = pd.concat(appended_data_BOS)

In [ ]:
BOS_df_all = appended_data_BOS.copy()
BOS_df_all

In [ ]:
season = 2000
appended_data_LAL = []

# LAL
while season <= 2021:
    df_LAL = get_roster('LAL', season)
    df_LAL['season'] = season
    appended_data_LAL.append(df_LAL)
    season = season + 1
appended_data_LAL = pd.concat(appended_data_LAL)

In [ ]:
LAL_df_all = appended_data_LAL.copy()
LAL_df_all

In [ ]:
# will need to pull in every game log/ of every player/ on every team/ for each year since 2000


# Constants
SEASON_2000_START = '1999-11-02'
SEASON_2000_END = '2000-04-19'

SEASON_2001_START = '2000-11-01'
SEASON_2001_END = '2001-04-18'

SEASON_2002_START = '2001-10-30'
SEASON_2002_END = '2002-04-17'

SEASON_2003_START = '2002-10-30'
SEASON_2003_END = '2003-04-16'

SEASON_2004_START = '2003-10-29'
SEASON_2004_END = '2004-04-12'

SEASON_2005_START = '2004-11-03'
SEASON_2005_END = '2005-04-20'

SEASON_2006_START = '2005-11-02'
SEASON_2006_END = '2006-04-19'

SEASON_2007_START = '2006-11-01'
SEASON_2007_END = '2007-04-18'

SEASON_2008_START = '2007-11-02'
SEASON_2008_END = '2008-04-16'

SEASON_2009_START = '2008-10-28'
SEASON_2009_END = '2009-04-15'

SEASON_2010_START = '2009-10-27'
SEASON_2010_END = '2010-04-14'

SEASON_2011_START = '2010-10-26'
SEASON_2011_END = '2011-04-13'

SEASON_2012_START = '2011-11-25'
SEASON_2012_END = '2012-04-26'

SEASON_2013_START = '2012-10-30'
SEASON_2013_END = '2014-04-17'

SEASON_2014_START = '2013-10-30'
SEASON_2014_END = '2014-04-16'

SEASON_2015_START = '2014-10-29'
SEASON_2015_END = '2015-04-15'

SEASON_2016_START = '2015-10-28' 
SEASON_2016_END = '2016-04-13'

SEASON_2017_START = '2016-10-25'
SEASON_2017_END = '2017-04-14'

SEASON_2018_START = '2017-10-17'
SEASON_2018_END = '2018-04-14'

SEASON_2019_START = '2018-10-18'
SEASON_2019_END = '2019-04-12'

SEASON_2020_START = '2019-10-22'
SEASON_2020_END = '2020-08-15'

SEASON_2021_START = '2020-12-22'
SEASON_2021_END = '2021-05-16'