In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime as dt
import scipy.stats as stats
from basketball_reference_scraper.players import get_stats, get_game_logs, get_player_headshot
from basketball_reference_scraper.teams import get_roster, get_team_stats, get_opp_stats, get_roster_stats,get_team_misc

In [9]:
# Plan
# the goal is to find the best games by year based on GAME_SCORE - we want the top 5 indivudals games since 2000
# but will need to get all players that played

# How to attack?
    # by team/ by year
    # save each palyer's game log as a df
    # then copncat to get team DFs
    # and then can sum to get seasons

In [10]:
# get a list ofm all players in the NBA from 2000 - then get game logs for each and subset for team name
# need to sue getroster function


ray_allen_2008 = get_game_logs('Ray Allen', SEASON_2008_START, SEASON_2008_END, playoffs=False)

BOS_2018 = get_roster('BOS', 2018)
BOS_2018['Season'] = '2018'
BOS_2018.head()

You searched for "Ray Allen"
21 results found.
0: Ray Allen
1: Randy Allen
2: Bob Allen
3: Lavoy Allen
4: Tony Allen
5: Bill Allen
6: Grayson Allen
7: Malik Allen
8: Ray Blume
9: Ray Corley
10: Ray Ellefson
11: Ray Felix
12: Jay Miller
13: Ray Owes
14: Ray Ramsey
15: Ray Epps
16: Roy Marble
17: Raja Bell
18: Troy Bell
19: Gary Hill
20: Gary Neal
Pick one: 0
Results for Ray Allen:

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season
0,45,Kadeem Allen,PG,6-1,200,1993-01-15,US,R,Arizona,2018
1,46,Aron Baynes,C,6-10,260,1986-12-09,NZ,5,Washington State,2018
2,26,Jabari Bird,SG,6-6,198,1994-07-03,US,R,California,2018
3,7,Jaylen Brown,SG,6-6,223,1996-10-24,US,1,California,2018
4,9,Jarell Eddie,SF,6-7,218,1991-10-30,US,2,Virginia Tech,2018

In [11]:
teams = ['ATL','BOS', 'BRK', 'CHI', 'CHO', 'CLE','DEN',
        'DET', 'GSW', 'PHI', 'HOU', 'IND', 'LAC', 'LAL',
        'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK','OKC',
        'ORL', 'PHO', 'POR', 'SAC', 'SAS', 'TOR', 'UTA',
        'WAS']
seasons = [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
          2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]
players = []
dfs = {}

In [12]:
nba_dict = {'Team': teams, 'Season':seasons}

#nba_df = get_roster(nba_dict)
#nba_df.head()
nba_dict
#df = get_roster(nba_dict, nba_dict[1])

{'Team': ['ATL',
  'BOS',
  'BRK',
  'CHI',
  'CHO',
  'CLE',
  'DEN',
  'DET',
  'GSW',
  'PHI',
  'HOU',
  'IND',
  'LAC',
  'LAL',
  'MEM',
  'MIA',
  'MIL',
  'MIN',
  'NOP',
  'NYK',
  'OKC',
  'ORL',
  'PHO',
  'POR',
  'SAC',
  'SAS',
  'TOR',
  'UTA',
  'WAS'],
 'Season': [2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018,
  2019,
  2020,
  2021]}

In [13]:
df_BOS = get_roster('BOS', 2008)
df_BOS.columns

Index(['NUMBER', 'PLAYER', 'POS', 'HEIGHT', 'WEIGHT', 'BIRTH_DATE',
       'NATIONALITY', 'EXPERIENCE', 'COLLEGE'],
      dtype='object')

In [14]:
nba_2008 = []
teams_ = ['BOS','LAL', 'CHI']

In [15]:
teams = ['ATL','BOS', 'BRK', 'CHI', 'CHO', 'CLE','DEN',
        'DET', 'GSW', 'PHI', 'HOU', 'IND', 'LAC', 'LAL',
        'MEM', 'MIA', 'MIL', 'MIN', 'NOP', 'NYK','OKC',
        'ORL', 'PHO', 'POR', 'SAC', 'SAS', 'TOR', 'UTA',
        'WAS']

## ATL

In [16]:
season = 2000
appended_data_ATL = []

# ATL
while season <= 2021:
    df_ATL = get_roster('ATL', season)
    df_ATL['Season'] = season
    df_ATL['Team'] = 'ATL'
    appended_data_ATL.append(df_ATL)
    season = season + 1
appended_data_ATL = pd.concat(appended_data_ATL)

In [17]:
ATL_df_all = appended_data_ATL.copy()
ATL_df_all

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,10,Drew Barry,PG,6-5,191,1973-02-17,US,2,Georgia Tech,2000,ATL
1,3,Cal Bowdler,SF,6-10,245,1977-03-31,US,R,Old Dominion,2000,ATL
2,12,Bimbo Coles,PG,6-1,180,1968-04-22,US,9,Virginia Tech,2000,ATL
3,4,Chris Crawford,PF,6-9,235,1975-05-13,US,2,Marquette,2000,ATL
4,20,LaPhonso Ellis,PF,6-8,240,1970-05-05,US,7,Notre Dame,2000,ATL
...,...,...,...,...,...,...,...,...,...,...,...
13,22,Cam Reddish,SF,6-8,218,1999-09-01,US,1,Duke,2021,ATL
14,7,Rajon Rondo,PG,6-1,180,1986-02-22,US,14,Kentucky,2021,ATL
15,19,Tony Snell,SG,6-6,213,1991-11-10,US,7,New Mexico,2021,ATL
16,6,Lou Williams,PG,6-1,175,1986-10-27,US,15,NaN,2021,ATL
17,11,Trae Young,PG,6-1,180,1998-09-19,US,2,Oklahoma,2021,ATL

## BOS

In [18]:
season = 2000
appended_data_BOS = []

while season <= 2021:
    df_BOS = get_roster('BOS', season)
    df_BOS['Season'] = season
    df_BOS['Team'] = 'BOS'
    appended_data_BOS.append(df_BOS)
    season = season + 1
appended_data_BOS = pd.concat(appended_data_BOS)

In [19]:
BOS_df_all = appended_data_BOS.copy()
BOS_df_all

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,7,Kenny Anderson,PG,6-0,168,1970-10-09,US,8,Georgia Tech,2000,BOS
1,11,Dana Barros,PG,5-11,163,1967-04-13,US,10,Boston College,2000,BOS
2,4,Tony Battie,C,6-11,230,1976-02-11,US,2,Texas Tech,2000,BOS
3,40,Calbert Cheaney,SG,6-7,209,1971-07-17,US,6,Indiana,2000,BOS
4,29,Pervis Ellison,C,6-9,210,1967-04-03,US,9,Louisville,2000,BOS
...,...,...,...,...,...,...,...,...,...,...,...
16,20,Moritz Wagner,C,6-11,245,1997-04-26,DE,2,Michigan,2021,BOS
17,8,Kemba Walker,PG,6-0,184,1990-05-08,US,9,UConn,2021,BOS
18,51,Tremont Waters,PG,5-10,175,1998-01-10,US,1,LSU,2021,BOS
19,12,Grant Williams,PF,6-6,236,1998-11-30,US,1,Tennessee,2021,BOS
20,44,Robert Williams,C,6-8,237,1997-10-17,US,2,Texas A&M,2021,BOS

## BRK

In [20]:
season = 2013
appended_data_BRK = []

while season <= 2021:
    df_BRK = get_roster('BRK', season)
    df_BRK['Season'] = season
    df_BRK['Team'] = 'BRK'
    appended_data_BRK.append(df_BRK)
    season = season + 1
appended_data_BRK = pd.concat(appended_data_BRK)

In [21]:
BRK_df_all = appended_data_BRK.copy()
BRK_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,0,Andray Blatche,C,6-11,235,1986-08-22,US,7,NaN,2013,BRK
1,10,Keith Bogans,SG,6-5,215,1980-05-12,US,9,Kentucky,2013,BRK
2,9,MarShon Brooks,SG,6-5,200,1989-01-26,US,1,Providence,2013,BRK
3,2,Josh Childress,SF,6-8,210,1983-06-20,US,6,Stanford,2013,BRK
4,30,Reggie Evans,PF,6-8,245,1980-05-18,US,10,Iowa,2013,BRK

## CHI

In [22]:
season = 2000
appended_data_CHI = []

while season <= 2021:
    df_CHI = get_roster('CHI', season)
    df_CHI['Season'] = season
    df_CHI['Team'] = 'CHI'
    appended_data_CHI.append(df_CHI)
    season = season + 1
appended_data_CHI = pd.concat(appended_data_CHI)

In [23]:
CHI_df_all = appended_data_CHI.copy()
CHI_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,22,Chris Anstey,C,7-0,249,1975-01-01,AU,2,NaN,2000,CHI
1,11,B.J. Armstrong,PG,6-2,175,1967-09-09,US,10,Iowa,2000,CHI
2,25,Corey Benjamin,SG,6-6,200,1978-02-24,US,1,Oregon State,2000,CHI
3,42,Elton Brand,PF,6-8,275,1979-03-11,US,R,Duke,2000,CHI
4,1,Randy Brown,PG,6-2,190,1968-05-22,US,8,"Houston, New Mexico State",2000,CHI

## CHO

In [24]:
season = 2016
appended_data_CHO = []

while season <= 2021:
    df_CHO = get_roster('CHO', season)
    df_CHO['Season'] = season
    df_CHO['Team'] = 'CHO'
    appended_data_CHO.append(df_CHO)
    season = season + 1
appended_data_CHO = pd.concat(appended_data_CHO)

In [25]:
CHO_df_all = appended_data_CHO.copy()
CHO_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,5,Nicolas Batum,SF,6-8,230,1988-12-14,FR,7,NaN,2016,CHO
1,30,Troy Daniels,SG,6-4,200,1991-07-15,US,2,VCU,2016,CHO
2,12,Jorge Gutiérrez,PG,6-3,191,1988-12-27,MX,2,California,2016,CHO
3,19,P.J. Hairston,SF,6-6,230,1992-12-24,US,1,UNC,2016,CHO
4,50,Tyler Hansbrough,PF,6-9,250,1985-11-03,US,6,UNC,2016,CHO

## CLE

In [26]:
season = 2000
appended_data_CLE = []

while season <= 2021:
    df_CLE = get_roster('CLE', season)
    df_CLE['Season'] = season
    df_CLE['Team'] = 'CLE'
    appended_data_CLE.append(df_CLE)
    season = season + 1
appended_data_CLE = pd.concat(appended_data_CLE)

In [27]:
CLE_df_all = appended_data_CLE.copy()
CLE_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,0,Benoit Benjamin,C,7-0,250,1964-11-22,US,14,Creighton,2000,CLE
1,5,Earl Boykins,PG,5-5,135,1976-06-02,US,1,Eastern Michigan,2000,CLE
2,47,A.J. Bramlett,C,6-10,227,1977-01-10,US,R,Arizona,2000,CLE
3,2,Mark Bryant,PF,6-9,245,1965-04-25,US,11,Seton Hall,2000,CLE
4,32,Pete Chilcutt,PF,6-10,230,1968-09-14,US,8,UNC,2000,CLE

## DEN

In [28]:
season = 2000
appended_data_DEN = []

while season <= 2021:
    df_DEN = get_roster('DEN', season)
    df_DEN['Season'] = season
    df_DEN['Team'] = 'DEN'
    appended_data_DEN.append(df_DEN)
    season = season + 1
appended_data_DEN = pd.concat(appended_data_DEN)

In [29]:
DEN_df_all = appended_data_DEN.copy()
DEN_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,9,Tariq Abdul-Wahad,SG,6-6,223,1974-11-03,FR,2,"Michigan, San Jose State",2000,DEN
1,7,Cory Alexander,PG,6-1,185,1973-06-22,US,4,Virginia,2000,DEN
2,4,Chauncey Billups,SG,6-3,202,1976-09-25,US,2,Colorado,2000,DEN
3,42,Ryan Bowen,SF,6-7,215,1975-11-20,US,R,Iowa,2000,DEN
4,"13, 15",Keon Clark,C,6-11,220,1975-04-16,US,1,UNLV,2000,DEN

## DET

In [30]:
season = 2000
appended_data_DET = []

while season <= 2021:
    df_DET = get_roster('DET', season)
    df_DET['Season'] = season
    df_DET['Team'] = 'DET'
    appended_data_DET.append(df_DET)
    season = season + 1
appended_data_DET = pd.concat(appended_data_DET)

In [31]:
DET_df_all = appended_data_DET.copy()
DET_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,20,Marcus Brown,SG,6-3,185,1974-04-03,US,1,Murray State,2000,DET
1,30,Jud Buechler,SF,6-6,220,1968-06-19,US,9,Arizona,2000,DET
2,22,John Crotty,PG,6-1,185,1969-07-15,US,7,Virginia,2000,DET
3,12,Michael Curry,SG,6-5,210,1968-08-22,US,5,Georgia Southern University,2000,DET
4,33,Grant Hill,SF,6-8,225,1972-10-05,US,5,Duke,2000,DET

## GSW

In [32]:
season = 2000
appended_data_GSW = []

while season <= 2021:
    df_GSW = get_roster('GSW', season)
    df_GSW['Season'] = season
    df_GSW['Team'] = 'GSW'
    appended_data_GSW.append(df_GSW)
    season = season + 1
appended_data_GSW = pd.concat(appended_data_GSW)

In [33]:
GSW_df_all = appended_data_GSW.copy()
GSW_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,2,Drew Barry,PG,6-5,191,1973-02-17,US,2,Georgia Tech,2000,GSW
1,10,Mookie Blaylock,PG,6-0,180,1967-03-20,US,10,"Midland College, Oklahoma",2000,GSW
2,21,Jason Caffey,PF,6-8,255,1973-06-12,US,4,Alabama,2000,GSW
3,43,Chris Carr,SG,6-5,207,1974-03-12,US,4,Southern Illinois,2000,GSW
4,35,Terry Cummings,PF,6-9,220,1961-03-15,US,17,DePaul,2000,GSW

## PHI

In [34]:
season = 2000
appended_data_PHI = []

while season <= 2021:
    df_PHI = get_roster('PHI', season)
    df_PHI['Season'] = season
    df_PHI['Team'] = 'PHI'
    appended_data_PHI.append(df_PHI)
    season = season + 1
appended_data_PHI = pd.concat(appended_data_PHI)

In [35]:
PHI_df_all = appended_data_PHI.copy()
PHI_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,12,Bruce Bowen,SF,6-7,185,1971-06-14,US,3,Cal State Fullerton,2000,PHI
1,11,Ira Bowman,SG,6-5,195,1973-06-11,US,R,"Providence, Penn",2000,PHI
2,52,Matt Geiger,C,7-0,243,1969-09-10,US,7,"Auburn, Georgia Tech",2000,PHI
3,40,Tyrone Hill,PF,6-9,240,1968-03-19,US,9,Xavier,2000,PHI
4,21,Larry Hughes,SG,6-5,184,1979-01-23,US,1,Saint Louis,2000,PHI

## HOU

In [36]:
season = 2000
appended_data_HOU = []

while season <= 2021:
    df_HOU = get_roster('HOU', season)
    df_HOU['Season'] = season
    df_HOU['Team'] = 'HOU'
    appended_data_HOU.append(df_HOU)
    season = season + 1
appended_data_HOU = pd.concat(appended_data_HOU)

In [37]:
HOU_df_all = appended_data_HOU.copy()
HOU_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,40,Shandon Anderson,SF,6-6,208,1973-12-31,US,3,Georgia,2000,HOU
1,4,Charles Barkley,PF,6-6,252,1963-02-20,US,15,Auburn,2000,HOU
2,50,Matt Bullard,PF,6-10,215,1967-06-05,US,8,"Colorado, Iowa",2000,HOU
3,13,Kelvin Cato,C,6-11,255,1974-08-26,US,2,"University of South Alabama, Iowa State",2000,HOU
4,15,Bill Curley,PF,6-9,220,1972-05-29,US,3,Boston College,2000,HOU

## IND

In [38]:
season = 2000
appended_data_IND = []

while season <= 2021:
    df_IND = get_roster('IND', season)
    df_IND['Season'] = season
    df_IND['Team'] = 'IND'
    appended_data_IND.append(df_IND)
    season = season + 1
appended_data_IND = pd.concat(appended_data_IND)

In [39]:
IND_df_all = appended_data_IND.copy()
IND_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,24,Jonathan Bender,SF,6-11,202,1981-01-30,US,R,NaN,2000,IND
1,4,Travis Best,PG,5-11,182,1972-07-12,US,4,Georgia Tech,2000,IND
2,44,Austin Croshere,PF,6-9,235,1975-05-01,US,2,Providence,2000,IND
3,32,Dale Davis,C,6-11,230,1969-03-25,US,8,Clemson,2000,IND
4,10,Jeff Foster,C,6-11,236,1977-01-16,US,R,Texas State University,2000,IND

## LAL

In [40]:
season = 2000
appended_data_LAL = []

while season <= 2021:
    df_LAL = get_roster('LAL', season)
    df_LAL['Season'] = season
    df_LAL['Team'] = 'LAL'
    appended_data_LAL.append(df_LAL)
    season = season + 1
appended_data_LAL = pd.concat(appended_data_LAL)

In [41]:
LAL_df_all = appended_data_LAL.copy()
LAL_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,8,Kobe Bryant,SG,6-6,212,1978-08-23,US,3,NaN,2000,LAL
1,11,John Celestand,PG,6-4,178,1977-03-06,US,R,Villanova,2000,LAL
2,2,Derek Fisher,PG,6-1,200,1974-08-09,US,3,Little Rock,2000,LAL
3,17,Rick Fox,SF,6-7,230,1969-07-24,CA,8,UNC,2000,LAL
4,3,Devean George,SF,6-8,220,1977-08-29,US,R,Augsburg College,2000,LAL

## LAC

In [42]:
season = 2000
appended_data_LAC = []

while season <= 2021:
    df_LAC = get_roster('LAC', season)
    df_LAC['Season'] = season
    df_LAC['Team'] = 'LAC'
    appended_data_LAC.append(df_LAC)
    season = season + 1
appended_data_LAC = pd.concat(appended_data_LAC)

In [43]:
LAC_df_all = appended_data_LAC.copy()
LAC_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,1,Derek Anderson,SG,6-5,194,1974-07-18,US,2,"Ohio State, Kentucky",2000,LAC
1,30,Anthony Avent,PF,6-9,235,1969-10-18,US,5,Seton Hall,2000,LAC
2,44,Mario Bennett,PF,6-6,235,1973-08-01,US,3,Arizona State,2000,LAC
3,41,Etdrick Bohannon,PF,6-9,220,1973-05-29,US,2,"Arizona, Tennessee, Auburn University at Montg...",2000,LAC
4,24,Pete Chilcutt,PF,6-10,230,1968-09-14,US,8,UNC,2000,LAC

## MEM

In [44]:
season = 2002
appended_data_MEM = []

while season <= 2021:
    df_MEM = get_roster('MEM', season)
    df_MEM['Season'] = season
    df_MEM['Team'] = 'MEM'
    appended_data_MEM.append(df_MEM)
    season = season + 1
appended_data_MEM = pd.concat(appended_data_MEM)

In [45]:
MEM_df_all = appended_data_MEM.copy()
MEM_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,25,Nick Anderson,SG,6-6,205,1968-01-20,US,12,Illinois,2002,MEM
1,9,Isaac Austin,C,6-10,255,1969-08-18,US,8,Arizona State,2002,MEM
2,31,Shane Battier,SF,6-8,220,1978-09-09,US,R,Duke,2002,MEM
3,32,Rodney Buford,SG,6-5,189,1977-11-02,US,2,Creighton,2002,MEM
4,8,Michael Dickerson,SG,6-5,190,1975-06-25,US,3,Arizona,2002,MEM

## MIA

In [46]:
season = 2000
appended_data_MIA = []

while season <= 2021:
    df_MIA = get_roster('MIA', season)
    df_MIA['Season'] = season
    df_MIA['Team'] = 'MIA'
    appended_data_MIA.append(df_MIA)
    season = season + 1
appended_data_MIA = pd.concat(appended_data_MIA)

In [47]:
MIA_df_all = appended_data_MIA.copy()
MIA_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,12,Bruce Bowen,SF,6-7,185,1971-06-14,US,3,Cal State Fullerton,2000,MIA
1,42,P.J. Brown,PF,6-11,225,1969-10-14,US,6,Louisiana Tech,2000,MIA
2,32,Rodney Buford,SG,6-5,189,1977-11-02,US,R,Creighton,2000,MIA
3,25,Anthony Carter,PG,6-1,190,1975-06-16,US,R,Hawaii,2000,MIA
4,4,Duane Causwell,C,7-0,240,1968-05-31,US,9,Temple,2000,MIA

## MIL

In [48]:
season = 2000
appended_data_MIL = []

while season <= 2021:
    df_MIL = get_roster('MIL', season)
    df_MIL['Season'] = season
    df_MIL['Team'] = 'MIL'
    appended_data_MIL.append(df_MIL)
    season = season + 1
appended_data_MIL = pd.concat(appended_data_MIL)

In [49]:
MIL_df_all = appended_data_MIL.copy()
MIL_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,34,Ray Allen,SG,6-5,205,1975-07-20,US,3,UConn,2000,MIL
1,11,Rafer Alston,PG,6-2,171,1976-07-24,US,R,Fresno State,2000,MIL
2,10,Sam Cassell,PG,6-3,185,1969-11-18,US,6,Florida State,2000,MIL
3,15,Vinny Del Negro,PG,6-4,185,1966-08-09,US,9,NC State,2000,MIL
4,9,Dale Ellis,SG,6-7,205,1960-08-06,US,16,Tennessee,2000,MIL

## MIN

In [50]:
season = 2000
appended_data_MIN = []

while season <= 2021:
    df_MIN = get_roster('MIN', season)
    df_MIN['Season'] = season
    df_MIN['Team'] = 'MIN'
    appended_data_MIN.append(df_MIN)
    season = season + 1
appended_data_MIN = pd.concat(appended_data_MIN)

In [51]:
MIN_df_all = appended_data_MIN.copy()
MIN_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,5,William Avery,PG,6-2,197,1979-08-08,US,R,Duke,2000,MIN
1,7,Terrell Brandon,PG,5-11,180,1970-05-20,US,8,Oregon,2000,MIN
2,21,Kevin Garnett,PF,6-11,240,1976-05-19,US,4,NaN,2000,MIN
3,22,Dean Garrett,C,6-10,225,1966-11-27,US,3,Indiana,2000,MIN
4,20,Tom Hammonds,PF,6-9,215,1967-03-27,US,10,Georgia Tech,2000,MIN

## NOP

In [52]:
season = 2014
appended_data_NOP = []

while season <= 2021:
    df_NOP = get_roster('NOP', season)
    df_NOP['Season'] = season
    df_NOP['Team'] = 'NOP'
    appended_data_NOP.append(df_NOP)
    season = season + 1
appended_data_NOP = pd.concat(appended_data_NOP)

In [53]:
NOP_df_all = appended_data_NOP.copy()
NOP_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,"12, 42",Alexis Ajinça,C,7-2,248,1988-05-06,FR,3,NaN,2014,NOP
1,0,Al-Farouq Aminu,SF,6-8,220,1990-09-21,US,3,Wake Forest,2014,NOP
2,17,Lou Amundson,PF,6-9,220,1982-12-07,US,7,UNLV,2014,NOP
3,33,Ryan Anderson,PF,6-9,240,1988-05-06,US,5,California,2014,NOP
4,8,Luke Babbitt,PF,6-9,225,1989-06-20,US,3,Nevada,2014,NOP

## NYK

In [54]:
season = 2000
appended_data_NYK = []

while season <= 2021:
    df_NYK = get_roster('NYK', season)
    df_NYK['Season'] = season
    df_NYK['Team'] = 'NYK'
    appended_data_NYK.append(df_NYK)
    season = season + 1
appended_data_NYK = pd.concat(appended_data_NYK)

In [55]:
NYK_df_all = appended_data_NYK.copy()
NYK_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,41,Etdrick Bohannon,PF,6-9,220,1973-05-29,US,2,"Arizona, Tennessee, Auburn University at Montg...",2000,NYK
1,9,Rick Brunson,PG,6-4,190,1972-06-14,US,2,Temple,2000,NYK
2,23,Marcus Camby,C,6-11,220,1974-03-22,US,3,UMass,2000,NYK
3,1,Chris Childs,PG,6-3,195,1967-11-20,US,5,Boise State,2000,NYK
4,14,Chris Dudley,C,6-11,235,1965-02-22,US,12,Yale,2000,NYK

## OKC

In [56]:
season = 2016
appended_data_OKC = []

while season <= 2021:
    df_OKC = get_roster('OKC', season)
    df_OKC['Season'] = season
    df_OKC['Team'] = 'OKC'
    appended_data_OKC.append(df_OKC)
    season = season + 1
appended_data_OKC = pd.concat(appended_data_OKC)

In [57]:
OKC_df_all = appended_data_OKC.copy()
OKC_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,12,Steven Adams,C,6-11,265,1993-07-20,NZ,2,Pitt,2016,OKC
1,14,D.J. Augustin,PG,5-11,183,1987-11-10,US,7,Texas,2016,OKC
2,4,Nick Collison,PF,6-10,255,1980-10-26,US,11,Kansas,2016,OKC
3,35,Kevin Durant,SF,6-10,240,1988-09-29,US,8,Texas,2016,OKC
4,6,Randy Foye,SG,6-4,213,1983-09-24,US,9,Villanova,2016,OKC

## ORL

In [58]:
season = 2000
appended_data_ORL = []

while season <= 2021:
    df_ORL = get_roster('ORL', season)
    df_ORL['Season'] = season
    df_ORL['Team'] = 'ORL'
    appended_data_ORL.append(df_ORL)
    season = season + 1
appended_data_ORL = pd.concat(appended_data_ORL)

In [59]:
ORL_df_all = appended_data_ORL.copy()
ORL_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,9,Tariq Abdul-Wahad,SG,6-6,223,1974-11-03,FR,2,"Michigan, San Jose State",2000,ORL
1,13,John Amaechi,C,6-10,270,1970-11-26,US,1,"Vanderbilt, Penn State",2000,ORL
2,10,Darrell Armstrong,PG,6-0,170,1968-06-22,US,5,Fayetteville State University,2000,ORL
3,31,Chucky Atkins,PG,5-11,160,1974-08-14,US,R,South Florida,2000,ORL
4,11,Earl Boykins,PG,5-5,135,1976-06-02,US,1,Eastern Michigan,2000,ORL

## PHO

In [60]:
season = 2000
appended_data_PHO = []

while season <= 2021:
    df_PHO = get_roster('PHO', season)
    df_PHO['Season'] = season
    df_PHO['Team'] = 'PHO'
    appended_data_PHO.append(df_PHO)
    season = season + 1
appended_data_PHO = pd.concat(appended_data_PHO)

In [61]:
PHO_df_all = appended_data_PHO.copy()
PHO_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,12,Toby Bailey,SG,6-6,213,1975-11-19,US,1,UCLA,2000,PHO
1,40,Corie Blount,PF,6-9,240,1969-01-04,US,6,Cincinnati,2000,PHO
2,3,Rex Chapman,SG,6-4,185,1967-10-05,US,11,Kentucky,2000,PHO
3,43,Ben Davis,PF,6-9,240,1972-12-26,US,3,"Kansas, Arizona",2000,PHO
4,11,Todd Day,SG,6-6,188,1970-01-07,US,6,Arkansas,2000,PHO

## POR

In [62]:
season = 2000
appended_data_POR = []

while season <= 2021:
    df_POR = get_roster('POR', season)
    df_POR['Season'] = season
    df_POR['Team'] = 'POR'
    appended_data_POR.append(df_POR)
    season = season + 1
appended_data_POR = pd.concat(appended_data_POR)

In [63]:
POR_df_all = appended_data_POR.copy()
POR_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,50,Greg Anthony,PG,6-0,176,1967-11-15,US,8,"University of Portland, UNLV",2000,POR
1,2,Stacey Augmon,SG,6-8,205,1968-08-01,US,8,UNLV,2000,POR
2,44,Brian Grant,PF,6-9,254,1972-03-05,US,5,Xavier,2000,POR
3,14,Gary Grant,PG,6-3,185,1965-04-21,US,11,Michigan,2000,POR
4,34,Antonio Harvey,PF,6-11,225,1970-07-06,US,4,"Southern Illinois, Georgia, Pfeiffer University",2000,POR

## SAS

In [64]:
season = 2000
appended_data_SAS = []

while season <= 2021:
    df_SAS = get_roster('SAS', season)
    df_SAS['Season'] = season
    df_SAS['Team'] = 'SAS'
    appended_data_SAS.append(df_SAS)
    season = season + 1
appended_data_SAS = pd.concat(appended_data_SAS)

In [65]:
SAS_df_all = appended_data_SAS.copy()
SAS_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,52,Chucky Brown,PF,6-7,214,1968-02-29,US,10,NC State,2000,SAS
1,33,Antonio Daniels,SG,6-4,195,1975-03-19,US,2,Bowling Green,2000,SAS
2,5,Derrick Dial,SG,6-4,184,1975-12-20,US,R,Eastern Michigan,2000,SAS
3,21,Tim Duncan,PF,6-11,250,1976-04-25,VI,2,Wake Forest,2000,SAS
4,17,Mario Elie,SF,6-5,210,1963-11-26,US,9,American International College,2000,SAS

## SAC

In [66]:
season = 2000
appended_data_SAC = []

while season <= 2021:
    df_SAC = get_roster('SAC', season)
    df_SAC['Season'] = season
    df_SAC['Team'] = 'SAC'
    appended_data_SAC.append(df_SAC)
    season = season + 1
appended_data_SAC = pd.concat(appended_data_SAC)

In [67]:
SAC_df_all = appended_data_SAC.copy()
SAC_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,25,Nick Anderson,SG,6-6,205,1968-01-20,US,10,Illinois,2000,SAC
1,20,Jon Barry,SG,6-4,195,1969-07-25,US,7,"University of the Pacific, Georgia Tech",2000,SAC
2,23,Tyrone Corbin,SF,6-6,210,1962-12-31,US,14,DePaul,2000,SAC
3,0,Tony Delk,PG,6-1,189,1974-01-28,US,3,Kentucky,2000,SAC
4,21,Vlade Divac,C,7-1,243,1968-02-03,RS,10,NaN,2000,SAC

## TOR

In [68]:
season = 2000
appended_data_TOR = []

while season <= 2021:
    df_TOR = get_roster('TOR', season)
    df_TOR['Season'] = season
    df_TOR['Team'] = 'TOR'
    appended_data_TOR.append(df_TOR)
    season = season + 1
appended_data_TOR = pd.concat(appended_data_TOR)

In [69]:
TOR_df_all = appended_data_TOR.copy()
TOR_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,14,Muggsy Bogues,PG,5-3,136,1965-01-09,US,12,Wake Forest,2000,TOR
1,7,Dee Brown,PG,6-1,160,1968-11-29,US,9,Jacksonville University,2000,TOR
2,15,Vince Carter,SF,6-6,220,1977-01-26,US,1,UNC,2000,TOR
3,13,Doug Christie,SG,6-6,200,1970-05-09,US,7,Pepperdine,2000,TOR
4,30,Dell Curry,SG,6-4,190,1964-06-25,US,13,Virginia Tech,2000,TOR

## UTA

In [70]:
season = 2000
appended_data_UTA = []

while season <= 2021:
    df_UTA = get_roster('UTA', season)
    df_UTA['Season'] = season
    df_UTA['Team'] = 'UTA'
    appended_data_UTA.append(df_UTA)
    season = season + 1
appended_data_UTA = pd.concat(appended_data_UTA)

In [71]:
UTA_df_all = appended_data_UTA.copy()
UTA_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,23,Pete Chilcutt,PF,6-10,230,1968-09-14,US,8,UNC,2000,UTA
1,10,Howard Eisley,PG,6-2,177,1972-12-04,US,5,Boston College,2000,UTA
2,5,Armen Gilliam,PF,6-9,230,1964-05-28,US,12,UNLV,2000,UTA
3,14,Jeff Hornacek,SG,6-3,190,1963-05-03,US,13,Iowa State,2000,UTA
4,31,Adam Keefe,C,6-9,230,1970-02-22,US,7,Stanford,2000,UTA

## WAS

In [72]:
season = 2000
appended_data_WAS = []

while season <= 2021:
    df_WAS = get_roster('WAS', season)
    df_WAS['Season'] = season
    df_WAS['Team'] = 'WAS'
    appended_data_WAS.append(df_WAS)
    season = season + 1
appended_data_WAS = pd.concat(appended_data_WAS)

In [73]:
WAS_df_all = appended_data_WAS.copy()
WAS_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,8,Isaac Austin,C,6-10,255,1969-08-18,US,6,Arizona State,2000,WAS
1,52,Calvin Booth,C,6-11,230,1976-05-07,US,R,Penn State,2000,WAS
2,32,Richard Hamilton,SG,6-6,185,1978-02-14,US,R,UConn,2000,WAS
3,5,Juwan Howard,PF,6-9,240,1973-02-07,US,5,Michigan,2000,WAS
4,10,Reggie Jordan,PG,6-4,195,1968-01-26,US,5,New Mexico State,2000,WAS

## MASter DF

In [74]:
team_dfs = [ATL_df_all, BOS_df_all, BRK_df_all, CHI_df_all, CHO_df_all, CLE_df_all, DEN_df_all,
           DET_df_all, GSW_df_all, PHI_df_all, HOU_df_all, IND_df_all, LAC_df_all, LAL_df_all,
           MEM_df_all, MIA_df_all, MIL_df_all, MIN_df_all, NOP_df_all, NYK_df_all, OKC_df_all,
           ORL_df_all, PHO_df_all, POR_df_all, SAC_df_all, SAS_df_all, TOR_df_all, UTA_df_all,
           WAS_df_all]

In [75]:
nba_all = pd.concat(team_dfs)
nba_all.shape

(10320, 11)

In [76]:
nba_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,10,Drew Barry,PG,6-5,191,1973-02-17,US,2,Georgia Tech,2000,ATL
1,3,Cal Bowdler,SF,6-10,245,1977-03-31,US,R,Old Dominion,2000,ATL
2,12,Bimbo Coles,PG,6-1,180,1968-04-22,US,9,Virginia Tech,2000,ATL
3,4,Chris Crawford,PF,6-9,235,1975-05-13,US,2,Marquette,2000,ATL
4,20,LaPhonso Ellis,PF,6-8,240,1970-05-05,US,7,Notre Dame,2000,ATL

In [77]:
nba_all['NATIONALITY'].value_counts().to_frame()

    NATIONALITY
US         8422
CA          136
FR          113
ES          103
BR           89
..          ...
KR            2
TW            2
GH            1
GY            1
LU            1

[76 rows x 1 columns]

In [85]:
BOS_df_all.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,season
0,7,Kenny Anderson,PG,6-0,168,1970-10-09,US,8,Georgia Tech,2000
1,11,Dana Barros,PG,5-11,163,1967-04-13,US,10,Boston College,2000
2,4,Tony Battie,C,6-11,230,1976-02-11,US,2,Texas Tech,2000
3,40,Calbert Cheaney,SG,6-7,209,1971-07-17,US,6,Indiana,2000
4,29,Pervis Ellison,C,6-9,210,1967-04-03,US,9,Louisville,2000

In [92]:
BOS_df_2000 = BOS_df_all[BOS_df_all['season'] == 2000]
BOS_df_2001 = BOS_df_all[BOS_df_all['season'] == 2001]
BOS_df_2002 = BOS_df_all[BOS_df_all['season'] == 2002]
BOS_df_2003 = BOS_df_all[BOS_df_all['season'] == 2003]
BOS_df_2004 = BOS_df_all[BOS_df_all['season'] == 2004]
BOS_df_2005 = BOS_df_all[BOS_df_all['season'] == 2005]
BOS_df_2006 = BOS_df_all[BOS_df_all['season'] == 2006]
BOS_df_2007 = BOS_df_all[BOS_df_all['season'] == 2007]
BOS_df_2008 = BOS_df_all[BOS_df_all['season'] == 2008]
BOS_df_2009 = BOS_df_all[BOS_df_all['season'] == 2009]
BOS_df_2010 = BOS_df_all[BOS_df_all['season'] == 2010]
BOS_df_2011 = BOS_df_all[BOS_df_all['season'] == 2011]
BOS_df_2012 = BOS_df_all[BOS_df_all['season'] == 2012]
BOS_df_2013 = BOS_df_all[BOS_df_all['season'] == 2013]
BOS_df_2014 = BOS_df_all[BOS_df_all['season'] == 2014]
BOS_df_2015 = BOS_df_all[BOS_df_all['season'] == 2015]
BOS_df_2016 = BOS_df_all[BOS_df_all['season'] == 2016]
BOS_df_2017 = BOS_df_all[BOS_df_all['season'] == 2017]
BOS_df_2018 = BOS_df_all[BOS_df_all['season'] == 2018]
BOS_df_2019 = BOS_df_all[BOS_df_all['season'] == 2019]
BOS_df_2020 = BOS_df_all[BOS_df_all['season'] == 2020]
BOS_df_2021 = BOS_df_all[BOS_df_all['season'] == 2021]

In [135]:
BOS_df_2000_players = BOS_df_2000['PLAYER'].to_list()
BOS_df_2001_players = BOS_df_2001['PLAYER'].to_list()
BOS_df_2002_players = BOS_df_2002['PLAYER'].to_list()
BOS_df_2003_players = BOS_df_2003['PLAYER'].to_list()
BOS_df_2004_players = BOS_df_2004['PLAYER'].to_list()
BOS_df_2005_players = BOS_df_2005['PLAYER'].to_list()

BOS_df_2006_players = BOS_df_2006['PLAYER'].to_list()
BOS_df_2007_players = BOS_df_2007['PLAYER'].to_list()
BOS_df_2008_players = BOS_df_2008['PLAYER'].to_list()
BOS_df_2009_players = BOS_df_2009['PLAYER'].to_list()
BOS_df_2010_players = BOS_df_2010['PLAYER'].to_list()
BOS_df_2011_players = BOS_df_2011['PLAYER'].to_list()

BOS_df_2012_players = BOS_df_2012['PLAYER'].to_list()
BOS_df_2013_players = BOS_df_2013['PLAYER'].to_list()
BOS_df_2014_players = BOS_df_2014['PLAYER'].to_list()
BOS_df_2015_players = BOS_df_2015['PLAYER'].to_list()
BOS_df_2016_players = BOS_df_2016['PLAYER'].to_list()
BOS_df_2017_players = BOS_df_2017['PLAYER'].to_list()

BOS_df_2018_players = BOS_df_2018['PLAYER'].to_list()
BOS_df_2019_players = BOS_df_2019['PLAYER'].to_list()
BOS_df_2020_players = BOS_df_2020['PLAYER'].to_list()
BOS_df_2021_players = BOS_df_2021['PLAYER'].to_list()

## BOS 2000 Season

In [136]:
BOS_2000_gamelog = []



for p in BOS_df_2000_players:
    player_log = get_game_logs(str(p), SEASON_2000_START, SEASON_2000_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2000_gamelog.append(player_log)
BOS_2000_gamelog = pd.concat(BOS_2000_gamelog)    
BOS_2000_gamelogs = BOS_2000_gamelog.copy()
BOS_2000_gamelogs.head()

You searched for "Kenny Anderson"
10 results found.
0: Kenny Anderson
1: Alan Anderson
2: Dan Anderson
3: Dan Anderson
4: Derek Anderson
5: Eric Anderson
6: Kim Anderson
7: Kyle Anderson
8: Ron Anderson
9: Ryan Anderson
Pick one: 0
Results for Kenny Anderson:

You searched for "Dana Barros"
3 results found.
0: Dana Barros
1: Earl Barron
2: Don Carlos
Pick one: 0
Results for Dana Barros:

You searched for "Tony Battie"
8 results found.
0: Tony Battie
1: John Battle
2: Kenny Battle
3: Tony Harris
4: Tony White
5: Tony Allen
6: Tony Bobbitt
7: Tony Bennett
Pick one: 0
Results for Tony Battie:

You searched for "Calbert Cheaney"
1 result found.
Calbert Cheaney
Results for Calbert Cheaney:

You searched for "Pervis Ellison"
1 result found.
Pervis Ellison
Results for Pervis Ellison:

You searched for "Danny Fortson"
1 result found.
Danny Fortson
Results for Danny Fortson:

You searched for "Adrian Griffin"
2 results found.
0: Adrian Griffin
1: Eddie Griffin
Pick one: 0
Results for Adrian Griffin:

You searched for "Walter McCarty"
1 result found.
Walter McCarty
Results for Walter McCarty:

You searched for "Doug Overton"
1 result found.
Doug Overton
Results for Doug Overton:

You searched for "Paul Pierce"
5 results found.
0: Paul Pierce
1: Paul George
2: Paul Pressey
3: Paul Reed
4: Paul Zipser
Pick one: 0
Results for Paul Pierce:

You searched for "Vitaly Potapenko"
1 result found.
Vitaly Potapenko
Results for Vitaly Potapenko:

You searched for "Jamel Thomas"
9 results found.
0: Jamel Thomas
1: James Thomas
2: Carl Thomas
3: Jim Thomas
4: Joe Thomas
5: John Thomas
6: Lance Thomas
7: Matt Thomas
8: Tim Thomas
Pick one: 0
Results for Jamel Thomas:

You searched for "Wayne Turner"
9 results found.
0: Wayne Turner
1: Wayne Cooper
2: Andre Turner
3: Evan Turner
4: Gary Turner
5: Jack Turner
6: Jack Turner
7: John Turner
8: Myles Turner
Pick one: 0
Results for Wayne Turner:

You searched for "Antoine Walker"
2 results found.
0: Antoine Walker
1: Antoine Carr
Pick one: 0
Results for Antoine Walker:

You searched for "Eric Williams"
56 results found.
0: Eric Williams
1: Eric McWilliams
2: Art Williams
3: Bernie Williams
4: Deron Williams
5: Derrick Williams
6: Earl Williams
7: Herb Williams
8: Kenrich Williams
9: Kevin Williams
10: Ray Williams
11: Rob Williams
12: Ron Williams
13: Troy Williams
14: Patrick Williams
15: Aaron Williams
16: Al Williams
17: Alan Williams
18: Alvin Williams
19: Bob Williams
20: Buck Williams
21: C.J. Williams
22: Chuck Williams
23: Cliff Williams
24: Corey Williams
25: Duck Williams
26: Elliot Williams
27: Fly Williams
28: Frank Williams
29: Gene Williams
30: Grant Williams
31: Gus Williams
32: Guy Williams
33: Hank Williams
34: Jay Williams
35: Jerome Williams
36: John Williams
37: Kenny Williams
38: Lou Williams
39: Marvin Williams
40: Matt Williams
41: Mike Williams
42: Milt Williams
43: Mo Williams
44: Nate Williams
45: Pete Williams
46: Reggie Williams
47: Reggie Williams
48: Rickey Williams
49: Sam Williams
50: Sam Williams
51: Sean Williams
52: Sly Williams
53: Travis Williams
54: Walt Williams
55: Ward Williams
Pick one: 0
Results for Eric Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,1999-11-02,29-024,BOS,AWAY,TOR,W (+13),1,29:53,2,8,...,3,3,2,0,2,5,8,4.2,+20,Kenny Anderson
1,1999-11-03,29-025,BOS,HOME,WAS,W (+11),1,30:23,9,15,...,1,10,2,0,1,6,19,18.0,+4,Kenny Anderson
2,1999-11-05,29-027,BOS,HOME,CHH,W (+3),1,32:06,6,13,...,2,3,2,0,2,3,24,18.0,+5,Kenny Anderson
3,1999-11-06,29-028,BOS,AWAY,IND,L (-7),1,36:37,6,11,...,2,5,0,0,0,3,20,17.2,-1,Kenny Anderson
4,1999-11-10,29-032,BOS,HOME,DET,L (-18),1,11:18,1,4,...,3,1,1,0,2,2,2,-0.2,-14,Kenny Anderson

In [137]:
BOS_2000_gamelogs['GAME_SCORE'] = BOS_2000_gamelogs['GAME_SCORE'].astype(float)

In [141]:
BOS_2000_games = BOS_2000_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2000_games

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
57,2000-03-13,22-152,BOS,AWAY,DET,L (-9),1,37:45,11,15,...,7,1,4,0,3,3,38,33.7,+1,Paul Pierce
61,2000-03-08,23-209,BOS,HOME,MIL,W (+11),1,44:46,11,20,...,19,10,4,0,4,3,30,33.5,+17,Antoine Walker
30,2000-01-17,22-096,BOS,AWAY,WAS,W (+4),1,32:18,12,16,...,3,2,5,0,1,5,34,32.3,+20,Paul Pierce
21,1999-12-15,23-125,BOS,HOME,UTA,L (-10),1,44:03,13,23,...,12,4,1,2,4,4,36,29.5,-8,Antoine Walker
79,2000-04-10,23-242,BOS,HOME,ATL,W (+5),1,39:18,14,23,...,8,6,1,0,1,2,34,29.3,+4,Antoine Walker
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24,1999-12-20,23-312,BOS,HOME,LAL,L (-9),1,17:15,1,6,...,5,0,1,0,3,4,2,-3.1,-14,Tony Battie
31,2000-01-08,24-293,BOS,AWAY,CHI,L (-17),1,21:11,1,5,...,2,0,0,0,2,2,2,-3.3,-17,Vitaly Potapenko
67,2000-03-17,28-244,BOS,AWAY,ATL,W (+24),1,18:17,1,6,...,2,1,0,0,2,2,2,-3.3,+7,Calbert Cheaney
77,2000-04-07,25-017,BOS,HOME,PHI,L (-5),1,12:37,1,7,...,2,0,0,0,1,3,2,-3.7,-9,Vitaly Potapenko
0,1999-11-02,24-226,BOS,AWAY,TOR,W (+13),1,22:43,1,4,...,6,0,0,1,4,6,2,-4.3,-9,Vitaly Potapenko

## BOS 2001 Season

In [139]:
BOS_2001_gamelog = []



for p in BOS_df_2001_players:
    player_log = get_game_logs(str(p), SEASON_2001_START, SEASON_2001_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2001_gamelog.append(player_log)
BOS_2001_gamelog = pd.concat(BOS_2001_gamelog)    
BOS_2001_gamelogs = BOS_2001_gamelog.copy()
BOS_2001_gamelogs.head()

You searched for "Kenny Anderson"
10 results found.
0: Kenny Anderson
1: Alan Anderson
2: Dan Anderson
3: Dan Anderson
4: Derek Anderson
5: Eric Anderson
6: Kim Anderson
7: Kyle Anderson
8: Ron Anderson
9: Ryan Anderson
Pick one: 0
Results for Kenny Anderson:

You searched for "Tony Battie"
8 results found.
0: Tony Battie
1: John Battle
2: Kenny Battle
3: Tony Harris
4: Tony White
5: Tony Allen
6: Tony Bobbitt
7: Tony Bennett
Pick one: 0
Results for Tony Battie:

You searched for "Mark Blount"
7 results found.
0: Mark Blount
1: Mark Bryant
2: Corie Blount
3: Markel Brown
4: Mark Jones
5: Mark Jones
6: Mark Sibley
Pick one: 0
Results for Mark Blount:

You searched for "Randy Brown"
18 results found.
0: Randy Brown
1: Andre Brown
2: Larry Brown
3: Tony Brown
4: Randy Allen
5: Randy Breuer
6: Bobby Brown
7: Fred Brown
8: Gerald Brown
9: Raymond Brown
10: Rickey Brown
11: Roger Brown
12: Roger Brown
13: Stan Brown
14: Troy Brown
15: Randy Foye
16: Randy Stoll
17: Randy Woods
Pick one: 0
Results for Randy Brown:

You searched for "Rick Brunson"
6 results found.
0: Rick Brunson
1: Ricky Blanton
2: Nick Johnson
3: Rich Johnson
4: Rick Wilson
5: Rickey Brown
Pick one: 0
Results for Rick Brunson:

You searched for "Chris Carr"
21 results found.
0: Chris Carr
1: Chris Babb
2: Cory Carr
3: Chris Ford
4: Chris Garner
5: Chris Harris
6: Chris Paul
7: Chris Taft
8: Chris Bosh
9: Chris Herren
10: Chris Jent
11: Chris Kaman
12: Chris King
13: Chris McCray
14: Chris Mihm
15: Chris Morris
16: Chris Munk
17: Chris Porter
18: Chris Richard
19: Chris Welp
20: Chris Silva
Pick one: 0
Results for Chris Carr:

You searched for "Adrian Griffin"
2 results found.
0: Adrian Griffin
1: Eddie Griffin
Pick one: 0
Results for Adrian Griffin:

You searched for "Chris Herren"
14 results found.
0: Chris Herren
1: Chris Harris
2: Chris Andersen
3: Chris Carr
4: Chris Garner
5: Chris Hunter
6: Chris Morris
7: Chris Porter
8: Chris Webber
9: Chris Engler
10: Chris Jent
11: Chris Owens
12: Curtis Perry
13: Chris Boucher
Pick one: 0
Results for Chris Herren:

You searched for "Walter McCarty"
1 result found.
Walter McCarty
Results for Walter McCarty:

You searched for "Jérôme Moïso"
5 results found.
0: Jerome Moiso
1: Jerome Dyson
2: Jerome Robinson
3: Jerome Harmon
4: Jerome James
Pick one: 0
Results for Jerome Moiso:

You searched for "Doug Overton"
1 result found.
Doug Overton
Results for Doug Overton:

You searched for "Milt Palacio"
1 result found.
Milt Palacio
Results for Milt Palacio:

You searched for "Paul Pierce"
5 results found.
0: Paul Pierce
1: Paul George
2: Paul Pressey
3: Paul Reed
4: Paul Zipser
Pick one: 0
Results for Paul Pierce:

You searched for "Vitaly Potapenko"
1 result found.
Vitaly Potapenko
Results for Vitaly Potapenko:

You searched for "Bryant Stith"
1 result found.
Bryant Stith
Results for Bryant Stith:

You searched for "Antoine Walker"
2 results found.
0: Antoine Walker
1: Antoine Carr
Pick one: 0
Results for Antoine Walker:

You searched for "Eric Williams"
56 results found.
0: Eric Williams
1: Eric McWilliams
2: Art Williams
3: Bernie Williams
4: Deron Williams
5: Derrick Williams
6: Earl Williams
7: Herb Williams
8: Kenrich Williams
9: Kevin Williams
10: Ray Williams
11: Rob Williams
12: Ron Williams
13: Troy Williams
14: Patrick Williams
15: Aaron Williams
16: Al Williams
17: Alan Williams
18: Alvin Williams
19: Bob Williams
20: Buck Williams
21: C.J. Williams
22: Chuck Williams
23: Cliff Williams
24: Corey Williams
25: Duck Williams
26: Elliot Williams
27: Fly Williams
28: Frank Williams
29: Gene Williams
30: Grant Williams
31: Gus Williams
32: Guy Williams
33: Hank Williams
34: Jay Williams
35: Jerome Williams
36: John Williams
37: Kenny Williams
38: Lou Williams
39: Marvin Williams
40: Matt Williams
41: Mike Williams
42: Milt Williams
43: Mo Williams
44: Nate Williams
45: Pete Williams
46: Reggie Williams
47: Reggie Williams
48: Rickey Williams
49: Sam Williams
50: Sam Williams
51: Sean Williams
52: Sly Williams
53: Travis Williams
54: Walt Williams
55: Ward Williams
Pick one: 0
Results for Eric Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2000-11-01,30-023,BOS,HOME,DET,W (+20),1,35:10,2,9,...,3,5,4,0,2,1,8,8.5,+21,Kenny Anderson
1,2000-11-03,30-025,BOS,HOME,TOR,W (+2),1,32:33,3,12,...,2,7,3,0,1,2,11,10.1,+12,Kenny Anderson
2,2000-11-04,30-026,BOS,AWAY,CLE,L (-2),1,33:15,3,10,...,2,6,2,0,2,3,11,9.2,-9,Kenny Anderson
3,2000-12-10,30-062,BOS,HOME,DEN,W (+2),1,34:00,5,14,...,4,4,0,0,2,3,13,6.4,+4,Kenny Anderson
5,2000-12-13,30-065,BOS,HOME,CHI,L (-18),1,23:12,2,5,...,3,1,2,0,1,1,4,3.5,-18,Kenny Anderson

In [140]:
BOS_2001_gamelogs['GAME_SCORE'] = BOS_2001_gamelogs['GAME_SCORE'].astype(float)
BOS_2001_games = BOS_2001_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2001_games

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
39,2001-01-17,24-158,BOS,AWAY,SAC,L (-5),1,45:10,16,29,...,5,13,4,1,5,3,47,40.6,-5,Antoine Walker
47,2001-02-02,23-112,BOS,AWAY,DET,W (+7),1,44:03,14,19,...,7,2,2,2,3,3,40,35.8,+10,Paul Pierce
66,2001-03-13,23-151,BOS,AWAY,LAL,L (-5),1,37:35,13,19,...,6,2,4,1,3,4,42,34.4,-19,Paul Pierce
38,2001-01-15,23-094,BOS,AWAY,MIN,W (+5),1,41:56,15,22,...,5,3,2,0,3,4,42,33.6,+12,Paul Pierce
49,2001-02-05,23-115,BOS,AWAY,TOR,L (-12),1,39:50,12,21,...,4,3,3,1,1,2,39,33.5,-6,Paul Pierce
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,2001-01-02,30-085,BOS,AWAY,ATL,L (-11),1,21:15,1,7,...,2,0,1,0,1,3,2,-2.7,-11,Kenny Anderson
6,2000-12-20,22-317,BOS,HOME,NJN,W (+13),1,19:35,0,4,...,1,1,0,0,1,3,1,-3.0,-2,Milt Palacio
21,2001-04-08,31-248,NJN,HOME,IND,L (-25),1,24:07,0,8,...,0,3,0,0,0,0,0,-3.5,-13,Doug Overton
63,2001-03-07,30-087,BOS,HOME,MIL,L (-7),1,10:35,0,2,...,2,0,0,0,2,4,0,-4.4,0,Bryant Stith
28,2001-01-23,25-054,BOS,HOME,ATL,W (+1),1,16:52,0,5,...,3,0,0,1,4,3,0,-6.3,0,Mark Blount

## BOS 2002 Season

In [142]:
BOS_2002_gamelog = []



for p in BOS_df_2002_players:
    player_log = get_game_logs(str(p), SEASON_2002_START, SEASON_2002_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2002_gamelog.append(player_log)
BOS_2002_gamelog = pd.concat(BOS_2002_gamelog)    
BOS_2002_gamelogs = BOS_2002_gamelog.copy()
BOS_2002_gamelogs.head()

You searched for "Kenny Anderson"
10 results found.
0: Kenny Anderson
1: Alan Anderson
2: Dan Anderson
3: Dan Anderson
4: Derek Anderson
5: Eric Anderson
6: Kim Anderson
7: Kyle Anderson
8: Ron Anderson
9: Ryan Anderson
Pick one: 0
Results for Kenny Anderson:

You searched for "Tony Battie"
8 results found.
0: Tony Battie
1: John Battle
2: Kenny Battle
3: Tony Harris
4: Tony White
5: Tony Allen
6: Tony Bobbitt
7: Tony Bennett
Pick one: 0
Results for Tony Battie:

You searched for "Mark Blount"
7 results found.
0: Mark Blount
1: Mark Bryant
2: Corie Blount
3: Markel Brown
4: Mark Jones
5: Mark Jones
6: Mark Sibley
Pick one: 0
Results for Mark Blount:

You searched for "Kedrick Brown"
2 results found.
0: Kedrick Brown
1: Derrick Brown
Pick one: 0
Results for Kedrick Brown:

You searched for "Randy Brown"
18 results found.
0: Randy Brown
1: Andre Brown
2: Larry Brown
3: Tony Brown
4: Randy Allen
5: Randy Breuer
6: Bobby Brown
7: Fred Brown
8: Gerald Brown
9: Raymond Brown
10: Rickey Brown
11: Roger Brown
12: Roger Brown
13: Stan Brown
14: Troy Brown
15: Randy Foye
16: Randy Stoll
17: Randy Woods
Pick one: 0
Results for Randy Brown:

You searched for "Tony Delk"
12 results found.
0: Tony Delk
1: Tony Snell
2: Tony Zeno
3: Tony Allen
4: Troy Bell
5: Don Dee
6: Tony Dumas
7: Tony Koski
8: Deng Adel
9: Sonny Dove
10: Tony Price
11: Tony White
Pick one: 0
Results for Tony Delk:

You searched for "Joseph Forte"
2 results found.
0: Joseph Forte
1: Jose Ortiz
Pick one: 0
Results for Joseph Forte:

You searched for "Joe Johnson"
40 results found.
0: Joe Johnson
1: John Johnson
2: Lee Johnson
3: Ron Johnson
4: Dave Johnson
5: Ed Johnson
6: Gus Johnson
7: James Johnson
8: Ken Johnson
9: Ken Johnson
10: Stew Johnson
11: Trey Johnson
12: Joe Binion
13: Joe Dolhon
14: Alize Johnson
15: Amir Johnson
16: Andy Johnson
17: Armon Johnson
18: Arnie Johnson
19: Avery Johnson
20: B.J. Johnson
21: Brice Johnson
22: Buck Johnson
23: Clay Johnson
24: Eddie Johnson
25: Eddie Johnson
26: Eric Johnson
27: George Johnson
28: George Johnson
29: George Johnson
30: Ivan Johnson
31: Neil Johnson
32: Nick Johnson
33: Ollie Johnson
34: Rich Johnson
35: Steve Johnson
36: Tyler Johnson
37: Nate Johnston
38: Jim Johnstone
39: Joe Colone
Pick one: 0
Results for Joe Johnson:

You searched for "Walter McCarty"
1 result found.
Walter McCarty
Results for Walter McCarty:

You searched for "Milt Palacio"
1 result found.
Milt Palacio
Results for Milt Palacio:

You searched for "Paul Pierce"
5 results found.
0: Paul Pierce
1: Paul George
2: Paul Pressey
3: Paul Reed
4: Paul Zipser
Pick one: 0
Results for Paul Pierce:

You searched for "Vitaly Potapenko"
1 result found.
Vitaly Potapenko
Results for Vitaly Potapenko:

You searched for "Rodney Rogers"
4 results found.
0: Rodney Rogers
1: Johnny Rogers
2: Roy Rogers
3: Rodney Monroe
Pick one: 0
Results for Rodney Rogers:

You searched for "Erick Strickland"
3 results found.
0: Erick Strickland
1: Mark Strickland
2: Rod Strickland
Pick one: 0
Results for Erick Strickland:

You searched for "Antoine Walker"
2 results found.
0: Antoine Walker
1: Antoine Carr
Pick one: 0
Results for Antoine Walker:

You searched for "Eric Williams"
56 results found.
0: Eric Williams
1: Eric McWilliams
2: Art Williams
3: Bernie Williams
4: Deron Williams
5: Derrick Williams
6: Earl Williams
7: Herb Williams
8: Kenrich Williams
9: Kevin Williams
10: Ray Williams
11: Rob Williams
12: Ron Williams
13: Troy Williams
14: Patrick Williams
15: Aaron Williams
16: Al Williams
17: Alan Williams
18: Alvin Williams
19: Bob Williams
20: Buck Williams
21: C.J. Williams
22: Chuck Williams
23: Cliff Williams
24: Corey Williams
25: Duck Williams
26: Elliot Williams
27: Fly Williams
28: Frank Williams
29: Gene Williams
30: Grant Williams
31: Gus Williams
32: Guy Williams
33: Hank Williams
34: Jay Williams
35: Jerome Williams
36: John Williams
37: Kenny Williams
38: Lou Williams
39: Marvin Williams
40: Matt Williams
41: Mike Williams
42: Milt Williams
43: Mo Williams
44: Nate Williams
45: Pete Williams
46: Reggie Williams
47: Reggie Williams
48: Rickey Williams
49: Sam Williams
50: Sam Williams
51: Sean Williams
52: Sly Williams
53: Travis Williams
54: Walt Williams
55: Ward Williams
Pick one: 0
Results for Eric Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2001-10-30,31-021,BOS,AWAY,CLE,W (+19),1,22:04,2,4,...,7,6,2,0,1,1,7,11.9,+29,Kenny Anderson
1,2001-10-31,31-022,BOS,HOME,NJN,L (-3),1,36:55,4,8,...,6,11,5,0,1,3,8,15.9,+2,Kenny Anderson
2,2001-11-02,31-024,BOS,HOME,CHI,W (+14),1,30:53,3,10,...,2,7,1,0,2,2,9,6.5,+12,Kenny Anderson
3,2001-11-03,31-025,BOS,AWAY,MIL,L (-6),1,33:19,1,4,...,2,3,0,0,1,6,4,0.5,-12,Kenny Anderson
4,2001-11-07,31-029,BOS,HOME,WAS,W (+9),1,31:08,7,14,...,3,2,1,0,3,2,17,9.9,+6,Kenny Anderson

In [143]:
BOS_2002_gamelogs['GAME_SCORE'] = BOS_2002_gamelogs['GAME_SCORE'].astype(float)
BOS_2002_games = BOS_2002_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2002_games

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
4,2001-11-07,25-087,BOS,HOME,WAS,W (+9),1,48:00,11,15,...,10,9,1,1,1,4,31,34.5,+9,Antoine Walker
13,2001-12-01,24-049,BOS,AWAY,NJN,W (+7),1,48:44,13,34,...,12,1,3,2,4,2,48,33.7,+14,Paul Pierce
18,2001-12-11,25-121,BOS,AWAY,NYK,W (+9),1,43:48,14,33,...,9,9,3,0,2,3,42,33.7,+16,Antoine Walker
38,2002-01-18,24-097,BOS,HOME,HOU,L (-3),1,44:08,13,27,...,11,6,2,0,0,1,38,33.0,+4,Paul Pierce
23,2001-12-19,25-129,BOS,HOME,CLE,W (+6),1,41:26,12,18,...,10,9,3,0,5,0,33,32.9,+1,Antoine Walker
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,2002-02-13,31-127,BOS,AWAY,GSW,L (-17),1,17:51,1,9,...,1,2,1,0,1,5,2,-3.8,-12,Kenny Anderson
68,2002-03-18,28-049,BOS,HOME,POR,L (-9),1,22:22,1,7,...,0,1,2,0,4,1,2,-4.2,-5,Tony Delk
38,2002-01-18,20-203,BOS,HOME,HOU,L (-3),1,18:25,0,4,...,1,0,0,0,1,2,0,-4.3,+4,Joe Johnson
71,2002-03-29,29-255,BOS,HOME,DAL,L (-26),1,19:05,0,4,...,3,0,0,0,2,1,0,-4.3,-13,Eric Williams
42,2002-01-31,29-198,BOS,AWAY,TOR,L (-5),1,27:33,0,5,...,2,0,0,0,2,3,0,-5.7,+10,Eric Williams

## BOS 2003 Season

In [144]:
BOS_2003_gamelog = []



for p in BOS_df_2003_players:
    player_log = get_game_logs(str(p), SEASON_2003_START, SEASON_2003_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2003_gamelog.append(player_log)
BOS_2003_gamelog = pd.concat(BOS_2003_gamelog)    
BOS_2003_gamelogs = BOS_2003_gamelog.copy()
BOS_2003_gamelogs.head()

You searched for "Vin Baker"
8 results found.
0: Vin Baker
1: Ron Baker
2: Von Wafer
3: Norm Baker
4: Tom Barker
5: Devin Booker
6: Thon Maker
7: Zan Tabak
Pick one: 0
Results for Vin Baker:

You searched for "Tony Battie"
8 results found.
0: Tony Battie
1: John Battle
2: Kenny Battle
3: Tony Harris
4: Tony White
5: Tony Allen
6: Tony Bobbitt
7: Tony Bennett
Pick one: 0
Results for Tony Battie:

You searched for "Mark Blount"
7 results found.
0: Mark Blount
1: Mark Bryant
2: Corie Blount
3: Markel Brown
4: Mark Jones
5: Mark Jones
6: Mark Sibley
Pick one: 0
Results for Mark Blount:

You searched for "J.R. Bremer"
3 results found.
0: J.R. Bremer
1: Jim Brewer
2: J.R. Reid
Pick one: 0
Results for J.R. Bremer:

You searched for "Kedrick Brown"
2 results found.
0: Kedrick Brown
1: Derrick Brown
Pick one: 0
Results for Kedrick Brown:

You searched for "Mark Bryant"
11 results found.
0: Mark Bryant
1: Mark Blount
2: Mark Bradtke
3: Em Bryant
4: Joe Bryant
5: Kobe Bryant
6: Gary Grant
7: Markel Brown
8: Mark Eaton
9: Mark Workman
10: Mark Sibley
Pick one: 0
Results for Mark Bryant:

You searched for "Bimbo Coles"
1 result found.
Bimbo Coles
Results for Bimbo Coles:

You searched for "Tony Delk"
12 results found.
0: Tony Delk
1: Tony Snell
2: Tony Zeno
3: Tony Allen
4: Troy Bell
5: Don Dee
6: Tony Dumas
7: Tony Koski
8: Deng Adel
9: Sonny Dove
10: Tony Price
11: Tony White
Pick one: 0
Results for Tony Delk:

You searched for "Grant Long"
6 results found.
0: Grant Long
1: Art Long
2: Grant Hill
3: John Long
4: Paul Long
5: Shawn Long
Pick one: 0
Results for Grant Long:

You searched for "Walter McCarty"
1 result found.
Walter McCarty
Results for Walter McCarty:

You searched for "Mikki Moore"
2 results found.
0: Mikki Moore
1: Jackie Moore
Pick one: 0
Results for Mikki Moore:

You searched for "Paul Pierce"
5 results found.
0: Paul Pierce
1: Paul George
2: Paul Pressey
3: Paul Reed
4: Paul Zipser
Pick one: 0
Results for Paul Pierce:

You searched for "Bruno Šundov"
1 result found.
Bruno Sundov
Results for Bruno Sundov:

You searched for "Antoine Walker"
2 results found.
0: Antoine Walker
1: Antoine Carr
Pick one: 0
Results for Antoine Walker:

You searched for "Eric Williams"
56 results found.
0: Eric Williams
1: Eric McWilliams
2: Art Williams
3: Bernie Williams
4: Deron Williams
5: Derrick Williams
6: Earl Williams
7: Herb Williams
8: Kenrich Williams
9: Kevin Williams
10: Ray Williams
11: Rob Williams
12: Ron Williams
13: Troy Williams
14: Patrick Williams
15: Aaron Williams
16: Al Williams
17: Alan Williams
18: Alvin Williams
19: Bob Williams
20: Buck Williams
21: C.J. Williams
22: Chuck Williams
23: Cliff Williams
24: Corey Williams
25: Duck Williams
26: Elliot Williams
27: Fly Williams
28: Frank Williams
29: Gene Williams
30: Grant Williams
31: Gus Williams
32: Guy Williams
33: Hank Williams
34: Jay Williams
35: Jerome Williams
36: John Williams
37: Kenny Williams
38: Lou Williams
39: Marvin Williams
40: Matt Williams
41: Mike Williams
42: Milt Williams
43: Mo Williams
44: Nate Williams
45: Pete Williams
46: Reggie Williams
47: Reggie Williams
48: Rickey Williams
49: Sam Williams
50: Sam Williams
51: Sean Williams
52: Sly Williams
53: Travis Williams
54: Walt Williams
55: Ward Williams
Pick one: 0
Results for Eric Williams:

You searched for "Shammond Williams"
2 results found.
0: Shammond Williams
1: Shawne Williams
Pick one: 0
Results for Shammond Williams:

You searched for "Rubén Wolkowyski"
1 result found.
Ruben Wolkowyski
Results for Ruben Wolkowyski:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
21,2002-12-11,31-018,BOS,HOME,PHO,L (-9),1,32:03,3,7,...,8,0,0,1,2,5,8,5.0,-9,Vin Baker
31,2002-12-31,31-038,BOS,HOME,MEM,W (+7),1,22:57,2,5,...,7,0,1,0,1,2,6,5.8,-12,Vin Baker
32,2003-01-03,31-041,BOS,HOME,POR,L (-5),1,31:11,3,3,...,7,1,2,2,3,4,6,7.5,-3,Vin Baker
38,2003-01-15,31-053,BOS,HOME,ATL,W (+20),1,25:24,2,2,...,5,1,0,0,0,5,5,5.4,+12,Vin Baker
39,2003-01-17,31-055,BOS,HOME,IND,W (+5),1,22:57,2,4,...,6,0,1,1,0,3,4,4.7,+10,Vin Baker

In [145]:
BOS_2003_gamelogs['GAME_SCORE'] = BOS_2003_gamelogs['GAME_SCORE'].astype(float)
BOS_2003_games = BOS_2003_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2003_games

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
2,2002-11-02,25-020,BOS,AWAY,NYK,W (+10),1,40:00,12,22,...,6,3,2,2,3,4,46,38.5,+22,Paul Pierce
44,2003-01-24,25-103,BOS,HOME,DEN,W (+19),1,41:19,16,27,...,10,2,3,0,3,1,45,37.3,+20,Paul Pierce
6,2002-11-11,25-029,BOS,HOME,UTA,W (+17),1,34:48,11,22,...,7,9,3,3,2,2,35,35.1,+34,Paul Pierce
26,2002-12-20,25-068,BOS,HOME,MIN,W (+9),1,44:44,11,25,...,14,4,4,1,6,1,42,33.8,+9,Paul Pierce
79,2003-04-06,25-175,BOS,HOME,WAS,L (-1),1,50:15,10,22,...,9,6,2,1,3,3,36,29.6,+4,Paul Pierce
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,2003-03-18,22-180,BOS,HOME,NJN,L (-13),1,24:08,0,7,...,2,3,0,0,1,4,1,-4.2,-12,J.R. Bremer
79,2003-04-06,22-199,BOS,HOME,WAS,L (-1),1,19:17,0,5,...,1,1,0,0,2,0,0,-4.5,-8,J.R. Bremer
27,2002-12-21,28-327,BOS,AWAY,CLE,W (+7),1,29:27,1,9,...,2,0,0,0,0,3,2,-4.5,+17,Tony Delk
47,2003-01-31,26-172,BOS,HOME,DET,L (-52),1,29:30,1,15,...,3,0,1,0,2,0,6,-5.4,-30,Antoine Walker
12,2002-11-23,26-358,DEN,AWAY,PHO,W (+1),1,15:59,1,5,...,4,0,0,0,4,5,2,-5.5,-1,Mark Blount

## BOS 2004 Season

In [146]:
BOS_2004_gamelog = []



for p in BOS_df_2004_players:
    player_log = get_game_logs(str(p), SEASON_2004_START, SEASON_2004_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2004_gamelog.append(player_log)
BOS_2004_gamelog = pd.concat(BOS_2004_gamelog)    
BOS_2004_gamelogs = BOS_2004_gamelog.copy()
BOS_2004_gamelogs.head()

You searched for "Chucky Atkins"
1 result found.
Chucky Atkins
Results for Chucky Atkins:

You searched for "Vin Baker"
8 results found.
0: Vin Baker
1: Ron Baker
2: Von Wafer
3: Norm Baker
4: Tom Barker
5: Devin Booker
6: Thon Maker
7: Zan Tabak
Pick one: 0
Results for Vin Baker:

You searched for "Marcus Banks"
6 results found.
0: Marcus Banks
1: Marcus Brown
2: Marcus Camby
3: Marcus Landry
4: Marcus Paige
5: Marcus Smart
Pick one: 0
Results for Marcus Banks:

You searched for "Dana Barros"
3 results found.
0: Dana Barros
1: Earl Barron
2: Don Carlos
Pick one: 0
Results for Dana Barros:

You searched for "Tony Battie"
8 results found.
0: Tony Battie
1: John Battle
2: Kenny Battle
3: Tony Harris
4: Tony White
5: Tony Allen
6: Tony Bobbitt
7: Tony Bennett
Pick one: 0
Results for Tony Battie:

You searched for "Mark Blount"
7 results found.
0: Mark Blount
1: Mark Bryant
2: Corie Blount
3: Markel Brown
4: Mark Jones
5: Mark Jones
6: Mark Sibley
Pick one: 0
Results for Mark Blount:

You searched for "Kedrick Brown"
2 results found.
0: Kedrick Brown
1: Derrick Brown
Pick one: 0
Results for Kedrick Brown:

You searched for "Ricky Davis"
17 results found.
0: Ricky Davis
1: Mickey Davis
2: Mike Davis
3: Mike Davis
4: Bill Davis
5: Brian Davis
6: Harry Davis
7: Jim Davis
8: Mark Davis
9: Mark Davis
10: Ralph Davis
11: Red Davis
12: Ron Davis
13: Terry Davis
14: Ricky Marsh
15: Ricky Rubio
16: Ricky Grace
Pick one: 0
Results for Ricky Davis:

You searched for "Brandon Hunter"
1 result found.
Brandon Hunter
Results for Brandon Hunter:

You searched for "Mike James"
33 results found.
0: Mike James
1: Mike James
2: Mike Davis
3: Mike Davis
4: Mike Farmer
5: Mike Gale
6: Gene James
7: Tim James
8: Mike Niles
9: Mike Barr
10: Mike Evans
11: Mike Green
12: Mike Hall
13: Mike Harper
14: Mike Harris
15: Mike Jackson
16: Billy James
17: Damion James
18: Jake Jones
19: Mike Kearns
20: Mike Lewis
21: Mike Maloy
22: Mike McGee
23: Mike Sanders
24: Mike Smrek
25: Mike Tobey
26: Mike Wilks
27: Mike Bantom
28: Mike Bloom
29: Mike Bratz
30: Mike Novak
31: Mike Pratt
32: Mike Price
Pick one: 0
Results for Mike James:

You searched for "Jumaine Jones"
3 results found.
0: Jumaine Jones
1: Dwayne Jones
2: Jake Jones
Pick one: 0
Results for Jumaine Jones:

You searched for "Raef LaFrentz"
1 result found.
Raef LaFrentz
Results for Raef LaFrentz:

You searched for "Walter McCarty"
1 result found.
Walter McCarty
Results for Walter McCarty:

You searched for "Chris Mihm"
22 results found.
0: Chris Mihm
1: Chris King
2: Chris Mills
3: Chris Munk
4: Chris Smith
5: Chris Smith
6: Chris Babb
7: Chris Bosh
8: Chris Carr
9: Chris Duhon
10: Chris Ford
11: Chris Jent
12: Chris Paul
13: Chris Quinn
14: Chris Silva
15: Chris Taft
16: Chris Welp
17: Chris Wright
18: Chris Wright
19: Chris Kaman
20: Chris Morris
21: Chris Mullin
Pick one: 0
Results for Chris Mihm:

You searched for "Kendrick Perkins"
1 result found.
Kendrick Perkins
Results for Kendrick Perkins:

You searched for "Paul Pierce"
5 results found.
0: Paul Pierce
1: Paul George
2: Paul Pressey
3: Paul Reed
4: Paul Zipser
Pick one: 0
Results for Paul Pierce:

You searched for "Michael Stewart"
1 result found.
Michael Stewart
Results for Michael Stewart:

You searched for "Jiří Welsch"
2 results found.
0: Jiri Welsch
1: Jim Walsh
Pick one: 0
Results for Jiri Welsch:

You searched for "Eric Williams"
56 results found.
0: Eric Williams
1: Eric McWilliams
2: Art Williams
3: Bernie Williams
4: Deron Williams
5: Derrick Williams
6: Earl Williams
7: Herb Williams
8: Kenrich Williams
9: Kevin Williams
10: Ray Williams
11: Rob Williams
12: Ron Williams
13: Troy Williams
14: Patrick Williams
15: Aaron Williams
16: Al Williams
17: Alan Williams
18: Alvin Williams
19: Bob Williams
20: Buck Williams
21: C.J. Williams
22: Chuck Williams
23: Cliff Williams
24: Corey Williams
25: Duck Williams
26: Elliot Williams
27: Fly Williams
28: Frank Williams
29: Gene Williams
30: Grant Williams
31: Gus Williams
32: Guy Williams
33: Hank Williams
34: Jay Williams
35: Jerome Williams
36: John Williams
37: Kenny Williams
38: Lou Williams
39: Marvin Williams
40: Matt Williams
41: Mike Williams
42: Milt Williams
43: Mo Williams
44: Nate Williams
45: Pete Williams
46: Reggie Williams
47: Reggie Williams
48: Rickey Williams
49: Sam Williams
50: Sam Williams
51: Sean Williams
52: Sly Williams
53: Travis Williams
54: Walt Williams
55: Ward Williams
Pick one: 0
Results for Eric Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
44,2004-02-25,29-195,BOS,HOME,MIL,L (-2),1,42:54,5,12,...,2,8,1,0,0,1,14,13.6,+10,Chucky Atkins
45,2004-02-27,29-197,BOS,HOME,TOR,W (+13),1,34:50,2,7,...,2,5,0,0,5,3,9,2.4,+10,Chucky Atkins
46,2004-02-29,29-199,BOS,AWAY,TOR,W (+9),1,36:20,6,10,...,3,3,1,0,3,1,13,9.0,+6,Chucky Atkins
47,2004-03-01,29-200,BOS,HOME,ORL,W (+21),1,36:33,5,12,...,4,9,0,0,0,1,17,17.7,+33,Chucky Atkins
48,2004-03-05,29-204,BOS,HOME,WAS,W (+4),1,25:14,1,7,...,1,4,0,0,1,0,3,0.2,-11,Chucky Atkins

In [147]:
BOS_2004_gamelogs['GAME_SCORE'] = BOS_2004_gamelogs['GAME_SCORE'].astype(float)
BOS_2004_games = BOS_2004_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2004_games

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
24,2003-12-13,26-061,BOS,AWAY,CLE,W (+7),1,44:11,12,25,...,9,6,4,2,4,1,41,36.2,+4,Paul Pierce
38,2004-01-09,26-088,BOS,HOME,CLE,W (+25),1,33:57,8,15,...,12,8,1,2,1,3,30,32.1,+27,Paul Pierce
22,2003-12-10,26-058,BOS,HOME,SEA,W (+14),1,34:23,13,23,...,14,3,2,4,5,1,36,31.2,+27,Paul Pierce
70,2004-03-13,26-152,BOS,AWAY,WAS,W (+9),1,44:39,13,28,...,12,4,3,0,1,2,37,30.2,+18,Paul Pierce
64,2004-03-01,28-092,BOS,HOME,ORL,W (+21),1,37:48,13,21,...,21,2,2,3,2,3,28,29.5,+36,Mark Blount
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,2004-02-21,28-083,BOS,AWAY,POR,L (-21),1,21:41,1,8,...,6,0,0,0,3,4,4,-2.4,-33,Mark Blount
9,2003-11-17,24-280,BOS,AWAY,NYK,L (-3),1,14:22,0,4,...,4,0,0,1,1,3,0,-2.7,-9,Jumaine Jones
49,2004-01-30,28-221,BOS,HOME,NYK,L (-18),1,26:47,0,6,...,2,3,2,0,3,1,0,-2.9,-23,Mike James
73,2004-03-23,31-250,CLE,HOME,PHO,L (-17),1,24:24,1,9,...,1,0,0,0,1,1,3,-4.0,-18,Eric Williams
30,2003-12-26,32-033,BOS,AWAY,PHO,W (+2),1,12:58,0,4,...,2,0,0,0,2,2,0,-4.6,-11,Vin Baker

## BOS 2005 Season

In [148]:
BOS_2005_gamelog = []

for p in BOS_df_2005_players:
    player_log = get_game_logs(str(p), SEASON_2005_START, SEASON_2005_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2005_gamelog.append(player_log)
BOS_2005_gamelog = pd.concat(BOS_2005_gamelog)    
BOS_2005_gamelogs = BOS_2005_gamelog.copy()
BOS_2005_gamelogs.head()

You searched for "Tony Allen"
26 results found.
0: Tony Allen
1: Bob Allen
2: Randy Allen
3: Ray Allen
4: Tony Fuller
5: Tony Kappen
6: Bill Allen
7: Lavoy Allen
8: Toby Bailey
9: Tony Bradley
10: Tony Brown
11: Tony Dawson
12: Tony Delk
13: Tony Farmer
14: Tony Parker
15: Tony Wroten
16: Tony Zeno
17: Tony Battie
18: Tony Dumas
19: Tony Jaros
20: Tony Lavelli
21: Tony Price
22: Tony Snell
23: Tony White
24: Lonzo Ball
25: Donta Hall
Pick one: 0
Results for Tony Allen:

You searched for "Marcus Banks"
6 results found.
0: Marcus Banks
1: Marcus Brown
2: Marcus Camby
3: Marcus Landry
4: Marcus Paige
5: Marcus Smart
Pick one: 0
Results for Marcus Banks:

You searched for "Mark Blount"
7 results found.
0: Mark Blount
1: Mark Bryant
2: Corie Blount
3: Markel Brown
4: Mark Jones
5: Mark Jones
6: Mark Sibley
Pick one: 0
Results for Mark Blount:

You searched for "Ricky Davis"
17 results found.
0: Ricky Davis
1: Mickey Davis
2: Mike Davis
3: Mike Davis
4: Bill Davis
5: Brian Davis
6: Harry Davis
7: Jim Davis
8: Mark Davis
9: Mark Davis
10: Ralph Davis
11: Red Davis
12: Ron Davis
13: Terry Davis
14: Ricky Marsh
15: Ricky Rubio
16: Ricky Grace
Pick one: 0
Results for Ricky Davis:

You searched for "Tom Gugliotta"
1 result found.
Tom Gugliotta
Results for Tom Gugliotta:

You searched for "Al Jefferson"
3 results found.
0: Al Jefferson
1: Amile Jefferson
2: Cory Jefferson
Pick one: 0
Results for Al Jefferson:

You searched for "Raef LaFrentz"
1 result found.
Raef LaFrentz
Results for Raef LaFrentz:

You searched for "Walter McCarty"
1 result found.
Walter McCarty
Results for Walter McCarty:

You searched for "Gary Payton"
5 results found.
0: Gary Payton
1: Gary Payton
2: Gary Alcorn
3: Mark Eaton
4: Mel Payton
Pick one: 0
Results for Gary Payton:

You searched for "Kendrick Perkins"
1 result found.
Kendrick Perkins
Results for Kendrick Perkins:

You searched for "Paul Pierce"
5 results found.
0: Paul Pierce
1: Paul George
2: Paul Pressey
3: Paul Reed
4: Paul Zipser
Pick one: 0
Results for Paul Pierce:

You searched for "Justin Reed"
5 results found.
0: Justin Reed
1: Justin Harper
2: Justin James
3: Austin Carr
4: Austin Daye
Pick one: 0
Results for Justin Reed:

You searched for "Antoine Walker"
2 results found.
0: Antoine Walker
1: Antoine Carr
Pick one: 0
Results for Antoine Walker:

You searched for "Jiří Welsch"
2 results found.
0: Jiri Welsch
1: Jim Walsh
Pick one: 0
Results for Jiri Welsch:

You searched for "Delonte West"
1 result found.
Delonte West
Results for Delonte West:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
40,2005-01-22,23-011,BOS,AWAY,ATL,L (-4),1,27:49,9,11,...,6,2,1,1,2,3,20,19.6,0,Tony Allen
42,2005-01-25,23-014,BOS,AWAY,CHA,W (+5),1,19:29,2,4,...,3,1,1,0,2,2,7,4.8,-4,Tony Allen
43,2005-01-26,23-015,BOS,HOME,IND,W (+14),1,19:05,4,6,...,2,2,1,0,1,1,9,8.4,+1,Tony Allen
44,2005-01-28,23-017,BOS,HOME,PHO,L (-9),1,29:39,7,12,...,4,3,4,0,2,2,17,16.7,+4,Tony Allen
45,2005-01-29,23-018,BOS,AWAY,CHI,W (+4),1,8:37,0,1,...,0,0,0,1,1,4,0,-2.6,+1,Tony Allen

In [149]:
BOS_2005_gamelogs['GAME_SCORE'] = BOS_2005_gamelogs['GAME_SCORE'].astype(float)
BOS_2005_games = BOS_2005_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2005_games

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
47,2005-02-02,27-112,BOS,HOME,NJN,W (+21),1,30:31,9,15,...,10,10,4,1,1,0,28,34.0,+27,Paul Pierce
64,2005-03-11,27-149,BOS,HOME,DET,W (+2),1,50:57,11,25,...,12,3,2,1,0,4,38,32.1,-3,Paul Pierce
80,2005-04-13,27-182,BOS,AWAY,MIL,W (+3),1,42:28,9,15,...,5,5,2,0,1,4,32,30.3,+2,Paul Pierce
2,2004-11-06,27-024,BOS,AWAY,NYK,W (+34),1,33:28,10,18,...,10,8,1,0,0,0,28,30.2,+31,Paul Pierce
22,2004-12-17,36-147,BOS,HOME,UTA,W (+8),1,32:01,10,13,...,6,11,1,0,3,2,27,29.0,+22,Gary Payton
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,2005-01-29,23-018,BOS,AWAY,CHI,W (+4),1,8:37,0,1,...,0,0,0,1,1,4,0,-2.6,+1,Tony Allen
55,2005-02-22,23-042,BOS,AWAY,LAL,L (-9),1,7:52,1,4,...,0,0,0,0,0,6,2,-2.8,-12,Tony Allen
34,2005-01-08,28-224,BOS,AWAY,CHI,L (-11),1,16:42,1,5,...,4,0,0,1,2,4,2,-2.8,-9,Raef LaFrentz
38,2005-01-19,29-050,BOS,HOME,CHI,W (+9),1,22:35,0,3,...,0,4,0,0,3,3,0,-3.5,-1,Mark Blount
67,2005-04-19,35-121,ATL,HOME,DET,L (-27),1,10:17,0,2,...,1,1,0,0,3,2,0,-4.2,-13,Tom Gugliotta

## BOS 2006 Season

In [150]:
BOS_2006_gamelog = []

for p in BOS_df_2006_players:
    player_log = get_game_logs(str(p), SEASON_2006_START, SEASON_2006_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2006_gamelog.append(player_log)
BOS_2006_gamelog = pd.concat(BOS_2006_gamelog)    
BOS_2006_gamelogs = BOS_2006_gamelog.copy()
BOS_2006_gamelogs.head()

You searched for "Tony Allen"
26 results found.
0: Tony Allen
1: Bob Allen
2: Randy Allen
3: Ray Allen
4: Tony Fuller
5: Tony Kappen
6: Bill Allen
7: Lavoy Allen
8: Toby Bailey
9: Tony Bradley
10: Tony Brown
11: Tony Dawson
12: Tony Delk
13: Tony Farmer
14: Tony Parker
15: Tony Wroten
16: Tony Zeno
17: Tony Battie
18: Tony Dumas
19: Tony Jaros
20: Tony Lavelli
21: Tony Price
22: Tony Snell
23: Tony White
24: Lonzo Ball
25: Donta Hall
Pick one: 0
Results for Tony Allen:

You searched for "Marcus Banks"
6 results found.
0: Marcus Banks
1: Marcus Brown
2: Marcus Camby
3: Marcus Landry
4: Marcus Paige
5: Marcus Smart
Pick one: 0
Results for Marcus Banks:

You searched for "Mark Blount"
7 results found.
0: Mark Blount
1: Mark Bryant
2: Corie Blount
3: Markel Brown
4: Mark Jones
5: Mark Jones
6: Mark Sibley
Pick one: 0
Results for Mark Blount:

You searched for "Ricky Davis"
17 results found.
0: Ricky Davis
1: Mickey Davis
2: Mike Davis
3: Mike Davis
4: Bill Davis
5: Brian Davis
6: Harry Davis
7: Jim Davis
8: Mark Davis
9: Mark Davis
10: Ralph Davis
11: Red Davis
12: Ron Davis
13: Terry Davis
14: Ricky Marsh
15: Ricky Rubio
16: Ricky Grace
Pick one: 0
Results for Ricky Davis:

You searched for "Dan Dickau"
3 results found.
0: Dan Dickau
1: Dan Tieman
2: Dan Kraus
Pick one: 0
Results for Dan Dickau:

You searched for "Ryan Gomes"
4 results found.
0: Ryan Gomes
1: Ryan Bowen
2: Ray Owes
3: Ryan Reid
Pick one: 0
Results for Ryan Gomes:

You searched for "Gerald Green"
6 results found.
0: Gerald Green
1: Gerald Brown
2: Gerald Govan
3: Gerald Glass
4: Erick Green
5: Sean Green
Pick one: 0
Results for Gerald Green:

You searched for "Orien Greene"
6 results found.
0: Orien Greene
1: Erick Green
2: Ken Green
3: Donte Greene
4: Rickey Green
5: Tommie Green
Pick one: 0
Results for Orien Greene:

You searched for "Al Jefferson"
3 results found.
0: Al Jefferson
1: Amile Jefferson
2: Cory Jefferson
Pick one: 0
Results for Al Jefferson:

You searched for "Dwayne Jones"
12 results found.
0: Dwayne Jones
1: Dwayne Polee
2: Damon Jones
3: Dwight Jones
4: Jake Jones
5: Jumaine Jones
6: Wali Jones
7: Wayne Molis
8: Wayne Yates
9: Dwayne Bacon
10: Dwayne Morton
11: Dwayne Sutton
Pick one: 0
Results for Dwayne Jones:

You searched for "Raef LaFrentz"
1 result found.
Raef LaFrentz
Results for Raef LaFrentz:

You searched for "Michael Olowokandi"
1 result found.
Michael Olowokandi
Results for Michael Olowokandi:

You searched for "Kendrick Perkins"
1 result found.
Kendrick Perkins
Results for Kendrick Perkins:

You searched for "Paul Pierce"
5 results found.
0: Paul Pierce
1: Paul George
2: Paul Pressey
3: Paul Reed
4: Paul Zipser
Pick one: 0
Results for Paul Pierce:

You searched for "Justin Reed"
5 results found.
0: Justin Reed
1: Justin Harper
2: Justin James
3: Austin Carr
4: Austin Daye
Pick one: 0
Results for Justin Reed:

You searched for "Brian Scalabrine"
1 result found.
Brian Scalabrine
Results for Brian Scalabrine:

You searched for "Wally Szczerbiak"
2 results found.
0: Wally Szczerbiak
1: Walt Szczerbiak
Pick one: 0
Results for Wally Szczerbiak:

You searched for "Delonte West"
1 result found.
Delonte West
Results for Delonte West:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
44,2006-01-27,24-016,BOS,HOME,SAC,W (+10),1,20:11,2,6,...,2,3,1,0,2,2,4,1.9,+6,Tony Allen
55,2006-02-22,24-042,BOS,AWAY,PHO,L (-9),1,29:16,3,4,...,2,1,0,0,1,5,8,4.3,-8,Tony Allen
78,2006-04-07,24-086,BOS,AWAY,PHI,W (+10),1,20:42,6,9,...,1,1,0,0,2,5,16,8.3,+5,Tony Allen
79,2006-04-09,24-088,BOS,HOME,NYK,L (-15),1,32:58,7,11,...,3,4,2,0,1,4,18,16.2,-6,Tony Allen
80,2006-04-12,24-091,BOS,AWAY,IND,L (-5),1,26:41,4,6,...,1,5,5,1,0,4,9,13.9,+4,Tony Allen

In [151]:
BOS_2006_gamelogs['GAME_SCORE'] = BOS_2006_gamelogs['GAME_SCORE'].astype(float)
BOS_2006_games = BOS_2006_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2006_games

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
14,2005-12-02,28-050,BOS,HOME,CHI,L (-4),1,42:25,12,21,...,11,5,4,1,6,2,43,36.2,+3,Paul Pierce
3,2005-11-09,28-027,BOS,HOME,MEM,W (+1),1,40:16,9,13,...,7,8,3,1,1,3,29,32.3,+9,Paul Pierce
53,2006-02-15,28-125,BOS,HOME,CLE,L (-4),1,54:14,17,36,...,7,8,0,0,4,6,50,31.3,-1,Paul Pierce
26,2005-12-26,28-074,BOS,AWAY,SEA,L (-7),1,40:45,13,25,...,5,5,1,1,3,5,43,30.8,-3,Paul Pierce
78,2006-04-07,28-176,BOS,AWAY,PHI,W (+10),1,41:40,9,19,...,12,6,3,1,4,1,33,30.0,+7,Paul Pierce
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,2005-11-25,23-294,BOS,HOME,CHA,W (+1),1,25:40,0,4,...,2,4,0,0,4,4,0,-4.6,+8,Orien Greene
66,2006-03-11,24-112,MIN,AWAY,PHO,L (-8),1,14:56,0,3,...,0,0,0,0,2,3,0,-5.3,-11,Marcus Banks
12,2005-11-28,29-183,BOS,HOME,ORL,L (-4),1,25:13,1,10,...,3,1,0,0,2,3,2,-5.4,-10,Raef LaFrentz
82,2006-04-11,30-132,MIN,AWAY,MEM,L (-16),1,28:20,3,13,...,6,0,0,0,5,3,6,-5.5,-21,Mark Blount
37,2006-01-16,26-115,BOS,AWAY,DET,L (-10),1,44:39,0,8,...,1,5,0,0,3,2,0,-5.6,-7,Ricky Davis

## BOS 2007 season

In [152]:
BOS_2007_gamelog = []

for p in BOS_df_2007_players:
    player_log = get_game_logs(str(p), SEASON_2007_START, SEASON_2007_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2007_gamelog.append(player_log)
BOS_2007_gamelog = pd.concat(BOS_2007_gamelog)    
BOS_2007_gamelogs = BOS_2007_gamelog.copy()
BOS_2007_gamelogs.head()

You searched for "Tony Allen"
26 results found.
0: Tony Allen
1: Bob Allen
2: Randy Allen
3: Ray Allen
4: Tony Fuller
5: Tony Kappen
6: Bill Allen
7: Lavoy Allen
8: Toby Bailey
9: Tony Bradley
10: Tony Brown
11: Tony Dawson
12: Tony Delk
13: Tony Farmer
14: Tony Parker
15: Tony Wroten
16: Tony Zeno
17: Tony Battie
18: Tony Dumas
19: Tony Jaros
20: Tony Lavelli
21: Tony Price
22: Tony Snell
23: Tony White
24: Lonzo Ball
25: Donta Hall
Pick one: 0
Results for Tony Allen:

You searched for "Ryan Gomes"
4 results found.
0: Ryan Gomes
1: Ryan Bowen
2: Ray Owes
3: Ryan Reid
Pick one: 0
Results for Ryan Gomes:

You searched for "Gerald Green"
6 results found.
0: Gerald Green
1: Gerald Brown
2: Gerald Govan
3: Gerald Glass
4: Erick Green
5: Sean Green
Pick one: 0
Results for Gerald Green:

You searched for "Al Jefferson"
3 results found.
0: Al Jefferson
1: Amile Jefferson
2: Cory Jefferson
Pick one: 0
Results for Al Jefferson:

You searched for "Michael Olowokandi"
1 result found.
Michael Olowokandi
Results for Michael Olowokandi:

You searched for "Kendrick Perkins"
1 result found.
Kendrick Perkins
Results for Kendrick Perkins:

You searched for "Paul Pierce"
5 results found.
0: Paul Pierce
1: Paul George
2: Paul Pressey
3: Paul Reed
4: Paul Zipser
Pick one: 0
Results for Paul Pierce:

You searched for "Kevinn Pinkney"
1 result found.
Kevinn Pinkney
Results for Kevinn Pinkney:

You searched for "Leon Powe"
5 results found.
0: Leon Powe
1: Leon Brown
2: Leon Wood
3: Lou Roe
4: Leon Benbow
Pick one: 0
Results for Leon Powe:

You searched for "Theo Ratliff"
3 results found.
0: Theo Ratliff
1: Ed Ratleff
2: Mike Ratliff
Pick one: 0
Results for Theo Ratliff:

You searched for "Allan Ray"
6 results found.
0: Allan Ray
1: Aaron Gray
2: Alan Hardy
3: Sean May
4: Alan Ogg
5: Don Ray
Pick one: 0
Results for Allan Ray:

You searched for "Rajon Rondo"
2 results found.
0: Rajon Rondo
1: Brandon Roy
Pick one: 0
Results for Rajon Rondo:

You searched for "Brian Scalabrine"
1 result found.
Brian Scalabrine
Results for Brian Scalabrine:

You searched for "Wally Szczerbiak"
2 results found.
0: Wally Szczerbiak
1: Walt Szczerbiak
Pick one: 0
Results for Wally Szczerbiak:

You searched for "Sebastian Telfair"
1 result found.
Sebastian Telfair
Results for Sebastian Telfair:

You searched for "Delonte West"
1 result found.
Delonte West
Results for Delonte West:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
16,2006-12-06,24-329,BOS,HOME,MEM,L (-2),1,19:00,0,3,...,2,1,0,0,2,1,0,-2.8,-5,Tony Allen
17,2006-12-08,24-331,BOS,HOME,PHO,L (-5),1,25:12,7,17,...,7,3,5,0,1,3,18,18.3,+2,Tony Allen
18,2006-12-09,24-332,BOS,AWAY,NJN,W (+2),1,14:44,2,5,...,3,0,0,0,3,5,5,-2.2,+6,Tony Allen
19,2006-12-11,24-334,BOS,AWAY,NYK,W (+7),1,23:01,4,6,...,5,1,0,1,1,4,8,6.1,+7,Tony Allen
21,2006-12-13,24-336,BOS,AWAY,PHI,W (+20),1,24:45,6,12,...,5,4,1,0,1,0,16,13.1,+4,Tony Allen

In [153]:
BOS_2007_gamelogs['GAME_SCORE'] = BOS_2007_gamelogs['GAME_SCORE'].astype(float)
BOS_2007_games = BOS_2007_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2007_games

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
9,2006-11-18,29-036,BOS,AWAY,NYK,W (+4),1,42:45,10,23,...,9,4,2,1,1,3,39,32.1,+7,Paul Pierce
22,2006-12-15,29-063,BOS,HOME,DEN,W (+5),1,40:08,11,17,...,8,9,0,0,6,3,38,31.6,+10,Paul Pierce
63,2007-03-09,22-064,BOS,HOME,SEA,W (+15),1,36:13,13,17,...,16,4,1,2,3,3,31,31.3,+19,Al Jefferson
59,2007-03-03,22-058,BOS,AWAY,NJN,W (+8),1,45:25,13,23,...,18,2,1,2,0,2,32,31.1,+14,Al Jefferson
22,2006-12-15,24-338,BOS,HOME,DEN,W (+5),1,48:00,11,13,...,8,3,3,1,2,3,30,30.7,+5,Tony Allen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18,2006-12-09,21-183,BOS,AWAY,NJN,W (+2),1,27:57,0,6,...,1,4,0,0,1,3,0,-2.9,-11,Sebastian Telfair
71,2007-03-23,22-133,BOS,HOME,DAL,L (-14),1,14:57,1,5,...,1,0,0,0,1,3,2,-3.0,-21,Kendrick Perkins
40,2007-01-22,20-361,BOS,HOME,SAS,L (-4),1,20:35,1,7,...,0,0,0,0,0,3,2,-3.7,-4,Gerald Green
2,2006-11-04,21-359,BOS,AWAY,WAS,L (-7),1,10:46,0,1,...,0,0,0,0,2,4,0,-4.3,+2,Kendrick Perkins
60,2007-03-04,28-351,BOS,HOME,MIN,W (+7),1,17:21,0,5,...,2,1,0,0,2,4,0,-5.4,+1,Brian Scalabrine

## BOS 2008 season

In [154]:
BOS_2008_gamelog = []



for p in BOS_df_2008_players:
    player_log = get_game_logs(str(p), SEASON_2008_START, SEASON_2008_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2008_gamelog.append(player_log)
BOS_2008_gamelog = pd.concat(BOS_2008_gamelog)    
BOS_2008_gamelogs = BOS_2008_gamelog.copy()
BOS_2008_gamelogs.head()

You searched for "Ray Allen"
21 results found.
0: Ray Allen
1: Randy Allen
2: Bob Allen
3: Lavoy Allen
4: Tony Allen
5: Bill Allen
6: Grayson Allen
7: Malik Allen
8: Ray Blume
9: Ray Corley
10: Ray Ellefson
11: Ray Felix
12: Jay Miller
13: Ray Owes
14: Ray Ramsey
15: Ray Epps
16: Roy Marble
17: Raja Bell
18: Troy Bell
19: Gary Hill
20: Gary Neal
Pick one: 0
Results for Ray Allen:

You searched for "Tony Allen"
26 results found.
0: Tony Allen
1: Bob Allen
2: Randy Allen
3: Ray Allen
4: Tony Fuller
5: Tony Kappen
6: Bill Allen
7: Lavoy Allen
8: Toby Bailey
9: Tony Bradley
10: Tony Brown
11: Tony Dawson
12: Tony Delk
13: Tony Farmer
14: Tony Parker
15: Tony Wroten
16: Tony Zeno
17: Tony Battie
18: Tony Dumas
19: Tony Jaros
20: Tony Lavelli
21: Tony Price
22: Tony Snell
23: Tony White
24: Lonzo Ball
25: Donta Hall
Pick one: 0
Results for Tony Allen:

You searched for "P.J. Brown"
12 results found.
0: P.J. Brown
1: Bob Brown
2: Dee Brown
3: Dee Brown
4: Fred Brown
5: John Brown
6: Leon Brown
7: Mike Brown
8: Stan Brown
9: Tony Brown
10: Troy Brown
11: J.J. Barea
Pick one: 0
Results for P.J. Brown:

You searched for "Sam Cassell"
3 results found.
0: Sam Cassell
1: Sam Cash
2: Sam Pellom
Pick one: 0
Results for Sam Cassell:

You searched for "Glen Davis"
28 results found.
0: Glen Davis
1: Ben Davis
2: Lee Davis
3: Dale Davis
4: Ed Davis
5: Mel Davis
6: Red Davis
7: Ron Davis
8: Tyler Davis
9: Glen Combs
10: Baron Davis
11: Bill Davis
12: Bob Davis
13: Brad Davis
14: Brian Davis
15: Jim Davis
16: Josh Davis
17: Mark Davis
18: Mark Davis
19: Mike Davis
20: Mike Davis
21: Paul Davis
22: Ralph Davis
23: Walt Davis
24: Walter Davis
25: Warren Davis
26: Glen Rice
27: Glen Rice
Pick one: 0
Results for Glen Davis:

You searched for "Kevin Garnett"
6 results found.
0: Kevin Garnett
1: Calvin Garrett
2: Dean Garrett
3: Kevin Kunnert
4: Kevin Grevey
5: Kevin Martin
Pick one: 0
Results for Kevin Garnett:

You searched for "Eddie House"
6 results found.
0: Eddie House
1: Eddie Hughes
2: Eddie Jones
3: Eddie Mast
4: Eddie Miles
5: Eddie Owens
Pick one: 0
Results for Eddie House:

You searched for "Kendrick Perkins"
1 result found.
Kendrick Perkins
Results for Kendrick Perkins:

You searched for "Paul Pierce"
5 results found.
0: Paul Pierce
1: Paul George
2: Paul Pressey
3: Paul Reed
4: Paul Zipser
Pick one: 0
Results for Paul Pierce:

You searched for "Scot Pollard"
2 results found.
0: Scot Pollard
1: Jim Pollard
Pick one: 0
Results for Scot Pollard:

You searched for "James Posey"
14 results found.
0: James Posey
1: James Jones
2: James Bailey
3: James Hardy
4: James Ray
5: Jalen Rose
6: James Worthy
7: James Young
8: James Ennis
9: James Scott
10: James Silas
11: James Thomas
12: James Webb
13: James White
Pick one: 0
Results for James Posey:

You searched for "Leon Powe"
5 results found.
0: Leon Powe
1: Leon Brown
2: Leon Wood
3: Lou Roe
4: Leon Benbow
Pick one: 0
Results for Leon Powe:

You searched for "Gabe Pruitt"
1 result found.
Gabe Pruitt
Results for Gabe Pruitt:

You searched for "Rajon Rondo"
2 results found.
0: Rajon Rondo
1: Brandon Roy
Pick one: 0
Results for Rajon Rondo:

You searched for "Brian Scalabrine"
1 result found.
Brian Scalabrine
Results for Brian Scalabrine:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2007-11-02,32-105,BOS,HOME,WAS,W (+20),1,38:08,5,10,...,4,2,0,0,0,2,17,14.6,+16,Ray Allen
1,2007-11-04,32-107,BOS,AWAY,TOR,W (+3),1,49:10,11,16,...,4,0,0,0,2,1,33,25.0,-1,Ray Allen
2,2007-11-07,32-110,BOS,HOME,DEN,W (+26),1,32:48,8,12,...,3,6,2,0,2,1,22,22.3,+25,Ray Allen
3,2007-11-09,32-112,BOS,HOME,ATL,W (+23),1,35:14,6,9,...,2,3,1,0,1,3,14,11.6,+14,Ray Allen
4,2007-11-10,32-113,BOS,AWAY,NJN,W (+11),1,48:00,7,17,...,10,5,0,0,3,1,27,21.4,+11,Ray Allen

In [156]:
BOS_2008_gamelogs['GAME_SCORE'] = BOS_2008_gamelogs['GAME_SCORE'].astype(float)
BOS_2008_games = BOS_2008_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2008_games

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
3,2007-11-07,37-354,LAC,AWAY,IND,W (+15),1,32:47,13,20,...,3,8,2,0,2,0,35,32.3,+24,Sam Cassell
5,2007-11-13,30-031,BOS,AWAY,IND,W (+15),1,41:20,8,17,...,11,6,2,1,1,3,31,30.7,+10,Paul Pierce
53,2008-02-20,32-215,BOS,AWAY,GSW,L (-2),1,38:42,11,17,...,3,6,1,0,0,2,32,30.2,+5,Ray Allen
73,2008-03-26,31-312,BOS,HOME,PHO,W (+20),1,33:56,12,19,...,3,6,2,2,0,3,30,30.0,+14,Kevin Garnett
74,2008-03-28,30-167,BOS,HOME,NOH,W (+20),1,36:16,7,11,...,6,9,0,0,1,3,27,28.0,+28,Paul Pierce
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48,2008-02-08,29-327,BOS,AWAY,MIN,W (+2),1,18:48,0,3,...,3,0,1,0,1,2,0,-2.0,-1,Brian Scalabrine
31,2008-01-04,32-168,BOS,HOME,MEM,W (+4),1,35:18,0,9,...,2,5,1,0,3,2,2,-2.6,+5,Ray Allen
30,2008-01-02,38-045,LAC,HOME,NOH,L (-14),1,19:55,1,8,...,0,2,0,0,2,2,2,-4.6,-14,Sam Cassell
70,2008-03-20,22-027,BOS,AWAY,DAL,W (+4),1,22:02,0,7,...,1,3,3,0,5,2,0,-4.9,-11,Rajon Rondo
31,2008-01-04,21-316,BOS,HOME,MEM,W (+4),1,27:52,2,9,...,4,1,0,0,6,3,4,-6.8,+7,Rajon Rondo

##  BOS 2009 season

In [157]:
## Patty O'Bryant ##

BOS_2009_gamelog = []



for p in BOS_df_2009_players:
    player_log = get_game_logs(str(p), SEASON_2009_START, SEASON_2009_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2009_gamelog.append(player_log)
BOS_2009_gamelog = pd.concat(BOS_2009_gamelog)    
BOS_2009_gamelogs = BOS_2009_gamelog.copy()
BOS_2009_gamelogs.head()

You searched for "Ray Allen"
21 results found.
0: Ray Allen
1: Randy Allen
2: Bob Allen
3: Lavoy Allen
4: Tony Allen
5: Bill Allen
6: Grayson Allen
7: Malik Allen
8: Ray Blume
9: Ray Corley
10: Ray Ellefson
11: Ray Felix
12: Jay Miller
13: Ray Owes
14: Ray Ramsey
15: Ray Epps
16: Roy Marble
17: Raja Bell
18: Troy Bell
19: Gary Hill
20: Gary Neal
Pick one: 0
Results for Ray Allen:

You searched for "Tony Allen"
26 results found.
0: Tony Allen
1: Bob Allen
2: Randy Allen
3: Ray Allen
4: Tony Fuller
5: Tony Kappen
6: Bill Allen
7: Lavoy Allen
8: Toby Bailey
9: Tony Bradley
10: Tony Brown
11: Tony Dawson
12: Tony Delk
13: Tony Farmer
14: Tony Parker
15: Tony Wroten
16: Tony Zeno
17: Tony Battie
18: Tony Dumas
19: Tony Jaros
20: Tony Lavelli
21: Tony Price
22: Tony Snell
23: Tony White
24: Lonzo Ball
25: Donta Hall
Pick one: 0
Results for Tony Allen:

You searched for "Glen Davis"
28 results found.
0: Glen Davis
1: Ben Davis
2: Lee Davis
3: Dale Davis
4: Ed Davis
5: Mel Davis
6: Red Davis
7: Ron Davis
8: Tyler Davis
9: Glen Combs
10: Baron Davis
11: Bill Davis
12: Bob Davis
13: Brad Davis
14: Brian Davis
15: Jim Davis
16: Josh Davis
17: Mark Davis
18: Mark Davis
19: Mike Davis
20: Mike Davis
21: Paul Davis
22: Ralph Davis
23: Walt Davis
24: Walter Davis
25: Warren Davis
26: Glen Rice
27: Glen Rice
Pick one: 0
Results for Glen Davis:

You searched for "Kevin Garnett"
6 results found.
0: Kevin Garnett
1: Calvin Garrett
2: Dean Garrett
3: Kevin Kunnert
4: Kevin Grevey
5: Kevin Martin
Pick one: 0
Results for Kevin Garnett:

You searched for "J.R. Giddens"
1 result found.
J.R. Giddens
Results for J.R. Giddens:

You searched for "Eddie House"
6 results found.
0: Eddie House
1: Eddie Hughes
2: Eddie Jones
3: Eddie Mast
4: Eddie Miles
5: Eddie Owens
Pick one: 0
Results for Eddie House:

You searched for "Stephon Marbury"
1 result found.
Stephon Marbury
Results for Stephon Marbury:

You searched for "Mikki Moore"
2 results found.
0: Mikki Moore
1: Jackie Moore
Pick one: 0
Results for Mikki Moore:

You searched for "Patrick O'Bryant"
1 result found.
Patrick O'Bryant
Results for Patrick O'Bryant:

AttributeError: 'NoneType' object has no attribute 'replace'

In [158]:
BOS_2009_gamelogs['GAME_SCORE'] = BOS_2009_gamelogs['GAME_SCORE'].astype(float)
BOS_2009_games = BOS_2009_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2009_games

NameError: name 'BOS_2009_gamelogs' is not defined

## BOS 2010 season

In [160]:
## HEnry Wwalker ##

BOS_2010_gamelog = []



for p in BOS_df_2010_players:
    player_log = get_game_logs(str(p), SEASON_2010_START, SEASON_2010_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2010_gamelog.append(player_log)
BOS_2010_gamelog = pd.concat(BOS_2010_gamelog)    
BOS_2010_gamelogs = BOS_2010_gamelog.copy()
BOS_2010_gamelogs.head()

You searched for "Ray Allen"
21 results found.
0: Ray Allen
1: Randy Allen
2: Bob Allen
3: Lavoy Allen
4: Tony Allen
5: Bill Allen
6: Grayson Allen
7: Malik Allen
8: Ray Blume
9: Ray Corley
10: Ray Ellefson
11: Ray Felix
12: Jay Miller
13: Ray Owes
14: Ray Ramsey
15: Ray Epps
16: Roy Marble
17: Raja Bell
18: Troy Bell
19: Gary Hill
20: Gary Neal
Pick one: 0
Results for Ray Allen:

You searched for "Tony Allen"
26 results found.
0: Tony Allen
1: Bob Allen
2: Randy Allen
3: Ray Allen
4: Tony Fuller
5: Tony Kappen
6: Bill Allen
7: Lavoy Allen
8: Toby Bailey
9: Tony Bradley
10: Tony Brown
11: Tony Dawson
12: Tony Delk
13: Tony Farmer
14: Tony Parker
15: Tony Wroten
16: Tony Zeno
17: Tony Battie
18: Tony Dumas
19: Tony Jaros
20: Tony Lavelli
21: Tony Price
22: Tony Snell
23: Tony White
24: Lonzo Ball
25: Donta Hall
Pick one: 0
Results for Tony Allen:

You searched for "Marquis Daniels"
1 result found.
Marquis Daniels
Results for Marquis Daniels:

You searched for "Glen Davis"
28 results found.
0: Glen Davis
1: Ben Davis
2: Lee Davis
3: Dale Davis
4: Ed Davis
5: Mel Davis
6: Red Davis
7: Ron Davis
8: Tyler Davis
9: Glen Combs
10: Baron Davis
11: Bill Davis
12: Bob Davis
13: Brad Davis
14: Brian Davis
15: Jim Davis
16: Josh Davis
17: Mark Davis
18: Mark Davis
19: Mike Davis
20: Mike Davis
21: Paul Davis
22: Ralph Davis
23: Walt Davis
24: Walter Davis
25: Warren Davis
26: Glen Rice
27: Glen Rice
Pick one: 0
Results for Glen Davis:

You searched for "Michael Finley"
8 results found.
0: Michael Finley
1: Michael Wiley
2: Michael Ansley
3: Michael Beasley
4: Michael Bradley
5: Michael Gbinije
6: Michael Wilson
7: Michael Ruffin
Pick one: 0
Results for Michael Finley:

You searched for "Kevin Garnett"
6 results found.
0: Kevin Garnett
1: Calvin Garrett
2: Dean Garrett
3: Kevin Kunnert
4: Kevin Grevey
5: Kevin Martin
Pick one: 0
Results for Kevin Garnett:

You searched for "J.R. Giddens"
1 result found.
J.R. Giddens
Results for J.R. Giddens:

You searched for "Eddie House"
6 results found.
0: Eddie House
1: Eddie Hughes
2: Eddie Jones
3: Eddie Mast
4: Eddie Miles
5: Eddie Owens
Pick one: 0
Results for Eddie House:

You searched for "Lester Hudson"
1 result found.
Lester Hudson
Results for Lester Hudson:

You searched for "Oliver Lafayette"
1 result found.
Oliver Lafayette
Results for Oliver Lafayette:

You searched for "Marcus Landry"
5 results found.
0: Marcus Landry
1: Marcus Banks
2: Marcus Camby
3: Carl Landry
4: Marcus Liberty
Pick one: 0
Results for Marcus Landry:

You searched for "Kendrick Perkins"
1 result found.
Kendrick Perkins
Results for Kendrick Perkins:

You searched for "Paul Pierce"
5 results found.
0: Paul Pierce
1: Paul George
2: Paul Pressey
3: Paul Reed
4: Paul Zipser
Pick one: 0
Results for Paul Pierce:

You searched for "Nate Robinson"
12 results found.
0: Nate Robinson
1: James Robinson
2: Wayne Robinson
3: Nate Hinton
4: Nate Johnston
5: David Robinson
6: Eddie Robinson
7: Jackie Robinson
8: Jamal Robinson
9: Larry Robinson
10: Ronnie Robinson
11: Samuel Robinson
Pick one: 0
Results for Nate Robinson:

You searched for "Rajon Rondo"
2 results found.
0: Rajon Rondo
1: Brandon Roy
Pick one: 0
Results for Rajon Rondo:

You searched for "Brian Scalabrine"
1 result found.
Brian Scalabrine
Results for Brian Scalabrine:

You searched for "Henry Walker"
12 results found.
0: Henry Walker
1: Kenny Walker
2: Andy Walker
3: Henry Akin
4: Henry James
5: Henry Turner
6: Brady Walker
7: Chet Walker
8: Jimmy Walker
9: Kemba Walker
10: Wally Walker
11: Henry Ward
Pick one: 0
Results for Henry Walker:

AttributeError: 'NoneType' object has no attribute 'replace'

In [161]:
BOS_2010_gamelogs['GAME_SCORE'] = BOS_2010_gamelogs['GAME_SCORE'].astype(float)
BOS_2010_games = BOS_2010_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2010_games

NameError: name 'BOS_2010_gamelogs' is not defined

## BOS 2011 Season

In [162]:
## Jermaine O'Neal ##

BOS_2011_gamelog = []



for p in BOS_df_2011_players:
    player_log = get_game_logs(str(p), SEASON_2011_START, SEASON_2011_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2011_gamelog.append(player_log)
BOS_2011_gamelog = pd.concat(BOS_2011_gamelog)    
BOS_2011_gamelogs = BOS_2011_gamelog.copy()
BOS_2011_gamelogs.head()

You searched for "Ray Allen"
21 results found.
0: Ray Allen
1: Randy Allen
2: Bob Allen
3: Lavoy Allen
4: Tony Allen
5: Bill Allen
6: Grayson Allen
7: Malik Allen
8: Ray Blume
9: Ray Corley
10: Ray Ellefson
11: Ray Felix
12: Jay Miller
13: Ray Owes
14: Ray Ramsey
15: Ray Epps
16: Roy Marble
17: Raja Bell
18: Troy Bell
19: Gary Hill
20: Gary Neal
Pick one: 0
Results for Ray Allen:

You searched for "Carlos Arroyo"
2 results found.
0: Carlos Arroyo
1: Carlos Terry
Pick one: 0
Results for Carlos Arroyo:

You searched for "Avery Bradley"
4 results found.
0: Avery Bradley
1: Alex Bradley
2: Joe Bradley
3: Tony Bradley
Pick one: 0
Results for Avery Bradley:

You searched for "Marquis Daniels"
1 result found.
Marquis Daniels
Results for Marquis Daniels:

You searched for "Glen Davis"
28 results found.
0: Glen Davis
1: Ben Davis
2: Lee Davis
3: Dale Davis
4: Ed Davis
5: Mel Davis
6: Red Davis
7: Ron Davis
8: Tyler Davis
9: Glen Combs
10: Baron Davis
11: Bill Davis
12: Bob Davis
13: Brad Davis
14: Brian Davis
15: Jim Davis
16: Josh Davis
17: Mark Davis
18: Mark Davis
19: Mike Davis
20: Mike Davis
21: Paul Davis
22: Ralph Davis
23: Walt Davis
24: Walter Davis
25: Warren Davis
26: Glen Rice
27: Glen Rice
Pick one: 0
Results for Glen Davis:

You searched for "Semih Erden"
1 result found.
Semih Erden
Results for Semih Erden:

You searched for "Kevin Garnett"
6 results found.
0: Kevin Garnett
1: Calvin Garrett
2: Dean Garrett
3: Kevin Kunnert
4: Kevin Grevey
5: Kevin Martin
Pick one: 0
Results for Kevin Garnett:

You searched for "Jeff Green"
21 results found.
0: Jeff Green
1: Josh Green
2: Jeff Adrien
3: Jeff Grayer
4: Ken Green
5: Sean Green
6: Jeff Ayres
7: Jeff Cross
8: A.C. Green
9: Devin Green
10: Kenny Green
11: Mike Green
12: Si Green
13: Steve Green
14: Jeff Lebo
15: Jeff Martin
16: Jeff Turner
17: Jeff Webb
18: Jeff Foote
19: Jeff Slade
20: Jeff Teague
Pick one: 0
Results for Jeff Green:

You searched for "Luke Harangody"
1 result found.
Luke Harangody
Results for Luke Harangody:

You searched for "Chris Johnson"
27 results found.
0: Chris Johnson
1: Chris Johnson
2: Charles Johnson
3: Cheese Johnson
4: Eric Johnson
5: Chris Robinson
6: Chris Duhon
7: Amir Johnson
8: Arnie Johnson
9: Brice Johnson
10: Clay Johnson
11: Dennis Johnson
12: Eddie Johnson
13: Eddie Johnson
14: Ervin Johnson
15: Gus Johnson
16: James Johnson
17: Kevin Johnson
18: Larry Johnson
19: Larry Johnson
20: Magic Johnson
21: Neil Johnson
22: Ollie Johnson
23: Omari Johnson
24: Rich Johnson
25: Ron Johnson
26: Trey Johnson
Pick one: 0
Results for Chris Johnson:

You searched for "Nenad Krstić"
1 result found.
Nenad Krstic
Results for Nenad Krstic:

You searched for "Troy Murphy"
8 results found.
0: Troy Murphy
1: Tod Murphy
2: Erik Murphy
3: Jay Murphy
4: Roy Hurley
5: Dick Murphy
6: John Murphy
7: Tracy Murray
Pick one: 0
Results for Troy Murphy:

You searched for "Jermaine O'Neal"
1 result found.
Jermaine O'Neal
Results for Jermaine O'Neal:

AttributeError: 'NoneType' object has no attribute 'replace'

In [ ]:
BOS_2011_gamelogs['GAME_SCORE'] = BOS_2011_gamelogs['GAME_SCORE'].astype(float)
BOS_2011_games = BOS_2011_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2011_games

## BOS 2012 season

In [163]:
# E'twan moore ##

BOS_2012_gamelog = []



for p in BOS_df_2012_players:
    player_log = get_game_logs(str(p), SEASON_2012_START, SEASON_2012_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2012_gamelog.append(player_log)
BOS_2012_gamelog = pd.concat(BOS_2012_gamelog)    
BOS_2012_gamelogs = BOS_2012_gamelog.copy()
BOS_2012_gamelogs.head()

You searched for "Ray Allen"
21 results found.
0: Ray Allen
1: Randy Allen
2: Bob Allen
3: Lavoy Allen
4: Tony Allen
5: Bill Allen
6: Grayson Allen
7: Malik Allen
8: Ray Blume
9: Ray Corley
10: Ray Ellefson
11: Ray Felix
12: Jay Miller
13: Ray Owes
14: Ray Ramsey
15: Ray Epps
16: Roy Marble
17: Raja Bell
18: Troy Bell
19: Gary Hill
20: Gary Neal
Pick one: 0
Results for Ray Allen:

You searched for "Brandon Bass"
5 results found.
0: Brandon Bass
1: Brandon Paul
2: Brandon Rush
3: Brandon Davies
4: Brandon Roy
Pick one: 0
Results for Brandon Bass:

You searched for "Avery Bradley"
4 results found.
0: Avery Bradley
1: Alex Bradley
2: Joe Bradley
3: Tony Bradley
Pick one: 0
Results for Avery Bradley:

You searched for "Marquis Daniels"
1 result found.
Marquis Daniels
Results for Marquis Daniels:

You searched for "Keyon Dooling"
1 result found.
Keyon Dooling
Results for Keyon Dooling:

You searched for "Kevin Garnett"
6 results found.
0: Kevin Garnett
1: Calvin Garrett
2: Dean Garrett
3: Kevin Kunnert
4: Kevin Grevey
5: Kevin Martin
Pick one: 0
Results for Kevin Garnett:

You searched for "Ryan Hollins"
3 results found.
0: Ryan Hollins
1: Don Collins
2: John Collins
Pick one: 0
Results for Ryan Hollins:

You searched for "JaJuan Johnson"
5 results found.
0: JaJuan Johnson
1: Armon Johnson
2: Ivan Johnson
3: James Johnson
4: John Johnson
Pick one: 0
Results for JaJuan Johnson:

You searched for "E'Twaun Moore"
1 result found.
E'Twaun Moore
Results for E'Twaun Moore:

AttributeError: 'NoneType' object has no attribute 'replace'

In [ ]:
BOS_2012_gamelogs['GAME_SCORE'] = BOS_2012_gamelogs['GAME_SCORE'].astype(float)
BOS_2012_games = BOS_2012_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2012_games

## BOS 2013 season

In [164]:

BOS_2013_gamelog = []



for p in BOS_df_2013_players:
    player_log = get_game_logs(str(p), SEASON_2013_START, SEASON_2013_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2013_gamelog.append(player_log)
BOS_2013_gamelog = pd.concat(BOS_2013_gamelog)    
BOS_2013_gamelogs = BOS_2013_gamelog.copy()
BOS_2013_gamelogs.head()

You searched for "Leandro Barbosa"
2 results found.
0: Leandro Barbosa
1: Leandro Bolmaro
Pick one: 0
Results for Leandro Barbosa:

You searched for "Brandon Bass"
5 results found.
0: Brandon Bass
1: Brandon Paul
2: Brandon Rush
3: Brandon Davies
4: Brandon Roy
Pick one: 0
Results for Brandon Bass:

You searched for "Avery Bradley"
4 results found.
0: Avery Bradley
1: Alex Bradley
2: Joe Bradley
3: Tony Bradley
Pick one: 0
Results for Avery Bradley:

You searched for "Jason Collins"
11 results found.
0: Jason Collins
1: Jason Collier
2: Jarron Collins
3: Don Collins
4: James Collins
5: John Collins
6: Art Collins
7: Jimmy Collins
8: Mardy Collins
9: Zach Collins
10: Jason Williams
Pick one: 0
Results for Jason Collins:

You searched for "Jordan Crawford"
4 results found.
0: Jordan Crawford
1: Jordan Ford
2: Jamal Crawford
3: Joe Crawford
Pick one: 0
Results for Jordan Crawford:

You searched for "Kevin Garnett"
6 results found.
0: Kevin Garnett
1: Calvin Garrett
2: Dean Garrett
3: Kevin Kunnert
4: Kevin Grevey
5: Kevin Martin
Pick one: 0
Results for Kevin Garnett:

You searched for "Jeff Green"
21 results found.
0: Jeff Green
1: Josh Green
2: Jeff Adrien
3: Jeff Grayer
4: Ken Green
5: Sean Green
6: Jeff Ayres
7: Jeff Cross
8: A.C. Green
9: Devin Green
10: Kenny Green
11: Mike Green
12: Si Green
13: Steve Green
14: Jeff Lebo
15: Jeff Martin
16: Jeff Turner
17: Jeff Webb
18: Jeff Foote
19: Jeff Slade
20: Jeff Teague
Pick one: 0
Results for Jeff Green:

You searched for "Kris Joseph"
4 results found.
0: Kris Joseph
1: Cory Joseph
2: Garth Joseph
3: Yvon Joseph
Pick one: 0
Results for Kris Joseph:

You searched for "Courtney Lee"
3 results found.
0: Courtney Lee
1: Courtney Sims
2: Joe Courtney
Pick one: 0
Results for Courtney Lee:

You searched for "Fab Melo"
2 results found.
0: Fab Melo
1: Gal Mekel
Pick one: 0
Results for Fab Melo:

You searched for "Darko Miličić"
2 results found.
0: Darko Milicic
1: Marko Milic
Pick one: 0
Results for Darko Milicic:

You searched for "Paul Pierce"
5 results found.
0: Paul Pierce
1: Paul George
2: Paul Pressey
3: Paul Reed
4: Paul Zipser
Pick one: 0
Results for Paul Pierce:

You searched for "Shavlik Randolph"
1 result found.
Shavlik Randolph
Results for Shavlik Randolph:

You searched for "Rajon Rondo"
2 results found.
0: Rajon Rondo
1: Brandon Roy
Pick one: 0
Results for Rajon Rondo:

You searched for "Jared Sullinger"
1 result found.
Jared Sullinger
Results for Jared Sullinger:

You searched for "Jason Terry"
8 results found.
0: Jason Terry
1: Jon Barry
2: JamesOn Curry
3: Jason Hart
4: Ron Perry
5: Carlos Terry
6: Jason Smith
7: Jason Sasser
Pick one: 0
Results for Jason Terry:

You searched for "Jarvis Varnado"
1 result found.
Jarvis Varnado
Results for Jarvis Varnado:

You searched for "D.J. White"
9 results found.
0: D.J. White
1: A.J. Price
2: Coby White
3: Eric White
4: Herb White
5: Jo Jo White
6: Rory White
7: Rudy White
8: Tony White
Pick one: 0
Results for D.J. White:

You searched for "Chris Wilcox"
8 results found.
0: Chris Wilcox
1: Chris Mills
2: Chris Silva
3: Chris Welp
4: C.J. Wilcox
5: Chris Childs
6: Chris Wright
7: Chris Wright
Pick one: 0
Results for Chris Wilcox:

You searched for "Terrence Williams"
3 results found.
0: Terrence Williams
1: Bernie Williams
2: Derrick Williams
Pick one: 0
Results for Terrence Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
8,2012-11-15,29-353,BOS,AWAY,BRK,L (-5),1,30:25,5,11,...,2,2,2,0,0,4,17,13.7,-8,Leandro Barbosa
39,2013-01-18,30-051,BOS,HOME,CHI,L (-1),1,14:44,2,6,...,3,1,1,1,0,4,5,3.7,+2,Leandro Barbosa
0,2012-10-30,27-183,BOS,AWAY,MIA,L (-13),1,28:19,6,11,...,11,1,0,0,1,2,15,13.9,-8,Brandon Bass
1,2012-11-02,27-186,BOS,HOME,MIL,L (-11),1,26:55,3,6,...,6,3,1,0,1,0,10,11.3,-13,Brandon Bass
5,2012-11-10,27-194,BOS,AWAY,MIL,W (+4),1,30:43,3,6,...,7,0,0,1,1,6,8,5.2,+4,Brandon Bass

In [165]:
BOS_2013_gamelogs['GAME_SCORE'] = BOS_2013_gamelogs['GAME_SCORE'].astype(float)
BOS_2013_games = BOS_2013_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2013_games

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
25,2012-12-19,35-067,BOS,HOME,CLE,W (+12),1,33:36,13,16,...,8,5,3,1,1,2,40,41.8,+29,Paul Pierce
68,2013-03-18,26-202,BOS,HOME,MIA,L (-2),1,40:07,14,21,...,7,2,2,4,2,2,43,38.6,+3,Jeff Green
56,2013-02-22,26-178,BOS,AWAY,PHO,W (+25),1,38:44,11,14,...,7,4,2,5,1,1,31,34.2,+26,Jeff Green
45,2014-01-22,27-147,BOS,AWAY,WAS,W (+2),1,45:44,14,26,...,9,1,3,1,1,2,39,30.9,+10,Jeff Green
51,2014-02-05,27-161,BOS,AWAY,PHI,W (+6),1,34:54,11,18,...,8,2,0,2,3,1,36,29.2,+10,Jeff Green
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,2014-04-14,28-193,MEM,AWAY,PHO,W (+6),1,17:23,0,4,...,1,1,0,1,3,0,0,-4.1,-8,Courtney Lee
45,2014-01-31,37-257,BRK,HOME,OKC,L (-25),1,12:14,0,4,...,1,0,0,1,1,4,0,-4.4,-12,Kevin Garnett
39,2014-01-13,27-138,BOS,HOME,HOU,L (-12),1,27:43,2,10,...,6,0,0,0,4,1,4,-4.8,-12,Jeff Green
53,2014-02-09,23-075,BOS,HOME,DAL,L (-11),1,18:58,2,13,...,0,0,0,0,1,2,5,-5.1,-11,Avery Bradley
26,2012-12-21,35-097,BOS,HOME,MIL,L (-5),1,31:53,1,15,...,0,1,0,0,0,0,4,-5.4,-10,Jason Terry

## BOS 2014 season

In [166]:
# vitor faverani
BOS_2014_gamelog = []



for p in BOS_df_2014_players:
    player_log = get_game_logs(str(p), SEASON_2014_START, SEASON_2014_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2014_gamelog.append(player_log)
BOS_2014_gamelog = pd.concat(BOS_2014_gamelog)    
BOS_2014_gamelogs = BOS_2014_gamelog.copy()
BOS_2014_gamelogs.head()

You searched for "Joel Anthony"
3 results found.
0: Joel Anthony
1: Cole Anthony
2: Greg Anthony
Pick one: 0
Results for Joel Anthony:

You searched for "Chris Babb"
14 results found.
0: Chris Babb
1: Chris Bosh
2: Chris Carr
3: Chris Paul
4: Chris Taft
5: Chris Ford
6: Chris Jent
7: Chris Kaman
8: Chris King
9: Chris Mihm
10: Chris Munk
11: Chris Webber
12: Chris Welp
13: Chris Silva
Pick one: 0
Results for Chris Babb:

You searched for "Brandon Bass"
5 results found.
0: Brandon Bass
1: Brandon Paul
2: Brandon Rush
3: Brandon Davies
4: Brandon Roy
Pick one: 0
Results for Brandon Bass:

You searched for "Jerryd Bayless"
1 result found.
Jerryd Bayless
Results for Jerryd Bayless:

You searched for "Vander Blue"
1 result found.
Vander Blue
Results for Vander Blue:

You searched for "Keith Bogans"
5 results found.
0: Keith Bogans
1: Keith Owens
2: Keith Askins
3: Keith Booth
4: Keith Benson
Pick one: 0
Results for Keith Bogans:

You searched for "Avery Bradley"
4 results found.
0: Avery Bradley
1: Alex Bradley
2: Joe Bradley
3: Tony Bradley
Pick one: 0
Results for Avery Bradley:

You searched for "MarShon Brooks"
2 results found.
0: MarShon Brooks
1: Aaron Brooks
Pick one: 0
Results for MarShon Brooks:

You searched for "Jordan Crawford"
4 results found.
0: Jordan Crawford
1: Jordan Ford
2: Jamal Crawford
3: Joe Crawford
Pick one: 0
Results for Jordan Crawford:

You searched for "Vítor Faverani"
1 result found.
Vitor Faverani
Results for Vitor Faverani:

AttributeError: 'NoneType' object has no attribute 'replace'

In [ ]:
BOS_2014_gamelogs['GAME_SCORE'] = BOS_2014_gamelogs['GAME_SCORE'].astype(float)
BOS_2014_games = BOS_2014_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2014_games

## BOS 2015 season

In [167]:
# luigi datome
BOS_2015_gamelog = []



for p in BOS_df_2015_players:
    player_log = get_game_logs(str(p), SEASON_2015_START, SEASON_2015_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2015_gamelog.append(player_log)
BOS_2015_gamelog = pd.concat(BOS_2015_gamelog)    
BOS_2015_gamelogs = BOS_2015_gamelog.copy()
BOS_2015_gamelogs.head()

You searched for "Brandon Bass"
5 results found.
0: Brandon Bass
1: Brandon Paul
2: Brandon Rush
3: Brandon Davies
4: Brandon Roy
Pick one: 0
Results for Brandon Bass:

You searched for "Avery Bradley"
4 results found.
0: Avery Bradley
1: Alex Bradley
2: Joe Bradley
3: Tony Bradley
Pick one: 0
Results for Avery Bradley:

You searched for "Jae Crowder"
4 results found.
0: Jae Crowder
1: Joe Cooper
2: Corey Crowder
3: Joe Strawder
Pick one: 0
Results for Jae Crowder:

You searched for "Luigi Datome"
1 result found.
Luigi Datome
Results for Luigi Datome:

AttributeError: 'NoneType' object has no attribute 'replace'

In [ ]:
BOS_2015_gamelogs['GAME_SCORE'] = BOS_2015_gamelogs['GAME_SCORE'].astype(float)
BOS_2015_games = BOS_2015_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2015_games

## BOS 2016 season

In [168]:
# david lee
BOS_2016_gamelog = []



for p in BOS_df_2016_players:
    player_log = get_game_logs(str(p), SEASON_2016_START, SEASON_2016_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2016_gamelog.append(player_log)
BOS_2016_gamelog = pd.concat(BOS_2016_gamelog)    
BOS_2016_gamelogs = BOS_2016_gamelog.copy()
BOS_2016_gamelogs.head()

You searched for "Avery Bradley"
4 results found.
0: Avery Bradley
1: Alex Bradley
2: Joe Bradley
3: Tony Bradley
Pick one: 0
Results for Avery Bradley:

You searched for "Coty Clarke"
3 results found.
0: Coty Clarke
1: Cory Carr
2: Gary Clark
Pick one: 0
Results for Coty Clarke:

You searched for "Jae Crowder"
4 results found.
0: Jae Crowder
1: Joe Cooper
2: Corey Crowder
3: Joe Strawder
Pick one: 0
Results for Jae Crowder:

You searched for "John Holland"
11 results found.
0: John Holland
1: Joe Holland
2: John Collins
3: Brad Holland
4: John Logan
5: John Wallace
6: John Douglas
7: Johnny Horan
8: John Oldham
9: John Mandic
10: John Tschogl
Pick one: 0
Results for John Holland:

You searched for "R.J. Hunter"
4 results found.
0: R.J. Hunter
1: Les Hunter
2: P.J. Tucker
3: A.J. Wynder
Pick one: 0
Results for R.J. Hunter:

You searched for "Jonas Jerebko"
1 result found.
Jonas Jerebko
Results for Jonas Jerebko:

You searched for "Amir Johnson"
43 results found.
0: Amir Johnson
1: Alize Johnson
2: Andy Johnson
3: Armon Johnson
4: Arnie Johnson
5: Avery Johnson
6: Eric Johnson
7: James Johnson
8: Magic Johnson
9: Neil Johnson
10: Omari Johnson
11: B.J. Johnson
12: Brice Johnson
13: Buck Johnson
14: Cameron Johnson
15: Chris Johnson
16: Chris Johnson
17: Clay Johnson
18: Dakari Johnson
19: Dave Johnson
20: Ed Johnson
21: Eddie Johnson
22: Eddie Johnson
23: Ervin Johnson
24: Gus Johnson
25: Ivan Johnson
26: Joe Johnson
27: John Johnson
28: Ken Johnson
29: Ken Johnson
30: Kevin Johnson
31: Larry Johnson
32: Larry Johnson
33: Lee Johnson
34: Nick Johnson
35: Ollie Johnson
36: Ralph Johnson
37: Rich Johnson
38: Ron Johnson
39: Stew Johnson
40: Trey Johnson
41: Tyler Johnson
42: Neil Johnston
Pick one: 0
Results for Amir Johnson:

You searched for "David Lee"
15 results found.
0: David Lee
1: David Lee
2: Damion Lee
3: David Noel
4: David Pope
5: David Wear
6: David West
7: Saben Lee
8: David Cooke
9: Dick Lee
10: Doug Lee
11: Davon Reed
12: David Wesley
13: David Wood
14: Ed Leede
Pick one: 0
Results for David Lee:

TypeError: 'NoneType' object does not support item assignment

In [ ]:
BOS_2016_gamelogs['GAME_SCORE'] = BOS_2016_gamelogs['GAME_SCORE'].astype(float)
BOS_2016_games = BOS_2016_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2016_games

## BOS 2017 season

In [169]:
BOS_2017_gamelog = []



for p in BOS_df_2017_players:
    player_log = get_game_logs(str(p), SEASON_2017_START, SEASON_2017_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2017_gamelog.append(player_log)
BOS_2017_gamelog = pd.concat(BOS_2017_gamelog)    
BOS_2017_gamelogs = BOS_2017_gamelog.copy()
BOS_2017_gamelogs.head()

You searched for "Avery Bradley"
4 results found.
0: Avery Bradley
1: Alex Bradley
2: Joe Bradley
3: Tony Bradley
Pick one: 0
Results for Avery Bradley:

You searched for "Jaylen Brown"
10 results found.
0: Jaylen Brown
1: Jabari Brown
2: John Brown
3: Leon Brown
4: Markel Brown
5: Myron Brown
6: Raymond Brown
7: Jalen Rose
8: Jaylen Hoard
9: Jalen Jones
Pick one: 0
Results for Jaylen Brown:

You searched for "Jae Crowder"
4 results found.
0: Jae Crowder
1: Joe Cooper
2: Corey Crowder
3: Joe Strawder
Pick one: 0
Results for Jae Crowder:

You searched for "Gerald Green"
6 results found.
0: Gerald Green
1: Gerald Brown
2: Gerald Govan
3: Gerald Glass
4: Erick Green
5: Sean Green
Pick one: 0
Results for Gerald Green:

You searched for "Al Horford"
5 results found.
0: Al Horford
1: Alton Ford
2: Tito Horford
3: Al Wood
4: Al Thornton
Pick one: 0
Results for Al Horford:

You searched for "Demetrius Jackson"
1 result found.
Demetrius Jackson
Results for Demetrius Jackson:

You searched for "Jonas Jerebko"
1 result found.
Jonas Jerebko
Results for Jonas Jerebko:

You searched for "Amir Johnson"
43 results found.
0: Amir Johnson
1: Alize Johnson
2: Andy Johnson
3: Armon Johnson
4: Arnie Johnson
5: Avery Johnson
6: Eric Johnson
7: James Johnson
8: Magic Johnson
9: Neil Johnson
10: Omari Johnson
11: B.J. Johnson
12: Brice Johnson
13: Buck Johnson
14: Cameron Johnson
15: Chris Johnson
16: Chris Johnson
17: Clay Johnson
18: Dakari Johnson
19: Dave Johnson
20: Ed Johnson
21: Eddie Johnson
22: Eddie Johnson
23: Ervin Johnson
24: Gus Johnson
25: Ivan Johnson
26: Joe Johnson
27: John Johnson
28: Ken Johnson
29: Ken Johnson
30: Kevin Johnson
31: Larry Johnson
32: Larry Johnson
33: Lee Johnson
34: Nick Johnson
35: Ollie Johnson
36: Ralph Johnson
37: Rich Johnson
38: Ron Johnson
39: Stew Johnson
40: Trey Johnson
41: Tyler Johnson
42: Neil Johnston
Pick one: 0
Results for Amir Johnson:

You searched for "Jordan Mickey"
2 results found.
0: Jordan Mickey
1: Jordan McRae
Pick one: 0
Results for Jordan Mickey:

You searched for "Kelly Olynyk"
1 result found.
Kelly Olynyk
Results for Kelly Olynyk:

You searched for "Terry Rozier"
9 results found.
0: Terry Rozier
1: Terry Dozier
2: Terry Porter
3: Jerry Dover
4: Jerry Fowler
5: Terry Tyler
6: Terry Crosby
7: Terry Duerod
8: Terry Furlow
Pick one: 0
Results for Terry Rozier:

You searched for "Marcus Smart"
4 results found.
0: Marcus Smart
1: Marcus Banks
2: Marcus Camby
3: Marcus Fizer
Pick one: 0
Results for Marcus Smart:

You searched for "Isaiah Thomas"
5 results found.
0: Isaiah Thomas
1: Isiah Thomas
2: Isaiah Hicks
3: Irving Thomas
4: Isaiah Taylor
Pick one: 0
Results for Isaiah Thomas:

You searched for "James Young"
12 results found.
0: James Young
1: James Lang
2: Joe Young
3: Sam Young
4: James Jones
5: James Posey
6: Danny Young
7: Tim Young
8: Trae Young
9: James Cotton
10: James Hardy
11: James Scott
Pick one: 0
Results for James Young:

You searched for "Tyler Zeller"
4 results found.
0: Tyler Zeller
1: Dave Zeller
2: Luke Zeller
3: Tyler Herro
Pick one: 0
Results for Tyler Zeller:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2016-10-26,25-335,BOS,HOME,BRK,W (+5),1,34:03,7,15,...,9,6,1,0,3,4,17,14.2,+3,Avery Bradley
1,2016-10-27,25-336,BOS,AWAY,CHI,L (-6),1,40:36,6,12,...,6,5,0,1,2,2,16,13.2,-10,Avery Bradley
2,2016-10-29,25-338,BOS,AWAY,CHO,W (+6),1,35:35,11,19,...,11,4,1,0,1,4,31,26.6,+11,Avery Bradley
3,2016-11-02,25-342,BOS,HOME,CHI,W (+7),1,38:41,6,15,...,5,4,0,0,1,4,13,7.4,+2,Avery Bradley
4,2016-11-03,25-343,BOS,AWAY,CLE,L (-6),1,38:52,11,20,...,10,2,1,0,3,2,26,18.4,-2,Avery Bradley

In [170]:
BOS_2017_gamelogs['GAME_SCORE'] = BOS_2017_gamelogs['GAME_SCORE'].astype(float)
BOS_2017_games = BOS_2017_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2017_games

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
28,2016-12-20,27-317,BOS,AWAY,MEM,W (+3),1,38:17,10,16,...,3,6,2,1,1,1,44,43.2,+8,Isaiah Thomas
34,2016-12-30,27-327,BOS,HOME,MIA,W (+3),1,37:09,15,26,...,2,0,1,0,2,2,52,39.0,+10,Isaiah Thomas
50,2017-02-01,27-360,BOS,HOME,TOR,W (+5),1,37:56,12,22,...,4,7,0,0,3,3,44,34.9,+15,Isaiah Thomas
49,2017-01-30,27-358,BOS,HOME,DET,W (+4),1,37:14,11,23,...,0,8,2,0,3,4,41,32.3,-10,Isaiah Thomas
19,2016-12-03,27-300,BOS,AWAY,PHI,W (+1),1,33:11,11,19,...,4,7,1,0,2,2,37,32.0,+4,Isaiah Thomas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,2016-11-21,26-138,BOS,AWAY,MIN,W (+6),1,23:36,2,6,...,5,0,0,0,3,3,4,-1.7,-12,Jae Crowder
45,2017-01-24,29-268,BOS,AWAY,WAS,L (-15),1,4:19,0,2,...,0,0,0,0,0,1,0,-1.8,-5,Amir Johnson
12,2016-11-19,29-202,BOS,AWAY,DET,W (+2),1,20:22,1,5,...,3,0,0,0,1,2,2,-2.0,-10,Amir Johnson
15,2016-11-25,29-208,BOS,HOME,SAS,L (-6),1,16:59,0,5,...,2,0,1,1,1,4,0,-3.4,-6,Amir Johnson
46,2017-01-25,20-093,BOS,HOME,HOU,W (+11),1,13:13,1,4,...,3,0,0,0,3,4,2,-4.1,-4,Jaylen Brown

## BOS 2018 season

In [171]:
BOS_2018_gamelog = []



for p in BOS_df_2018_players:
    player_log = get_game_logs(str(p), SEASON_2018_START, SEASON_2018_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2018_gamelog.append(player_log)
BOS_2018_gamelog = pd.concat(BOS_2018_gamelog)    
BOS_2018_gamelogs = BOS_2018_gamelog.copy()
BOS_2018_gamelogs.head()

You searched for "Kadeem Allen"
1 result found.
Kadeem Allen
Results for Kadeem Allen:

You searched for "Aron Baynes"
8 results found.
0: Aron Baynes
1: Ron Baker
2: Harry Barnes
3: Marvin Barnes
4: Ron Boone
5: Aaron James
6: Tharon Mayes
7: Cameron Payne
Pick one: 0
Results for Aron Baynes:

You searched for "Jabari Bird"
5 results found.
0: Jabari Bird
1: Jerry Bird
2: Larry Bird
3: Jabari Brown
4: Jabari Smith
Pick one: 0
Results for Jabari Bird:

You searched for "Jaylen Brown"
10 results found.
0: Jaylen Brown
1: Jabari Brown
2: John Brown
3: Leon Brown
4: Markel Brown
5: Myron Brown
6: Raymond Brown
7: Jalen Rose
8: Jaylen Hoard
9: Jalen Jones
Pick one: 0
Results for Jaylen Brown:

You searched for "Jarell Eddie"
1 result found.
Jarell Eddie
Results for Jarell Eddie:

You searched for "Jonathan Gibson"
2 results found.
0: Jonathan Gibson
1: Jonathan Isaac
Pick one: 0
Results for Jonathan Gibson:

You searched for "Gordon Hayward"
1 result found.
Gordon Hayward
Results for Gordon Hayward:

You searched for "Al Horford"
5 results found.
0: Al Horford
1: Alton Ford
2: Tito Horford
3: Al Wood
4: Al Thornton
Pick one: 0
Results for Al Horford:

You searched for "Kyrie Irving"
2 results found.
0: Kyrie Irving
1: Byron Irvin
Pick one: 0
Results for Kyrie Irving:

You searched for "Shane Larkin"
1 result found.
Shane Larkin
Results for Shane Larkin:

You searched for "Greg Monroe"
7 results found.
0: Greg Monroe
1: Greg Minor
2: Earl Monroe
3: Greg Foster
4: Greg Howard
5: Greg Oden
6: Greg Sutton
Pick one: 0
Results for Greg Monroe:

You searched for "Marcus Morris"
5 results found.
0: Marcus Morris
1: Darius Morris
2: Marcus Cousin
3: Chris Morris
4: Max Morris
Pick one: 0
Results for Marcus Morris:

You searched for "Abdel Nader"
1 result found.
Abdel Nader
Results for Abdel Nader:

You searched for "Semi Ojeleye"
1 result found.
Semi Ojeleye
Results for Semi Ojeleye:

You searched for "Terry Rozier"
9 results found.
0: Terry Rozier
1: Terry Dozier
2: Terry Porter
3: Jerry Dover
4: Jerry Fowler
5: Terry Tyler
6: Terry Crosby
7: Terry Duerod
8: Terry Furlow
Pick one: 0
Results for Terry Rozier:

You searched for "Xavier Silas"
4 results found.
0: Xavier Silas
1: Xavier Tillman
2: Xavier Sneed
3: James Silas
Pick one: 0
Results for Xavier Silas:

You searched for "Marcus Smart"
4 results found.
0: Marcus Smart
1: Marcus Banks
2: Marcus Camby
3: Marcus Fizer
Pick one: 0
Results for Marcus Smart:

You searched for "Jayson Tatum"
1 result found.
Jayson Tatum
Results for Jayson Tatum:

You searched for "Daniel Theis"
4 results found.
0: Daniel Theis
1: Daniel Ochefu
2: Daniel Oturu
3: Daniel Orton
Pick one: 0
Results for Daniel Theis:

You searched for "Guerschon Yabusele"
1 result found.
Guerschon Yabusele
Results for Guerschon Yabusele:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
79,2018-04-03,25-078,BOS,AWAY,MIL,L (-4),1,22:36,1,4,...,1,2,1,1,1,4,2,0.4,-7,Kadeem Allen
2,2017-10-20,30-315,BOS,AWAY,PHI,W (+10),1,13:40,5,8,...,8,2,0,0,1,5,10,8.8,-3,Aron Baynes
3,2017-10-24,30-319,BOS,HOME,NYK,W (+21),1,22:16,1,3,...,4,1,1,1,0,2,3,4.1,+10,Aron Baynes
5,2017-10-28,30-323,BOS,AWAY,MIA,W (+6),1,24:29,2,3,...,5,1,1,4,1,2,6,9.7,+5,Aron Baynes
6,2017-10-30,30-325,BOS,HOME,SAS,W (+14),1,16:29,3,6,...,5,1,1,1,1,1,6,6.3,+6,Aron Baynes

In [172]:
BOS_2018_gamelogs['GAME_SCORE'] = BOS_2018_gamelogs['GAME_SCORE'].astype(float)
BOS_2018_games = BOS_2018_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2018_games

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
17,2017-11-20,25-242,BOS,AWAY,DAL,W (+8),1,38:46,16,22,...,3,6,1,0,3,3,47,39.9,+21,Kyrie Irving
48,2018-01-21,25-304,BOS,HOME,ORL,L (-8),1,40:06,14,23,...,7,5,0,1,1,1,40,34.8,+6,Kyrie Irving
75,2018-03-25,24-008,BOS,AWAY,SAC,W (+11),1,35:36,12,16,...,5,3,5,0,1,1,33,33.8,+18,Terry Rozier
65,2018-02-28,25-342,BOS,HOME,CHO,W (+28),1,24:35,13,18,...,4,5,1,0,1,1,34,31.3,+18,Kyrie Irving
51,2018-01-27,25-310,BOS,AWAY,GSW,L (-4),1,36:01,13,18,...,2,4,1,0,3,3,37,29.0,0,Kyrie Irving
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2018-02-06,19-340,BOS,AWAY,TOR,L (-20),1,20:49,2,9,...,1,0,0,0,1,0,4,-2.2,-16,Jayson Tatum
26,2017-12-06,23-275,BOS,HOME,DAL,W (+7),1,33:46,1,5,...,1,4,0,0,4,2,2,-2.8,+5,Marcus Smart
23,2017-11-30,21-037,BOS,HOME,PHI,W (+11),1,21:37,1,6,...,3,2,1,0,4,4,2,-3.3,-9,Jaylen Brown
49,2018-01-23,19-326,BOS,AWAY,LAL,L (-1),1,30:34,1,6,...,5,0,0,0,3,4,4,-3.3,-4,Jayson Tatum
49,2018-01-23,31-045,BOS,AWAY,LAL,L (-1),1,10:36,0,3,...,2,0,0,1,2,5,0,-4.8,-7,Aron Baynes

## BOS 2019 season

In [173]:
BOS_2019_gamelog = []



for p in BOS_df_2019_players:
    player_log = get_game_logs(str(p), SEASON_2019_START, SEASON_2019_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2019_gamelog.append(player_log)
BOS_2019_gamelog = pd.concat(BOS_2019_gamelog)    
BOS_2019_gamelogs = BOS_2019_gamelog.copy()
BOS_2019_gamelogs.head()

You searched for "Aron Baynes"
8 results found.
0: Aron Baynes
1: Ron Baker
2: Harry Barnes
3: Marvin Barnes
4: Ron Boone
5: Aaron James
6: Tharon Mayes
7: Cameron Payne
Pick one: 0
Results for Aron Baynes:

You searched for "Jaylen Brown"
10 results found.
0: Jaylen Brown
1: Jabari Brown
2: John Brown
3: Leon Brown
4: Markel Brown
5: Myron Brown
6: Raymond Brown
7: Jalen Rose
8: Jaylen Hoard
9: Jalen Jones
Pick one: 0
Results for Jaylen Brown:

You searched for "PJ Dozier"
1 result found.
PJ Dozier
Results for PJ Dozier:

You searched for "Gordon Hayward"
1 result found.
Gordon Hayward
Results for Gordon Hayward:

You searched for "Al Horford"
5 results found.
0: Al Horford
1: Alton Ford
2: Tito Horford
3: Al Wood
4: Al Thornton
Pick one: 0
Results for Al Horford:

You searched for "R.J. Hunter"
4 results found.
0: R.J. Hunter
1: Les Hunter
2: P.J. Tucker
3: A.J. Wynder
Pick one: 0
Results for R.J. Hunter:

You searched for "Kyrie Irving"
2 results found.
0: Kyrie Irving
1: Byron Irvin
Pick one: 0
Results for Kyrie Irving:

You searched for "Greg Monroe"
7 results found.
0: Greg Monroe
1: Greg Minor
2: Earl Monroe
3: Greg Foster
4: Greg Howard
5: Greg Oden
6: Greg Sutton
Pick one: 0
Results for Greg Monroe:

You searched for "Marcus Morris"
5 results found.
0: Marcus Morris
1: Darius Morris
2: Marcus Cousin
3: Chris Morris
4: Max Morris
Pick one: 0
Results for Marcus Morris:

You searched for "Semi Ojeleye"
1 result found.
Semi Ojeleye
Results for Semi Ojeleye:

You searched for "Terry Rozier"
9 results found.
0: Terry Rozier
1: Terry Dozier
2: Terry Porter
3: Jerry Dover
4: Jerry Fowler
5: Terry Tyler
6: Terry Crosby
7: Terry Duerod
8: Terry Furlow
Pick one: 0
Results for Terry Rozier:

You searched for "Marcus Smart"
4 results found.
0: Marcus Smart
1: Marcus Banks
2: Marcus Camby
3: Marcus Fizer
Pick one: 0
Results for Marcus Smart:

You searched for "Jayson Tatum"
1 result found.
Jayson Tatum
Results for Jayson Tatum:

You searched for "Daniel Theis"
4 results found.
0: Daniel Theis
1: Daniel Ochefu
2: Daniel Oturu
3: Daniel Orton
Pick one: 0
Results for Daniel Theis:

You searched for "Brad Wanamaker"
1 result found.
Brad Wanamaker
Results for Brad Wanamaker:

You searched for "Robert Williams"
7 results found.
0: Robert Williams
1: Rob Williams
2: Art Williams
3: Bob Williams
4: Corey Williams
5: Herb Williams
6: Ron Williams
Pick one: 0
Results for Robert Williams:

You searched for "Guerschon Yabusele"
1 result found.
Guerschon Yabusele
Results for Guerschon Yabusele:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
2,2018-10-20,31-315,BOS,AWAY,NYK,W (+2),1,11:39,3,5,...,5,0,0,0,0,1,10,10.0,+15,Aron Baynes
16,2018-11-19,31-345,BOS,AWAY,CHO,L (-5),1,7:22,1,4,...,2,0,0,1,1,3,2,-0.9,-7,Aron Baynes
17,2018-11-21,31-347,BOS,HOME,NYK,L (-8),1,11:45,0,2,...,1,1,0,2,0,2,0,0.2,-2,Aron Baynes
18,2018-11-23,31-349,BOS,AWAY,ATL,W (+18),1,23:02,5,7,...,9,4,0,1,2,4,16,16.9,+16,Aron Baynes
22,2018-11-30,31-356,BOS,HOME,CLE,W (+33),1,22:48,4,7,...,9,3,0,0,2,4,10,8.7,+28,Aron Baynes

In [174]:
BOS_2019_gamelogs['GAME_SCORE'] = BOS_2019_gamelogs['GAME_SCORE'].astype(float)
BOS_2019_games = BOS_2019_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2019_games

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
14,2018-11-16,26-238,BOS,HOME,TOR,W (+7),1,38:33,18,26,...,2,11,3,1,3,3,43,39.0,+9,Kyrie Irving
46,2019-01-18,26-301,BOS,HOME,MEM,W (+6),1,35:58,14,21,...,7,11,0,1,3,3,38,34.4,+4,Kyrie Irving
61,2019-02-23,26-337,BOS,AWAY,CHI,L (-10),1,40:39,14,24,...,5,10,1,1,2,3,37,33.2,+4,Kyrie Irving
9,2018-11-05,26-227,BOS,AWAY,DEN,L (-8),1,33:57,13,17,...,5,5,3,1,2,3,31,30.6,+2,Kyrie Irving
10,2018-11-08,26-230,BOS,AWAY,PHO,W (+7),1,43:17,13,28,...,7,6,3,1,3,5,39,30.4,+7,Kyrie Irving
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,2018-11-19,31-345,BOS,AWAY,CHO,L (-5),1,7:22,1,4,...,2,0,0,1,1,3,2,-0.9,-7,Aron Baynes
84,2019-04-07,21-035,BOS,HOME,ORL,L (-8),1,6:00,0,2,...,1,0,0,0,0,0,0,-1.1,+1,Jayson Tatum
15,2018-11-17,22-024,BOS,HOME,UTA,L (-12),1,24:43,1,9,...,3,1,0,0,0,2,3,-1.3,-7,Jaylen Brown
42,2019-01-10,32-221,BOS,AWAY,MIA,L (-16),1,23:10,1,8,...,4,3,0,1,2,2,2,-1.6,-26,Al Horford
66,2019-03-03,29-182,BOS,HOME,HOU,L (-11),1,17:34,0,3,...,3,0,1,0,2,0,0,-3.0,-14,Marcus Morris

## BOS 2020 Season

In [175]:
BOS_2020_gamelog = []



for p in BOS_df_2020_players:
    player_log = get_game_logs(str(p), SEASON_2020_START, SEASON_2020_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2020_gamelog.append(player_log)
BOS_2020_gamelog = pd.concat(BOS_2020_gamelog)    
BOS_2020_gamelogs = BOS_2020_gamelog.copy()
BOS_2020_gamelogs.head()

You searched for "Jaylen Brown"
10 results found.
0: Jaylen Brown
1: Jabari Brown
2: John Brown
3: Leon Brown
4: Markel Brown
5: Myron Brown
6: Raymond Brown
7: Jalen Rose
8: Jaylen Hoard
9: Jalen Jones
Pick one: 0
Results for Jaylen Brown:

You searched for "Carsen Edwards"
3 results found.
0: Carsen Edwards
1: Corsley Edwards
2: James Edwards
Pick one: 0
Results for Carsen Edwards:

You searched for "Tacko Fall"
1 result found.
Tacko Fall
Results for Tacko Fall:

You searched for "Javonte Green"
2 results found.
0: Javonte Green
1: Donte Greene
Pick one: 0
Results for Javonte Green:

You searched for "Gordon Hayward"
1 result found.
Gordon Hayward
Results for Gordon Hayward:

You searched for "Enes Kanter"
2 results found.
0: Enes Kanter
1: Les Hunter
Pick one: 0
Results for Enes Kanter:

You searched for "Romeo Langford"
1 result found.
Romeo Langford
Results for Romeo Langford:

You searched for "Semi Ojeleye"
1 result found.
Semi Ojeleye
Results for Semi Ojeleye:

You searched for "Vincent Poirier"
1 result found.
Vincent Poirier
Results for Vincent Poirier:

You searched for "Marcus Smart"
4 results found.
0: Marcus Smart
1: Marcus Banks
2: Marcus Camby
3: Marcus Fizer
Pick one: 0
Results for Marcus Smart:

You searched for "Jayson Tatum"
1 result found.
Jayson Tatum
Results for Jayson Tatum:

You searched for "Daniel Theis"
4 results found.
0: Daniel Theis
1: Daniel Ochefu
2: Daniel Oturu
3: Daniel Orton
Pick one: 0
Results for Daniel Theis:

You searched for "Kemba Walker"
4 results found.
0: Kemba Walker
1: Kenny Walker
2: Henry Walker
3: Jimmy Walker
Pick one: 0
Results for Kemba Walker:

You searched for "Brad Wanamaker"
1 result found.
Brad Wanamaker
Results for Brad Wanamaker:

You searched for "Tremont Waters"
1 result found.
Tremont Waters
Results for Tremont Waters:

You searched for "Grant Williams"
34 results found.
0: Grant Williams
1: Frank Williams
2: Alan Williams
3: Art Williams
4: Gene Williams
5: Hank Williams
6: Matt Williams
7: Ray Williams
8: Ron Williams
9: Sean Williams
10: Walt Williams
11: Aaron Williams
12: Al Williams
13: Brandon Williams
14: Deron Williams
15: Earl Williams
16: Eric Williams
17: Gus Williams
18: Guy Williams
19: Jay Williams
20: John Williams
21: Jordan Williams
22: Kenny Williams
23: Milt Williams
24: Monty Williams
25: Nate Williams
26: Rob Williams
27: Sam Williams
28: Sam Williams
29: Scott Williams
30: Shawne Williams
31: Travis Williams
32: Troy Williams
33: Ward Williams
Pick one: 0
Results for Grant Williams:

You searched for "Robert Williams"
7 results found.
0: Robert Williams
1: Rob Williams
2: Art Williams
3: Bob Williams
4: Corey Williams
5: Herb Williams
6: Ron Williams
Pick one: 0
Results for Robert Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2019-10-23,22-364,BOS,AWAY,PHI,L (-14),1,20:52,3,6,...,7,0,1,0,1,5,8,4.3,-12,Jaylen Brown
1,2019-10-25,23-001,BOS,HOME,TOR,W (+6),1,38:04,11,20,...,9,4,0,2,1,2,25,20.5,+2,Jaylen Brown
2,2019-10-26,23-002,BOS,AWAY,NYK,W (+23),1,27:06,6,14,...,4,2,1,1,2,4,19,11.9,+20,Jaylen Brown
6,2019-11-07,23-014,BOS,AWAY,CHO,W (+21),1,32:07,5,9,...,5,1,1,0,2,1,12,8.5,+13,Jaylen Brown
7,2019-11-09,23-016,BOS,AWAY,SAS,W (+20),1,32:04,10,18,...,7,3,1,0,0,3,30,25.4,+21,Jaylen Brown

In [176]:
BOS_2020_gamelogs['GAME_SCORE'] = BOS_2020_gamelogs['GAME_SCORE'].astype(float)
BOS_2020_games = BOS_2020_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2020_games

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
37,2020-01-11,21-314,BOS,HOME,NOP,W (+35),1,30:23,16,22,...,6,4,3,0,0,1,41,39.2,+30,Jayson Tatum
5,2019-11-05,29-227,BOS,AWAY,CLE,W (+6),1,33:36,17,20,...,7,8,0,0,2,2,39,37.1,+12,Gordon Hayward
23,2019-12-11,29-217,BOS,AWAY,IND,L (-5),1,35:16,16,28,...,3,7,2,0,2,1,44,35.4,-1,Kemba Walker
40,2020-01-16,29-253,BOS,AWAY,MIL,L (-5),1,38:14,14,23,...,11,3,0,1,2,2,40,33.6,-4,Kemba Walker
57,2020-02-23,21-357,BOS,AWAY,LAL,L (-2),1,36:33,12,20,...,5,2,1,2,2,3,41,33.5,+6,Jayson Tatum
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,2019-11-20,23-027,BOS,AWAY,LAC,L (-3),1,39:11,3,14,...,6,1,1,0,3,5,9,-1.5,-4,Jaylen Brown
67,2020-07-31,22-150,BOS,AWAY,MIL,L (-7),1,32:27,2,18,...,7,3,2,1,2,3,5,-1.9,-13,Jayson Tatum
8,2019-11-11,21-253,BOS,HOME,DAL,W (+10),1,34:54,1,18,...,8,4,1,0,1,3,5,-2.4,+16,Jayson Tatum
42,2020-01-18,21-049,BOS,HOME,PHO,L (-4),1,12:35,0,1,...,1,0,0,0,1,3,0,-2.6,-12,Grant Williams
18,2019-12-01,25-270,BOS,AWAY,NYK,W (+9),1,19:39,0,6,...,3,0,0,0,2,3,0,-5.7,-11,Marcus Smart

## BOS 2021 season

In [177]:
BOS_2021_gamelog = []



for p in BOS_df_2021_players:
    player_log = get_game_logs(str(p), SEASON_2021_START, SEASON_2021_END, playoffs = False)
    player_log['Player'] = p
    
    BOS_2021_gamelog.append(player_log)
BOS_2021_gamelog = pd.concat(BOS_2021_gamelog)    
BOS_2021_gamelogs = BOS_2021_gamelog.copy()
BOS_2021_gamelogs.head()

You searched for "Jaylen Brown"
10 results found.
0: Jaylen Brown
1: Jabari Brown
2: John Brown
3: Leon Brown
4: Markel Brown
5: Myron Brown
6: Raymond Brown
7: Jalen Rose
8: Jaylen Hoard
9: Jalen Jones
Pick one: 0
Results for Jaylen Brown:

You searched for "Carsen Edwards"
3 results found.
0: Carsen Edwards
1: Corsley Edwards
2: James Edwards
Pick one: 0
Results for Carsen Edwards:

You searched for "Tacko Fall"
1 result found.
Tacko Fall
Results for Tacko Fall:

You searched for "Evan Fournier"
2 results found.
0: Evan Fournier
1: Evan Turner
Pick one: 0
Results for Evan Fournier:

You searched for "Javonte Green"
2 results found.
0: Javonte Green
1: Donte Greene
Pick one: 0
Results for Javonte Green:

You searched for "Luke Kornet"
1 result found.
Luke Kornet
Results for Luke Kornet:

You searched for "Romeo Langford"
1 result found.
Romeo Langford
Results for Romeo Langford:

You searched for "Aaron Nesmith"
2 results found.
0: Aaron Nesmith
1: Jason Smith
Pick one: 0
Results for Aaron Nesmith:

You searched for "Semi Ojeleye"
1 result found.
Semi Ojeleye
Results for Semi Ojeleye:

You searched for "Jabari Parker"
1 result found.
Jabari Parker
Results for Jabari Parker:

You searched for "Payton Pritchard"
1 result found.
Payton Pritchard
Results for Payton Pritchard:

You searched for "Marcus Smart"
4 results found.
0: Marcus Smart
1: Marcus Banks
2: Marcus Camby
3: Marcus Fizer
Pick one: 0
Results for Marcus Smart:

You searched for "Jayson Tatum"
1 result found.
Jayson Tatum
Results for Jayson Tatum:

You searched for "Jeff Teague"
7 results found.
0: Jeff Teague
1: Jeff Slade
2: Jeff Ayres
3: Jeff Turner
4: Jeff Foster
5: Jeff Green
6: Jeff Withey
Pick one: 0
Results for Jeff Teague:

You searched for "Daniel Theis"
4 results found.
0: Daniel Theis
1: Daniel Ochefu
2: Daniel Oturu
3: Daniel Orton
Pick one: 0
Results for Daniel Theis:

You searched for "Tristan Thompson"
1 result found.
Tristan Thompson
Results for Tristan Thompson:

You searched for "Moritz Wagner"
2 results found.
0: Moritz Wagner
1: Milt Wagner
Pick one: 0
Results for Moritz Wagner:

You searched for "Kemba Walker"
4 results found.
0: Kemba Walker
1: Kenny Walker
2: Henry Walker
3: Jimmy Walker
Pick one: 0
Results for Kemba Walker:

You searched for "Tremont Waters"
1 result found.
Tremont Waters
Results for Tremont Waters:

You searched for "Grant Williams"
34 results found.
0: Grant Williams
1: Frank Williams
2: Alan Williams
3: Art Williams
4: Gene Williams
5: Hank Williams
6: Matt Williams
7: Ray Williams
8: Ron Williams
9: Sean Williams
10: Walt Williams
11: Aaron Williams
12: Al Williams
13: Brandon Williams
14: Deron Williams
15: Earl Williams
16: Eric Williams
17: Gus Williams
18: Guy Williams
19: Jay Williams
20: John Williams
21: Jordan Williams
22: Kenny Williams
23: Milt Williams
24: Monty Williams
25: Nate Williams
26: Rob Williams
27: Sam Williams
28: Sam Williams
29: Scott Williams
30: Shawne Williams
31: Travis Williams
32: Troy Williams
33: Ward Williams
Pick one: 0
Results for Grant Williams:

You searched for "Robert Williams"
7 results found.
0: Robert Williams
1: Rob Williams
2: Art Williams
3: Bob Williams
4: Corey Williams
5: Herb Williams
6: Ron Williams
Pick one: 0
Results for Robert Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2020-12-23,24-060,BOS,HOME,MIL,W (+1),1,37:38,13,24,...,5,4,2,1,0,3,33,27.2,+8,Jaylen Brown
1,2020-12-25,24-062,BOS,HOME,BRK,L (-28),1,30:32,11,25,...,8,3,0,1,2,5,27,15.5,-25,Jaylen Brown
2,2020-12-27,24-064,BOS,AWAY,IND,L (-1),1,33:36,8,13,...,2,4,2,1,2,4,18,14.6,+1,Jaylen Brown
3,2020-12-29,24-066,BOS,AWAY,IND,W (+5),1,34:22,7,13,...,2,2,4,0,1,2,20,15.9,-1,Jaylen Brown
4,2020-12-30,24-067,BOS,HOME,MEM,W (+19),1,28:57,15,21,...,5,4,1,0,4,1,42,34.2,+22,Jaylen Brown

In [178]:
BOS_2021_gamelogs['GAME_SCORE'] = BOS_2021_gamelogs['GAME_SCORE'].astype(float)
BOS_2021_games = BOS_2021_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_2021_games

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
66,2021-04-30,23-058,BOS,HOME,SAS,W (+3),1,45:20,20,37,...,8,5,0,1,0,2,60,47.9,+6,Jayson Tatum
54,2021-04-09,23-037,BOS,HOME,MIN,W (+9),1,41:00,16,25,...,10,4,0,1,5,3,53,42.2,+5,Jayson Tatum
58,2021-04-17,23-045,BOS,HOME,GSW,W (+5),1,39:50,16,25,...,10,3,2,0,2,2,44,36.8,+12,Jayson Tatum
4,2020-12-30,24-067,BOS,HOME,MEM,W (+19),1,28:57,15,21,...,5,4,1,0,4,1,42,34.2,+22,Jaylen Brown
7,2021-01-04,22-307,BOS,AWAY,TOR,W (+12),1,31:41,11,19,...,6,2,0,2,1,5,40,32.7,+24,Jayson Tatum
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,2021-02-24,28-326,BOS,AWAY,ATL,L (-15),1,11:20,0,2,...,0,0,0,1,0,2,0,-1.5,+2,Daniel Theis
11,2021-01-17,22-048,BOS,HOME,NYK,L (-30),1,24:25,1,5,...,2,1,1,0,1,5,3,-1.6,-18,Grant Williams
25,2021-02-12,23-015,BOS,HOME,DET,L (-6),1,28:43,1,5,...,3,1,0,0,1,3,2,-1.7,+8,Payton Pritchard
26,2021-02-14,26-071,BOS,AWAY,WAS,L (-13),1,30:31,1,6,...,2,0,0,0,0,4,3,-1.8,-29,Semi Ojeleye
61,2021-04-23,21-180,BOS,AWAY,BRK,L (-5),1,18:47,0,2,...,2,0,0,0,2,4,0,-3.6,-26,Romeo Langford

## Combine all seasons*

In [179]:
BOS_season_dfs = [BOS_2000_games, BOS_2001_games, BOS_2002_games, BOS_2003_games, BOS_2004_games, BOS_2005_games,
                 BOS_2006_games, BOS_2007_games, BOS_2008_games, BOS_2013_games, BOS_2017_games, BOS_2018_games,
                 BOS_2019_games, BOS_2020_games, BOS_2021_games]

In [183]:
BOS_all = pd.concat(BOS_season_dfs)
BOS_all_sorted = BOS_all.sort_values(by=['GAME_SCORE'], ascending=False)
BOS_all_sorted.head(25)

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
66,2021-04-30,23-058,BOS,HOME,SAS,W (+3),1,45:20,20,37,...,8,5,0,1,0,2,60,47.9,+6,Jayson Tatum
28,2016-12-20,27-317,BOS,AWAY,MEM,W (+3),1,38:17,10,16,...,3,6,2,1,1,1,44,43.2,+8,Isaiah Thomas
54,2021-04-09,23-037,BOS,HOME,MIN,W (+9),1,41:00,16,25,...,10,4,0,1,5,3,53,42.2,+5,Jayson Tatum
25,2012-12-19,35-067,BOS,HOME,CLE,W (+12),1,33:36,13,16,...,8,5,3,1,1,2,40,41.8,+29,Paul Pierce
39,2001-01-17,24-158,BOS,AWAY,SAC,L (-5),1,45:10,16,29,...,5,13,4,1,5,3,47,40.6,-5,Antoine Walker
17,2017-11-20,25-242,BOS,AWAY,DAL,W (+8),1,38:46,16,22,...,3,6,1,0,3,3,47,39.9,+21,Kyrie Irving
37,2020-01-11,21-314,BOS,HOME,NOP,W (+35),1,30:23,16,22,...,6,4,3,0,0,1,41,39.2,+30,Jayson Tatum
14,2018-11-16,26-238,BOS,HOME,TOR,W (+7),1,38:33,18,26,...,2,11,3,1,3,3,43,39.0,+9,Kyrie Irving
34,2016-12-30,27-327,BOS,HOME,MIA,W (+3),1,37:09,15,26,...,2,0,1,0,2,2,52,39.0,+10,Isaiah Thomas
68,2013-03-18,26-202,BOS,HOME,MIA,L (-2),1,40:07,14,21,...,7,2,2,4,2,2,43,38.6,+3,Jeff Green
2,2002-11-02,25-020,BOS,AWAY,NYK,W (+10),1,40:00,12,22,...,6,3,2,2,3,4,46,38.5,+22,Paul Pierce
44,2003-01-24,25-103,BOS,HOME,DEN,W (+19),1,41:19,16,27,...,10,2,3,0,3,1,45,37.3,+20,Paul Pierce
5,2019-11-05,29-227,BOS,AWAY,CLE,W (+6),1,33:36,17,20,...,7,8,0,0,2,2,39,37.1,+12,Gordon Hayward
58,2021-04-17,23-045,BOS,HOME,GSW,W (+5),1,39:50,16,25,...,10,3,2,0,2,2,44,36.8,+12,Jayson Tatum
14,2005-12-02,28-050,BOS,HOME,CHI,L (-4),1,42:25,12,21,...,11,5,4,1,6,2,43,36.2,+3,Paul Pierce
24,2003-12-13,26-061,BOS,AWAY,CLE,W (+7),1,44:11,12,25,...,9,6,4,2,4,1,41,36.2,+4,Paul Pierce
47,2001-02-02,23-112,BOS,AWAY,DET,W (+7),1,44:03,14,19,...,7,2,2,2,3,3,40,35.8,+10,Paul Pierce
23,2019-12-11,29-217,BOS,AWAY,IND,L (-5),1,35:16,16,28,...,3,7,2,0,2,1,44,35.4,-1,Kemba Walker
6,2002-11-11,25-029,BOS,HOME,UTA,W (+17),1,34:48,11,22,...,7,9,3,3,2,2,35,35.1,+34,Paul Pierce
50,2017-02-01,27-360,BOS,HOME,TOR,W (+5),1,37:56,12,22,...,4,7,0,0,3,3,44,34.9,+15,Isaiah Thomas
48,2018-01-21,25-304,BOS,HOME,ORL,L (-8),1,40:06,14,23,...,7,5,0,1,1,1,40,34.8,+6,Kyrie Irving
4,2001-11-07,25-087,BOS,HOME,WAS,W (+9),1,48:00,11,15,...,10,9,1,1,1,4,31,34.5,+9,Antoine Walker
46,2019-01-18,26-301,BOS,HOME,MEM,W (+6),1,35:58,14,21,...,7,11,0,1,3,3,38,34.4,+4,Kyrie Irving
66,2001-03-13,23-151,BOS,AWAY,LAL,L (-5),1,37:35,13,19,...,6,2,4,1,3,4,42,34.4,-19,Paul Pierce
56,2013-02-22,26-178,BOS,AWAY,PHO,W (+25),1,38:44,11,14,...,7,4,2,5,1,1,31,34.2,+26,Jeff Green

In [ ]:
 # -----------

In [133]:
BOS_2008_gamelogs.tail()

BOS_2008_gamelogs['GAME_SCORE'] = BOS_2008_gamelogs['GAME_SCORE'].astype(float)

In [134]:
BOS_2008_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
3,2007-11-07,37-354,LAC,AWAY,IND,W (+15),1,32:47,13,20,...,3,8,2,0,2,0,35,32.3,+24,Sam Cassell
5,2007-11-13,30-031,BOS,AWAY,IND,W (+15),1,41:20,8,17,...,11,6,2,1,1,3,31,30.7,+10,Paul Pierce
53,2008-02-20,32-215,BOS,AWAY,GSW,L (-2),1,38:42,11,17,...,3,6,1,0,0,2,32,30.2,+5,Ray Allen
73,2008-03-26,31-312,BOS,HOME,PHO,W (+20),1,33:56,12,19,...,3,6,2,2,0,3,30,30.0,+14,Kevin Garnett
74,2008-03-28,30-167,BOS,HOME,NOH,W (+20),1,36:16,7,11,...,6,9,0,0,1,3,27,28.0,+28,Paul Pierce
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48,2008-02-08,29-327,BOS,AWAY,MIN,W (+2),1,18:48,0,3,...,3,0,1,0,1,2,0,-2.0,-1,Brian Scalabrine
31,2008-01-04,32-168,BOS,HOME,MEM,W (+4),1,35:18,0,9,...,2,5,1,0,3,2,2,-2.6,+5,Ray Allen
30,2008-01-02,38-045,LAC,HOME,NOH,L (-14),1,19:55,1,8,...,0,2,0,0,2,2,2,-4.6,-14,Sam Cassell
70,2008-03-20,22-027,BOS,AWAY,DAL,W (+4),1,22:02,0,7,...,1,3,3,0,5,2,0,-4.9,-11,Rajon Rondo
31,2008-01-04,21-316,BOS,HOME,MEM,W (+4),1,27:52,2,9,...,4,1,0,0,6,3,4,-6.8,+7,Rajon Rondo

In [ ]:
paul_pierce_2008['GAME_SCORE'] = paul_pierce_2008['GAME_SCORE'].astype(float)

In [ ]:
season = 2000
appended_data_WAS = []

while season <= 2021:
    df_WAS = get_roster('WAS', season)
    df_WAS['Season'] = season
    df_WAS['Team'] = 'WAS'
    appended_data_WAS.append(df_WAS)
    season = season + 1
appended_data_WAS = pd.concat(appended_data_WAS)

In [103]:
p

In [78]:
tatum_2018 = get_game_logs('Jayson Tatum', SEASON_2018_START, SEASON_2018_END, playoffs=False)

You searched for "Jayson Tatum"
1 result found.
Jayson Tatum
Results for Jayson Tatum:

In [ ]:
 # ------

In [79]:
season = 2000

while season <= 2021:
    df_BOS = get_roster('BOS', season)
    df_BOS['season'] = season
    season = season + 1
type(df_BOS)

pandas.core.frame.DataFrame

In [80]:
season = 2000
appended_data_BOS = []
appended_data_LAL = []

# BOS
while season <= 2021:
    df_BOS = get_roster('BOS', season)
    df_BOS['season'] = season
    appended_data_BOS.append(df_BOS)
    season = season + 1
appended_data_BOS = pd.concat(appended_data_BOS)

In [81]:
BOS_df_all = appended_data_BOS.copy()
BOS_df_all

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,season
0,7,Kenny Anderson,PG,6-0,168,1970-10-09,US,8,Georgia Tech,2000
1,11,Dana Barros,PG,5-11,163,1967-04-13,US,10,Boston College,2000
2,4,Tony Battie,C,6-11,230,1976-02-11,US,2,Texas Tech,2000
3,40,Calbert Cheaney,SG,6-7,209,1971-07-17,US,6,Indiana,2000
4,29,Pervis Ellison,C,6-9,210,1967-04-03,US,9,Louisville,2000
...,...,...,...,...,...,...,...,...,...,...
16,20,Moritz Wagner,C,6-11,245,1997-04-26,DE,2,Michigan,2021
17,8,Kemba Walker,PG,6-0,184,1990-05-08,US,9,UConn,2021
18,51,Tremont Waters,PG,5-10,175,1998-01-10,US,1,LSU,2021
19,12,Grant Williams,PF,6-6,236,1998-11-30,US,1,Tennessee,2021
20,44,Robert Williams,C,6-8,237,1997-10-17,US,2,Texas A&M,2021

In [82]:
season = 2000
appended_data_LAL = []

# LAL
while season <= 2021:
    df_LAL = get_roster('LAL', season)
    df_LAL['season'] = season
    appended_data_LAL.append(df_LAL)
    season = season + 1
appended_data_LAL = pd.concat(appended_data_LAL)

In [83]:
LAL_df_all = appended_data_LAL.copy()
LAL_df_all

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,season
0,8,Kobe Bryant,SG,6-6,212,1978-08-23,US,3,NaN,2000
1,11,John Celestand,PG,6-4,178,1977-03-06,US,R,Villanova,2000
2,2,Derek Fisher,PG,6-1,200,1974-08-09,US,3,Little Rock,2000
3,17,Rick Fox,SF,6-7,230,1969-07-24,CA,8,UNC,2000
4,3,Devean George,SF,6-8,220,1977-08-29,US,R,Augsburg College,2000
...,...,...,...,...,...,...,...,...,...,...
14,9,Wesley Matthews,SG,6-4,220,1986-10-14,US,11,Marquette,2021
15,28,Alfonzo McKinnie,SF,6-7,215,1992-09-17,US,3,Green Bay,2021
16,7,Ben McLemore,SG,6-3,195,1993-02-11,US,7,Kansas,2021
17,88,Markieff Morris,PF,6-9,245,1989-09-02,US,9,Kansas,2021
18,17,Dennis Schröder,SG,6-3,172,1993-09-15,DE,7,NaN,2021

In [84]:
# will need to pull in every game log/ of every player/ on every team/ for each year since 2000


# Constants
SEASON_2000_START = '1999-11-02'
SEASON_2000_END = '2000-04-19'

SEASON_2001_START = '2000-11-01'
SEASON_2001_END = '2001-04-18'

SEASON_2002_START = '2001-10-30'
SEASON_2002_END = '2002-04-17'

SEASON_2003_START = '2002-10-30'
SEASON_2003_END = '2003-04-16'

SEASON_2004_START = '2003-10-29'
SEASON_2004_END = '2004-04-12'

SEASON_2005_START = '2004-11-03'
SEASON_2005_END = '2005-04-20'

SEASON_2006_START = '2005-11-02'
SEASON_2006_END = '2006-04-19'

SEASON_2007_START = '2006-11-01'
SEASON_2007_END = '2007-04-18'

SEASON_2008_START = '2007-11-02'
SEASON_2008_END = '2008-04-16'

SEASON_2009_START = '2008-10-28'
SEASON_2009_END = '2009-04-15'

SEASON_2010_START = '2009-10-27'
SEASON_2010_END = '2010-04-14'

SEASON_2011_START = '2010-10-26'
SEASON_2011_END = '2011-04-13'

SEASON_2012_START = '2011-11-25'
SEASON_2012_END = '2012-04-26'

SEASON_2013_START = '2012-10-30'
SEASON_2013_END = '2014-04-17'

SEASON_2014_START = '2013-10-30'
SEASON_2014_END = '2014-04-16'

SEASON_2015_START = '2014-10-29'
SEASON_2015_END = '2015-04-15'

SEASON_2016_START = '2015-10-28' 
SEASON_2016_END = '2016-04-13'

SEASON_2017_START = '2016-10-25'
SEASON_2017_END = '2017-04-14'

SEASON_2018_START = '2017-10-17'
SEASON_2018_END = '2018-04-14'

SEASON_2019_START = '2018-10-18'
SEASON_2019_END = '2019-04-12'

SEASON_2020_START = '2019-10-22'
SEASON_2020_END = '2020-08-15'

SEASON_2021_START = '2020-12-22'
SEASON_2021_END = '2021-05-16'