In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime as dt
import scipy.stats as stats
from basketball_reference_scraper.players import get_stats, get_game_logs, get_player_headshot
from basketball_reference_scraper.teams import get_roster, get_team_stats, get_opp_stats, get_roster_stats,get_team_misc

In [2]:
# Constants
SEASON_2000_START = '1999-11-02'
SEASON_2000_END = '2000-04-19'

SEASON_2001_START = '2000-11-01'
SEASON_2001_END = '2001-04-18'

SEASON_2002_START = '2001-10-30'
SEASON_2002_END = '2002-04-17'

SEASON_2003_START = '2002-10-30'
SEASON_2003_END = '2003-04-16'

SEASON_2004_START = '2003-10-29'
SEASON_2004_END = '2004-04-12'

SEASON_2005_START = '2004-11-03'
SEASON_2005_END = '2005-04-20'

SEASON_2006_START = '2005-11-02'
SEASON_2006_END = '2006-04-19'

SEASON_2007_START = '2006-11-01'
SEASON_2007_END = '2007-04-18'

SEASON_2008_START = '2007-11-02'
SEASON_2008_END = '2008-04-16'

SEASON_2009_START = '2008-10-28'
SEASON_2009_END = '2009-04-15'

SEASON_2010_START = '2009-10-27'
SEASON_2010_END = '2010-04-14'

SEASON_2011_START = '2010-10-26'
SEASON_2011_END = '2011-04-13'

SEASON_2012_START = '2011-11-25'
SEASON_2012_END = '2012-04-26'

SEASON_2013_START = '2012-10-30'
SEASON_2013_END = '2014-04-17'

SEASON_2014_START = '2013-10-30'
SEASON_2014_END = '2014-04-16'

SEASON_2015_START = '2014-10-29'
SEASON_2015_END = '2015-04-15'

SEASON_2016_START = '2015-10-28' 
SEASON_2016_END = '2016-04-13'

SEASON_2017_START = '2016-10-25'
SEASON_2017_END = '2017-04-14'

SEASON_2018_START = '2017-10-17'
SEASON_2018_END = '2018-04-14'

SEASON_2019_START = '2018-10-18'
SEASON_2019_END = '2019-04-12'

SEASON_2020_START = '2019-10-22'
SEASON_2020_END = '2020-08-15'

SEASON_2021_START = '2020-12-22'
SEASON_2021_END = '2021-05-16'

In [3]:
season = 2000
appended_data_NYK = []

# NYK
while season <= 2021:
    df_NYK = get_roster('NYK', season)
    df_NYK['Season'] = season
    df_NYK['Team'] = 'NYK'
    appended_data_NYK.append(df_NYK)
    season = season + 1
appended_data_NYK = pd.concat(appended_data_NYK)

In [4]:
NYK_df_all = appended_data_NYK.copy()
NYK_df_all_csv = NYK_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_players_all.csv', index=False)
NYK_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_players_all.csv')
NYK_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,41,Etdrick Bohannon,PF,6-9,220,1973-05-29,US,2,"Arizona, Tennessee, Auburn University at Montg...",2000,NYK
1,9,Rick Brunson,PG,6-4,190,1972-06-14,US,2,Temple,2000,NYK
2,23,Marcus Camby,C,6-11,220,1974-03-22,US,3,UMass,2000,NYK
3,1,Chris Childs,PG,6-3,195,1967-11-20,US,5,Boise State,2000,NYK
4,14,Chris Dudley,C,6-11,235,1965-02-22,US,12,Yale,2000,NYK

In [5]:
NYK_df_2000 = NYK_df_all[NYK_df_all['Season'] == 2000]
NYK_df_2001 = NYK_df_all[NYK_df_all['Season'] == 2001]
NYK_df_2002 = NYK_df_all[NYK_df_all['Season'] == 2002]
NYK_df_2003 = NYK_df_all[NYK_df_all['Season'] == 2003]
NYK_df_2004 = NYK_df_all[NYK_df_all['Season'] == 2004]
NYK_df_2005 = NYK_df_all[NYK_df_all['Season'] == 2005]
NYK_df_2006 = NYK_df_all[NYK_df_all['Season'] == 2006]
NYK_df_2007 = NYK_df_all[NYK_df_all['Season'] == 2007]
NYK_df_2008 = NYK_df_all[NYK_df_all['Season'] == 2008]
NYK_df_2009 = NYK_df_all[NYK_df_all['Season'] == 2009]
NYK_df_2010 = NYK_df_all[NYK_df_all['Season'] == 2010]
NYK_df_2011 = NYK_df_all[NYK_df_all['Season'] == 2011]
NYK_df_2012 = NYK_df_all[NYK_df_all['Season'] == 2012]
NYK_df_2013 = NYK_df_all[NYK_df_all['Season'] == 2013]
NYK_df_2014 = NYK_df_all[NYK_df_all['Season'] == 2014]
NYK_df_2015 = NYK_df_all[NYK_df_all['Season'] == 2015]
NYK_df_2016 = NYK_df_all[NYK_df_all['Season'] == 2016]
NYK_df_2017 = NYK_df_all[NYK_df_all['Season'] == 2017]
NYK_df_2018 = NYK_df_all[NYK_df_all['Season'] == 2018]
NYK_df_2019 = NYK_df_all[NYK_df_all['Season'] == 2019]
NYK_df_2020 = NYK_df_all[NYK_df_all['Season'] == 2020]
NYK_df_2021 = NYK_df_all[NYK_df_all['Season'] == 2021]

In [ ]:
# changing names
#NYK_df_2002.loc[NYK_df_2003.PLAYER == 'Nenê Hilário', 'PLAYER'] = 'Nene Hilario'
#NYK_df_2004.loc[NYK_df_2003.PLAYER == 'Nenê Hilário', 'PLAYER'] = 'Nene Hilario'

In [6]:
NYK_df_2000_players = NYK_df_2000['PLAYER'].to_list()
NYK_df_2001_players = NYK_df_2001['PLAYER'].to_list()
NYK_df_2002_players = NYK_df_2002['PLAYER'].to_list()
NYK_df_2003_players = NYK_df_2003['PLAYER'].to_list()
NYK_df_2004_players = NYK_df_2004['PLAYER'].to_list()
NYK_df_2005_players = NYK_df_2005['PLAYER'].to_list()

NYK_df_2006_players = NYK_df_2006['PLAYER'].to_list()
NYK_df_2007_players = NYK_df_2007['PLAYER'].to_list()
NYK_df_2008_players = NYK_df_2008['PLAYER'].to_list()
NYK_df_2009_players = NYK_df_2009['PLAYER'].to_list()
NYK_df_2010_players = NYK_df_2010['PLAYER'].to_list()
NYK_df_2011_players = NYK_df_2011['PLAYER'].to_list()

NYK_df_2012_players = NYK_df_2012['PLAYER'].to_list()
NYK_df_2013_players = NYK_df_2013['PLAYER'].to_list()
NYK_df_2014_players = NYK_df_2014['PLAYER'].to_list()
NYK_df_2015_players = NYK_df_2015['PLAYER'].to_list()
NYK_df_2016_players = NYK_df_2016['PLAYER'].to_list()
NYK_df_2017_players = NYK_df_2017['PLAYER'].to_list()

NYK_df_2018_players = NYK_df_2018['PLAYER'].to_list()
NYK_df_2019_players = NYK_df_2019['PLAYER'].to_list()
NYK_df_2020_players = NYK_df_2020['PLAYER'].to_list()
NYK_df_2021_players = NYK_df_2021['PLAYER'].to_list()

## players to drop

In [52]:

#NYK_df_2000_players.remove("Larry Johnson")
#NYK_df_2001_players.remove("Larry Johnson")
#NYK_df_2006_players.remove("David Lee")
#NYK_df_2007_players.remove("David Lee")
#NYK_df_2008_players.remove("David Lee")
#NYK_df_2009_players.remove("David Lee")
#NYK_df_2010_players.remove("David Lee")
#NYK_df_2009_players.remove("Mouhamed Sene")
#NYK_df_2010_players.remove("Henry Walker")
#NYK_df_2011_players.remove("Henry Walker")
#NYK_df_2012_players.remove("Henry Walker")
#NYK_df_2014_players.remove("Chris Smith")
#NYK_df_2014_players.remove("Metta World Peace")
#NYK_df_2016_players.remove("Kyle O'Quinn")
#NYK_df_2017_players.remove("Kyle O'Quinn")
#NYK_df_2018_players.remove("Kyle O'Quinn")
#NYK_df_2018_players.remove("Frank Ntilikina")
#NYK_df_2019_players.remove("Frank Ntilikina")
#NYK_df_2020_players.remove("Frank Ntilikina")
#NYK_df_2021_players.remove("Frank Ntilikina")
#NYK_df_2019_players.remove("Dennis Smith")
NYK_df_2020_players.remove("Dennis Smith")
NYK_df_2021_players.remove("Dennis Smith")

In [10]:
# removed larry johnson
NYK_2000_gamelog = []


for p in NYK_df_2000_players:
    player_log = get_game_logs(str(p), SEASON_2000_START, SEASON_2000_END, playoffs = False)
    player_log['Player'] = p
    
    NYK_2000_gamelog.append(player_log)
NYK_2000_gamelog = pd.concat(NYK_2000_gamelog)    
NYK_2000_gamelogs = NYK_2000_gamelog.copy()
NYK_2000_gamelogs['GAME_SCORE'] = NYK_2000_gamelogs['GAME_SCORE'].astype(float)
NYK_2000_games = NYK_2000_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
NYK_2000_games_csv = NYK_2000_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2000_games.csv', index=False)
NYK_2000_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2000_games.csv')
NYK_2000_games_proc.head()

You searched for "Etdrick Bohannon"
1 result found.
Etdrick Bohannon
Results for Etdrick Bohannon:

You searched for "Rick Brunson"
6 results found.
0: Rick Brunson
1: Ricky Blanton
2: Nick Johnson
3: Rich Johnson
4: Rick Wilson
5: Rickey Brown
Pick one: 0
Results for Rick Brunson:

You searched for "Marcus Camby"
6 results found.
0: Marcus Camby
1: Marcus Banks
2: Marcus Landry
3: Marcus Paige
4: Marcus Webb
5: Marcus Smart
Pick one: 0
Results for Marcus Camby:

You searched for "Chris Childs"
5 results found.
0: Chris Childs
1: Chris Mills
2: Chris Chiozza
3: Chris Silva
4: Chris Richard
Pick one: 0
Results for Chris Childs:

You searched for "Chris Dudley"
8 results found.
0: Chris Dudley
1: Charles Dudley
2: Chris Anstey
3: Jared Dudley
4: Chris Duhon
5: Chris Engler
6: Chris Hunter
7: Chris Mullin
Pick one: 0
Results for Chris Dudley:

You searched for "Patrick Ewing"
4 results found.
0: Patrick Ewing
1: Patrick Ewing
2: Patrick Eddie
3: Patrick McCaw
Pick one: 0
Results for Patrick Ewing:

You searched for "Allan Houston"
3 results found.
0: Allan Houston
1: Allan Bristow
2: Byron Houston
Pick one: 0
Results for Allan Houston:

You searched for "DeMarco Johnson"
4 results found.
0: DeMarco Johnson
1: DerMarr Johnson
2: Dakari Johnson
3: Omari Johnson
Pick one: 0
Results for DeMarco Johnson:

You searched for "Andrew Lang"
5 results found.
0: Andrew Lang
1: Andrew Gaze
2: Andrew Levane
3: Andrew Bynum
4: Andrew Toney
Pick one: 0
Results for Andrew Lang:

You searched for "Latrell Sprewell"
1 result found.
Latrell Sprewell
Results for Latrell Sprewell:

You searched for "Kurt Thomas"
12 results found.
0: Kurt Thomas
1: Carl Thomas
2: Khyri Thomas
3: Matt Thomas
4: Etan Thomas
5: Jim Thomas
6: Joe Thomas
7: John Thomas
8: Kenny Thomas
9: Terry Thomas
10: Tim Thomas
11: Tyrus Thomas
Pick one: 0
Results for Kurt Thomas:

You searched for "Mirsad Türkcan"
1 result found.
Mirsad Turkcan
Results for Mirsad Turkcan:

You searched for "John Wallace"
11 results found.
0: John Wallace
1: John Wall
2: Ben Wallace
3: John Havlicek
4: John Holland
5: John Salley
6: John Vallely
7: Red Wallace
8: John Williams
9: John Bagley
10: John Warren
Pick one: 0
Results for John Wallace:

You searched for "Charlie Ward"
8 results found.
0: Charlie Ward
1: Charlie Tyra
2: Charlie Bell
3: Charlie Black
4: Charlie Davis
5: Charlie Lowery
6: Charlie Paulk
7: Charlie Brown
Pick one: 0
Results for Charlie Ward:

You searched for "David Wingate"
1 result found.
David Wingate
Results for David Wingate:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2000-01-04,28-259,NYK,HOME,BOS,W (+8),1,43:00,12,18,...,3,1,1,0,3,2,37,27.2,7,Allan Houston
1,2000-03-02,29-176,NYK,HOME,MIL,W (+15),1,36:15,13,17,...,4,4,0,0,2,2,32,26.5,15,Latrell Sprewell
2,1999-11-08,25-231,NYK,HOME,MIL,W (+10),1,45:03,9,14,...,13,2,2,6,1,4,23,26.5,18,Marcus Camby
3,1999-11-29,29-048,NYK,HOME,DAL,W (+25),1,30:10,8,9,...,3,5,2,1,3,0,25,26.0,27,Charlie Ward
4,2000-01-30,29-144,NYK,HOME,SAC,W (+9),1,41:15,10,17,...,5,5,1,0,4,2,32,25.3,15,Latrell Sprewell

In [12]:
# removed larry johnson
NYK_2001_gamelog = []


for p in NYK_df_2001_players:
    player_log = get_game_logs(str(p), SEASON_2001_START, SEASON_2001_END, playoffs = False)
    player_log['Player'] = p
    
    NYK_2001_gamelog.append(player_log)
NYK_2001_gamelog = pd.concat(NYK_2001_gamelog)    
NYK_2001_gamelogs = NYK_2001_gamelog.copy()
NYK_2001_gamelogs['GAME_SCORE'] = NYK_2001_gamelogs['GAME_SCORE'].astype(float)
NYK_2001_games = NYK_2001_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
NYK_2001_games_csv = NYK_2001_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2001_games.csv', index=False)
NYK_2001_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2001_games.csv')
NYK_2001_games_proc.head()

You searched for "Rick Brunson"
6 results found.
0: Rick Brunson
1: Ricky Blanton
2: Nick Johnson
3: Rich Johnson
4: Rick Wilson
5: Rickey Brown
Pick one: 0
Results for Rick Brunson:

You searched for "Marcus Camby"
6 results found.
0: Marcus Camby
1: Marcus Banks
2: Marcus Landry
3: Marcus Paige
4: Marcus Webb
5: Marcus Smart
Pick one: 0
Results for Marcus Camby:

You searched for "Chris Childs"
5 results found.
0: Chris Childs
1: Chris Mills
2: Chris Chiozza
3: Chris Silva
4: Chris Richard
Pick one: 0
Results for Chris Childs:

You searched for "Othella Harrington"
1 result found.
Othella Harrington
Results for Othella Harrington:

You searched for "Allan Houston"
3 results found.
0: Allan Houston
1: Allan Bristow
2: Byron Houston
Pick one: 0
Results for Allan Houston:

You searched for "Mark Jackson"
25 results found.
0: Mark Jackson
1: Marc Jackson
2: Aaron Jackson
3: Al Jackson
4: Frank Jackson
5: Jaren Jackson
6: Jaren Jackson
7: Mike Jackson
8: Myron Jackson
9: Mark Macon
10: Mark Eaton
11: Greg Jackson
12: Jim Jackson
13: Josh Jackson
14: Luke Jackson
15: Luke Jackson
16: Mervin Jackson
17: Phil Jackson
18: Ralph Jackson
19: Tony Jackson
20: Tony Jackson
21: Tracy Jackson
22: Mark Madsen
23: Mark Jones
24: Mark Jones
Pick one: 0
Results for Mark Jackson:

You searched for "Travis Knight"
3 results found.
0: Travis Knight
1: Brevin Knight
2: Brandin Knight
Pick one: 0
Results for Travis Knight:

You searched for "Luc Longley"
1 result found.
Luc Longley
Results for Luc Longley:

You searched for "Lavor Postell"
1 result found.
Lavor Postell
Results for Lavor Postell:

You searched for "Glen Rice"
7 results found.
0: Glen Rice
1: Glen Rice
2: Greg Kite
3: Brent Price
4: Gene Rock
5: Jalen Rose
6: Glen Davis
Pick one: 0
Results for Glen Rice:

You searched for "Felton Spencer"
2 results found.
0: Felton Spencer
1: Elmore Spencer
Pick one: 0
Results for Felton Spencer:

You searched for "Latrell Sprewell"
1 result found.
Latrell Sprewell
Results for Latrell Sprewell:

You searched for "Erick Strickland"
3 results found.
0: Erick Strickland
1: Mark Strickland
2: Rod Strickland
Pick one: 0
Results for Erick Strickland:

You searched for "Kurt Thomas"
12 results found.
0: Kurt Thomas
1: Carl Thomas
2: Khyri Thomas
3: Matt Thomas
4: Etan Thomas
5: Jim Thomas
6: Joe Thomas
7: John Thomas
8: Kenny Thomas
9: Terry Thomas
10: Tim Thomas
11: Tyrus Thomas
Pick one: 0
Results for Kurt Thomas:

You searched for "Charlie Ward"
8 results found.
0: Charlie Ward
1: Charlie Tyra
2: Charlie Bell
3: Charlie Black
4: Charlie Davis
5: Charlie Lowery
6: Charlie Paulk
7: Charlie Brown
Pick one: 0
Results for Charlie Ward:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2001-03-20,29-334,NYK,AWAY,CLE,W (+35),1,39:47,15,23,...,5,1,1,1,2,2,39,30.0,40,Allan Houston
1,2001-01-17,35-291,TOR,AWAY,SAS,W (+7),1,36:00,8,10,...,7,10,1,0,1,1,23,27.9,14,Mark Jackson
2,2001-03-01,26-344,NYK,HOME,BOS,W (+7),1,39:24,10,18,...,17,3,0,3,2,1,27,26.9,3,Marcus Camby
3,2000-11-10,29-204,NYK,AWAY,BOS,W (+2),1,47:00,13,20,...,4,3,0,0,4,3,37,25.5,1,Allan Houston
4,2000-12-29,30-112,NYK,HOME,CHI,W (+27),1,38:14,11,17,...,5,4,0,0,3,2,32,25.0,24,Latrell Sprewell

In [13]:

NYK_2002_gamelog = []


for p in NYK_df_2002_players:
    player_log = get_game_logs(str(p), SEASON_2002_START, SEASON_2002_END, playoffs = False)
    player_log['Player'] = p
    
    NYK_2002_gamelog.append(player_log)
NYK_2002_gamelog = pd.concat(NYK_2002_gamelog)    
NYK_2002_gamelogs = NYK_2002_gamelog.copy()
NYK_2002_gamelogs['GAME_SCORE'] = NYK_2002_gamelogs['GAME_SCORE'].astype(float)
NYK_2002_games = NYK_2002_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
NYK_2002_games_csv = NYK_2002_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2002_games.csv', index=False)
NYK_2002_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2002_games.csv')
NYK_2002_games_proc.head()

You searched for "Shandon Anderson"
1 result found.
Shandon Anderson
Results for Shandon Anderson:

You searched for "Marcus Camby"
6 results found.
0: Marcus Camby
1: Marcus Banks
2: Marcus Landry
3: Marcus Paige
4: Marcus Webb
5: Marcus Smart
Pick one: 0
Results for Marcus Camby:

You searched for "Howard Eisley"
1 result found.
Howard Eisley
Results for Howard Eisley:

You searched for "Othella Harrington"
1 result found.
Othella Harrington
Results for Othella Harrington:

You searched for "Allan Houston"
3 results found.
0: Allan Houston
1: Allan Bristow
2: Byron Houston
Pick one: 0
Results for Allan Houston:

You searched for "Mark Jackson"
25 results found.
0: Mark Jackson
1: Marc Jackson
2: Aaron Jackson
3: Al Jackson
4: Frank Jackson
5: Jaren Jackson
6: Jaren Jackson
7: Mike Jackson
8: Myron Jackson
9: Mark Macon
10: Mark Eaton
11: Greg Jackson
12: Jim Jackson
13: Josh Jackson
14: Luke Jackson
15: Luke Jackson
16: Mervin Jackson
17: Phil Jackson
18: Ralph Jackson
19: Tony Jackson
20: Tony Jackson
21: Tracy Jackson
22: Mark Madsen
23: Mark Jones
24: Mark Jones
Pick one: 0
Results for Mark Jackson:

You searched for "Travis Knight"
3 results found.
0: Travis Knight
1: Brevin Knight
2: Brandin Knight
Pick one: 0
Results for Travis Knight:

You searched for "Lavor Postell"
1 result found.
Lavor Postell
Results for Lavor Postell:

You searched for "Larry Robinson"
9 results found.
0: Larry Robinson
1: Larry Johnson
2: Larry Johnson
3: Chris Robinson
4: David Robinson
5: Jamal Robinson
6: James Robinson
7: Nate Robinson
8: Wayne Robinson
Pick one: 0
Results for Larry Robinson:

You searched for "Felton Spencer"
2 results found.
0: Felton Spencer
1: Elmore Spencer
Pick one: 0
Results for Felton Spencer:

You searched for "Latrell Sprewell"
1 result found.
Latrell Sprewell
Results for Latrell Sprewell:

You searched for "Kurt Thomas"
12 results found.
0: Kurt Thomas
1: Carl Thomas
2: Khyri Thomas
3: Matt Thomas
4: Etan Thomas
5: Jim Thomas
6: Joe Thomas
7: John Thomas
8: Kenny Thomas
9: Terry Thomas
10: Tim Thomas
11: Tyrus Thomas
Pick one: 0
Results for Kurt Thomas:

You searched for "Charlie Ward"
8 results found.
0: Charlie Ward
1: Charlie Tyra
2: Charlie Bell
3: Charlie Black
4: Charlie Davis
5: Charlie Lowery
6: Charlie Paulk
7: Charlie Brown
Pick one: 0
Results for Charlie Ward:

You searched for "Clarence Weatherspoon"
1 result found.
Clarence Weatherspoon
Results for Clarence Weatherspoon:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2002-03-14,31-187,NYK,HOME,SAC,W (+17),1,46:30,17,26,...,4,6,1,0,1,2,43,36.6,17,Latrell Sprewell
1,2002-02-20,30-306,NYK,AWAY,CHI,L (-4),1,44:39,11,19,...,5,6,2,0,1,0,34,31.8,-1,Allan Houston
2,2002-01-26,31-140,NYK,AWAY,MIL,W (+2),1,54:26,17,36,...,7,6,2,0,6,2,48,31.5,-2,Latrell Sprewell
3,2002-01-12,30-267,NYK,HOME,MIL,L (-5),1,43:16,13,29,...,3,5,0,2,2,4,44,31.1,1,Allan Houston
4,2002-02-05,30-291,NYK,HOME,LAC,L (-2),1,39:47,13,24,...,2,4,2,0,2,1,40,30.6,5,Allan Houston

In [14]:

    
NYK_2003_gamelog = []



for p in NYK_df_2003_players:
    player_log = get_game_logs(str(p), SEASON_2003_START, SEASON_2003_END, playoffs = False)
    player_log['Player'] = p
    
    NYK_2003_gamelog.append(player_log)
NYK_2003_gamelog = pd.concat(NYK_2003_gamelog)    
NYK_2003_gamelogs = NYK_2003_gamelog.copy()
NYK_2003_gamelogs['GAME_SCORE'] = NYK_2003_gamelogs['GAME_SCORE'].astype(float)
NYK_2003_games = NYK_2003_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
NYK_2003_games_csv = NYK_2003_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2003_games.csv', index=False)
NYK_2003_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2003_games.csv')
NYK_2003_games_proc.head()

You searched for "Shandon Anderson"
1 result found.
Shandon Anderson
Results for Shandon Anderson:

You searched for "Michael Doleac"
8 results found.
0: Michael Doleac
1: Michael Holton
2: Michael Jordan
3: Michael Wiley
4: Michael Ansley
5: Michael Cooper
6: Michael Finley
7: Michael Porter
Pick one: 0
Results for Michael Doleac:

You searched for "Howard Eisley"
1 result found.
Howard Eisley
Results for Howard Eisley:

You searched for "Othella Harrington"
1 result found.
Othella Harrington
Results for Othella Harrington:

You searched for "Allan Houston"
3 results found.
0: Allan Houston
1: Allan Bristow
2: Byron Houston
Pick one: 0
Results for Allan Houston:

You searched for "Travis Knight"
3 results found.
0: Travis Knight
1: Brevin Knight
2: Brandin Knight
Pick one: 0
Results for Travis Knight:

You searched for "Lee Nailon"
2 results found.
0: Lee Nailon
1: Zeke Nnaji
Pick one: 0
Results for Lee Nailon:

You searched for "Lavor Postell"
1 result found.
Lavor Postell
Results for Lavor Postell:

You searched for "Latrell Sprewell"
1 result found.
Latrell Sprewell
Results for Latrell Sprewell:

You searched for "Kurt Thomas"
12 results found.
0: Kurt Thomas
1: Carl Thomas
2: Khyri Thomas
3: Matt Thomas
4: Etan Thomas
5: Jim Thomas
6: Joe Thomas
7: John Thomas
8: Kenny Thomas
9: Terry Thomas
10: Tim Thomas
11: Tyrus Thomas
Pick one: 0
Results for Kurt Thomas:

You searched for "Charlie Ward"
8 results found.
0: Charlie Ward
1: Charlie Tyra
2: Charlie Bell
3: Charlie Black
4: Charlie Davis
5: Charlie Lowery
6: Charlie Paulk
7: Charlie Brown
Pick one: 0
Results for Charlie Ward:

You searched for "Clarence Weatherspoon"
1 result found.
Clarence Weatherspoon
Results for Clarence Weatherspoon:

You searched for "Frank Williams"
34 results found.
0: Frank Williams
1: Grant Williams
2: Hank Williams
3: Alan Williams
4: Ray Williams
5: Ron Williams
6: Sean Williams
7: Aaron Williams
8: Al Williams
9: Art Williams
10: Brandon Williams
11: Buck Williams
12: Chuck Williams
13: Deron Williams
14: Duck Williams
15: Earl Williams
16: Eric Williams
17: Fly Williams
18: Freeman Williams
19: Gene Williams
20: Jay Williams
21: John Williams
22: Jordan Williams
23: Kenny Williams
24: Matt Williams
25: Nate Williams
26: Rob Williams
27: Sam Williams
28: Sam Williams
29: Shawne Williams
30: Travis Williams
31: Troy Williams
32: Walt Williams
33: Ward Williams
Pick one: 0
Results for Frank Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2003-02-16,31-302,NYK,AWAY,LAL,W (+7),1,43:29,18,29,...,4,5,2,0,0,3,53,44.6,3,Allan Houston
1,2003-03-16,31-330,NYK,HOME,MIL,W (+9),1,44:17,13,25,...,2,1,0,0,0,3,50,38.2,8,Allan Houston
2,2003-02-04,32-149,NYK,HOME,LAC,W (+13),1,37:05,14,19,...,3,3,1,0,3,3,38,30.1,15,Latrell Sprewell
3,2003-02-28,32-173,NYK,HOME,ORL,W (+8),1,53:48,9,25,...,11,11,5,2,1,3,28,30.1,5,Latrell Sprewell
4,2003-01-31,30-058,NYK,AWAY,MEM,W (+6),1,29:05,12,15,...,3,8,1,1,3,1,30,29.1,11,Howard Eisley

In [15]:


NYK_2004_gamelog = []



for p in NYK_df_2004_players:
    player_log = get_game_logs(str(p), SEASON_2004_START, SEASON_2004_END, playoffs = False)
    player_log['Player'] = p
    
    NYK_2004_gamelog.append(player_log)
NYK_2004_gamelog = pd.concat(NYK_2004_gamelog)    
NYK_2004_gamelogs = NYK_2004_gamelog.copy()
NYK_2004_gamelogs['GAME_SCORE'] = NYK_2004_gamelogs['GAME_SCORE'].astype(float)
NYK_2004_games = NYK_2004_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
NYK_2004_games_csv = NYK_2004_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2004_games.csv', index=False)
NYK_2004_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2004_games.csv')
NYK_2004_games_proc.head()

You searched for "Shandon Anderson"
1 result found.
Shandon Anderson
Results for Shandon Anderson:

You searched for "Vin Baker"
8 results found.
0: Vin Baker
1: Ron Baker
2: Von Wafer
3: Norm Baker
4: Tom Barker
5: Devin Booker
6: Thon Maker
7: Zan Tabak
Pick one: 0
Results for Vin Baker:

You searched for "Michael Doleac"
8 results found.
0: Michael Doleac
1: Michael Holton
2: Michael Jordan
3: Michael Wiley
4: Michael Ansley
5: Michael Cooper
6: Michael Finley
7: Michael Porter
Pick one: 0
Results for Michael Doleac:

You searched for "Howard Eisley"
1 result found.
Howard Eisley
Results for Howard Eisley:

You searched for "Anfernee Hardaway"
1 result found.
Anfernee Hardaway
Results for Anfernee Hardaway:

You searched for "Othella Harrington"
1 result found.
Othella Harrington
Results for Othella Harrington:

You searched for "Allan Houston"
3 results found.
0: Allan Houston
1: Allan Bristow
2: Byron Houston
Pick one: 0
Results for Allan Houston:

You searched for "DerMarr Johnson"
4 results found.
0: DerMarr Johnson
1: DeMarco Johnson
2: Dakari Johnson
3: Omari Johnson
Pick one: 0
Results for DerMarr Johnson:

You searched for "Stephon Marbury"
1 result found.
Stephon Marbury
Results for Stephon Marbury:

You searched for "Antonio McDyess"
1 result found.
Antonio McDyess
Results for Antonio McDyess:

You searched for "Nazr Mohammed"
1 result found.
Nazr Mohammed
Results for Nazr Mohammed:

You searched for "Dikembe Mutombo"
1 result found.
Dikembe Mutombo
Results for Dikembe Mutombo:

You searched for "Moochie Norris"
1 result found.
Moochie Norris
Results for Moochie Norris:

You searched for "Bruno Šundov"
1 result found.
Bruno Sundov
Results for Bruno Sundov:

You searched for "Mike Sweetney"
1 result found.
Mike Sweetney
Results for Mike Sweetney:

You searched for "Kurt Thomas"
12 results found.
0: Kurt Thomas
1: Carl Thomas
2: Khyri Thomas
3: Matt Thomas
4: Etan Thomas
5: Jim Thomas
6: Joe Thomas
7: John Thomas
8: Kenny Thomas
9: Terry Thomas
10: Tim Thomas
11: Tyrus Thomas
Pick one: 0
Results for Kurt Thomas:

You searched for "Tim Thomas"
16 results found.
0: Tim Thomas
1: Jim Thomas
2: Etan Thomas
3: Joe Thomas
4: Jim Chones
5: Tim James
6: Billy Thomas
7: Carl Thomas
8: Isiah Thomas
9: Jamel Thomas
10: James Thomas
11: John Thomas
12: Kurt Thomas
13: Matt Thomas
14: Terry Thomas
15: Tyrus Thomas
Pick one: 0
Results for Tim Thomas:

You searched for "Cezary Trybański"
1 result found.
Cezary Trybanski
Results for Cezary Trybanski:

You searched for "Keith Van Horn"
2 results found.
0: Keith Van Horn
1: Keith Langford
Pick one: 0
Results for Keith Van Horn:

You searched for "Charlie Ward"
8 results found.
0: Charlie Ward
1: Charlie Tyra
2: Charlie Bell
3: Charlie Black
4: Charlie Davis
5: Charlie Lowery
6: Charlie Paulk
7: Charlie Brown
Pick one: 0
Results for Charlie Ward:

You searched for "Clarence Weatherspoon"
1 result found.
Clarence Weatherspoon
Results for Clarence Weatherspoon:

You searched for "Frank Williams"
34 results found.
0: Frank Williams
1: Grant Williams
2: Hank Williams
3: Alan Williams
4: Ray Williams
5: Ron Williams
6: Sean Williams
7: Aaron Williams
8: Al Williams
9: Art Williams
10: Brandon Williams
11: Buck Williams
12: Chuck Williams
13: Deron Williams
14: Duck Williams
15: Earl Williams
16: Eric Williams
17: Fly Williams
18: Freeman Williams
19: Gene Williams
20: Jay Williams
21: John Williams
22: Jordan Williams
23: Kenny Williams
24: Matt Williams
25: Nate Williams
26: Rob Williams
27: Sam Williams
28: Sam Williams
29: Shawne Williams
30: Travis Williams
31: Troy Williams
32: Walt Williams
33: Ward Williams
Pick one: 0
Results for Frank Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2003-12-29,26-312,PHO,AWAY,LAC,W (+8),1,41:46,15,23,...,4,9,5,0,2,1,40,40.4,8,Stephon Marbury
1,2004-02-08,26-353,NYK,HOME,LAC,W (+6),1,45:07,15,20,...,1,8,2,0,4,1,42,37.1,6,Stephon Marbury
2,2003-12-14,32-238,NYK,HOME,WAS,W (+2),1,44:32,12,19,...,2,3,2,0,1,0,39,34.2,6,Allan Houston
3,2004-01-12,26-326,NYK,HOME,DAL,L (-6),1,51:50,14,24,...,3,14,1,0,4,3,38,32.9,-5,Stephon Marbury
4,2004-03-05,27-014,NYK,AWAY,TOR,W (+6),1,42:48,12,21,...,4,9,2,0,2,2,35,31.8,10,Stephon Marbury

In [16]:


NYK_2005_gamelog = []

for p in NYK_df_2005_players:
    player_log = get_game_logs(str(p), SEASON_2005_START, SEASON_2005_END, playoffs = False)
    player_log['Player'] = p
    
    NYK_2005_gamelog.append(player_log)
NYK_2005_gamelog = pd.concat(NYK_2005_gamelog)    
NYK_2005_gamelogs = NYK_2005_gamelog.copy()
NYK_2005_gamelogs['GAME_SCORE'] = NYK_2005_gamelogs['GAME_SCORE'].astype(float)
NYK_2005_games = NYK_2005_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
NYK_2005_games_csv = NYK_2005_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2005_games.csv', index=False)
NYK_2005_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2005_games.csv')
NYK_2005_games_proc.head()

You searched for "Shandon Anderson"
1 result found.
Shandon Anderson
Results for Shandon Anderson:

You searched for "Trevor Ariza"
1 result found.
Trevor Ariza
Results for Trevor Ariza:

You searched for "Vin Baker"
8 results found.
0: Vin Baker
1: Ron Baker
2: Von Wafer
3: Norm Baker
4: Tom Barker
5: Devin Booker
6: Thon Maker
7: Zan Tabak
Pick one: 0
Results for Vin Baker:

You searched for "Jamison Brewer"
1 result found.
Jamison Brewer
Results for Jamison Brewer:

You searched for "Jackie Butler"
3 results found.
0: Jackie Butler
1: Mike Butler
2: Jackie Ridgle
Pick one: 0
Results for Jackie Butler:

You searched for "Jamal Crawford"
3 results found.
0: Jamal Crawford
1: Joe Crawford
2: Jordan Crawford
Pick one: 0
Results for Jamal Crawford:

You searched for "Anfernee Hardaway"
1 result found.
Anfernee Hardaway
Results for Anfernee Hardaway:

You searched for "Allan Houston"
3 results found.
0: Allan Houston
1: Allan Bristow
2: Byron Houston
Pick one: 0
Results for Allan Houston:

You searched for "Jermaine Jackson"
2 results found.
0: Jermaine Jackson
1: Mervin Jackson
Pick one: 0
Results for Jermaine Jackson:

You searched for "Stephon Marbury"
1 result found.
Stephon Marbury
Results for Stephon Marbury:

You searched for "Nazr Mohammed"
1 result found.
Nazr Mohammed
Results for Nazr Mohammed:

You searched for "Moochie Norris"
1 result found.
Moochie Norris
Results for Moochie Norris:

You searched for "Malik Rose"
7 results found.
0: Malik Rose
1: Malik Monk
2: Jalen Rose
3: Malik Allen
4: Mark Pope
5: Malik Fitts
6: Al Roges
Pick one: 0
Results for Malik Rose:

You searched for "Bruno Šundov"
1 result found.
Bruno Sundov
Results for Bruno Sundov:

You searched for "Mike Sweetney"
1 result found.
Mike Sweetney
Results for Mike Sweetney:

You searched for "Maurice Taylor"
6 results found.
0: Maurice Taylor
1: Marlon Taylor
2: Maurice Ager
3: Maurice Baker
4: Maurice Carter
5: Mike Taylor
Pick one: 0
Results for Maurice Taylor:

You searched for "Kurt Thomas"
12 results found.
0: Kurt Thomas
1: Carl Thomas
2: Khyri Thomas
3: Matt Thomas
4: Etan Thomas
5: Jim Thomas
6: Joe Thomas
7: John Thomas
8: Kenny Thomas
9: Terry Thomas
10: Tim Thomas
11: Tyrus Thomas
Pick one: 0
Results for Kurt Thomas:

You searched for "Tim Thomas"
16 results found.
0: Tim Thomas
1: Jim Thomas
2: Etan Thomas
3: Joe Thomas
4: Jim Chones
5: Tim James
6: Billy Thomas
7: Carl Thomas
8: Isiah Thomas
9: Jamel Thomas
10: James Thomas
11: John Thomas
12: Kurt Thomas
13: Matt Thomas
14: Terry Thomas
15: Tyrus Thomas
Pick one: 0
Results for Tim Thomas:

You searched for "Jerome Williams"
16 results found.
0: Jerome Williams
1: Bernie Williams
2: Deron Williams
3: Aaron Williams
4: Eric Williams
5: Gene Williams
6: Herb Williams
7: Jason Williams
8: John Williams
9: Jordan Williams
10: Pete Williams
11: Reggie Williams
12: Reggie Williams
13: Rob Williams
14: Ron Williams
15: Troy Williams
Pick one: 0
Results for Jerome Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2005-03-29,28-037,NYK,AWAY,LAL,L (-10),1,41:27,12,22,...,6,10,1,0,6,3,45,37.4,-8,Stephon Marbury
1,2005-01-25,24-311,NYK,HOME,PHO,L (-15),1,44:32,14,25,...,5,7,1,0,2,2,40,32.7,-15,Jamal Crawford
2,2004-11-30,27-284,NYK,AWAY,ATL,W (+1),1,46:35,9,19,...,4,6,6,0,1,2,32,32.3,5,Stephon Marbury
3,2004-12-29,27-313,NYK,HOME,MIN,W (+13),1,38:08,12,19,...,7,11,2,0,3,3,32,31.5,12,Stephon Marbury
4,2005-02-04,27-350,NYK,AWAY,SAC,L (-1),1,37:58,15,19,...,1,8,1,0,2,4,37,31.4,-2,Stephon Marbury

In [19]:
# removed david Lee
NYK_2006_gamelog = []

for p in NYK_df_2006_players:
    player_log = get_game_logs(str(p), SEASON_2006_START, SEASON_2006_END, playoffs = False)
    player_log['Player'] = p
    
    NYK_2006_gamelog.append(player_log)
NYK_2006_gamelog = pd.concat(NYK_2006_gamelog)    
NYK_2006_gamelogs = NYK_2006_gamelog.copy()
NYK_2006_gamelogs['GAME_SCORE'] = NYK_2006_gamelogs['GAME_SCORE'].astype(float)
NYK_2006_games = NYK_2006_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
NYK_2006_games_csv = NYK_2006_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2006_games.csv', index=False)
NYK_2006_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2006_games.csv')
NYK_2006_games_proc.head()

You searched for "Trevor Ariza"
1 result found.
Trevor Ariza
Results for Trevor Ariza:

You searched for "Matt Barnes"
10 results found.
0: Matt Barnes
1: Matt Bonner
2: Marty Byrnes
3: Harry Barnes
4: Jim Barnes
5: Marvin Barnes
6: Matt Maloney
7: Matt Mooney
8: Matt Walsh
9: Matt Bullard
Pick one: 0
Results for Matt Barnes:

You searched for "Jackie Butler"
3 results found.
0: Jackie Butler
1: Mike Butler
2: Jackie Ridgle
Pick one: 0
Results for Jackie Butler:

You searched for "Jamal Crawford"
3 results found.
0: Jamal Crawford
1: Joe Crawford
2: Jordan Crawford
Pick one: 0
Results for Jamal Crawford:

You searched for "Eddy Curry"
4 results found.
0: Eddy Curry
1: Dell Curry
2: Seth Curry
3: Kenny Carr
Pick one: 0
Results for Eddy Curry:

You searched for "Antonio Davis"
6 results found.
0: Antonio Davis
1: Antonio Daniels
2: Anthony Davis
3: Antonio Burks
4: Antonio Harvey
5: Antonio Lang
Pick one: 0
Results for Antonio Davis:

You searched for "Steve Francis"
3 results found.
0: Steve Francis
1: Steve Bracey
2: Steve Harris
Pick one: 0
Results for Steve Francis:

You searched for "Channing Frye"
1 result found.
Channing Frye
Results for Channing Frye:

You searched for "Anfernee Hardaway"
1 result found.
Anfernee Hardaway
Results for Anfernee Hardaway:

You searched for "Jerome James"
8 results found.
0: Jerome James
1: Jerome Lane
2: Jerome Allen
3: Jerome Harmon
4: Aaron James
5: Gene James
6: LeBron James
7: Jerome Jordan
Pick one: 0
Results for Jerome James:

You searched for "Stephon Marbury"
1 result found.
Stephon Marbury
Results for Stephon Marbury:

You searched for "Quentin Richardson"
1 result found.
Quentin Richardson
Results for Quentin Richardson:

You searched for "Nate Robinson"
12 results found.
0: Nate Robinson
1: James Robinson
2: Wayne Robinson
3: Nate Hinton
4: Nate Johnston
5: David Robinson
6: Eddie Robinson
7: Jackie Robinson
8: Jamal Robinson
9: Larry Robinson
10: Ronnie Robinson
11: Samuel Robinson
Pick one: 0
Results for Nate Robinson:

You searched for "Jalen Rose"
9 results found.
0: Jalen Rose
1: Jalen Jones
2: Malik Rose
3: Jaylen Brown
4: James Posey
5: Glen Rice
6: Glen Rice
7: Jalen Harris
8: Al Roges
Pick one: 0
Results for Jalen Rose:

You searched for "Malik Rose"
7 results found.
0: Malik Rose
1: Malik Monk
2: Jalen Rose
3: Malik Allen
4: Mark Pope
5: Malik Fitts
6: Al Roges
Pick one: 0
Results for Malik Rose:

You searched for "Maurice Taylor"
6 results found.
0: Maurice Taylor
1: Marlon Taylor
2: Maurice Ager
3: Maurice Baker
4: Maurice Carter
5: Mike Taylor
Pick one: 0
Results for Maurice Taylor:

You searched for "Ime Udoka"
2 results found.
0: Ime Udoka
1: Ekpe Udoh
Pick one: 0
Results for Ime Udoka:

You searched for "Qyntel Woods"
1 result found.
Qyntel Woods
Results for Qyntel Woods:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2006-04-09,26-020,NYK,AWAY,BOS,W (+15),1,45:46,10,19,...,11,5,3,0,2,1,31,29.1,17,Jamal Crawford
1,2006-03-01,29-009,NYK,AWAY,MEM,L (-2),1,38:22,8,11,...,1,13,1,0,1,1,25,29.1,-5,Stephon Marbury
2,2006-04-05,26-016,NYK,HOME,CLE,W (+2),1,44:58,13,24,...,5,4,1,0,2,2,37,28.3,-4,Jamal Crawford
3,2006-01-20,32-355,TOR,AWAY,SEA,W (+8),1,38:03,9,12,...,1,7,1,0,0,2,28,28.2,19,Jalen Rose
4,2005-12-23,28-305,ORL,HOME,LAL,L (-16),1,41:09,8,14,...,5,9,2,1,2,5,28,26.7,-8,Steve Francis

In [20]:


NYK_2007_gamelog = []

for p in NYK_df_2007_players:
    player_log = get_game_logs(str(p), SEASON_2007_START, SEASON_2007_END, playoffs = False)
    player_log['Player'] = p
    
    NYK_2007_gamelog.append(player_log)
NYK_2007_gamelog = pd.concat(NYK_2007_gamelog)    
NYK_2007_gamelogs = NYK_2007_gamelog.copy()
NYK_2007_gamelogs['GAME_SCORE'] = NYK_2007_gamelogs['GAME_SCORE'].astype(float)
NYK_2007_games = NYK_2007_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
NYK_2007_games_csv = NYK_2007_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2007_games.csv', index=False)
NYK_2007_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2007_games.csv')
NYK_2007_games_proc.head()

You searched for "Renaldo Balkman"
1 result found.
Renaldo Balkman
Results for Renaldo Balkman:

You searched for "Kelvin Cato"
4 results found.
0: Kelvin Cato
1: Calvin Natt
2: Kevin Knox
3: Kevin Love
Pick one: 0
Results for Kelvin Cato:

You searched for "Mardy Collins"
8 results found.
0: Mardy Collins
1: Art Collins
2: James Collins
3: Jarron Collins
4: Jason Collins
5: Jimmy Collins
6: Zach Collins
7: Marty Conlon
Pick one: 0
Results for Mardy Collins:

You searched for "Jamal Crawford"
3 results found.
0: Jamal Crawford
1: Joe Crawford
2: Jordan Crawford
Pick one: 0
Results for Jamal Crawford:

You searched for "Eddy Curry"
4 results found.
0: Eddy Curry
1: Dell Curry
2: Seth Curry
3: Kenny Carr
Pick one: 0
Results for Eddy Curry:

You searched for "Steve Francis"
3 results found.
0: Steve Francis
1: Steve Bracey
2: Steve Harris
Pick one: 0
Results for Steve Francis:

You searched for "Channing Frye"
1 result found.
Channing Frye
Results for Channing Frye:

You searched for "Jerome James"
8 results found.
0: Jerome James
1: Jerome Lane
2: Jerome Allen
3: Jerome Harmon
4: Aaron James
5: Gene James
6: LeBron James
7: Jerome Jordan
Pick one: 0
Results for Jerome James:

You searched for "Jared Jeffries"
1 result found.
Jared Jeffries
Results for Jared Jeffries:

You searched for "Stephon Marbury"
1 result found.
Stephon Marbury
Results for Stephon Marbury:

You searched for "Randolph Morris"
1 result found.
Randolph Morris
Results for Randolph Morris:

You searched for "Quentin Richardson"
1 result found.
Quentin Richardson
Results for Quentin Richardson:

You searched for "Nate Robinson"
12 results found.
0: Nate Robinson
1: James Robinson
2: Wayne Robinson
3: Nate Hinton
4: Nate Johnston
5: David Robinson
6: Eddie Robinson
7: Jackie Robinson
8: Jamal Robinson
9: Larry Robinson
10: Ronnie Robinson
11: Samuel Robinson
Pick one: 0
Results for Nate Robinson:

You searched for "Malik Rose"
7 results found.
0: Malik Rose
1: Malik Monk
2: Jalen Rose
3: Malik Allen
4: Mark Pope
5: Malik Fitts
6: Al Roges
Pick one: 0
Results for Malik Rose:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2007-01-26,26-312,NYK,HOME,MIA,W (+20),1,39:29,20,30,...,3,1,2,0,3,2,52,39.6,27,Jamal Crawford
1,2007-04-07,24-123,NYK,AWAY,MIL,W (+5),1,50:10,17,20,...,13,1,2,0,4,1,43,38.0,-1,Eddy Curry
2,2007-03-03,30-011,NYK,AWAY,ATL,W (+4),1,51:09,11,26,...,5,9,5,1,1,4,38,34.7,10,Stephon Marbury
3,2006-12-27,29-310,NYK,HOME,DET,W (+6),1,50:34,13,23,...,5,8,1,0,2,6,41,32.6,0,Stephon Marbury
4,2006-11-01,26-202,NYK,AWAY,MEM,W (+1),1,56:16,10,13,...,9,3,0,0,1,3,31,29.7,-2,Quentin Richardson

In [21]:


NYK_2008_gamelog = []

for p in NYK_df_2008_players:
    player_log = get_game_logs(str(p), SEASON_2008_START, SEASON_2008_END, playoffs = False)
    player_log['Player'] = p
    
    NYK_2008_gamelog.append(player_log)
NYK_2008_gamelog = pd.concat(NYK_2008_gamelog)    
NYK_2008_gamelogs = NYK_2008_gamelog.copy()
NYK_2008_gamelogs['GAME_SCORE'] = NYK_2008_gamelogs['GAME_SCORE'].astype(float)
NYK_2008_games = NYK_2008_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
NYK_2008_games_csv = NYK_2008_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2008_games.csv', index=False)
NYK_2008_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2008_games.csv')
NYK_2008_games_proc.head()

You searched for "Renaldo Balkman"
1 result found.
Renaldo Balkman
Results for Renaldo Balkman:

You searched for "Wilson Chandler"
2 results found.
0: Wilson Chandler
1: Tyson Chandler
Pick one: 0
Results for Wilson Chandler:

You searched for "Mardy Collins"
8 results found.
0: Mardy Collins
1: Art Collins
2: James Collins
3: Jarron Collins
4: Jason Collins
5: Jimmy Collins
6: Zach Collins
7: Marty Conlon
Pick one: 0
Results for Mardy Collins:

You searched for "Jamal Crawford"
3 results found.
0: Jamal Crawford
1: Joe Crawford
2: Jordan Crawford
Pick one: 0
Results for Jamal Crawford:

You searched for "Eddy Curry"
4 results found.
0: Eddy Curry
1: Dell Curry
2: Seth Curry
3: Kenny Carr
Pick one: 0
Results for Eddy Curry:

You searched for "Jerome James"
8 results found.
0: Jerome James
1: Jerome Lane
2: Jerome Allen
3: Jerome Harmon
4: Aaron James
5: Gene James
6: LeBron James
7: Jerome Jordan
Pick one: 0
Results for Jerome James:

You searched for "Jared Jeffries"
1 result found.
Jared Jeffries
Results for Jared Jeffries:

You searched for "Fred Jones"
29 results found.
0: Fred Jones
1: Tre Jones
2: Fred Foster
3: Fred Jacobs
4: Bill Jones
5: Earl Jones
6: Jake Jones
7: Jalen Jones
8: James Jones
9: K.C. Jones
10: Larry Jones
11: Mark Jones
12: Mark Jones
13: Nick Jones
14: Ozell Jones
15: Perry Jones
16: Rich Jones
17: Sam Jones
18: Steve Jones
19: Tyus Jones
20: Wali Jones
21: Wil Jones
22: Red Owens
23: Fred Paine
24: Fred Roberts
25: Fred Brown
26: Fred Diute
27: Fred Vinson
28: Fred Hilton
Pick one: 0
Results for Fred Jones:

You searched for "Stephon Marbury"
1 result found.
Stephon Marbury
Results for Stephon Marbury:

You searched for "Randolph Morris"
1 result found.
Randolph Morris
Results for Randolph Morris:

You searched for "Zach Randolph"
1 result found.
Zach Randolph
Results for Zach Randolph:

You searched for "Quentin Richardson"
1 result found.
Quentin Richardson
Results for Quentin Richardson:

You searched for "Nate Robinson"
12 results found.
0: Nate Robinson
1: James Robinson
2: Wayne Robinson
3: Nate Hinton
4: Nate Johnston
5: David Robinson
6: Eddie Robinson
7: Jackie Robinson
8: Jamal Robinson
9: Larry Robinson
10: Ronnie Robinson
11: Samuel Robinson
Pick one: 0
Results for Nate Robinson:

You searched for "Malik Rose"
7 results found.
0: Malik Rose
1: Malik Monk
2: Jalen Rose
3: Malik Allen
4: Mark Pope
5: Malik Fitts
6: Al Roges
Pick one: 0
Results for Malik Rose:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2008-03-08,23-282,NYK,HOME,POR,L (-6),1,52:15,16,28,...,6,6,1,0,2,3,45,34.8,-4,Nate Robinson
1,2008-03-30,28-010,NYK,AWAY,ATL,L (-5),1,36:55,14,25,...,0,8,3,0,3,4,39,30.7,2,Jamal Crawford
2,2008-01-16,27-302,NYK,AWAY,NJN,W (+6),1,45:09,11,20,...,1,8,2,0,1,4,35,30.3,4,Jamal Crawford
3,2007-12-15,27-270,NYK,HOME,NJN,W (+8),1,45:15,11,18,...,7,3,1,0,1,1,32,27.2,15,Jamal Crawford
4,2008-01-08,25-034,NYK,AWAY,CHI,W (+5),1,36:44,11,14,...,8,1,0,4,1,3,29,26.5,2,Eddy Curry

In [24]:
# removed Mouhamed Sene

NYK_2009_gamelog = []

for p in NYK_df_2009_players:
    player_log = get_game_logs(str(p), SEASON_2009_START, SEASON_2009_END, playoffs = False)
    player_log['Player'] = p
    
    NYK_2009_gamelog.append(player_log)
NYK_2009_gamelog = pd.concat(NYK_2009_gamelog)    
NYK_2009_gamelogs = NYK_2009_gamelog.copy()
NYK_2009_gamelogs['GAME_SCORE'] = NYK_2009_gamelogs['GAME_SCORE'].astype(float)
NYK_2009_games = NYK_2009_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
NYK_2009_games_csv = NYK_2009_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2009_games.csv', index=False)
NYK_2009_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2009_games.csv')
NYK_2009_games_proc.head()

You searched for "Wilson Chandler"
2 results found.
0: Wilson Chandler
1: Tyson Chandler
Pick one: 0
Results for Wilson Chandler:

You searched for "Mardy Collins"
8 results found.
0: Mardy Collins
1: Art Collins
2: James Collins
3: Jarron Collins
4: Jason Collins
5: Jimmy Collins
6: Zach Collins
7: Marty Conlon
Pick one: 0
Results for Mardy Collins:

You searched for "Jamal Crawford"
3 results found.
0: Jamal Crawford
1: Joe Crawford
2: Jordan Crawford
Pick one: 0
Results for Jamal Crawford:

You searched for "Joe Crawford"
4 results found.
0: Joe Crawford
1: Jamal Crawford
2: Jordan Crawford
3: Joe Strawder
Pick one: 0
Results for Joe Crawford:

You searched for "Eddy Curry"
4 results found.
0: Eddy Curry
1: Dell Curry
2: Seth Curry
3: Kenny Carr
Pick one: 0
Results for Eddy Curry:

You searched for "Chris Duhon"
16 results found.
0: Chris Duhon
1: Chris Quinn
2: Chris Dudley
3: Kris Dunn
4: Chris Johnson
5: Chris Johnson
6: Chris Kaman
7: Chris Mihm
8: Chris Mullin
9: Chris Munk
10: Chris Bosh
11: Chris Ford
12: Chris Jent
13: Chris King
14: Chris Smith
15: Chris Smith
Pick one: 0
Results for Chris Duhon:

You searched for "Danilo Gallinari"
1 result found.
Danilo Gallinari
Results for Danilo Gallinari:

You searched for "Al Harrington"
5 results found.
0: Al Harrington
1: Adam Harrington
2: Bob Carrington
3: Al Hairston
4: Matt Harpring
Pick one: 0
Results for Al Harrington:

You searched for "Larry Hughes"
6 results found.
0: Larry Hughes
1: Larry Bunce
2: Larry Fogle
3: Larry Jones
4: Larry Sykes
5: Larry Wright
Pick one: 0
Results for Larry Hughes:

You searched for "Jerome James"
8 results found.
0: Jerome James
1: Jerome Lane
2: Jerome Allen
3: Jerome Harmon
4: Aaron James
5: Gene James
6: LeBron James
7: Jerome Jordan
Pick one: 0
Results for Jerome James:

You searched for "Jared Jeffries"
1 result found.
Jared Jeffries
Results for Jared Jeffries:

You searched for "Demetris Nichols"
1 result found.
Demetris Nichols
Results for Demetris Nichols:

You searched for "Zach Randolph"
1 result found.
Zach Randolph
Results for Zach Randolph:

You searched for "Quentin Richardson"
1 result found.
Quentin Richardson
Results for Quentin Richardson:

You searched for "Anthony Roberson"
4 results found.
0: Anthony Roberson
1: Anthony Roberts
2: Anthony Johnson
3: Tony Robertson
Pick one: 0
Results for Anthony Roberson:

You searched for "Nate Robinson"
12 results found.
0: Nate Robinson
1: James Robinson
2: Wayne Robinson
3: Nate Hinton
4: Nate Johnston
5: David Robinson
6: Eddie Robinson
7: Jackie Robinson
8: Jamal Robinson
9: Larry Robinson
10: Ronnie Robinson
11: Samuel Robinson
Pick one: 0
Results for Nate Robinson:

You searched for "Malik Rose"
7 results found.
0: Malik Rose
1: Malik Monk
2: Jalen Rose
3: Malik Allen
4: Mark Pope
5: Malik Fitts
6: Al Roges
Pick one: 0
Results for Malik Rose:

You searched for "Cheikh Samb"
1 result found.
Cheikh Samb
Results for Cheikh Samb:

You searched for "Courtney Sims"
2 results found.
0: Courtney Sims
1: Courtney Lee
Pick one: 0
Results for Courtney Sims:

You searched for "Tim Thomas"
16 results found.
0: Tim Thomas
1: Jim Thomas
2: Etan Thomas
3: Joe Thomas
4: Jim Chones
5: Tim James
6: Billy Thomas
7: Carl Thomas
8: Isiah Thomas
9: Jamel Thomas
10: James Thomas
11: John Thomas
12: Kurt Thomas
13: Matt Thomas
14: Terry Thomas
15: Tyrus Thomas
Pick one: 0
Results for Tim Thomas:

You searched for "Chris Wilcox"
8 results found.
0: Chris Wilcox
1: Chris Mills
2: Chris Silva
3: Chris Welp
4: C.J. Wilcox
5: Chris Childs
6: Chris Wright
7: Chris Wright
Pick one: 0
Results for Chris Wilcox:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2008-12-20,28-275,GSW,AWAY,CHA,W (+7),1,45:51,14,26,...,2,5,0,1,1,2,50,40.0,15,Jamal Crawford
1,2009-02-11,24-256,NYK,AWAY,LAC,L (-4),1,51:33,13,28,...,9,15,5,0,1,4,33,35.0,5,Nate Robinson
2,2008-12-01,28-256,GSW,HOME,MIA,L (-1),1,50:23,11,22,...,1,7,0,0,1,0,40,32.8,1,Jamal Crawford
3,2009-03-10,30-046,NYK,AWAY,MIL,W (+8),1,42:11,13,20,...,6,2,4,0,4,2,39,32.6,10,Larry Hughes
4,2008-12-10,28-297,NYK,AWAY,NJN,W (+12),1,45:42,11,21,...,13,3,2,0,4,4,39,31.5,15,Al Harrington

In [27]:
# henry walker

NYK_2010_gamelog = []

for p in NYK_df_2010_players:
    player_log = get_game_logs(str(p), SEASON_2010_START, SEASON_2010_END, playoffs = False)
    player_log['Player'] = p
    
    NYK_2010_gamelog.append(player_log)
NYK_2010_gamelog = pd.concat(NYK_2010_gamelog)    
NYK_2010_gamelogs = NYK_2010_gamelog.copy()
NYK_2010_gamelogs['GAME_SCORE'] = NYK_2010_gamelogs['GAME_SCORE'].astype(float)
NYK_2010_games = NYK_2010_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
NYK_2010_games_csv = NYK_2010_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2010_games.csv', index=False)
NYK_2010_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2010_games.csv')
NYK_2010_games_proc.head()

You searched for "Earl Barron"
10 results found.
0: Earl Barron
1: Earl Watson
2: Dana Barros
3: Will Barton
4: Carl Braun
5: Earl Cureton
6: Earl Monroe
7: Earl Shannon
8: Earl Gardner
9: Earl Jones
Pick one: 0
Results for Earl Barron:

You searched for "Jonathan Bender"
3 results found.
0: Jonathan Bender
1: Jonathan Kerner
2: Jonathan Gibson
Pick one: 0
Results for Jonathan Bender:

You searched for "Wilson Chandler"
2 results found.
0: Wilson Chandler
1: Tyson Chandler
Pick one: 0
Results for Wilson Chandler:

You searched for "Eddy Curry"
4 results found.
0: Eddy Curry
1: Dell Curry
2: Seth Curry
3: Kenny Carr
Pick one: 0
Results for Eddy Curry:

You searched for "Toney Douglas"
4 results found.
0: Toney Douglas
1: John Douglas
2: Leon Douglas
3: Tony Dumas
Pick one: 0
Results for Toney Douglas:

You searched for "Chris Duhon"
16 results found.
0: Chris Duhon
1: Chris Quinn
2: Chris Dudley
3: Kris Dunn
4: Chris Johnson
5: Chris Johnson
6: Chris Kaman
7: Chris Mihm
8: Chris Mullin
9: Chris Munk
10: Chris Bosh
11: Chris Ford
12: Chris Jent
13: Chris King
14: Chris Smith
15: Chris Smith
Pick one: 0
Results for Chris Duhon:

You searched for "Danilo Gallinari"
1 result found.
Danilo Gallinari
Results for Danilo Gallinari:

You searched for "J.R. Giddens"
1 result found.
J.R. Giddens
Results for J.R. Giddens:

You searched for "Al Harrington"
5 results found.
0: Al Harrington
1: Adam Harrington
2: Bob Carrington
3: Al Hairston
4: Matt Harpring
Pick one: 0
Results for Al Harrington:

You searched for "Jordan Hill"
8 results found.
0: Jordan Hill
1: Jordan Bell
2: Jordan Ford
3: Jordan Bone
4: Grant Hill
5: Jordan Loyd
6: Jordan Poole
7: John Mills
Pick one: 0
Results for Jordan Hill:

You searched for "Eddie House"
6 results found.
0: Eddie House
1: Eddie Hughes
2: Eddie Jones
3: Eddie Mast
4: Eddie Miles
5: Eddie Owens
Pick one: 0
Results for Eddie House:

You searched for "Larry Hughes"
6 results found.
0: Larry Hughes
1: Larry Bunce
2: Larry Fogle
3: Larry Jones
4: Larry Sykes
5: Larry Wright
Pick one: 0
Results for Larry Hughes:

You searched for "Jared Jeffries"
1 result found.
Jared Jeffries
Results for Jared Jeffries:

You searched for "Marcus Landry"
5 results found.
0: Marcus Landry
1: Marcus Banks
2: Marcus Camby
3: Carl Landry
4: Marcus Liberty
Pick one: 0
Results for Marcus Landry:

You searched for "Tracy McGrady"
2 results found.
0: Tracy McGrady
1: Tracy Murray
Pick one: 0
Results for Tracy McGrady:

You searched for "Darko Miličić"
2 results found.
0: Darko Milicic
1: Marko Milic
Pick one: 0
Results for Darko Milicic:

You searched for "Nate Robinson"
12 results found.
0: Nate Robinson
1: James Robinson
2: Wayne Robinson
3: Nate Hinton
4: Nate Johnston
5: David Robinson
6: Eddie Robinson
7: Jackie Robinson
8: Jamal Robinson
9: Larry Robinson
10: Ronnie Robinson
11: Samuel Robinson
Pick one: 0
Results for Nate Robinson:

You searched for "Sergio Rodríguez"
1 result found.
Sergio Rodriguez
Results for Sergio Rodriguez:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2010-02-09,22-275,NYK,HOME,SAC,L (-4),1,46:52,15,23,...,5,0,2,2,1,2,35,28.4,2,Wilson Chandler
1,2009-12-04,27-095,NYK,AWAY,ATL,W (+7),1,36:30,10,16,...,4,10,1,0,0,1,25,26.2,0,Chris Duhon
2,2010-04-02,21-237,NYK,AWAY,GSW,L (-11),1,41:18,10,20,...,8,8,1,0,2,3,29,26.0,7,Danilo Gallinari
3,2010-02-06,25-251,NYK,AWAY,CLE,L (-7),1,38:03,9,18,...,4,6,1,1,1,0,26,23.9,5,Nate Robinson
4,2010-03-13,23-362,NYK,AWAY,DAL,W (+34),1,30:52,8,10,...,2,8,1,1,0,2,21,23.9,22,Toney Douglas

In [29]:

NYK_2011_gamelog = []

for p in NYK_df_2011_players:
    player_log = get_game_logs(str(p), SEASON_2011_START, SEASON_2011_END, playoffs = False)
    player_log['Player'] = p
    
    NYK_2011_gamelog.append(player_log)
NYK_2011_gamelog = pd.concat(NYK_2011_gamelog)    
NYK_2011_gamelogs = NYK_2011_gamelog.copy()
NYK_2011_gamelogs['GAME_SCORE'] = NYK_2011_gamelogs['GAME_SCORE'].astype(float)
NYK_2011_games = NYK_2011_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
NYK_2011_games_csv = NYK_2011_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2011_games.csv', index=False)
NYK_2011_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2011_games.csv')
NYK_2011_games_proc.head()

You searched for "Carmelo Anthony"
1 result found.
Carmelo Anthony
Results for Carmelo Anthony:

You searched for "Renaldo Balkman"
1 result found.
Renaldo Balkman
Results for Renaldo Balkman:

You searched for "Chauncey Billups"
1 result found.
Chauncey Billups
Results for Chauncey Billups:

You searched for "Derrick Brown"
8 results found.
0: Derrick Brown
1: Kedrick Brown
2: Derrick Rose
3: Darrell Brown
4: Devin Brown
5: Derrick Byars
6: Derrick Gervin
7: Derrick Rowland
Pick one: 0
Results for Derrick Brown:

You searched for "Anthony Carter"
8 results found.
0: Anthony Carter
1: Anthony Parker
2: Anthony Bonner
3: Anthony Miller
4: Anthony Peeler
5: Anthony Taylor
6: Anthony Tucker
7: Anthony Avent
Pick one: 0
Results for Anthony Carter:

You searched for "Wilson Chandler"
2 results found.
0: Wilson Chandler
1: Tyson Chandler
Pick one: 0
Results for Wilson Chandler:

You searched for "Toney Douglas"
4 results found.
0: Toney Douglas
1: John Douglas
2: Leon Douglas
3: Tony Dumas
Pick one: 0
Results for Toney Douglas:

You searched for "Raymond Felton"
1 result found.
Raymond Felton
Results for Raymond Felton:

You searched for "Landry Fields"
2 results found.
0: Landry Fields
1: Kenny Fields
Pick one: 0
Results for Landry Fields:

You searched for "Danilo Gallinari"
1 result found.
Danilo Gallinari
Results for Danilo Gallinari:

You searched for "Jared Jeffries"
1 result found.
Jared Jeffries
Results for Jared Jeffries:

You searched for "Roger Mason"
3 results found.
0: Roger Mason
1: Roger Brown
2: Roger Brown
Pick one: 0
Results for Roger Mason:

You searched for "Timofey Mozgov"
1 result found.
Timofey Mozgov
Results for Timofey Mozgov:

You searched for "Anthony Randolph"
1 result found.
Anthony Randolph
Results for Anthony Randolph:

You searched for "Andy Rautins"
2 results found.
0: Andy Rautins
1: Leo Rautins
Pick one: 0
Results for Andy Rautins:

You searched for "Amar'e Stoudemire"
1 result found.
Amar'e Stoudemire
Results for Amar'e Stoudemire:

You searched for "Ronny Turiaf"
1 result found.
Ronny Turiaf
Results for Ronny Turiaf:

You searched for "Shawne Williams"
14 results found.
0: Shawne Williams
1: Hank Williams
2: Sean Williams
3: Alan Williams
4: Charles Williams
5: Frank Williams
6: Gene Williams
7: Grant Williams
8: Jawad Williams
9: Nate Williams
10: Sam Williams
11: Sam Williams
12: Shammond Williams
13: Shelden Williams
Pick one: 0
Results for Shawne Williams:

You searched for "Shelden Williams"
3 results found.
0: Shelden Williams
1: Sean Williams
2: Shawne Williams
Pick one: 0
Results for Shelden Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2011-02-07,26-254,DEN,HOME,HOU,L (-5),1,39:28,16,24,...,11,0,1,3,4,2,50,40.8,-3,Carmelo Anthony
1,2011-02-06,28-082,NYK,HOME,PHI,W (+14),1,36:27,17,21,...,7,4,1,4,3,5,41,38.4,11,Amar'e Stoudemire
2,2010-11-19,26-146,NYK,AWAY,GSW,W (+6),1,42:42,13,17,...,5,11,4,1,5,1,35,36.8,4,Raymond Felton
3,2011-03-30,26-305,NYK,HOME,NJN,W (+4),1,40:55,15,26,...,10,5,0,0,2,3,39,31.7,14,Carmelo Anthony
4,2010-11-28,28-012,NYK,AWAY,DET,W (+9),1,54:05,12,20,...,15,7,0,1,6,4,37,31.5,6,Amar'e Stoudemire

In [30]:
# remvoed j.j. barea

NYK_2012_gamelog = []

for p in NYK_df_2012_players:
    player_log = get_game_logs(str(p), SEASON_2012_START, SEASON_2012_END, playoffs = False)
    player_log['Player'] = p
    
    NYK_2012_gamelog.append(player_log)
NYK_2012_gamelog = pd.concat(NYK_2012_gamelog)    
NYK_2012_gamelogs = NYK_2012_gamelog.copy()
NYK_2012_gamelogs['GAME_SCORE'] = NYK_2012_gamelogs['GAME_SCORE'].astype(float)
NYK_2012_games = NYK_2012_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
NYK_2012_games_csv = NYK_2012_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2012_games.csv', index=False)
NYK_2012_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2012_games.csv')
NYK_2012_games_proc.head()

You searched for "Carmelo Anthony"
1 result found.
Carmelo Anthony
Results for Carmelo Anthony:

You searched for "Renaldo Balkman"
1 result found.
Renaldo Balkman
Results for Renaldo Balkman:

You searched for "Mike Bibby"
17 results found.
0: Mike Bibby
1: Mike Tobey
2: Mike Barr
3: Mike Bloom
4: Mike Bratz
5: Mike Brown
6: Mike Gibson
7: Mike Maloy
8: Mike Niles
9: Mike Wilks
10: Mike Dabich
11: Mike Davis
12: Mike Davis
13: Mike Lewis
14: Mike Lynn
15: Mike Price
16: Mike Smith
Pick one: 0
Results for Mike Bibby:

You searched for "Tyson Chandler"
3 results found.
0: Tyson Chandler
1: Wilson Chandler
2: Tyson Wheeler
Pick one: 0
Results for Tyson Chandler:

You searched for "Baron Davis"
22 results found.
0: Baron Davis
1: Ron Davis
2: Ben Davis
3: Bob Davis
4: Brad Davis
5: Brian Davis
6: Harry Davis
7: Mark Davis
8: Mark Davis
9: Warren Davis
10: Bob Davies
11: Brandon Davies
12: Bill Davis
13: Dale Davis
14: Glen Davis
15: Paul Davis
16: Ralph Davis
17: Red Davis
18: Terry Davis
19: Walt Davis
20: Byron Irvin
21: Aaron James
Pick one: 0
Results for Baron Davis:

You searched for "Toney Douglas"
4 results found.
0: Toney Douglas
1: John Douglas
2: Leon Douglas
3: Tony Dumas
Pick one: 0
Results for Toney Douglas:

You searched for "Landry Fields"
2 results found.
0: Landry Fields
1: Kenny Fields
Pick one: 0
Results for Landry Fields:

You searched for "Dan Gadzuric"
1 result found.
Dan Gadzuric
Results for Dan Gadzuric:

You searched for "Josh Harrellson"
1 result found.
Josh Harrellson
Results for Josh Harrellson:

You searched for "Jared Jeffries"
1 result found.
Jared Jeffries
Results for Jared Jeffries:

You searched for "Jerome Jordan"
6 results found.
0: Jerome Jordan
1: Jerome Harmon
2: Eddie Jordan
3: Reggie Jordan
4: Jerome James
5: Jerome Lane
Pick one: 0
Results for Jerome Jordan:

You searched for "Jeremy Lin"
5 results found.
0: Jeremy Lin
1: Jeremy Lamb
2: Jeremy Evans
3: Jerome Lane
4: Jeremy Tyler
Pick one: 0
Results for Jeremy Lin:

You searched for "Steve Novak"
9 results found.
0: Steve Novak
1: Steve Blake
2: Steve Jones
3: Steve Nash
4: Mike Novak
5: Steve Bardo
6: Steve Green
7: Steve Kerr
8: Steve Henson
Pick one: 0
Results for Steve Novak:

You searched for "Iman Shumpert"
1 result found.
Iman Shumpert
Results for Iman Shumpert:

You searched for "J.R. Smith"
35 results found.
0: J.R. Smith
1: Jerry Smith
2: Jim Smith
3: Joe Smith
4: John Smith
5: Josh Smith
6: Jalen Smith
7: J.R. Reid
8: Al Smith
9: Bill Smith
10: Chris Smith
11: Chris Smith
12: Deb Smith
13: Derek Smith
14: Don Smith
15: Don Smith
16: Doug Smith
17: Ed Smith
18: Greg Smith
19: Greg Smith
20: Ish Smith
21: Jabari Smith
22: Jason Smith
23: Ken Smith
24: Larry Smith
25: Leon Smith
26: Mike Smith
27: Otis Smith
28: Pete Smith
29: Phil Smith
30: Russ Smith
31: Sam Smith
32: Sam Smith
33: Tony Smith
34: Joe Smyth
Pick one: 0
Results for J.R. Smith:

You searched for "Amar'e Stoudemire"
1 result found.
Amar'e Stoudemire
Results for Amar'e Stoudemire:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2012-04-15,27-322,NYK,HOME,MIA,L (-8),1,43:22,14,27,...,9,5,1,0,1,4,42,32.9,-13,Carmelo Anthony
1,2012-04-17,27-324,NYK,HOME,BOS,W (+8),1,40:24,13,24,...,12,10,2,0,5,5,35,30.2,3,Carmelo Anthony
2,2012-04-08,27-315,NYK,HOME,CHI,W (+1),1,46:43,16,31,...,7,3,1,1,2,5,43,29.6,5,Carmelo Anthony
3,2011-12-25,27-210,NYK,HOME,BOS,W (+2),1,33:35,10,17,...,8,3,2,1,5,4,37,29.3,15,Carmelo Anthony
4,2012-03-30,27-306,NYK,AWAY,ATL,L (-10),1,40:24,11,24,...,9,2,5,2,5,3,36,28.7,-7,Carmelo Anthony

In [31]:

NYK_2013_gamelog = []

for p in NYK_df_2013_players:
    player_log = get_game_logs(str(p), SEASON_2013_START, SEASON_2013_END, playoffs = False)
    player_log['Player'] = p
    
    NYK_2013_gamelog.append(player_log)
NYK_2013_gamelog = pd.concat(NYK_2013_gamelog)    
NYK_2013_gamelogs = NYK_2013_gamelog.copy()
NYK_2013_gamelogs['GAME_SCORE'] = NYK_2013_gamelogs['GAME_SCORE'].astype(float)
NYK_2013_games = NYK_2013_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
NYK_2013_games_csv = NYK_2013_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2013_games.csv', index=False)
NYK_2013_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2013_games.csv')
NYK_2013_games_proc.head()

You searched for "Carmelo Anthony"
1 result found.
Carmelo Anthony
Results for Carmelo Anthony:

You searched for "Earl Barron"
10 results found.
0: Earl Barron
1: Earl Watson
2: Dana Barros
3: Will Barton
4: Carl Braun
5: Earl Cureton
6: Earl Monroe
7: Earl Shannon
8: Earl Gardner
9: Earl Jones
Pick one: 0
Results for Earl Barron:

You searched for "Ronnie Brewer"
4 results found.
0: Ronnie Brewer
1: Ron Brewer
2: Ronnie Lester
3: Ronnie Price
Pick one: 0
Results for Ronnie Brewer:

You searched for "Marcus Camby"
6 results found.
0: Marcus Camby
1: Marcus Banks
2: Marcus Landry
3: Marcus Paige
4: Marcus Webb
5: Marcus Smart
Pick one: 0
Results for Marcus Camby:

You searched for "Tyson Chandler"
3 results found.
0: Tyson Chandler
1: Wilson Chandler
2: Tyson Wheeler
Pick one: 0
Results for Tyson Chandler:

You searched for "Chris Copeland"
2 results found.
0: Chris Copeland
1: Hollis Copeland
Pick one: 0
Results for Chris Copeland:

You searched for "Raymond Felton"
1 result found.
Raymond Felton
Results for Raymond Felton:

You searched for "Solomon Jones"
3 results found.
0: Solomon Jones
1: Damon Jones
2: Shelton Jones
Pick one: 0
Results for Solomon Jones:

You searched for "Jason Kidd"
5 results found.
0: Jason Kidd
1: Jason Hart
2: Stanton Kidd
3: Warren Kidd
4: Jason Smith
Pick one: 0
Results for Jason Kidd:

You searched for "Kenyon Martin"
6 results found.
0: Kenyon Martin
1: Kelan Martin
2: Kevin Martin
3: Kenyon Martin Jr.
4: Dino Martin
5: Don Martin
Pick one: 0
Results for Kenyon Martin:

You searched for "Steve Novak"
9 results found.
0: Steve Novak
1: Steve Blake
2: Steve Jones
3: Steve Nash
4: Mike Novak
5: Steve Bardo
6: Steve Green
7: Steve Kerr
8: Steve Henson
Pick one: 0
Results for Steve Novak:

You searched for "Pablo Prigioni"
1 result found.
Pablo Prigioni
Results for Pablo Prigioni:

You searched for "Quentin Richardson"
1 result found.
Quentin Richardson
Results for Quentin Richardson:

You searched for "Iman Shumpert"
1 result found.
Iman Shumpert
Results for Iman Shumpert:

You searched for "J.R. Smith"
35 results found.
0: J.R. Smith
1: Jerry Smith
2: Jim Smith
3: Joe Smith
4: John Smith
5: Josh Smith
6: Jalen Smith
7: J.R. Reid
8: Al Smith
9: Bill Smith
10: Chris Smith
11: Chris Smith
12: Deb Smith
13: Derek Smith
14: Don Smith
15: Don Smith
16: Doug Smith
17: Ed Smith
18: Greg Smith
19: Greg Smith
20: Ish Smith
21: Jabari Smith
22: Jason Smith
23: Ken Smith
24: Larry Smith
25: Leon Smith
26: Mike Smith
27: Otis Smith
28: Pete Smith
29: Phil Smith
30: Russ Smith
31: Sam Smith
32: Sam Smith
33: Tony Smith
34: Joe Smyth
Pick one: 0
Results for J.R. Smith:

You searched for "Amar'e Stoudemire"
1 result found.
Amar'e Stoudemire
Results for Amar'e Stoudemire:

You searched for "Kurt Thomas"
12 results found.
0: Kurt Thomas
1: Carl Thomas
2: Khyri Thomas
3: Matt Thomas
4: Etan Thomas
5: Jim Thomas
6: Joe Thomas
7: John Thomas
8: Kenny Thomas
9: Terry Thomas
10: Tim Thomas
11: Tyrus Thomas
Pick one: 0
Results for Kurt Thomas:

You searched for "Rasheed Wallace"
2 results found.
0: Rasheed Wallace
1: Red Wallace
Pick one: 0
Results for Rasheed Wallace:

You searched for "James White"
10 results found.
0: James White
1: James Bailey
2: James Scott
3: James Webb
4: Jahidi White
5: Jo Jo White
6: Randy White
7: James Wilkes
8: James Worthy
9: James Ennis
Pick one: 0
Results for James White:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2014-01-24,29-240,NYK,HOME,CHA,W (+29),1,38:39,23,35,...,13,0,0,0,0,1,62,50.6,34,Carmelo Anthony
1,2013-04-02,28-308,NYK,AWAY,MIA,W (+12),1,40:20,18,26,...,2,2,1,1,0,3,50,41.1,15,Carmelo Anthony
2,2013-01-01,28-217,NYK,HOME,POR,L (-5),1,41:12,14,24,...,7,4,1,0,2,3,45,36.5,1,Carmelo Anthony
3,2012-12-11,28-196,NYK,AWAY,BRK,W (+3),1,44:00,15,24,...,5,3,0,0,2,3,45,35.4,5,Carmelo Anthony
4,2014-02-21,29-268,NYK,AWAY,ORL,L (-8),1,50:19,16,28,...,11,4,1,0,2,3,44,35.1,-2,Carmelo Anthony

In [37]:
# removed chris smith
# removed metta world peace

NYK_2014_gamelog = []

for p in NYK_df_2014_players:
    player_log = get_game_logs(str(p), SEASON_2014_START, SEASON_2014_END, playoffs = False)
    player_log['Player'] = p
    
    NYK_2014_gamelog.append(player_log)
NYK_2014_gamelog = pd.concat(NYK_2014_gamelog)    
NYK_2014_gamelogs = NYK_2014_gamelog.copy()
NYK_2014_gamelogs['GAME_SCORE'] = NYK_2014_gamelogs['GAME_SCORE'].astype(float)
NYK_2014_games = NYK_2014_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
NYK_2014_games_csv = NYK_2014_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2014_games.csv', index=False)
NYK_2014_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2014_games.csv')
NYK_2014_games_proc.head()

You searched for "Cole Aldrich"
1 result found.
Cole Aldrich
Results for Cole Aldrich:

You searched for "Carmelo Anthony"
1 result found.
Carmelo Anthony
Results for Carmelo Anthony:

You searched for "Andrea Bargnani"
1 result found.
Andrea Bargnani
Results for Andrea Bargnani:

You searched for "Shannon Brown"
2 results found.
0: Shannon Brown
1: Stan Brown
Pick one: 0
Results for Shannon Brown:

You searched for "Tyson Chandler"
3 results found.
0: Tyson Chandler
1: Wilson Chandler
2: Tyson Wheeler
Pick one: 0
Results for Tyson Chandler:

You searched for "Earl Clark"
7 results found.
0: Earl Clark
1: Gary Clark
2: Carlos Clark
3: Ian Clark
4: Keon Clark
5: Earl Evans
6: Earl Lloyd
Pick one: 0
Results for Earl Clark:

You searched for "Raymond Felton"
1 result found.
Raymond Felton
Results for Raymond Felton:

You searched for "Tim Hardaway"
2 results found.
0: Tim Hardaway
1: Tim Hardaway Jr.
Pick one: 1
Results for Tim Hardaway Jr.:

You searched for "Kenyon Martin"
6 results found.
0: Kenyon Martin
1: Kelan Martin
2: Kevin Martin
3: Kenyon Martin Jr.
4: Dino Martin
5: Don Martin
Pick one: 0
Results for Kenyon Martin:

You searched for "Toure' Murry"
1 result found.
Toure' Murry
Results for Toure' Murry:

You searched for "Pablo Prigioni"
1 result found.
Pablo Prigioni
Results for Pablo Prigioni:

You searched for "Iman Shumpert"
1 result found.
Iman Shumpert
Results for Iman Shumpert:

You searched for "J.R. Smith"
35 results found.
0: J.R. Smith
1: Jerry Smith
2: Jim Smith
3: Joe Smith
4: John Smith
5: Josh Smith
6: Jalen Smith
7: J.R. Reid
8: Al Smith
9: Bill Smith
10: Chris Smith
11: Chris Smith
12: Deb Smith
13: Derek Smith
14: Don Smith
15: Don Smith
16: Doug Smith
17: Ed Smith
18: Greg Smith
19: Greg Smith
20: Ish Smith
21: Jabari Smith
22: Jason Smith
23: Ken Smith
24: Larry Smith
25: Leon Smith
26: Mike Smith
27: Otis Smith
28: Pete Smith
29: Phil Smith
30: Russ Smith
31: Sam Smith
32: Sam Smith
33: Tony Smith
34: Joe Smyth
Pick one: 0
Results for J.R. Smith:

You searched for "Amar'e Stoudemire"
1 result found.
Amar'e Stoudemire
Results for Amar'e Stoudemire:

You searched for "Jeremy Tyler"
4 results found.
0: Jeremy Tyler
1: Terry Tyler
2: Jeremy Lin
3: Jeremy Lamb
Pick one: 0
Results for Jeremy Tyler:

You searched for "Beno Udrih"
2 results found.
0: Beno Udrih
1: Ben Uzoh
Pick one: 0
Results for Beno Udrih:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2014-01-24,29-240,NYK,HOME,CHA,W (+29),1,38:39,23,35,...,13,0,0,0,0,1,62,50.6,34,Carmelo Anthony
1,2014-02-21,29-268,NYK,AWAY,ORL,L (-8),1,50:19,16,28,...,11,4,1,0,2,3,44,35.1,-2,Carmelo Anthony
2,2013-11-14,29-169,NYK,HOME,HOU,L (-3),1,43:49,17,30,...,10,4,0,1,3,5,45,32.7,7,Carmelo Anthony
3,2014-02-24,29-271,NYK,HOME,DAL,L (-2),1,41:42,14,29,...,9,4,0,1,4,3,44,31.9,2,Carmelo Anthony
4,2014-02-19,29-266,NYK,AWAY,NOP,W (+7),1,39:56,16,29,...,4,2,3,2,2,2,42,31.5,5,Carmelo Anthony

In [38]:


NYK_2015_gamelog = []

for p in NYK_df_2015_players:
    player_log = get_game_logs(str(p), SEASON_2015_START, SEASON_2015_END, playoffs = False)
    player_log['Player'] = p
    
    NYK_2015_gamelog.append(player_log)
NYK_2015_gamelog = pd.concat(NYK_2015_gamelog)    
NYK_2015_gamelogs = NYK_2015_gamelog.copy()
NYK_2015_gamelogs['GAME_SCORE'] = NYK_2015_gamelogs['GAME_SCORE'].astype(float)
NYK_2015_games = NYK_2015_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
NYK_2015_games_csv = NYK_2015_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2015_games.csv', index=False)
NYK_2015_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2015_games.csv')
NYK_2015_games_proc.head()

You searched for "Quincy Acy"
2 results found.
0: Quincy Acy
1: Quincy Douby
Pick one: 0
Results for Quincy Acy:

You searched for "Cole Aldrich"
1 result found.
Cole Aldrich
Results for Cole Aldrich:

You searched for "Lou Amundson"
2 results found.
0: Lou Amundson
1: Lou Hudson
Pick one: 0
Results for Lou Amundson:

You searched for "Carmelo Anthony"
1 result found.
Carmelo Anthony
Results for Carmelo Anthony:

You searched for "Andrea Bargnani"
1 result found.
Andrea Bargnani
Results for Andrea Bargnani:

You searched for "José Calderón"
1 result found.
Jose Calderon
Results for Jose Calderon:

You searched for "Samuel Dalembert"
1 result found.
Samuel Dalembert
Results for Samuel Dalembert:

You searched for "Cleanthony Early"
1 result found.
Cleanthony Early
Results for Cleanthony Early:

You searched for "Langston Galloway"
1 result found.
Langston Galloway
Results for Langston Galloway:

You searched for "Tim Hardaway"
2 results found.
0: Tim Hardaway
1: Tim Hardaway Jr.
Pick one: 1
Results for Tim Hardaway Jr.:

You searched for "Shane Larkin"
1 result found.
Shane Larkin
Results for Shane Larkin:

You searched for "Ricky Ledo"
7 results found.
0: Ricky Ledo
1: Ricky Berry
2: Dick Lee
3: Rock Lee
4: Ricky Rubio
5: Rick Fox
6: Ricky Grace
Pick one: 0
Results for Ricky Ledo:

You searched for "Pablo Prigioni"
1 result found.
Pablo Prigioni
Results for Pablo Prigioni:

You searched for "Iman Shumpert"
1 result found.
Iman Shumpert
Results for Iman Shumpert:

You searched for "Alexey Shved"
1 result found.
Alexey Shved
Results for Alexey Shved:

You searched for "J.R. Smith"
35 results found.
0: J.R. Smith
1: Jerry Smith
2: Jim Smith
3: Joe Smith
4: John Smith
5: Josh Smith
6: Jalen Smith
7: J.R. Reid
8: Al Smith
9: Bill Smith
10: Chris Smith
11: Chris Smith
12: Deb Smith
13: Derek Smith
14: Don Smith
15: Don Smith
16: Doug Smith
17: Ed Smith
18: Greg Smith
19: Greg Smith
20: Ish Smith
21: Jabari Smith
22: Jason Smith
23: Ken Smith
24: Larry Smith
25: Leon Smith
26: Mike Smith
27: Otis Smith
28: Pete Smith
29: Phil Smith
30: Russ Smith
31: Sam Smith
32: Sam Smith
33: Tony Smith
34: Joe Smyth
Pick one: 0
Results for J.R. Smith:

You searched for "Jason Smith"
27 results found.
0: Jason Smith
1: Jalen Smith
2: Don Smith
3: Don Smith
4: Joe Smith
5: John Smith
6: Josh Smith
7: Leon Smith
8: Aaron Nesmith
9: Jason Hart
10: Jason Kidd
11: Al Smith
12: Ish Smith
13: J.R. Smith
14: Jabari Smith
15: Jerry Smith
16: Jim Smith
17: Ken Smith
18: Larry Smith
19: Nolan Smith
20: Randy Smith
21: Russ Smith
22: Sam Smith
23: Sam Smith
24: Theron Smith
25: Tony Smith
26: Joe Smyth
Pick one: 0
Results for Jason Smith:

You searched for "Amar'e Stoudemire"
1 result found.
Amar'e Stoudemire
Results for Amar'e Stoudemire:

You searched for "Lance Thomas"
8 results found.
0: Lance Thomas
1: Carl Thomas
2: Etan Thomas
3: Jamel Thomas
4: James Thomas
5: Joe Thomas
6: Kenny Thomas
7: Matt Thomas
Pick one: 0
Results for Lance Thomas:

You searched for "Travis Wear"
6 results found.
0: Travis Wear
1: Travis Best
2: David Wear
3: Travis Diener
4: Travis Grant
5: Travis Mays
Pick one: 0
Results for Travis Wear:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2014-11-14,30-169,NYK,HOME,UTA,L (-2),1,39:13,16,26,...,7,1,1,0,2,4,46,34.0,-10,Carmelo Anthony
1,2014-12-27,30-212,NYK,AWAY,SAC,L (-6),1,45:40,13,29,...,11,6,1,0,3,3,36,26.0,0,Carmelo Anthony
2,2014-12-05,30-190,NYK,AWAY,CHO,L (-1),1,41:59,11,22,...,7,4,0,0,0,2,32,25.9,-1,Carmelo Anthony
3,2015-04-15,26-166,NYK,HOME,DET,L (-22),1,27:20,11,16,...,15,2,0,2,1,1,24,25.1,3,Cole Aldrich
4,2015-04-05,29-161,NYK,HOME,PHI,W (+10),1,34:28,8,15,...,8,4,0,4,2,0,25,24.5,20,Andrea Bargnani

In [42]:
# removed kyle o'qiuinn

NYK_2016_gamelog = []

for p in NYK_df_2016_players:
    player_log = get_game_logs(str(p), SEASON_2016_START, SEASON_2016_END, playoffs = False)
    player_log['Player'] = p
    
    NYK_2016_gamelog.append(player_log)
NYK_2016_gamelog = pd.concat(NYK_2016_gamelog)    
NYK_2016_gamelogs = NYK_2016_gamelog.copy()
NYK_2016_gamelogs['GAME_SCORE'] = NYK_2016_gamelogs['GAME_SCORE'].astype(float)
NYK_2016_games = NYK_2016_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
NYK_2016_games_csv = NYK_2016_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2016_games.csv', index=False)
NYK_2016_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2016_games.csv')
NYK_2016_games_proc.head()

You searched for "Arron Afflalo"
1 result found.
Arron Afflalo
Results for Arron Afflalo:

You searched for "Lou Amundson"
2 results found.
0: Lou Amundson
1: Lou Hudson
Pick one: 0
Results for Lou Amundson:

You searched for "Thanasis Antetokounmpo"
2 results found.
0: Thanasis Antetokounmpo
1: Giannis Antetokounmpo
Pick one: 0
Results for Thanasis Antetokounmpo:

You searched for "Carmelo Anthony"
1 result found.
Carmelo Anthony
Results for Carmelo Anthony:

You searched for "José Calderón"
1 result found.
Jose Calderon
Results for Jose Calderon:

You searched for "Cleanthony Early"
1 result found.
Cleanthony Early
Results for Cleanthony Early:

You searched for "Jimmer Fredette"
1 result found.
Jimmer Fredette
Results for Jimmer Fredette:

You searched for "Langston Galloway"
1 result found.
Langston Galloway
Results for Langston Galloway:

You searched for "Jerian Grant"
3 results found.
0: Jerian Grant
1: Brian Grant
2: Jerami Grant
Pick one: 0
Results for Jerian Grant:

You searched for "Robin Lopez"
4 results found.
0: Robin Lopez
1: Robin Jones
2: Brook Lopez
3: Raul Lopez
Pick one: 0
Results for Robin Lopez:

You searched for "Kristaps Porziņģis"
1 result found.
Kristaps Porzingis
Results for Kristaps Porzingis:

You searched for "Kevin Séraphin"
1 result found.
Kevin Seraphin
Results for Kevin Seraphin:

You searched for "Lance Thomas"
8 results found.
0: Lance Thomas
1: Carl Thomas
2: Etan Thomas
3: Jamel Thomas
4: James Thomas
5: Joe Thomas
6: Kenny Thomas
7: Matt Thomas
Pick one: 0
Results for Lance Thomas:

You searched for "Sasha Vujačić"
1 result found.
Sasha Vujacic
Results for Sasha Vujacic:

You searched for "Derrick Williams"
8 results found.
0: Derrick Williams
1: Patrick Williams
2: Eric Williams
3: Kenrich Williams
4: Bernie Williams
5: Deron Williams
6: Duck Williams
7: Terrence Williams
Pick one: 0
Results for Derrick Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2016-01-03,30-080,NYK,HOME,ATL,W (+14),1,37:05,14,17,...,2,2,0,1,1,2,38,32.2,12,Arron Afflalo
1,2015-10-31,31-155,NYK,AWAY,WAS,W (+7),1,35:45,11,18,...,7,4,0,1,2,3,37,31.2,6,Carmelo Anthony
2,2015-12-12,31-197,NYK,AWAY,POR,W (+2),1,38:28,13,21,...,6,2,1,2,4,0,37,29.9,-8,Carmelo Anthony
3,2015-11-21,20-111,NYK,AWAY,HOU,W (+5),1,35:48,8,12,...,14,2,0,7,3,1,24,27.9,14,Kristaps Porziņģis
4,2016-01-20,31-236,NYK,HOME,UTA,W (+7),1,41:51,13,20,...,7,9,0,0,2,3,30,26.8,7,Carmelo Anthony

In [43]:


NYK_2017_gamelog = []

for p in NYK_df_2017_players:
    player_log = get_game_logs(str(p), SEASON_2017_START, SEASON_2017_END, playoffs = False)
    player_log['Player'] = p
    
    NYK_2017_gamelog.append(player_log)
NYK_2017_gamelog = pd.concat(NYK_2017_gamelog)    
NYK_2017_gamelogs = NYK_2017_gamelog.copy()
NYK_2017_gamelogs['GAME_SCORE'] = NYK_2017_gamelogs['GAME_SCORE'].astype(float)
NYK_2017_games = NYK_2017_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
NYK_2017_games_csv = NYK_2017_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2017_games.csv', index=False)
NYK_2017_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2017_games.csv')
NYK_2017_games_proc.head()

You searched for "Carmelo Anthony"
1 result found.
Carmelo Anthony
Results for Carmelo Anthony:

You searched for "Ron Baker"
45 results found.
0: Ron Baker
1: Vin Baker
2: Norm Baker
3: Tom Barker
4: Ron Brewer
5: Ron Carter
6: Ron Harper
7: Thon Maker
8: Von Wafer
9: John Barber
10: John Barr
11: Moe Barr
12: Jon Barry
13: Aron Baynes
14: Moe Becker
15: Ron Behagen
16: Ron Boone
17: Don Boven
18: Don Buse
19: John Coker
20: Ron Davis
21: Ron Lee
22: Jon Leuer
23: Ron Mercer
24: Bob Naber
25: Tony Parker
26: Ron Reed
27: Tom Riker
28: Ron Riley
29: Ron Watts
30: Jon Teske
31: Don Bielke
32: Ron Bonham
33: Don Grate
34: Ron Horn
35: Red Kerr
36: Ron King
37: Rob Kurz
38: Ron Moore
39: Ron Rowan
40: Ron Sobie
41: Ron Widby
42: Byron Beck
43: Tom Black
44: Zan Tabak
Pick one: 0
Results for Ron Baker:

You searched for "Willy Hernangómez"
1 result found.
Willy Hernangomez
Results for Willy Hernangomez:

You searched for "Justin Holiday"
1 result found.
Justin Holiday
Results for Justin Holiday:

You searched for "Brandon Jennings"
1 result found.
Brandon Jennings
Results for Brandon Jennings:

You searched for "Mindaugas Kuzminskas"
1 result found.
Mindaugas Kuzminskas
Results for Mindaugas Kuzminskas:

You searched for "Courtney Lee"
3 results found.
0: Courtney Lee
1: Courtney Sims
2: Joe Courtney
Pick one: 0
Results for Courtney Lee:

You searched for "Maurice Ndour"
4 results found.
0: Maurice Ndour
1: Maurice Ager
2: Maurice Baker
3: Maurice Evans
Pick one: 0
Results for Maurice Ndour:

You searched for "Joakim Noah"
1 result found.
Joakim Noah
Results for Joakim Noah:

You searched for "Marshall Plumlee"
1 result found.
Marshall Plumlee
Results for Marshall Plumlee:

You searched for "Kristaps Porziņģis"
1 result found.
Kristaps Porzingis
Results for Kristaps Porzingis:

You searched for "Chasson Randle"
1 result found.
Chasson Randle
Results for Chasson Randle:

You searched for "Derrick Rose"
9 results found.
0: Derrick Rose
1: Derrick Brown
2: Derrick Jones
3: Derrick Dial
4: Derrick McKey
5: Derrick White
6: Derrick Byars
7: Derrick Favors
8: Rick Robey
Pick one: 0
Results for Derrick Rose:

You searched for "Lance Thomas"
8 results found.
0: Lance Thomas
1: Carl Thomas
2: Etan Thomas
3: Jamel Thomas
4: James Thomas
5: Joe Thomas
6: Kenny Thomas
7: Matt Thomas
Pick one: 0
Results for Lance Thomas:

You searched for "Sasha Vujačić"
1 result found.
Sasha Vujacic
Results for Sasha Vujacic:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2016-11-25,32-180,NYK,HOME,CHO,W (+2),1,41:09,14,25,...,13,5,2,1,2,2,35,30.8,7,Carmelo Anthony
1,2016-11-16,21-106,NYK,HOME,DET,W (+3),1,40:01,13,22,...,7,3,1,1,1,2,35,30.1,15,Kristaps Porziņģis
2,2016-12-11,21-131,NYK,AWAY,LAL,W (+6),1,39:20,8,15,...,13,2,1,7,1,3,26,28.1,13,Kristaps Porziņģis
3,2017-02-10,32-257,NYK,HOME,DEN,L (-8),1,35:27,13,20,...,6,4,2,0,2,2,33,28.0,-13,Carmelo Anthony
4,2016-12-20,32-205,NYK,HOME,IND,W (+7),1,37:05,13,25,...,4,4,2,0,0,3,35,27.5,-7,Carmelo Anthony

In [49]:
# removed Frank Ntilikina
NYK_2018_gamelog = []

for p in NYK_df_2018_players:
    player_log = get_game_logs(str(p), SEASON_2018_START, SEASON_2018_END, playoffs = False)
    player_log['Player'] = p
    
    NYK_2018_gamelog.append(player_log)
NYK_2018_gamelog = pd.concat(NYK_2018_gamelog)    
NYK_2018_gamelogs = NYK_2018_gamelog.copy()
NYK_2018_gamelogs['GAME_SCORE'] = NYK_2018_gamelogs['GAME_SCORE'].astype(float)
NYK_2018_games = NYK_2018_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
NYK_2018_games_csv = NYK_2018_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2018_games.csv', index=False)
NYK_2018_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2018_games.csv')
NYK_2018_games_proc.head()

You searched for "Ron Baker"
45 results found.
0: Ron Baker
1: Vin Baker
2: Norm Baker
3: Tom Barker
4: Ron Brewer
5: Ron Carter
6: Ron Harper
7: Thon Maker
8: Von Wafer
9: John Barber
10: John Barr
11: Moe Barr
12: Jon Barry
13: Aron Baynes
14: Moe Becker
15: Ron Behagen
16: Ron Boone
17: Don Boven
18: Don Buse
19: John Coker
20: Ron Davis
21: Ron Lee
22: Jon Leuer
23: Ron Mercer
24: Bob Naber
25: Tony Parker
26: Ron Reed
27: Tom Riker
28: Ron Riley
29: Ron Watts
30: Jon Teske
31: Don Bielke
32: Ron Bonham
33: Don Grate
34: Ron Horn
35: Red Kerr
36: Ron King
37: Rob Kurz
38: Ron Moore
39: Ron Rowan
40: Ron Sobie
41: Ron Widby
42: Byron Beck
43: Tom Black
44: Zan Tabak
Pick one: 0
Results for Ron Baker:

You searched for "Michael Beasley"
5 results found.
0: Michael Beasley
1: Michael Bradley
2: Michael Ansley
3: Michael Finley
4: Michael Wiley
Pick one: 0
Results for Michael Beasley:

You searched for "Trey Burke"
5 results found.
0: Trey Burke
1: Pat Burke
2: Alec Burks
3: Corey Beck
4: Troy Bell
Pick one: 0
Results for Trey Burke:

You searched for "Damyean Dotson"
1 result found.
Damyean Dotson
Results for Damyean Dotson:

You searched for "Tim Hardaway"
2 results found.
0: Tim Hardaway
1: Tim Hardaway Jr.
Pick one: 1
Results for Tim Hardaway Jr.:

You searched for "Willy Hernangómez"
1 result found.
Willy Hernangomez
Results for Willy Hernangomez:

You searched for "Isaiah Hicks"
3 results found.
0: Isaiah Hicks
1: Isaiah Rider
2: Isaiah Thomas
Pick one: 0
Results for Isaiah Hicks:

You searched for "Jarrett Jack"
1 result found.
Jarrett Jack
Results for Jarrett Jack:

You searched for "Enes Kanter"
2 results found.
0: Enes Kanter
1: Les Hunter
Pick one: 0
Results for Enes Kanter:

You searched for "Luke Kornet"
1 result found.
Luke Kornet
Results for Luke Kornet:

You searched for "Mindaugas Kuzminskas"
1 result found.
Mindaugas Kuzminskas
Results for Mindaugas Kuzminskas:

You searched for "Courtney Lee"
3 results found.
0: Courtney Lee
1: Courtney Sims
2: Joe Courtney
Pick one: 0
Results for Courtney Lee:

You searched for "Doug McDermott"
2 results found.
0: Doug McDermott
1: Sean McDermott
Pick one: 0
Results for Doug McDermott:

You searched for "Emmanuel Mudiay"
1 result found.
Emmanuel Mudiay
Results for Emmanuel Mudiay:

You searched for "Joakim Noah"
1 result found.
Joakim Noah
Results for Joakim Noah:

You searched for "Kristaps Porziņģis"
1 result found.
Kristaps Porzingis
Results for Kristaps Porzingis:

You searched for "Ramon Sessions"
1 result found.
Ramon Sessions
Results for Ramon Sessions:

You searched for "Lance Thomas"
8 results found.
0: Lance Thomas
1: Carl Thomas
2: Etan Thomas
3: Jamel Thomas
4: James Thomas
5: Joe Thomas
6: Kenny Thomas
7: Matt Thomas
Pick one: 0
Results for Lance Thomas:

You searched for "Troy Williams"
46 results found.
0: Troy Williams
1: Ray Williams
2: Rob Williams
3: Ron Williams
4: Aaron Williams
5: Art Williams
6: Bob Williams
7: Corey Williams
8: Deron Williams
9: Eric Williams
10: Fly Williams
11: Guy Williams
12: Jay Williams
13: Lou Williams
14: Mo Williams
15: Sly Williams
16: Al Williams
17: Alan Williams
18: Buck Williams
19: C.J. Williams
20: Duck Williams
21: Earl Williams
22: Frank Williams
23: Gene Williams
24: Grant Williams
25: Gus Williams
26: Hank Williams
27: Herb Williams
28: Hot Rod Williams
29: Jason Williams
30: Jerome Williams
31: John Williams
32: Kenny Williams
33: Matt Williams
34: Mike Williams
35: Milt Williams
36: Monty Williams
37: Nate Williams
38: Pete Williams
39: Sam Williams
40: Sam Williams
41: Scott Williams
42: Sean Williams
43: Travis Williams
44: Walt Williams
45: Ward Williams
Pick one: 0
Results for Troy Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2018-03-26,25-134,NYK,AWAY,CHO,L (-9),1,40:52,19,31,...,1,12,1,0,2,1,42,35.6,2,Trey Burke
1,2017-11-05,22-095,NYK,HOME,IND,W (+7),1,38:16,15,24,...,8,1,0,6,1,2,40,34.3,20,Kristaps Porziņģis
2,2017-10-29,25-227,NYK,AWAY,CLE,W (+19),1,41:29,11,19,...,4,8,2,0,1,4,34,31.7,22,Tim Hardaway
3,2017-12-12,22-132,NYK,HOME,LAL,W (+4),1,40:05,14,26,...,11,1,1,5,3,3,37,29.5,5,Kristaps Porziņģis
4,2017-11-03,22-093,NYK,HOME,PHO,W (+13),1,31:12,13,22,...,7,0,1,3,2,1,37,29.2,13,Kristaps Porziņģis

In [53]:
# removed dennis smith
NYK_2019_gamelog = []

for p in NYK_df_2019_players:
    player_log = get_game_logs(str(p), SEASON_2019_START, SEASON_2019_END, playoffs = False)
    player_log['Player'] = p
    
    NYK_2019_gamelog.append(player_log)
NYK_2019_gamelog = pd.concat(NYK_2019_gamelog)    
NYK_2019_gamelogs = NYK_2019_gamelog.copy()
NYK_2019_gamelogs['GAME_SCORE'] = NYK_2019_gamelogs['GAME_SCORE'].astype(float)
NYK_2019_games = NYK_2019_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
NYK_2019_games_csv = NYK_2019_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2019_games.csv', index=False)
NYK_2019_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2019_games.csv')
NYK_2019_games_proc.head()

You searched for "Kadeem Allen"
1 result found.
Kadeem Allen
Results for Kadeem Allen:

You searched for "Ron Baker"
45 results found.
0: Ron Baker
1: Vin Baker
2: Norm Baker
3: Tom Barker
4: Ron Brewer
5: Ron Carter
6: Ron Harper
7: Thon Maker
8: Von Wafer
9: John Barber
10: John Barr
11: Moe Barr
12: Jon Barry
13: Aron Baynes
14: Moe Becker
15: Ron Behagen
16: Ron Boone
17: Don Boven
18: Don Buse
19: John Coker
20: Ron Davis
21: Ron Lee
22: Jon Leuer
23: Ron Mercer
24: Bob Naber
25: Tony Parker
26: Ron Reed
27: Tom Riker
28: Ron Riley
29: Ron Watts
30: Jon Teske
31: Don Bielke
32: Ron Bonham
33: Don Grate
34: Ron Horn
35: Red Kerr
36: Ron King
37: Rob Kurz
38: Ron Moore
39: Ron Rowan
40: Ron Sobie
41: Ron Widby
42: Byron Beck
43: Tom Black
44: Zan Tabak
Pick one: 0
Results for Ron Baker:

You searched for "Trey Burke"
5 results found.
0: Trey Burke
1: Pat Burke
2: Alec Burks
3: Corey Beck
4: Troy Bell
Pick one: 0
Results for Trey Burke:

You searched for "Damyean Dotson"
1 result found.
Damyean Dotson
Results for Damyean Dotson:

You searched for "Henry Ellenson"
1 result found.
Henry Ellenson
Results for Henry Ellenson:

You searched for "Billy Garrett"
6 results found.
0: Billy Garrett
1: Bill Garnett
2: Billy Hassett
3: Bill Garner
4: Dick Garrett
5: Billy Harris
Pick one: 0
Results for Billy Garrett:

You searched for "Tim Hardaway"
2 results found.
0: Tim Hardaway
1: Tim Hardaway Jr.
Pick one: 1
Results for Tim Hardaway Jr.:

You searched for "Mario Hezonja"
1 result found.
Mario Hezonja
Results for Mario Hezonja:

You searched for "Isaiah Hicks"
3 results found.
0: Isaiah Hicks
1: Isaiah Rider
2: Isaiah Thomas
Pick one: 0
Results for Isaiah Hicks:

You searched for "John Jenkins"
5 results found.
0: John Jenkins
1: John Collins
2: John Henson
3: John Johnson
4: John Mahnken
Pick one: 0
Results for John Jenkins:

You searched for "DeAndre Jordan"
2 results found.
0: DeAndre Jordan
1: Eddie Jordan
Pick one: 0
Results for DeAndre Jordan:

You searched for "Enes Kanter"
2 results found.
0: Enes Kanter
1: Les Hunter
Pick one: 0
Results for Enes Kanter:

You searched for "Kevin Knox"
5 results found.
0: Kevin Knox
1: Kevin Jones
2: Kevin Love
3: Kevin Lynch
4: Kelvin Cato
Pick one: 0
Results for Kevin Knox:

You searched for "Luke Kornet"
1 result found.
Luke Kornet
Results for Luke Kornet:

You searched for "Courtney Lee"
3 results found.
0: Courtney Lee
1: Courtney Sims
2: Joe Courtney
Pick one: 0
Results for Courtney Lee:

You searched for "Wesley Matthews"
2 results found.
0: Wesley Matthews
1: Wes Matthews
Pick one: 0
Results for Wesley Matthews:

You searched for "Emmanuel Mudiay"
1 result found.
Emmanuel Mudiay
Results for Emmanuel Mudiay:

You searched for "Mitchell Robinson"
1 result found.
Mitchell Robinson
Results for Mitchell Robinson:

You searched for "Lance Thomas"
8 results found.
0: Lance Thomas
1: Carl Thomas
2: Etan Thomas
3: Jamel Thomas
4: James Thomas
5: Joe Thomas
6: Kenny Thomas
7: Matt Thomas
Pick one: 0
Results for Lance Thomas:

You searched for "Allonzo Trier"
1 result found.
Allonzo Trier
Results for Allonzo Trier:

You searched for "Noah Vonleh"
1 result found.
Noah Vonleh
Results for Noah Vonleh:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2018-12-14,22-284,NYK,AWAY,CHO,W (+2),1,41:00,14,21,...,3,8,2,0,3,3,34,29.2,13,Emmanuel Mudiay
1,2018-10-19,26-152,NYK,AWAY,BRK,L (-2),1,35:20,12,18,...,10,2,1,0,0,2,29,27.0,2,Enes Kanter
2,2018-10-20,30-091,DAL,HOME,MIN,W (+4),1,31:45,8,10,...,10,1,2,5,1,2,22,26.8,2,DeAndre Jordan
3,2019-03-17,23-012,NYK,HOME,LAL,W (+1),1,32:47,8,11,...,2,8,0,1,4,1,28,25.6,-2,Emmanuel Mudiay
4,2018-12-17,22-287,NYK,HOME,PHO,L (-18),1,32:34,12,21,...,6,6,0,0,2,3,32,24.9,-8,Emmanuel Mudiay

In [54]:

NYK_2020_gamelog = []

for p in NYK_df_2020_players:
    player_log = get_game_logs(str(p), SEASON_2020_START, SEASON_2020_END, playoffs = False)
    player_log['Player'] = p
    
    NYK_2020_gamelog.append(player_log)
NYK_2020_gamelog = pd.concat(NYK_2020_gamelog)    
NYK_2020_gamelogs = NYK_2020_gamelog.copy()
NYK_2020_gamelogs['GAME_SCORE'] = NYK_2020_gamelogs['GAME_SCORE'].astype(float)
NYK_2020_games = NYK_2020_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
NYK_2020_games_csv = NYK_2020_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2020_games.csv', index=False)
NYK_2020_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2020_games.csv')
NYK_2020_games_proc.head()

You searched for "Kadeem Allen"
1 result found.
Kadeem Allen
Results for Kadeem Allen:

You searched for "RJ Barrett"
7 results found.
0: RJ Barrett
1: Jim Barnett
2: Andre Barrett
3: Ernie Barrett
4: Mike Barrett
5: Drew Barry
6: Rick Barry
Pick one: 0
Results for RJ Barrett:

You searched for "Ignas Brazdeikis"
1 result found.
Ignas Brazdeikis
Results for Ignas Brazdeikis:

You searched for "Reggie Bullock"
1 result found.
Reggie Bullock
Results for Reggie Bullock:

You searched for "Damyean Dotson"
1 result found.
Damyean Dotson
Results for Damyean Dotson:

You searched for "Wayne Ellington"
1 result found.
Wayne Ellington
Results for Wayne Ellington:

You searched for "Taj Gibson"
5 results found.
0: Taj Gibson
1: Dee Gibson
2: Mel Gibson
3: Hoot Gibson
4: Mike Gibson
Pick one: 0
Results for Taj Gibson:

You searched for "Maurice Harkless"
2 results found.
0: Maurice Harkless
1: Maurice McHartley
Pick one: 0
Results for Maurice Harkless:

You searched for "Kevin Knox"
5 results found.
0: Kevin Knox
1: Kevin Jones
2: Kevin Love
3: Kevin Lynch
4: Kelvin Cato
Pick one: 0
Results for Kevin Knox:

You searched for "Marcus Morris"
5 results found.
0: Marcus Morris
1: Darius Morris
2: Marcus Cousin
3: Chris Morris
4: Max Morris
Pick one: 0
Results for Marcus Morris:

You searched for "Elfrid Payton"
1 result found.
Elfrid Payton
Results for Elfrid Payton:

You searched for "Bobby Portis"
7 results found.
0: Bobby Portis
1: Bobby Jones
2: Bobby Jones
3: Bobby Lewis
4: Bobby Phills
5: Bobby Hooper
6: Bob Portman
Pick one: 0
Results for Bobby Portis:

You searched for "Julius Randle"
3 results found.
0: Julius Randle
1: Julius Hodge
2: Julius Erving
Pick one: 0
Results for Julius Randle:

You searched for "Mitchell Robinson"
1 result found.
Mitchell Robinson
Results for Mitchell Robinson:

You searched for "Allonzo Trier"
1 result found.
Allonzo Trier
Results for Allonzo Trier:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2019-12-11,30-100,NYK,AWAY,GSW,W (+2),1,36:28,10,18,...,10,3,3,0,1,3,36,33.7,5,Marcus Morris
1,2020-01-05,30-125,NYK,AWAY,LAC,L (-3),1,35:04,13,19,...,5,1,2,1,3,4,38,29.4,2,Marcus Morris
2,2019-11-18,24-354,NYK,HOME,CLE,W (+18),1,31:52,12,17,...,7,4,2,1,1,4,30,27.9,24,Julius Randle
3,2019-12-23,25-024,NYK,HOME,WAS,L (-6),1,37:08,11,21,...,5,2,2,1,3,3,35,26.9,4,Julius Randle
4,2020-02-27,25-090,NYK,AWAY,PHI,L (-9),1,38:03,11,18,...,10,5,0,0,1,3,30,26.5,10,Julius Randle

In [55]:

NYK_2021_gamelog = []

for p in NYK_df_2021_players:
    player_log = get_game_logs(str(p), SEASON_2021_START, SEASON_2021_END, playoffs = False)
    player_log['Player'] = p
    
    NYK_2021_gamelog.append(player_log)
NYK_2021_gamelog = pd.concat(NYK_2021_gamelog)    
NYK_2021_gamelogs = NYK_2021_gamelog.copy()
NYK_2021_gamelogs['GAME_SCORE'] = NYK_2021_gamelogs['GAME_SCORE'].astype(float)
NYK_2021_games = NYK_2021_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
NYK_2021_games_csv = NYK_2021_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2021_games.csv', index=False)
NYK_2021_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2021_games.csv')
NYK_2021_games_proc.head()

You searched for "RJ Barrett"
7 results found.
0: RJ Barrett
1: Jim Barnett
2: Andre Barrett
3: Ernie Barrett
4: Mike Barrett
5: Drew Barry
6: Rick Barry
Pick one: 0
Results for RJ Barrett:

You searched for "Ignas Brazdeikis"
1 result found.
Ignas Brazdeikis
Results for Ignas Brazdeikis:

You searched for "Reggie Bullock"
1 result found.
Reggie Bullock
Results for Reggie Bullock:

You searched for "Alec Burks"
3 results found.
0: Alec Burks
1: Trey Burke
2: Alex Kirk
Pick one: 0
Results for Alec Burks:

You searched for "Taj Gibson"
5 results found.
0: Taj Gibson
1: Dee Gibson
2: Mel Gibson
3: Hoot Gibson
4: Mike Gibson
Pick one: 0
Results for Taj Gibson:

You searched for "Jared Harper"
8 results found.
0: Jared Harper
1: Derek Harper
2: Fred Carter
3: Jake Carter
4: James Harden
5: Mike Harper
6: Ron Harper
7: Jared Reiner
Pick one: 0
Results for Jared Harper:

You searched for "Kevin Knox"
5 results found.
0: Kevin Knox
1: Kevin Jones
2: Kevin Love
3: Kevin Lynch
4: Kelvin Cato
Pick one: 0
Results for Kevin Knox:

You searched for "Nerlens Noel"
1 result found.
Nerlens Noel
Results for Nerlens Noel:

You searched for "Elfrid Payton"
1 result found.
Elfrid Payton
Results for Elfrid Payton:

You searched for "Norvel Pelle"
1 result found.
Norvel Pelle
Results for Norvel Pelle:

You searched for "Theo Pinson"
2 results found.
0: Theo Pinson
1: Fred Vinson
Pick one: 0
Results for Theo Pinson:

You searched for "Immanuel Quickley"
1 result found.
Immanuel Quickley
Results for Immanuel Quickley:

You searched for "Julius Randle"
3 results found.
0: Julius Randle
1: Julius Hodge
2: Julius Erving
Pick one: 0
Results for Julius Randle:

You searched for "Austin Rivers"
1 result found.
Austin Rivers
Results for Austin Rivers:

You searched for "Mitchell Robinson"
1 result found.
Mitchell Robinson
Results for Mitchell Robinson:

You searched for "Derrick Rose"
9 results found.
0: Derrick Rose
1: Derrick Brown
2: Derrick Jones
3: Derrick Dial
4: Derrick McKey
5: Derrick White
6: Derrick Byars
7: Derrick Favors
8: Rick Robey
Pick one: 0
Results for Derrick Rose:

You searched for "Obi Toppin"
1 result found.
Obi Toppin
Results for Obi Toppin:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2021-02-15,26-078,NYK,HOME,ATL,W (+11),1,40:56,14,22,...,9,5,0,0,3,1,44,35.8,17,Julius Randle
1,2021-04-16,26-138,NYK,AWAY,DAL,W (+8),1,40:38,16,29,...,10,7,1,1,3,1,44,35.1,-1,Julius Randle
2,2021-04-21,26-143,NYK,HOME,ATL,W (+10),1,40:49,11,21,...,11,6,1,0,4,4,40,32.6,0,Julius Randle
3,2021-03-13,26-104,NYK,AWAY,OKC,W (+22),1,39:06,8,15,...,12,12,2,0,3,1,26,28.5,19,Julius Randle
4,2020-12-27,26-028,NYK,HOME,MIL,W (+20),1,37:07,8,17,...,14,7,0,1,2,4,29,27.3,12,Julius Randle

## combine all seasons

In [56]:
NYK_2000_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2000_games.csv')
NYK_2001_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2001_games.csv')
NYK_2002_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2002_games.csv')
NYK_2003_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2003_games.csv')
NYK_2004_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2004_games.csv')
NYK_2005_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2005_games.csv')
NYK_2006_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2006_games.csv')
NYK_2007_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2007_games.csv')
NYK_2008_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2008_games.csv')
NYK_2009_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2009_games.csv')
NYK_2010_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2010_games.csv')
NYK_2011_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2011_games.csv')
NYK_2012_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2012_games.csv')
NYK_2013_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2013_games.csv')
NYK_2014_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2014_games.csv')
NYK_2015_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2015_games.csv')
NYK_2016_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2016_games.csv')
NYK_2017_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2017_games.csv')
NYK_2018_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2018_games.csv')
NYK_2019_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2019_games.csv')
NYK_2020_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2020_games.csv')
NYK_2021_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/NYK/NYK_2021_games.csv')

In [57]:
NYK_season_dfs = [NYK_2000_games_io, NYK_2001_games_io, NYK_2002_games_io, NYK_2003_games_io, NYK_2004_games_io, NYK_2005_games_io,
                 NYK_2006_games_io, NYK_2007_games_io, NYK_2008_games_io, NYK_2009_games_io, NYK_2010_games_io, NYK_2011_games_io,
                 NYK_2012_games_io, NYK_2013_games_io, NYK_2014_games_io, NYK_2015_games_io, NYK_2016_games_io, NYK_2017_games_io,
                 NYK_2018_games_io, NYK_2019_games_io, NYK_2020_games_io, NYK_2021_games_io]

In [58]:
NYK_all = pd.concat(NYK_season_dfs)
NYK_all_sorted = NYK_all.sort_values(by=['GAME_SCORE'], ascending=False)
NYK_all_sorted.head(25)

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2014-01-24,29-240,NYK,HOME,CHA,W (+29),1,38:39,23,35,...,13,0,0,0,0,1,62,50.6,34,Carmelo Anthony
0,2014-01-24,29-240,NYK,HOME,CHA,W (+29),1,38:39,23,35,...,13,0,0,0,0,1,62,50.6,34,Carmelo Anthony
0,2003-02-16,31-302,NYK,AWAY,LAL,W (+7),1,43:29,18,29,...,4,5,2,0,0,3,53,44.6,3,Allan Houston
1,2013-04-02,28-308,NYK,AWAY,MIA,W (+12),1,40:20,18,26,...,2,2,1,1,0,3,50,41.1,15,Carmelo Anthony
0,2011-02-07,26-254,DEN,HOME,HOU,L (-5),1,39:28,16,24,...,11,0,1,3,4,2,50,40.8,-3,Carmelo Anthony
0,2003-12-29,26-312,PHO,AWAY,LAC,W (+8),1,41:46,15,23,...,4,9,5,0,2,1,40,40.4,8,Stephon Marbury
0,2008-12-20,28-275,GSW,AWAY,CHA,W (+7),1,45:51,14,26,...,2,5,0,1,1,2,50,40.0,15,Jamal Crawford
0,2007-01-26,26-312,NYK,HOME,MIA,W (+20),1,39:29,20,30,...,3,1,2,0,3,2,52,39.6,27,Jamal Crawford
1,2011-02-06,28-082,NYK,HOME,PHI,W (+14),1,36:27,17,21,...,7,4,1,4,3,5,41,38.4,11,Amar'e Stoudemire
1,2003-03-16,31-330,NYK,HOME,MIL,W (+9),1,44:17,13,25,...,2,1,0,0,0,3,50,38.2,8,Allan Houston
1,2007-04-07,24-123,NYK,AWAY,MIL,W (+5),1,50:10,17,20,...,13,1,2,0,4,1,43,38.0,-1,Eddy Curry
0,2005-03-29,28-037,NYK,AWAY,LAL,L (-10),1,41:27,12,22,...,6,10,1,0,6,3,45,37.4,-8,Stephon Marbury
1,2004-02-08,26-353,NYK,HOME,LAC,W (+6),1,45:07,15,20,...,1,8,2,0,4,1,42,37.1,6,Stephon Marbury
2,2010-11-19,26-146,NYK,AWAY,GSW,W (+6),1,42:42,13,17,...,5,11,4,1,5,1,35,36.8,4,Raymond Felton
0,2002-03-14,31-187,NYK,HOME,SAC,W (+17),1,46:30,17,26,...,4,6,1,0,1,2,43,36.6,17,Latrell Sprewell
2,2013-01-01,28-217,NYK,HOME,POR,L (-5),1,41:12,14,24,...,7,4,1,0,2,3,45,36.5,1,Carmelo Anthony
0,2021-02-15,26-078,NYK,HOME,ATL,W (+11),1,40:56,14,22,...,9,5,0,0,3,1,44,35.8,17,Julius Randle
0,2018-03-26,25-134,NYK,AWAY,CHO,L (-9),1,40:52,19,31,...,1,12,1,0,2,1,42,35.6,2,Trey Burke
3,2012-12-11,28-196,NYK,AWAY,BRK,W (+3),1,44:00,15,24,...,5,3,0,0,2,3,45,35.4,5,Carmelo Anthony
4,2014-02-21,29-268,NYK,AWAY,ORL,L (-8),1,50:19,16,28,...,11,4,1,0,2,3,44,35.1,-2,Carmelo Anthony
1,2021-04-16,26-138,NYK,AWAY,DAL,W (+8),1,40:38,16,29,...,10,7,1,1,3,1,44,35.1,-1,Julius Randle
1,2014-02-21,29-268,NYK,AWAY,ORL,L (-8),1,50:19,16,28,...,11,4,1,0,2,3,44,35.1,-2,Carmelo Anthony
1,2009-02-11,24-256,NYK,AWAY,LAC,L (-4),1,51:33,13,28,...,9,15,5,0,1,4,33,35.0,5,Nate Robinson
0,2008-03-08,23-282,NYK,HOME,POR,L (-6),1,52:15,16,28,...,6,6,1,0,2,3,45,34.8,-4,Nate Robinson
2,2007-03-03,30-011,NYK,AWAY,ATL,W (+4),1,51:09,11,26,...,5,9,5,1,1,4,38,34.7,10,Stephon Marbury