In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime as dt
import scipy.stats as stats
from basketball_reference_scraper.players import get_stats, get_game_logs, get_player_headshot
from basketball_reference_scraper.teams import get_roster, get_team_stats, get_opp_stats, get_roster_stats,get_team_misc

In [2]:
# Constants
SEASON_2000_START = '1999-11-02'
SEASON_2000_END = '2000-04-19'

SEASON_2001_START = '2000-11-01'
SEASON_2001_END = '2001-04-18'

SEASON_2002_START = '2001-10-30'
SEASON_2002_END = '2002-04-17'

SEASON_2003_START = '2002-10-30'
SEASON_2003_END = '2003-04-16'

SEASON_2004_START = '2003-10-29'
SEASON_2004_END = '2004-04-12'

SEASON_2005_START = '2004-11-03'
SEASON_2005_END = '2005-04-20'

SEASON_2006_START = '2005-11-02'
SEASON_2006_END = '2006-04-19'

SEASON_2007_START = '2006-11-01'
SEASON_2007_END = '2007-04-18'

SEASON_2008_START = '2007-11-02'
SEASON_2008_END = '2008-04-16'

SEASON_2009_START = '2008-10-28'
SEASON_2009_END = '2009-04-15'

SEASON_2010_START = '2009-10-27'
SEASON_2010_END = '2010-04-14'

SEASON_2011_START = '2010-10-26'
SEASON_2011_END = '2011-04-13'

SEASON_2012_START = '2011-11-25'
SEASON_2012_END = '2012-04-26'

SEASON_2013_START = '2012-10-30'
SEASON_2013_END = '2013-04-17'

SEASON_2014_START = '2013-10-30'
SEASON_2014_END = '2014-04-16'

SEASON_2015_START = '2014-10-29'
SEASON_2015_END = '2015-04-15'

SEASON_2016_START = '2015-10-28' 
SEASON_2016_END = '2016-04-13'

SEASON_2017_START = '2016-10-25'
SEASON_2017_END = '2017-04-14'

SEASON_2018_START = '2017-10-17'
SEASON_2018_END = '2018-04-14'

SEASON_2019_START = '2018-10-18'
SEASON_2019_END = '2019-04-12'

SEASON_2020_START = '2019-10-22'
SEASON_2020_END = '2020-08-15'

SEASON_2021_START = '2020-12-22'
SEASON_2021_END = '2021-05-16'

In [3]:
season = 2000
appended_data_SAS = []

# SAS
while season <= 2021:
    df_SAS = get_roster('SAS', season)
    df_SAS['Season'] = season
    df_SAS['Team'] = 'SAS'
    appended_data_SAS.append(df_SAS)
    season = season + 1
appended_data_SAS = pd.concat(appended_data_SAS)

In [4]:
SAS_df_all = appended_data_SAS.copy()
SAS_df_all_csv = SAS_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_players_all.csv', index=False)
SAS_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_players_all.csv')
SAS_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,52,Chucky Brown,PF,6-7,214,1968-02-29,US,10,NC State,2000,SAS
1,33,Antonio Daniels,SG,6-4,195,1975-03-19,US,2,Bowling Green,2000,SAS
2,5,Derrick Dial,SG,6-4,184,1975-12-20,US,R,Eastern Michigan,2000,SAS
3,21,Tim Duncan,PF,6-11,250,1976-04-25,VI,2,Wake Forest,2000,SAS
4,17,Mario Elie,SF,6-5,210,1963-11-26,US,9,American International College,2000,SAS

In [5]:
SAS_df_2000 = SAS_df_all[SAS_df_all['Season'] == 2000]
SAS_df_2001 = SAS_df_all[SAS_df_all['Season'] == 2001]
SAS_df_2002 = SAS_df_all[SAS_df_all['Season'] == 2002]
SAS_df_2003 = SAS_df_all[SAS_df_all['Season'] == 2003]
SAS_df_2004 = SAS_df_all[SAS_df_all['Season'] == 2004]
SAS_df_2005 = SAS_df_all[SAS_df_all['Season'] == 2005]
SAS_df_2006 = SAS_df_all[SAS_df_all['Season'] == 2006]
SAS_df_2007 = SAS_df_all[SAS_df_all['Season'] == 2007]
SAS_df_2008 = SAS_df_all[SAS_df_all['Season'] == 2008]
SAS_df_2009 = SAS_df_all[SAS_df_all['Season'] == 2009]
SAS_df_2010 = SAS_df_all[SAS_df_all['Season'] == 2010]
SAS_df_2011 = SAS_df_all[SAS_df_all['Season'] == 2011]
SAS_df_2012 = SAS_df_all[SAS_df_all['Season'] == 2012]
SAS_df_2013 = SAS_df_all[SAS_df_all['Season'] == 2013]
SAS_df_2014 = SAS_df_all[SAS_df_all['Season'] == 2014]
SAS_df_2015 = SAS_df_all[SAS_df_all['Season'] == 2015]
SAS_df_2016 = SAS_df_all[SAS_df_all['Season'] == 2016]
SAS_df_2017 = SAS_df_all[SAS_df_all['Season'] == 2017]
SAS_df_2018 = SAS_df_all[SAS_df_all['Season'] == 2018]
SAS_df_2019 = SAS_df_all[SAS_df_all['Season'] == 2019]
SAS_df_2020 = SAS_df_all[SAS_df_all['Season'] == 2020]
SAS_df_2021 = SAS_df_all[SAS_df_all['Season'] == 2021]

In [6]:
# changing names
#SAS_df_2002.loc[SAS_df_2003.PLAYER == 'Nenê Hilário', 'PLAYER'] = 'Nene Hilario'
#SAS_df_2004.loc[SAS_df_2003.PLAYER == 'Nenê Hilário', 'PLAYER'] = 'Nene Hilario'

In [6]:
SAS_df_2000_players = SAS_df_2000['PLAYER'].to_list()
SAS_df_2001_players = SAS_df_2001['PLAYER'].to_list()
SAS_df_2002_players = SAS_df_2002['PLAYER'].to_list()
SAS_df_2003_players = SAS_df_2003['PLAYER'].to_list()
SAS_df_2004_players = SAS_df_2004['PLAYER'].to_list()
SAS_df_2005_players = SAS_df_2005['PLAYER'].to_list()

SAS_df_2006_players = SAS_df_2006['PLAYER'].to_list()
SAS_df_2007_players = SAS_df_2007['PLAYER'].to_list()
SAS_df_2008_players = SAS_df_2008['PLAYER'].to_list()
SAS_df_2009_players = SAS_df_2009['PLAYER'].to_list()
SAS_df_2010_players = SAS_df_2010['PLAYER'].to_list()
SAS_df_2011_players = SAS_df_2011['PLAYER'].to_list()

SAS_df_2012_players = SAS_df_2012['PLAYER'].to_list()
SAS_df_2013_players = SAS_df_2013['PLAYER'].to_list()
SAS_df_2014_players = SAS_df_2014['PLAYER'].to_list()
SAS_df_2015_players = SAS_df_2015['PLAYER'].to_list()
SAS_df_2016_players = SAS_df_2016['PLAYER'].to_list()
SAS_df_2017_players = SAS_df_2017['PLAYER'].to_list()

SAS_df_2018_players = SAS_df_2018['PLAYER'].to_list()
SAS_df_2019_players = SAS_df_2019['PLAYER'].to_list()
SAS_df_2020_players = SAS_df_2020['PLAYER'].to_list()
SAS_df_2021_players = SAS_df_2021['PLAYER'].to_list()

## players to drop

In [35]:
#SAS_df_2002_players.remove("Charles Smith")
#SAS_df_2008_players.remove("Bobby Jones")
#SAS_df_2014_players.remove("Jeff Ayres")
#SAS_df_2015_players.remove("Jeff Ayres")
#SAS_df_2015_players.remove("Reggie Williams")
SAS_df_2017_players.remove("David Lee")

In [7]:

SAS_2000_gamelog = []


for p in SAS_df_2000_players:
    player_log = get_game_logs(str(p), SEASON_2000_START, SEASON_2000_END, playoffs = False)
    player_log['Player'] = p
    
    SAS_2000_gamelog.append(player_log)
SAS_2000_gamelog = pd.concat(SAS_2000_gamelog)    
SAS_2000_gamelogs = SAS_2000_gamelog.copy()
SAS_2000_gamelogs['GAME_SCORE'] = SAS_2000_gamelogs['GAME_SCORE'].astype(float)
SAS_2000_games = SAS_2000_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
SAS_2000_games_csv = SAS_2000_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2000_games.csv', index=False)
SAS_2000_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2000_games.csv')
SAS_2000_games_proc.head()

You searched for "Chucky Brown"
3 results found.
0: Chucky Brown
1: Bruce Brown
2: Rickey Brown
Pick one: 0
Results for Chucky Brown:

You searched for "Antonio Daniels"
2 results found.
0: Antonio Daniels
1: Antonio Davis
Pick one: 0
Results for Antonio Daniels:

You searched for "Derrick Dial"
4 results found.
0: Derrick Dial
1: Derrick Byars
2: Derrick Rose
3: Derrick White
Pick one: 0
Results for Derrick Dial:

You searched for "Tim Duncan"
2 results found.
0: Tim Duncan
1: Andy Duncan
Pick one: 0
Results for Tim Duncan:

You searched for "Mario Elie"
3 results found.
0: Mario Elie
1: Marko Milic
2: Mario West
Pick one: 0
Results for Mario Elie:

You searched for "Sean Elliott"
2 results found.
0: Sean Elliott
1: Bob Elliott
Pick one: 0
Results for Sean Elliott:

You searched for "Jaren Jackson"
19 results found.
0: Jaren Jackson
1: Jaren Jackson
2: Aaron Jackson
3: Greg Jackson
4: Marc Jackson
5: Mark Jackson
6: Myron Jackson
7: Al Jackson
8: Darnell Jackson
9: Frank Jackson
10: Jim Jackson
11: Josh Jackson
12: Justin Jackson
13: Luke Jackson
14: Luke Jackson
15: Mervin Jackson
16: Mike Jackson
17: Ralph Jackson
18: Wardell Jackson
Pick one: 0
Results for Jaren Jackson:

You searched for "Avery Johnson"
27 results found.
0: Avery Johnson
1: Amir Johnson
2: Andy Johnson
3: Dave Johnson
4: Larry Johnson
5: Larry Johnson
6: Trey Johnson
7: Alize Johnson
8: Armon Johnson
9: Arnie Johnson
10: Cameron Johnson
11: Clay Johnson
12: Dakari Johnson
13: Darryl Johnson
14: Ed Johnson
15: Eric Johnson
16: Ivan Johnson
17: James Johnson
18: Joe Johnson
19: Ken Johnson
20: Ken Johnson
21: Lee Johnson
22: Neil Johnson
23: Omari Johnson
24: Steve Johnson
25: Stew Johnson
26: Tyler Johnson
Pick one: 0
Results for Avery Johnson:

You searched for "Steve Kerr"
16 results found.
0: Steve Kerr
1: Steve Bardo
2: Steve Burtt
3: Steve Green
4: Steve Hamer
5: Steve Harris
6: Red Kerr
7: Steve Mix
8: Steve Nash
9: Steve Blake
10: Steve Colter
11: Steve Hawes
12: Steve Hayes
13: Steve Jones
14: Steven Kramer
15: Steve Novak
Pick one: 0
Results for Steve Kerr:

You searched for "Jerome Kersey"
2 results found.
0: Jerome Kersey
1: Jerome Beasley
Pick one: 0
Results for Jerome Kersey:

You searched for "Terry Porter"
10 results found.
0: Terry Porter
1: Terry Dozier
2: Terry Rozier
3: Jerry Dover
4: Jerry Fowler
5: Jerry Pender
6: Chris Porter
7: Kevin Porter
8: Kevin Porter
9: Terry Tyler
Pick one: 0
Results for Terry Porter:

You searched for "David Robinson"
10 results found.
0: David Robinson
1: Devin Robinson
2: Chris Robinson
3: Eddie Robinson
4: Jackie Robinson
5: Jamal Robinson
6: James Robinson
7: Larry Robinson
8: Nate Robinson
9: Wayne Robinson
Pick one: 0
Results for David Robinson:

You searched for "Malik Rose"
7 results found.
0: Malik Rose
1: Malik Monk
2: Jalen Rose
3: Malik Allen
4: Mark Pope
5: Malik Fitts
6: Al Roges
Pick one: 0
Results for Malik Rose:

You searched for "Felton Spencer"
2 results found.
0: Felton Spencer
1: Elmore Spencer
Pick one: 0
Results for Felton Spencer:

You searched for "Samaki Walker"
1 result found.
Samaki Walker
Results for Samaki Walker:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,1999-12-09,23-228,SAS,HOME,VAN,W (+8),1,47:33,15,22,...,14,4,2,1,3,2,42,39.7,9,Tim Duncan
1,2000-01-10,23-260,SAS,HOME,UTA,W (+7),1,45:31,16,28,...,14,2,0,1,3,2,46,35.7,6,Tim Duncan
2,2000-03-28,23-338,SAS,AWAY,POR,W (+4),1,47:07,13,21,...,15,6,1,3,3,3,36,35.7,9,Tim Duncan
3,2000-02-03,23-284,SAS,HOME,TOR,W (+17),1,39:47,11,22,...,17,7,3,1,2,2,32,34.3,23,Tim Duncan
4,2000-02-21,34-199,SAS,HOME,PHO,L (-9),1,40:48,9,16,...,18,3,1,4,2,3,31,33.1,4,David Robinson

In [8]:

SAS_2001_gamelog = []


for p in SAS_df_2001_players:
    player_log = get_game_logs(str(p), SEASON_2001_START, SEASON_2001_END, playoffs = False)
    player_log['Player'] = p
    
    SAS_2001_gamelog.append(player_log)
SAS_2001_gamelog = pd.concat(SAS_2001_gamelog)    
SAS_2001_gamelogs = SAS_2001_gamelog.copy()
SAS_2001_gamelogs['GAME_SCORE'] = SAS_2001_gamelogs['GAME_SCORE'].astype(float)
SAS_2001_games = SAS_2001_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
SAS_2001_games_csv = SAS_2001_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2001_games.csv', index=False)
SAS_2001_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2001_games.csv')
SAS_2001_games_proc.head()

You searched for "Derek Anderson"
12 results found.
0: Derek Anderson
1: Eric Anderson
2: Greg Anderson
3: Andrew Anderson
4: Dan Anderson
5: Dan Anderson
6: James Anderson
7: Jerome Anderson
8: Kenny Anderson
9: Kyle Anderson
10: Nick Anderson
11: Ron Anderson
Pick one: 0
Results for Derek Anderson:

You searched for "Antonio Daniels"
2 results found.
0: Antonio Daniels
1: Antonio Davis
Pick one: 0
Results for Antonio Daniels:

You searched for "Derrick Dial"
4 results found.
0: Derrick Dial
1: Derrick Byars
2: Derrick Rose
3: Derrick White
Pick one: 0
Results for Derrick Dial:

You searched for "Tim Duncan"
2 results found.
0: Tim Duncan
1: Andy Duncan
Pick one: 0
Results for Tim Duncan:

You searched for "Sean Elliott"
2 results found.
0: Sean Elliott
1: Bob Elliott
Pick one: 0
Results for Sean Elliott:

You searched for "Danny Ferry"
6 results found.
0: Danny Ferry
1: Danny Finn
2: Danny Ainge
3: Danny Doyle
4: Danny Green
5: Danny Wagner
Pick one: 0
Results for Danny Ferry:

You searched for "Jaren Jackson"
19 results found.
0: Jaren Jackson
1: Jaren Jackson
2: Aaron Jackson
3: Greg Jackson
4: Marc Jackson
5: Mark Jackson
6: Myron Jackson
7: Al Jackson
8: Darnell Jackson
9: Frank Jackson
10: Jim Jackson
11: Josh Jackson
12: Justin Jackson
13: Luke Jackson
14: Luke Jackson
15: Mervin Jackson
16: Mike Jackson
17: Ralph Jackson
18: Wardell Jackson
Pick one: 0
Results for Jaren Jackson:

You searched for "Avery Johnson"
27 results found.
0: Avery Johnson
1: Amir Johnson
2: Andy Johnson
3: Dave Johnson
4: Larry Johnson
5: Larry Johnson
6: Trey Johnson
7: Alize Johnson
8: Armon Johnson
9: Arnie Johnson
10: Cameron Johnson
11: Clay Johnson
12: Dakari Johnson
13: Darryl Johnson
14: Ed Johnson
15: Eric Johnson
16: Ivan Johnson
17: James Johnson
18: Joe Johnson
19: Ken Johnson
20: Ken Johnson
21: Lee Johnson
22: Neil Johnson
23: Omari Johnson
24: Steve Johnson
25: Stew Johnson
26: Tyler Johnson
Pick one: 0
Results for Avery Johnson:

You searched for "Steve Kerr"
16 results found.
0: Steve Kerr
1: Steve Bardo
2: Steve Burtt
3: Steve Green
4: Steve Hamer
5: Steve Harris
6: Red Kerr
7: Steve Mix
8: Steve Nash
9: Steve Blake
10: Steve Colter
11: Steve Hawes
12: Steve Hayes
13: Steve Jones
14: Steven Kramer
15: Steve Novak
Pick one: 0
Results for Steve Kerr:

You searched for "Ira Newble"
2 results found.
0: Ira Newble
1: Kira Lewis
Pick one: 0
Results for Ira Newble:

You searched for "Terry Porter"
10 results found.
0: Terry Porter
1: Terry Dozier
2: Terry Rozier
3: Jerry Dover
4: Jerry Fowler
5: Jerry Pender
6: Chris Porter
7: Kevin Porter
8: Kevin Porter
9: Terry Tyler
Pick one: 0
Results for Terry Porter:

You searched for "David Robinson"
10 results found.
0: David Robinson
1: Devin Robinson
2: Chris Robinson
3: Eddie Robinson
4: Jackie Robinson
5: Jamal Robinson
6: James Robinson
7: Larry Robinson
8: Nate Robinson
9: Wayne Robinson
Pick one: 0
Results for David Robinson:

You searched for "Malik Rose"
7 results found.
0: Malik Rose
1: Malik Monk
2: Jalen Rose
3: Malik Allen
4: Mark Pope
5: Malik Fitts
6: Al Roges
Pick one: 0
Results for Malik Rose:

You searched for "Shawnelle Scott"
1 result found.
Shawnelle Scott
Results for Shawnelle Scott:

You searched for "Samaki Walker"
1 result found.
Samaki Walker
Results for Samaki Walker:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2001-04-12,24-352,SAS,HOME,SAC,L (-2),1,50:07,17,31,...,11,5,1,4,3,3,42,33.9,2,Tim Duncan
1,2001-04-03,24-343,SAS,HOME,SEA,W (+18),1,33:57,11,17,...,14,4,1,5,1,4,30,33.0,21,Tim Duncan
2,2001-04-05,24-345,SAS,AWAY,DEN,W (+21),1,37:54,10,16,...,13,4,0,1,3,3,36,32.4,14,Tim Duncan
3,2001-01-25,24-275,SAS,AWAY,SAC,W (+6),1,44:09,15,23,...,21,1,0,2,2,2,36,32.3,5,Tim Duncan
4,2001-03-27,24-336,SAS,HOME,CHH,W (+14),1,42:04,11,19,...,19,3,1,2,3,5,34,32.3,16,Tim Duncan

In [11]:

SAS_2002_gamelog = []


for p in SAS_df_2002_players:
    player_log = get_game_logs(str(p), SEASON_2002_START, SEASON_2002_END, playoffs = False)
    player_log['Player'] = p
    
    SAS_2002_gamelog.append(player_log)
SAS_2002_gamelog = pd.concat(SAS_2002_gamelog)    
SAS_2002_gamelogs = SAS_2002_gamelog.copy()
SAS_2002_gamelogs['GAME_SCORE'] = SAS_2002_gamelogs['GAME_SCORE'].astype(float)
SAS_2002_games = SAS_2002_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
SAS_2002_games_csv = SAS_2002_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2002_games.csv', index=False)
SAS_2002_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2002_games.csv')
SAS_2002_games_proc.head()

You searched for "Bruce Bowen"
6 results found.
0: Bruce Bowen
1: Bruce Brown
2: Brian Bowen
3: Ryan Bowen
4: Bruce Flowers
5: Bruce Hale
Pick one: 0
Results for Bruce Bowen:

You searched for "Mark Bryant"
11 results found.
0: Mark Bryant
1: Mark Blount
2: Mark Bradtke
3: Em Bryant
4: Joe Bryant
5: Kobe Bryant
6: Gary Grant
7: Markel Brown
8: Mark Eaton
9: Mark Workman
10: Mark Sibley
Pick one: 0
Results for Mark Bryant:

You searched for "Antonio Daniels"
2 results found.
0: Antonio Daniels
1: Antonio Davis
Pick one: 0
Results for Antonio Daniels:

You searched for "Tim Duncan"
2 results found.
0: Tim Duncan
1: Andy Duncan
Pick one: 0
Results for Tim Duncan:

You searched for "Danny Ferry"
6 results found.
0: Danny Ferry
1: Danny Finn
2: Danny Ainge
3: Danny Doyle
4: Danny Green
5: Danny Wagner
Pick one: 0
Results for Danny Ferry:

You searched for "Jason Hart"
9 results found.
0: Jason Hart
1: Josh Hart
2: Jaxson Hayes
3: Jason Kidd
4: Jason Smith
5: Jason Terry
6: Jon Barry
7: Jay Carty
8: Jason Sasser
Pick one: 0
Results for Jason Hart:

You searched for "Stephen Jackson"
3 results found.
0: Stephen Jackson
1: Stanley Jackson
2: Stephen Wilson
Pick one: 0
Results for Stephen Jackson:

You searched for "Amal McCaskill"
1 result found.
Amal McCaskill
Results for Amal McCaskill:

You searched for "Tony Parker"
17 results found.
0: Tony Parker
1: Tony Farmer
2: Sonny Parker
3: Tom Barker
4: Anthony Parker
5: Tony Allen
6: Ron Baker
7: Ron Carter
8: Tony Fuller
9: Ron Harper
10: Tony Harris
11: Tony Jaros
12: Tony Kappen
13: Thon Maker
14: Tony Price
15: Tony Battie
16: Coty Clarke
Pick one: 0
Results for Tony Parker:

You searched for "Cherokee Parks"
2 results found.
0: Cherokee Parks
1: Charles Parks
Pick one: 0
Results for Cherokee Parks:

You searched for "Terry Porter"
10 results found.
0: Terry Porter
1: Terry Dozier
2: Terry Rozier
3: Jerry Dover
4: Jerry Fowler
5: Jerry Pender
6: Chris Porter
7: Kevin Porter
8: Kevin Porter
9: Terry Tyler
Pick one: 0
Results for Terry Porter:

You searched for "David Robinson"
10 results found.
0: David Robinson
1: Devin Robinson
2: Chris Robinson
3: Eddie Robinson
4: Jackie Robinson
5: Jamal Robinson
6: James Robinson
7: Larry Robinson
8: Nate Robinson
9: Wayne Robinson
Pick one: 0
Results for David Robinson:

You searched for "Malik Rose"
7 results found.
0: Malik Rose
1: Malik Monk
2: Jalen Rose
3: Malik Allen
4: Mark Pope
5: Malik Fitts
6: Al Roges
Pick one: 0
Results for Malik Rose:

You searched for "Steve Smith"
24 results found.
0: Steve Smith
1: Steven Smith
2: Stevin Smith
3: Steve Mix
4: Pete Smith
5: Steve Burtt
6: Steve Nash
7: Deb Smith
8: Derek Smith
9: Ed Smith
10: Greg Smith
11: Greg Smith
12: Joe Smith
13: Ken Smith
14: Leon Smith
15: Mike Smith
16: Otis Smith
17: Sam Smith
18: Sam Smith
19: Tony Smith
20: Steve Hamer
21: Steve Hawes
22: Steve Hayes
23: Steve Jones
Pick one: 0
Results for Steve Smith:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2001-12-26,25-245,SAS,HOME,DAL,L (-3),1,50:21,19,28,...,11,4,0,3,6,5,53,42.8,-1,Tim Duncan
1,2002-01-17,25-267,SAS,HOME,UTA,W (+4),1,44:14,9,17,...,10,3,0,5,0,3,35,35.3,8,Tim Duncan
2,2002-04-13,25-353,SAS,AWAY,MEM,W (+21),1,30:45,12,17,...,14,7,2,4,2,3,30,34.0,26,Tim Duncan
3,2002-04-06,25-346,SAS,HOME,DAL,W (+2),1,44:18,10,20,...,16,5,3,3,3,1,33,33.0,1,Tim Duncan
4,2001-11-21,25-210,SAS,HOME,SEA,W (+17),1,34:02,14,17,...,13,4,0,3,2,1,30,32.1,28,Tim Duncan

In [12]:

    
SAS_2003_gamelog = []



for p in SAS_df_2003_players:
    player_log = get_game_logs(str(p), SEASON_2003_START, SEASON_2003_END, playoffs = False)
    player_log['Player'] = p
    
    SAS_2003_gamelog.append(player_log)
SAS_2003_gamelog = pd.concat(SAS_2003_gamelog)    
SAS_2003_gamelogs = SAS_2003_gamelog.copy()
SAS_2003_gamelogs['GAME_SCORE'] = SAS_2003_gamelogs['GAME_SCORE'].astype(float)
SAS_2003_games = SAS_2003_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
SAS_2003_games_csv = SAS_2003_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2003_games.csv', index=False)
SAS_2003_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2003_games.csv')
SAS_2003_games_proc.head()

You searched for "Mengke Bateer"
1 result found.
Mengke Bateer
Results for Mengke Bateer:

You searched for "Bruce Bowen"
6 results found.
0: Bruce Bowen
1: Bruce Brown
2: Brian Bowen
3: Ryan Bowen
4: Bruce Flowers
5: Bruce Hale
Pick one: 0
Results for Bruce Bowen:

You searched for "Devin Brown"
15 results found.
0: Devin Brown
1: Dee Brown
2: Dee Brown
3: Leon Brown
4: Lewis Brown
5: Devin Green
6: Devin Booker
7: Kevin Brooks
8: Damone Brown
9: Derrick Brown
10: John Brown
11: Myron Brown
12: Stan Brown
13: Devin Gray
14: Jim Browne
Pick one: 0
Results for Devin Brown:

You searched for "Speedy Claxton"
1 result found.
Speedy Claxton
Results for Speedy Claxton:

You searched for "Tim Duncan"
2 results found.
0: Tim Duncan
1: Andy Duncan
Pick one: 0
Results for Tim Duncan:

You searched for "Danny Ferry"
6 results found.
0: Danny Ferry
1: Danny Finn
2: Danny Ainge
3: Danny Doyle
4: Danny Green
5: Danny Wagner
Pick one: 0
Results for Danny Ferry:

You searched for "Manu Ginóbili"
1 result found.
Manu Ginobili
Results for Manu Ginobili:

You searched for "Anthony Goldwire"
2 results found.
0: Anthony Goldwire
1: Anthony Bowie
Pick one: 0
Results for Anthony Goldwire:

You searched for "Stephen Jackson"
3 results found.
0: Stephen Jackson
1: Stanley Jackson
2: Stephen Wilson
Pick one: 0
Results for Stephen Jackson:

You searched for "Steve Kerr"
16 results found.
0: Steve Kerr
1: Steve Bardo
2: Steve Burtt
3: Steve Green
4: Steve Hamer
5: Steve Harris
6: Red Kerr
7: Steve Mix
8: Steve Nash
9: Steve Blake
10: Steve Colter
11: Steve Hawes
12: Steve Hayes
13: Steve Jones
14: Steven Kramer
15: Steve Novak
Pick one: 0
Results for Steve Kerr:

You searched for "Tony Parker"
17 results found.
0: Tony Parker
1: Tony Farmer
2: Sonny Parker
3: Tom Barker
4: Anthony Parker
5: Tony Allen
6: Ron Baker
7: Ron Carter
8: Tony Fuller
9: Ron Harper
10: Tony Harris
11: Tony Jaros
12: Tony Kappen
13: Thon Maker
14: Tony Price
15: Tony Battie
16: Coty Clarke
Pick one: 0
Results for Tony Parker:

You searched for "David Robinson"
10 results found.
0: David Robinson
1: Devin Robinson
2: Chris Robinson
3: Eddie Robinson
4: Jackie Robinson
5: Jamal Robinson
6: James Robinson
7: Larry Robinson
8: Nate Robinson
9: Wayne Robinson
Pick one: 0
Results for David Robinson:

You searched for "Malik Rose"
7 results found.
0: Malik Rose
1: Malik Monk
2: Jalen Rose
3: Malik Allen
4: Mark Pope
5: Malik Fitts
6: Al Roges
Pick one: 0
Results for Malik Rose:

You searched for "Steve Smith"
24 results found.
0: Steve Smith
1: Steven Smith
2: Stevin Smith
3: Steve Mix
4: Pete Smith
5: Steve Burtt
6: Steve Nash
7: Deb Smith
8: Derek Smith
9: Ed Smith
10: Greg Smith
11: Greg Smith
12: Joe Smith
13: Ken Smith
14: Leon Smith
15: Mike Smith
16: Otis Smith
17: Sam Smith
18: Sam Smith
19: Tony Smith
20: Steve Hamer
21: Steve Hawes
22: Steve Hayes
23: Steve Jones
Pick one: 0
Results for Steve Smith:

You searched for "Kevin Willis"
4 results found.
0: Kevin Willis
1: Kevin Williams
2: Kevin Ollie
3: Alvin Williams
Pick one: 0
Results for Kevin Willis:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2003-03-04,26-313,SAS,HOME,PHO,L (-7),1,43:39,14,18,...,21,8,2,4,2,1,35,44.7,-6,Tim Duncan
1,2003-01-14,26-264,SAS,HOME,PHO,W (+8),1,50:50,16,25,...,16,9,1,4,2,4,38,39.8,8,Tim Duncan
2,2003-02-11,26-292,SAS,AWAY,POR,W (+5),1,46:24,13,21,...,15,7,1,5,4,2,36,35.2,6,Tim Duncan
3,2003-04-02,26-342,SAS,AWAY,MEM,W (+18),1,34:23,13,16,...,19,3,0,2,3,3,33,34.0,21,Tim Duncan
4,2003-01-03,26-253,SAS,HOME,GSW,W (+3),1,36:44,14,18,...,9,4,0,3,3,5,37,33.4,7,Tim Duncan

In [13]:


SAS_2004_gamelog = []



for p in SAS_df_2004_players:
    player_log = get_game_logs(str(p), SEASON_2004_START, SEASON_2004_END, playoffs = False)
    player_log['Player'] = p
    
    SAS_2004_gamelog.append(player_log)
SAS_2004_gamelog = pd.concat(SAS_2004_gamelog)    
SAS_2004_gamelogs = SAS_2004_gamelog.copy()
SAS_2004_gamelogs['GAME_SCORE'] = SAS_2004_gamelogs['GAME_SCORE'].astype(float)
SAS_2004_games = SAS_2004_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
SAS_2004_games_csv = SAS_2004_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2004_games.csv', index=False)
SAS_2004_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2004_games.csv')
SAS_2004_games_proc.head()

You searched for "Bruce Bowen"
6 results found.
0: Bruce Bowen
1: Bruce Brown
2: Brian Bowen
3: Ryan Bowen
4: Bruce Flowers
5: Bruce Hale
Pick one: 0
Results for Bruce Bowen:

You searched for "Devin Brown"
15 results found.
0: Devin Brown
1: Dee Brown
2: Dee Brown
3: Leon Brown
4: Lewis Brown
5: Devin Green
6: Devin Booker
7: Kevin Brooks
8: Damone Brown
9: Derrick Brown
10: John Brown
11: Myron Brown
12: Stan Brown
13: Devin Gray
14: Jim Browne
Pick one: 0
Results for Devin Brown:

You searched for "Matt Carroll"
1 result found.
Matt Carroll
Results for Matt Carroll:

You searched for "Anthony Carter"
8 results found.
0: Anthony Carter
1: Anthony Parker
2: Anthony Bonner
3: Anthony Miller
4: Anthony Peeler
5: Anthony Taylor
6: Anthony Tucker
7: Anthony Avent
Pick one: 0
Results for Anthony Carter:

You searched for "Tim Duncan"
2 results found.
0: Tim Duncan
1: Andy Duncan
Pick one: 0
Results for Tim Duncan:

You searched for "Alex Garcia"
4 results found.
0: Alex Garcia
1: Alex Groza
2: Alex Caruso
3: Alex Acker
Pick one: 0
Results for Alex Garcia:

You searched for "Manu Ginóbili"
1 result found.
Manu Ginobili
Results for Manu Ginobili:

You searched for "Jason Hart"
9 results found.
0: Jason Hart
1: Josh Hart
2: Jaxson Hayes
3: Jason Kidd
4: Jason Smith
5: Jason Terry
6: Jon Barry
7: Jay Carty
8: Jason Sasser
Pick one: 0
Results for Jason Hart:

You searched for "Shane Heal"
2 results found.
0: Shane Heal
1: Hal Hale
Pick one: 0
Results for Shane Heal:

You searched for "Robert Horry"
7 results found.
0: Robert Horry
1: Robert Hahn
2: Robert Hite
3: Robert Sacre
4: Robert Whaley
5: Robert Reid
6: Robert Smith
Pick one: 0
Results for Robert Horry:

You searched for "Ron Mercer"
15 results found.
0: Ron Mercer
1: Ron Carter
2: Ron Harper
3: Ron Baker
4: Ron Brewer
5: Ron Crevier
6: Ron Dorsey
7: Ron Lee
8: Jon Leuer
9: Ron Moore
10: Ron Perry
11: Ron Reed
12: Gene Berce
13: Thon Maker
14: Roy Marble
Pick one: 0
Results for Ron Mercer:

You searched for "Rasho Nesterović"
1 result found.
Rasho Nesterovic
Results for Rasho Nesterovic:

You searched for "Tony Parker"
17 results found.
0: Tony Parker
1: Tony Farmer
2: Sonny Parker
3: Tom Barker
4: Anthony Parker
5: Tony Allen
6: Ron Baker
7: Ron Carter
8: Tony Fuller
9: Ron Harper
10: Tony Harris
11: Tony Jaros
12: Tony Kappen
13: Thon Maker
14: Tony Price
15: Tony Battie
16: Coty Clarke
Pick one: 0
Results for Tony Parker:

You searched for "Malik Rose"
7 results found.
0: Malik Rose
1: Malik Monk
2: Jalen Rose
3: Malik Allen
4: Mark Pope
5: Malik Fitts
6: Al Roges
Pick one: 0
Results for Malik Rose:

You searched for "Hedo Türkoğlu"
1 result found.
Hedo Turkoglu
Results for Hedo Turkoglu:

You searched for "Charlie Ward"
8 results found.
0: Charlie Ward
1: Charlie Tyra
2: Charlie Bell
3: Charlie Black
4: Charlie Davis
5: Charlie Lowery
6: Charlie Paulk
7: Charlie Brown
Pick one: 0
Results for Charlie Ward:

You searched for "Kevin Willis"
4 results found.
0: Kevin Willis
1: Kevin Williams
2: Kevin Ollie
3: Alvin Williams
Pick one: 0
Results for Kevin Willis:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2004-01-14,27-264,SAS,HOME,MIN,L (-7),1,44:08,14,26,...,20,7,1,1,1,1,36,36.2,-10,Tim Duncan
1,2003-12-05,27-224,SAS,AWAY,ORL,W (+11),1,40:08,19,34,...,12,2,0,1,2,3,47,32.9,7,Tim Duncan
2,2004-02-02,27-283,SAS,AWAY,UTA,W (+18),1,41:45,13,20,...,11,3,3,5,0,1,31,31.7,27,Tim Duncan
3,2003-12-26,27-245,SAS,HOME,ORL,W (+15),1,40:22,10,16,...,16,4,3,5,2,1,27,31.1,15,Tim Duncan
4,2004-01-29,27-279,SAS,HOME,SAC,L (-5),1,45:14,17,27,...,18,3,1,3,3,3,35,30.9,-7,Tim Duncan

In [14]:

SAS_2005_gamelog = []



for p in SAS_df_2005_players:
    player_log = get_game_logs(str(p), SEASON_2005_START, SEASON_2005_END, playoffs = False)
    player_log['Player'] = p
    
    SAS_2005_gamelog.append(player_log)
SAS_2005_gamelog = pd.concat(SAS_2005_gamelog)    
SAS_2005_gamelogs = SAS_2005_gamelog.copy()
SAS_2005_gamelogs['GAME_SCORE'] = SAS_2005_gamelogs['GAME_SCORE'].astype(float)
SAS_2005_games = SAS_2005_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
SAS_2005_games_csv = SAS_2005_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2005_games.csv', index=False)
SAS_2005_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2005_games.csv')
SAS_2005_games_proc.head()

You searched for "Brent Barry"
4 results found.
0: Brent Barry
1: Drew Barry
2: Jon Barry
3: Rick Barry
Pick one: 0
Results for Brent Barry:

You searched for "Bruce Bowen"
6 results found.
0: Bruce Bowen
1: Bruce Brown
2: Brian Bowen
3: Ryan Bowen
4: Bruce Flowers
5: Bruce Hale
Pick one: 0
Results for Bruce Bowen:

You searched for "Devin Brown"
15 results found.
0: Devin Brown
1: Dee Brown
2: Dee Brown
3: Leon Brown
4: Lewis Brown
5: Devin Green
6: Devin Booker
7: Kevin Brooks
8: Damone Brown
9: Derrick Brown
10: John Brown
11: Myron Brown
12: Stan Brown
13: Devin Gray
14: Jim Browne
Pick one: 0
Results for Devin Brown:

You searched for "Tim Duncan"
2 results found.
0: Tim Duncan
1: Andy Duncan
Pick one: 0
Results for Tim Duncan:

You searched for "Manu Ginóbili"
1 result found.
Manu Ginobili
Results for Manu Ginobili:

You searched for "Dion Glover"
3 results found.
0: Dion Glover
1: Don Boven
2: Dean Oliver
Pick one: 0
Results for Dion Glover:

You searched for "Robert Horry"
7 results found.
0: Robert Horry
1: Robert Hahn
2: Robert Hite
3: Robert Sacre
4: Robert Whaley
5: Robert Reid
6: Robert Smith
Pick one: 0
Results for Robert Horry:

You searched for "Linton Johnson"
9 results found.
0: Linton Johnson
1: Britton Johnsen
2: Anthony Johnson
3: Armon Johnson
4: Clemon Johnson
5: Ivan Johnson
6: Keldon Johnson
7: Ron Johnson
8: Vinnie Johnson
Pick one: 0
Results for Linton Johnson:

You searched for "Sean Marks"
6 results found.
0: Sean Marks
1: Sean May
2: Sean Rooks
3: Sam Mack
4: Keon Clark
5: Stan Miasek
Pick one: 0
Results for Sean Marks:

You searched for "Tony Massenburg"
1 result found.
Tony Massenburg
Results for Tony Massenburg:

You searched for "Nazr Mohammed"
1 result found.
Nazr Mohammed
Results for Nazr Mohammed:

You searched for "Rasho Nesterović"
1 result found.
Rasho Nesterovic
Results for Rasho Nesterovic:

You searched for "Tony Parker"
17 results found.
0: Tony Parker
1: Tony Farmer
2: Sonny Parker
3: Tom Barker
4: Anthony Parker
5: Tony Allen
6: Ron Baker
7: Ron Carter
8: Tony Fuller
9: Ron Harper
10: Tony Harris
11: Tony Jaros
12: Tony Kappen
13: Thon Maker
14: Tony Price
15: Tony Battie
16: Coty Clarke
Pick one: 0
Results for Tony Parker:

You searched for "Glenn Robinson"
6 results found.
0: Glenn Robinson
1: Glenn Robinson
2: Flynn Robinson
3: Cliff Robinson
4: Devin Robinson
5: Wayne Robinson
Pick one: 0
Results for Glenn Robinson:

You searched for "Malik Rose"
7 results found.
0: Malik Rose
1: Malik Monk
2: Jalen Rose
3: Malik Allen
4: Mark Pope
5: Malik Fitts
6: Al Roges
Pick one: 0
Results for Malik Rose:

You searched for "Beno Udrih"
2 results found.
0: Beno Udrih
1: Ben Uzoh
Pick one: 0
Results for Beno Udrih:

You searched for "Mike Wilks"
22 results found.
0: Mike Wilks
1: Mike Niles
2: Mike Bibby
3: Mike Davis
4: Mike Davis
5: Mike Evans
6: Mike Gale
7: Mike Hall
8: Mile Ilic
9: Mike James
10: Mike James
11: Mike Lewis
12: Mike Maloy
13: Mike Miller
14: Mike Williams
15: Mike Brown
16: Mike Lynn
17: Mike Newlin
18: Mike Novak
19: Mike Price
20: Mike Smith
21: Mike Smrek
Pick one: 0
Results for Mike Wilks:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2005-01-21,27-177,SAS,AWAY,PHO,W (+5),1,43:52,16,22,...,5,6,1,0,3,4,48,41.1,16,Manu Ginóbili
1,2004-12-11,28-230,SAS,HOME,CLE,W (+19),1,37:09,13,15,...,7,5,1,4,0,2,34,37.3,17,Tim Duncan
2,2004-11-12,27-107,SAS,HOME,MIA,W (+9),1,34:50,8,12,...,7,7,6,1,4,2,29,32.7,13,Manu Ginóbili
3,2004-12-08,28-227,SAS,HOME,SEA,L (-6),1,39:56,14,24,...,10,2,0,4,3,3,39,30.4,7,Tim Duncan
4,2005-04-09,27-255,SAS,AWAY,LAC,W (+1),1,49:48,12,27,...,6,9,1,0,3,4,40,30.0,9,Manu Ginóbili

In [15]:

SAS_2006_gamelog = []

for p in SAS_df_2006_players:
    player_log = get_game_logs(str(p), SEASON_2006_START, SEASON_2006_END, playoffs = False)
    player_log['Player'] = p
    
    SAS_2006_gamelog.append(player_log)
SAS_2006_gamelog = pd.concat(SAS_2006_gamelog)    
SAS_2006_gamelogs = SAS_2006_gamelog.copy()
SAS_2006_gamelogs['GAME_SCORE'] = SAS_2006_gamelogs['GAME_SCORE'].astype(float)
SAS_2006_games = SAS_2006_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
SAS_2006_games_csv = SAS_2006_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2006_games.csv', index=False)
SAS_2006_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2006_games.csv')
SAS_2006_games_proc.head()

You searched for "Brent Barry"
4 results found.
0: Brent Barry
1: Drew Barry
2: Jon Barry
3: Rick Barry
Pick one: 0
Results for Brent Barry:

You searched for "Bruce Bowen"
6 results found.
0: Bruce Bowen
1: Bruce Brown
2: Brian Bowen
3: Ryan Bowen
4: Bruce Flowers
5: Bruce Hale
Pick one: 0
Results for Bruce Bowen:

You searched for "Tim Duncan"
2 results found.
0: Tim Duncan
1: Andy Duncan
Pick one: 0
Results for Tim Duncan:

You searched for "Michael Finley"
8 results found.
0: Michael Finley
1: Michael Wiley
2: Michael Ansley
3: Michael Beasley
4: Michael Bradley
5: Michael Gbinije
6: Michael Wilson
7: Michael Ruffin
Pick one: 0
Results for Michael Finley:

You searched for "Manu Ginóbili"
1 result found.
Manu Ginobili
Results for Manu Ginobili:

You searched for "Robert Horry"
7 results found.
0: Robert Horry
1: Robert Hahn
2: Robert Hite
3: Robert Sacre
4: Robert Whaley
5: Robert Reid
6: Robert Smith
Pick one: 0
Results for Robert Horry:

You searched for "Sean Marks"
6 results found.
0: Sean Marks
1: Sean May
2: Sean Rooks
3: Sam Mack
4: Keon Clark
5: Stan Miasek
Pick one: 0
Results for Sean Marks:

You searched for "Nazr Mohammed"
1 result found.
Nazr Mohammed
Results for Nazr Mohammed:

You searched for "Rasho Nesterović"
1 result found.
Rasho Nesterovic
Results for Rasho Nesterovic:

You searched for "Fabricio Oberto"
1 result found.
Fabricio Oberto
Results for Fabricio Oberto:

You searched for "Tony Parker"
17 results found.
0: Tony Parker
1: Tony Farmer
2: Sonny Parker
3: Tom Barker
4: Anthony Parker
5: Tony Allen
6: Ron Baker
7: Ron Carter
8: Tony Fuller
9: Ron Harper
10: Tony Harris
11: Tony Jaros
12: Tony Kappen
13: Thon Maker
14: Tony Price
15: Tony Battie
16: Coty Clarke
Pick one: 0
Results for Tony Parker:

You searched for "Melvin Sanders"
2 results found.
0: Melvin Sanders
1: Melvin Frazier
Pick one: 0
Results for Melvin Sanders:

You searched for "Alex Scales"
6 results found.
0: Alex Scales
1: Alex Acker
2: Alex Bradley
3: Alex Caruso
4: Alex Len
5: Alex Garcia
Pick one: 0
Results for Alex Scales:

You searched for "Beno Udrih"
2 results found.
0: Beno Udrih
1: Ben Uzoh
Pick one: 0
Results for Beno Udrih:

You searched for "Nick Van Exel"
1 result found.
Nick Van Exel
Results for Nick Van Exel:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2006-01-20,23-248,SAS,AWAY,MIA,W (+7),1,38:55,13,18,...,4,5,2,0,3,1,38,33.1,8,Tony Parker
1,2005-12-07,29-226,SAS,HOME,MIA,W (+14),1,36:47,11,18,...,16,3,3,4,3,4,28,28.7,25,Tim Duncan
2,2005-11-11,29-200,SAS,AWAY,BOS,W (+21),1,30:53,11,17,...,12,3,1,2,1,2,29,27.8,29,Tim Duncan
3,2005-12-17,23-214,SAS,HOME,SAC,W (+1),1,37:40,11,16,...,6,12,2,0,1,3,25,27.4,11,Tony Parker
4,2006-01-16,23-244,SAS,AWAY,MEM,W (+10),1,35:08,12,13,...,4,4,0,1,1,2,28,27.0,10,Tony Parker

In [16]:


SAS_2007_gamelog = []

for p in SAS_df_2007_players:
    player_log = get_game_logs(str(p), SEASON_2007_START, SEASON_2007_END, playoffs = False)
    player_log['Player'] = p
    
    SAS_2007_gamelog.append(player_log)
SAS_2007_gamelog = pd.concat(SAS_2007_gamelog)    
SAS_2007_gamelogs = SAS_2007_gamelog.copy()
SAS_2007_gamelogs['GAME_SCORE'] = SAS_2007_gamelogs['GAME_SCORE'].astype(float)
SAS_2007_games = SAS_2007_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
SAS_2007_games_csv = SAS_2007_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2007_games.csv', index=False)
SAS_2007_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2007_games.csv')
SAS_2007_games_proc.head()

You searched for "Brent Barry"
4 results found.
0: Brent Barry
1: Drew Barry
2: Jon Barry
3: Rick Barry
Pick one: 0
Results for Brent Barry:

You searched for "Matt Bonner"
4 results found.
0: Matt Bonner
1: Matt Barnes
2: Matt Mooney
3: Matt Geiger
Pick one: 0
Results for Matt Bonner:

You searched for "Bruce Bowen"
6 results found.
0: Bruce Bowen
1: Bruce Brown
2: Brian Bowen
3: Ryan Bowen
4: Bruce Flowers
5: Bruce Hale
Pick one: 0
Results for Bruce Bowen:

You searched for "Jackie Butler"
3 results found.
0: Jackie Butler
1: Mike Butler
2: Jackie Ridgle
Pick one: 0
Results for Jackie Butler:

You searched for "Tim Duncan"
2 results found.
0: Tim Duncan
1: Andy Duncan
Pick one: 0
Results for Tim Duncan:

You searched for "Francisco Elson"
1 result found.
Francisco Elson
Results for Francisco Elson:

You searched for "Melvin Ely"
1 result found.
Melvin Ely
Results for Melvin Ely:

You searched for "Michael Finley"
8 results found.
0: Michael Finley
1: Michael Wiley
2: Michael Ansley
3: Michael Beasley
4: Michael Bradley
5: Michael Gbinije
6: Michael Wilson
7: Michael Ruffin
Pick one: 0
Results for Michael Finley:

You searched for "Manu Ginóbili"
1 result found.
Manu Ginobili
Results for Manu Ginobili:

You searched for "Robert Horry"
7 results found.
0: Robert Horry
1: Robert Hahn
2: Robert Hite
3: Robert Sacre
4: Robert Whaley
5: Robert Reid
6: Robert Smith
Pick one: 0
Results for Robert Horry:

You searched for "Fabricio Oberto"
1 result found.
Fabricio Oberto
Results for Fabricio Oberto:

You searched for "Tony Parker"
17 results found.
0: Tony Parker
1: Tony Farmer
2: Sonny Parker
3: Tom Barker
4: Anthony Parker
5: Tony Allen
6: Ron Baker
7: Ron Carter
8: Tony Fuller
9: Ron Harper
10: Tony Harris
11: Tony Jaros
12: Tony Kappen
13: Thon Maker
14: Tony Price
15: Tony Battie
16: Coty Clarke
Pick one: 0
Results for Tony Parker:

You searched for "Beno Udrih"
2 results found.
0: Beno Udrih
1: Ben Uzoh
Pick one: 0
Results for Beno Udrih:

You searched for "Jacque Vaughn"
1 result found.
Jacque Vaughn
Results for Jacque Vaughn:

You searched for "James White"
10 results found.
0: James White
1: James Bailey
2: James Scott
3: James Webb
4: Jahidi White
5: Jo Jo White
6: Randy White
7: James Wilkes
8: James Worthy
9: James Ennis
Pick one: 0
Results for James White:

You searched for "Eric Williams"
56 results found.
0: Eric Williams
1: Eric McWilliams
2: Art Williams
3: Bernie Williams
4: Deron Williams
5: Derrick Williams
6: Earl Williams
7: Herb Williams
8: Kenrich Williams
9: Kevin Williams
10: Ray Williams
11: Rob Williams
12: Ron Williams
13: Troy Williams
14: Patrick Williams
15: Aaron Williams
16: Al Williams
17: Alan Williams
18: Alvin Williams
19: Bob Williams
20: Buck Williams
21: C.J. Williams
22: Chuck Williams
23: Cliff Williams
24: Corey Williams
25: Duck Williams
26: Elliot Williams
27: Fly Williams
28: Frank Williams
29: Gene Williams
30: Grant Williams
31: Gus Williams
32: Guy Williams
33: Hank Williams
34: Jay Williams
35: Jerome Williams
36: John Williams
37: Kenny Williams
38: Lou Williams
39: Marvin Williams
40: Matt Williams
41: Mike Williams
42: Milt Williams
43: Mo Williams
44: Nate Williams
45: Pete Williams
46: Reggie Williams
47: Reggie Williams
48: Rickey Williams
49: Sam Williams
50: Sam Williams
51: Sean Williams
52: Sly Williams
53: Travis Williams
54: Walt Williams
55: Ward Williams
Pick one: 0
Results for Eric Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2006-11-19,30-208,SAS,AWAY,SAC,W (+9),1,30:47,13,17,...,14,3,2,1,2,2,35,36.5,19,Tim Duncan
1,2007-01-07,29-163,SAS,AWAY,MEM,W (+14),1,27:23,10,15,...,4,3,5,0,3,2,34,31.6,21,Manu Ginóbili
2,2007-04-11,30-351,SAS,HOME,SAC,W (+9),1,34:30,11,14,...,13,4,2,4,3,0,26,28.3,8,Tim Duncan
3,2007-03-17,24-304,SAS,HOME,BOS,L (-6),1,38:55,8,14,...,4,4,3,0,2,3,30,28.0,-8,Tony Parker
4,2007-04-07,30-347,SAS,HOME,GSW,W (+13),1,38:47,12,17,...,15,3,0,4,2,3,28,27.5,17,Tim Duncan

In [19]:


SAS_2008_gamelog = []

for p in SAS_df_2008_players:
    player_log = get_game_logs(str(p), SEASON_2008_START, SEASON_2008_END, playoffs = False)
    player_log['Player'] = p
    
    SAS_2008_gamelog.append(player_log)
SAS_2008_gamelog = pd.concat(SAS_2008_gamelog)    
SAS_2008_gamelogs = SAS_2008_gamelog.copy()
SAS_2008_gamelogs['GAME_SCORE'] = SAS_2008_gamelogs['GAME_SCORE'].astype(float)
SAS_2008_games = SAS_2008_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
SAS_2008_games_csv = SAS_2008_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2008_games.csv', index=False)
SAS_2008_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2008_games.csv')
SAS_2008_games_proc.head()

You searched for "Brent Barry"
4 results found.
0: Brent Barry
1: Drew Barry
2: Jon Barry
3: Rick Barry
Pick one: 0
Results for Brent Barry:

You searched for "Matt Bonner"
4 results found.
0: Matt Bonner
1: Matt Barnes
2: Matt Mooney
3: Matt Geiger
Pick one: 0
Results for Matt Bonner:

You searched for "Bruce Bowen"
6 results found.
0: Bruce Bowen
1: Bruce Brown
2: Brian Bowen
3: Ryan Bowen
4: Bruce Flowers
5: Bruce Hale
Pick one: 0
Results for Bruce Bowen:

You searched for "Tim Duncan"
2 results found.
0: Tim Duncan
1: Andy Duncan
Pick one: 0
Results for Tim Duncan:

You searched for "Francisco Elson"
1 result found.
Francisco Elson
Results for Francisco Elson:

You searched for "Michael Finley"
8 results found.
0: Michael Finley
1: Michael Wiley
2: Michael Ansley
3: Michael Beasley
4: Michael Bradley
5: Michael Gbinije
6: Michael Wilson
7: Michael Ruffin
Pick one: 0
Results for Michael Finley:

You searched for "Manu Ginóbili"
1 result found.
Manu Ginobili
Results for Manu Ginobili:

You searched for "Robert Horry"
7 results found.
0: Robert Horry
1: Robert Hahn
2: Robert Hite
3: Robert Sacre
4: Robert Whaley
5: Robert Reid
6: Robert Smith
Pick one: 0
Results for Robert Horry:

You searched for "DerMarr Johnson"
4 results found.
0: DerMarr Johnson
1: DeMarco Johnson
2: Dakari Johnson
3: Omari Johnson
Pick one: 0
Results for DerMarr Johnson:

You searched for "Keith Langford"
2 results found.
0: Keith Langford
1: Keith Van Horn
Pick one: 0
Results for Keith Langford:

You searched for "Ian Mahinmi"
2 results found.
0: Ian Mahinmi
1: Brian Martin
Pick one: 0
Results for Ian Mahinmi:

You searched for "Fabricio Oberto"
1 result found.
Fabricio Oberto
Results for Fabricio Oberto:

You searched for "Tony Parker"
17 results found.
0: Tony Parker
1: Tony Farmer
2: Sonny Parker
3: Tom Barker
4: Anthony Parker
5: Tony Allen
6: Ron Baker
7: Ron Carter
8: Tony Fuller
9: Ron Harper
10: Tony Harris
11: Tony Jaros
12: Tony Kappen
13: Thon Maker
14: Tony Price
15: Tony Battie
16: Coty Clarke
Pick one: 0
Results for Tony Parker:

You searched for "Jeremy Richardson"
2 results found.
0: Jeremy Richardson
1: Norm Richardson
Pick one: 0
Results for Jeremy Richardson:

You searched for "Damon Stoudamire"
2 results found.
0: Damon Stoudamire
1: Salim Stoudamire
Pick one: 0
Results for Damon Stoudamire:

You searched for "Kurt Thomas"
12 results found.
0: Kurt Thomas
1: Carl Thomas
2: Khyri Thomas
3: Matt Thomas
4: Etan Thomas
5: Jim Thomas
6: Joe Thomas
7: John Thomas
8: Kenny Thomas
9: Terry Thomas
10: Tim Thomas
11: Tyrus Thomas
Pick one: 0
Results for Kurt Thomas:

You searched for "Ime Udoka"
2 results found.
0: Ime Udoka
1: Ekpe Udoh
Pick one: 0
Results for Ime Udoka:

You searched for "Jacque Vaughn"
1 result found.
Jacque Vaughn
Results for Jacque Vaughn:

You searched for "Darius Washington"
2 results found.
0: Darius Washington
1: Eric Washington
Pick one: 0
Results for Darius Washington:

You searched for "Marcus Williams"
10 results found.
0: Marcus Williams
1: Marcus Williams
2: Marvin Williams
3: Aaron Williams
4: Art Williams
5: Charles Williams
6: Earl Williams
7: Gus Williams
8: Matt Williams
9: Ward Williams
Pick one: 0
Results for Marcus Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2008-02-13,30-200,SAS,AWAY,CLE,W (+7),1,40:34,15,20,...,5,8,3,1,1,2,46,46.6,12,Manu Ginóbili
1,2008-02-21,30-208,SAS,AWAY,MIN,W (+1),1,37:55,13,18,...,3,4,1,0,2,2,44,38.9,0,Manu Ginóbili
2,2007-12-22,31-241,SAS,HOME,LAC,W (+9),1,34:46,13,22,...,18,5,0,1,1,3,34,33.2,14,Tim Duncan
3,2008-02-11,30-198,SAS,AWAY,TOR,W (+5),1,39:08,13,22,...,15,6,2,0,2,2,34,32.5,11,Manu Ginóbili
4,2007-12-17,31-236,SAS,HOME,PHO,L (-5),1,36:13,15,25,...,17,3,0,1,2,1,36,31.6,5,Tim Duncan

In [20]:

SAS_2009_gamelog = []

for p in SAS_df_2009_players:
    player_log = get_game_logs(str(p), SEASON_2009_START, SEASON_2009_END, playoffs = False)
    player_log['Player'] = p
    
    SAS_2009_gamelog.append(player_log)
SAS_2009_gamelog = pd.concat(SAS_2009_gamelog)    
SAS_2009_gamelogs = SAS_2009_gamelog.copy()
SAS_2009_gamelogs['GAME_SCORE'] = SAS_2009_gamelogs['GAME_SCORE'].astype(float)
SAS_2009_games = SAS_2009_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
SAS_2009_games_csv = SAS_2009_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2009_games.csv', index=False)
SAS_2009_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2009_games.csv')
SAS_2009_games_proc.head()

You searched for "Blake Ahearn"
1 result found.
Blake Ahearn
Results for Blake Ahearn:

You searched for "Matt Bonner"
4 results found.
0: Matt Bonner
1: Matt Barnes
2: Matt Mooney
3: Matt Geiger
Pick one: 0
Results for Matt Bonner:

You searched for "Bruce Bowen"
6 results found.
0: Bruce Bowen
1: Bruce Brown
2: Brian Bowen
3: Ryan Bowen
4: Bruce Flowers
5: Bruce Hale
Pick one: 0
Results for Bruce Bowen:

You searched for "Austin Croshere"
1 result found.
Austin Croshere
Results for Austin Croshere:

You searched for "Tim Duncan"
2 results found.
0: Tim Duncan
1: Andy Duncan
Pick one: 0
Results for Tim Duncan:

You searched for "Desmon Farmer"
1 result found.
Desmon Farmer
Results for Desmon Farmer:

You searched for "Michael Finley"
8 results found.
0: Michael Finley
1: Michael Wiley
2: Michael Ansley
3: Michael Beasley
4: Michael Bradley
5: Michael Gbinije
6: Michael Wilson
7: Michael Ruffin
Pick one: 0
Results for Michael Finley:

You searched for "Manu Ginóbili"
1 result found.
Manu Ginobili
Results for Manu Ginobili:

You searched for "Drew Gooden"
3 results found.
0: Drew Gooden
1: Drew Gordon
2: Greg Oden
Pick one: 0
Results for Drew Gooden:

You searched for "Malik Hairston"
3 results found.
0: Malik Hairston
1: Al Hairston
2: Happy Hairston
Pick one: 0
Results for Malik Hairston:

You searched for "George Hill"
11 results found.
0: George Hill
1: George Karl
2: George King
3: George King
4: Gary Hill
5: George Lee
6: George Mikan
7: George Wilson
8: George Zidek
9: George Bucci
10: George Lynch
Pick one: 0
Results for George Hill:

You searched for "Roger Mason"
3 results found.
0: Roger Mason
1: Roger Brown
2: Roger Brown
Pick one: 0
Results for Roger Mason:

You searched for "Pops Mensah-Bonsu"
1 result found.
Pops Mensah-Bonsu
Results for Pops Mensah-Bonsu:

You searched for "Fabricio Oberto"
1 result found.
Fabricio Oberto
Results for Fabricio Oberto:

You searched for "Tony Parker"
17 results found.
0: Tony Parker
1: Tony Farmer
2: Sonny Parker
3: Tom Barker
4: Anthony Parker
5: Tony Allen
6: Ron Baker
7: Ron Carter
8: Tony Fuller
9: Ron Harper
10: Tony Harris
11: Tony Jaros
12: Tony Kappen
13: Thon Maker
14: Tony Price
15: Tony Battie
16: Coty Clarke
Pick one: 0
Results for Tony Parker:

You searched for "Kurt Thomas"
12 results found.
0: Kurt Thomas
1: Carl Thomas
2: Khyri Thomas
3: Matt Thomas
4: Etan Thomas
5: Jim Thomas
6: Joe Thomas
7: John Thomas
8: Kenny Thomas
9: Terry Thomas
10: Tim Thomas
11: Tyrus Thomas
Pick one: 0
Results for Kurt Thomas:

You searched for "Anthony Tolliver"
3 results found.
0: Anthony Tolliver
1: Anthony Miller
2: Anthony Goldwire
Pick one: 0
Results for Anthony Tolliver:

You searched for "Ime Udoka"
2 results found.
0: Ime Udoka
1: Ekpe Udoh
Pick one: 0
Results for Ime Udoka:

You searched for "Jacque Vaughn"
1 result found.
Jacque Vaughn
Results for Jacque Vaughn:

You searched for "Marcus Williams"
10 results found.
0: Marcus Williams
1: Marcus Williams
2: Marvin Williams
3: Aaron Williams
4: Art Williams
5: Charles Williams
6: Earl Williams
7: Gus Williams
8: Matt Williams
9: Ward Williams
Pick one: 0
Results for Marcus Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2008-11-05,26-172,SAS,AWAY,MIN,W (+4),1,50:32,22,36,...,7,10,0,0,4,0,55,43.3,7,Tony Parker
1,2009-03-25,26-312,SAS,AWAY,ATL,W (+10),1,39:12,18,25,...,3,10,1,0,2,2,42,37.8,19,Tony Parker
2,2009-02-25,26-284,SAS,HOME,POR,W (+15),1,34:58,17,27,...,5,9,0,0,1,0,39,33.3,25,Tony Parker
3,2008-12-23,26-220,SAS,HOME,MIN,W (+6),1,36:08,13,17,...,4,8,0,0,3,2,36,32.7,10,Tony Parker
4,2008-12-09,32-228,SAS,AWAY,DAL,W (+7),1,50:21,12,20,...,14,4,2,1,0,4,32,31.7,14,Tim Duncan

In [21]:

SAS_2010_gamelog = []

for p in SAS_df_2010_players:
    player_log = get_game_logs(str(p), SEASON_2010_START, SEASON_2010_END, playoffs = False)
    player_log['Player'] = p
    
    SAS_2010_gamelog.append(player_log)
SAS_2010_gamelog = pd.concat(SAS_2010_gamelog)    
SAS_2010_gamelogs = SAS_2010_gamelog.copy()
SAS_2010_gamelogs['GAME_SCORE'] = SAS_2010_gamelogs['GAME_SCORE'].astype(float)
SAS_2010_games = SAS_2010_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
SAS_2010_games_csv = SAS_2010_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2010_games.csv', index=False)
SAS_2010_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2010_games.csv')
SAS_2010_games_proc.head()

You searched for "DeJuan Blair"
2 results found.
0: DeJuan Blair
1: DeJuan Wheat
Pick one: 0
Results for DeJuan Blair:

You searched for "Keith Bogans"
5 results found.
0: Keith Bogans
1: Keith Owens
2: Keith Askins
3: Keith Booth
4: Keith Benson
Pick one: 0
Results for Keith Bogans:

You searched for "Matt Bonner"
4 results found.
0: Matt Bonner
1: Matt Barnes
2: Matt Mooney
3: Matt Geiger
Pick one: 0
Results for Matt Bonner:

You searched for "Tim Duncan"
2 results found.
0: Tim Duncan
1: Andy Duncan
Pick one: 0
Results for Tim Duncan:

You searched for "Michael Finley"
8 results found.
0: Michael Finley
1: Michael Wiley
2: Michael Ansley
3: Michael Beasley
4: Michael Bradley
5: Michael Gbinije
6: Michael Wilson
7: Michael Ruffin
Pick one: 0
Results for Michael Finley:

You searched for "Manu Ginóbili"
1 result found.
Manu Ginobili
Results for Manu Ginobili:

You searched for "Malik Hairston"
3 results found.
0: Malik Hairston
1: Al Hairston
2: Happy Hairston
Pick one: 0
Results for Malik Hairston:

You searched for "Marcus Haislip"
1 result found.
Marcus Haislip
Results for Marcus Haislip:

You searched for "George Hill"
11 results found.
0: George Hill
1: George Karl
2: George King
3: George King
4: Gary Hill
5: George Lee
6: George Mikan
7: George Wilson
8: George Zidek
9: George Bucci
10: George Lynch
Pick one: 0
Results for George Hill:

You searched for "Cedric Jackson"
4 results found.
0: Cedric Jackson
1: Marc Jackson
2: Mervin Jackson
3: Reggie Jackson
Pick one: 0
Results for Cedric Jackson:

You searched for "Richard Jefferson"
2 results found.
0: Richard Jefferson
1: Richard Anderson
Pick one: 0
Results for Richard Jefferson:

You searched for "Ian Mahinmi"
2 results found.
0: Ian Mahinmi
1: Brian Martin
Pick one: 0
Results for Ian Mahinmi:

You searched for "Roger Mason"
3 results found.
0: Roger Mason
1: Roger Brown
2: Roger Brown
Pick one: 0
Results for Roger Mason:

You searched for "Antonio McDyess"
1 result found.
Antonio McDyess
Results for Antonio McDyess:

You searched for "Tony Parker"
17 results found.
0: Tony Parker
1: Tony Farmer
2: Sonny Parker
3: Tom Barker
4: Anthony Parker
5: Tony Allen
6: Ron Baker
7: Ron Carter
8: Tony Fuller
9: Ron Harper
10: Tony Harris
11: Tony Jaros
12: Tony Kappen
13: Thon Maker
14: Tony Price
15: Tony Battie
16: Coty Clarke
Pick one: 0
Results for Tony Parker:

You searched for "Theo Ratliff"
3 results found.
0: Theo Ratliff
1: Ed Ratleff
2: Mike Ratliff
Pick one: 0
Results for Theo Ratliff:

You searched for "Garrett Temple"
1 result found.
Garrett Temple
Results for Garrett Temple:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2010-04-02,32-248,SAS,HOME,ORL,W (+12),1,35:25,13,25,...,6,5,1,0,2,3,43,32.6,15,Manu Ginóbili
1,2010-03-08,32-223,SAS,AWAY,CLE,L (-2),1,36:53,12,23,...,7,5,2,0,2,4,38,31.9,2,Manu Ginóbili
2,2009-12-15,33-234,SAS,AWAY,PHO,L (-12),1,35:16,14,22,...,14,1,0,3,1,1,34,31.0,-6,Tim Duncan
3,2010-03-31,23-331,SAS,HOME,HOU,W (+17),1,37:31,11,15,...,2,7,5,1,3,4,30,30.5,22,George Hill
4,2010-01-13,20-266,SAS,AWAY,OKC,W (+1),1,31:20,11,17,...,21,0,2,2,2,6,28,29.0,7,DeJuan Blair

In [22]:

SAS_2011_gamelog = []

for p in SAS_df_2011_players:
    player_log = get_game_logs(str(p), SEASON_2011_START, SEASON_2011_END, playoffs = False)
    player_log['Player'] = p
    
    SAS_2011_gamelog.append(player_log)
SAS_2011_gamelog = pd.concat(SAS_2011_gamelog)    
SAS_2011_gamelogs = SAS_2011_gamelog.copy()
SAS_2011_gamelogs['GAME_SCORE'] = SAS_2011_gamelogs['GAME_SCORE'].astype(float)
SAS_2011_games = SAS_2011_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
SAS_2011_games_csv = SAS_2011_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2011_games.csv', index=False)
SAS_2011_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2011_games.csv')
SAS_2011_games_proc.head()

You searched for "James Anderson"
10 results found.
0: James Anderson
1: Alan Anderson
2: Dan Anderson
3: Dan Anderson
4: Derek Anderson
5: Greg Anderson
6: J.J. Anderson
7: Jerome Anderson
8: Kim Anderson
9: Kyle Anderson
Pick one: 0
Results for James Anderson:

You searched for "DeJuan Blair"
2 results found.
0: DeJuan Blair
1: DeJuan Wheat
Pick one: 0
Results for DeJuan Blair:

You searched for "Matt Bonner"
4 results found.
0: Matt Bonner
1: Matt Barnes
2: Matt Mooney
3: Matt Geiger
Pick one: 0
Results for Matt Bonner:

You searched for "Tim Duncan"
2 results found.
0: Tim Duncan
1: Andy Duncan
Pick one: 0
Results for Tim Duncan:

You searched for "Alonzo Gee"
1 result found.
Alonzo Gee
Results for Alonzo Gee:

You searched for "Manu Ginóbili"
1 result found.
Manu Ginobili
Results for Manu Ginobili:

You searched for "Danny Green"
20 results found.
0: Danny Green
1: Kenny Green
2: Johnny Green
3: Danny Finn
4: Danny Granger
5: A.C. Green
6: Devin Green
7: Ken Green
8: Lamar Green
9: Sean Green
10: Sidney Green
11: Donte Greene
12: Lynn Greer
13: Danny Vranes
14: Danny Ainge
15: Danny Doyle
16: Danny Ferry
17: Dennis Grey
18: Danny Wagner
19: Danny Young
Pick one: 0
Results for Danny Green:

You searched for "George Hill"
11 results found.
0: George Hill
1: George Karl
2: George King
3: George King
4: Gary Hill
5: George Lee
6: George Mikan
7: George Wilson
8: George Zidek
9: George Bucci
10: George Lynch
Pick one: 0
Results for George Hill:

You searched for "Othyus Jeffers"
1 result found.
Othyus Jeffers
Results for Othyus Jeffers:

You searched for "Richard Jefferson"
2 results found.
0: Richard Jefferson
1: Richard Anderson
Pick one: 0
Results for Richard Jefferson:

You searched for "Antonio McDyess"
1 result found.
Antonio McDyess
Results for Antonio McDyess:

You searched for "Gary Neal"
16 results found.
0: Gary Neal
1: Gary Gray
2: Gary Hill
3: Gary Clark
4: Gary Grant
5: Gar Heard
6: Gary Keller
7: Craig Neal
8: Jim Neal
9: Lloyd Neal
10: Gary Trent
11: Gary Trent
12: Gary Voce
13: Gary Zeller
14: Ed Nealy
15: Gary Turner
Pick one: 0
Results for Gary Neal:

You searched for "Steve Novak"
9 results found.
0: Steve Novak
1: Steve Blake
2: Steve Jones
3: Steve Nash
4: Mike Novak
5: Steve Bardo
6: Steve Green
7: Steve Kerr
8: Steve Henson
Pick one: 0
Results for Steve Novak:

You searched for "Larry Owens"
26 results found.
0: Larry Owens
1: Larry Jones
2: Tariq Owens
3: Larry Brown
4: Larry Drew
5: Larry Drew
6: Larry Friend
7: Larry Kenon
8: Barry Orms
9: Andre Owens
10: Billy Owens
11: Chris Owens
12: Red Owens
13: Ray Owes
14: Harry Rogers
15: Larry Sykes
16: Larry Bunce
17: Larry Comley
18: Larry Conley
19: Larry Fogle
20: Larry Foust
21: Larry Mikan
22: Larry Moore
23: Larry Nance
24: Larry Nance
25: Jerry West
Pick one: 0
Results for Larry Owens:

You searched for "Tony Parker"
17 results found.
0: Tony Parker
1: Tony Farmer
2: Sonny Parker
3: Tom Barker
4: Anthony Parker
5: Tony Allen
6: Ron Baker
7: Ron Carter
8: Tony Fuller
9: Ron Harper
10: Tony Harris
11: Tony Jaros
12: Tony Kappen
13: Thon Maker
14: Tony Price
15: Tony Battie
16: Coty Clarke
Pick one: 0
Results for Tony Parker:

You searched for "Chris Quinn"
12 results found.
0: Chris Quinn
1: Chris Duhon
2: Chris King
3: Chris Munk
4: Kris Dunn
5: Chris Jent
6: Chris Kaman
7: Chris Mihm
8: Chris Mullin
9: Chris Owens
10: Chris Smith
11: Chris Smith
Pick one: 0
Results for Chris Quinn:

You searched for "Bobby Simmons"
7 results found.
0: Bobby Simmons
1: Kobi Simmons
2: Bobby Edmonds
3: Ben Simmons
4: Johnny Simmons
5: Bobby Wilson
6: Bobby Wilson
Pick one: 0
Results for Bobby Simmons:

You searched for "Tiago Splitter"
1 result found.
Tiago Splitter
Results for Tiago Splitter:

You searched for "Garrett Temple"
1 result found.
Garrett Temple
Results for Garrett Temple:

You searched for "Ime Udoka"
2 results found.
0: Ime Udoka
1: Ekpe Udoh
Pick one: 0
Results for Ime Udoka:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2010-12-18,28-215,SAS,HOME,MEM,W (+6),1,41:13,15,21,...,2,9,1,0,2,2,37,31.8,-4,Tony Parker
1,2010-12-16,34-235,SAS,AWAY,DEN,W (+1),1,33:28,12,18,...,16,4,1,4,0,4,28,31.2,-3,Tim Duncan
2,2010-10-27,34-185,SAS,HOME,IND,W (+13),1,32:44,10,12,...,12,3,3,4,1,2,23,27.9,13,Tim Duncan
3,2011-01-16,28-244,SAS,HOME,DEN,W (+13),1,32:28,11,15,...,7,4,2,0,3,2,30,27.8,13,Tony Parker
4,2011-02-27,33-214,SAS,HOME,MEM,W (+7),1,36:24,10,22,...,6,8,2,1,4,3,35,27.3,11,Manu Ginóbili

In [23]:


SAS_2012_gamelog = []

for p in SAS_df_2012_players:
    player_log = get_game_logs(str(p), SEASON_2012_START, SEASON_2012_END, playoffs = False)
    player_log['Player'] = p
    
    SAS_2012_gamelog.append(player_log)
SAS_2012_gamelog = pd.concat(SAS_2012_gamelog)    
SAS_2012_gamelogs = SAS_2012_gamelog.copy()
SAS_2012_gamelogs['GAME_SCORE'] = SAS_2012_gamelogs['GAME_SCORE'].astype(float)
SAS_2012_games = SAS_2012_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
SAS_2012_games_csv = SAS_2012_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2012_games.csv', index=False)
SAS_2012_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2012_games.csv')
SAS_2012_games_proc.head()

You searched for "James Anderson"
10 results found.
0: James Anderson
1: Alan Anderson
2: Dan Anderson
3: Dan Anderson
4: Derek Anderson
5: Greg Anderson
6: J.J. Anderson
7: Jerome Anderson
8: Kim Anderson
9: Kyle Anderson
Pick one: 0
Results for James Anderson:

You searched for "DeJuan Blair"
2 results found.
0: DeJuan Blair
1: DeJuan Wheat
Pick one: 0
Results for DeJuan Blair:

You searched for "Matt Bonner"
4 results found.
0: Matt Bonner
1: Matt Barnes
2: Matt Mooney
3: Matt Geiger
Pick one: 0
Results for Matt Bonner:

You searched for "Derrick Byars"
7 results found.
0: Derrick Byars
1: Derrick Brown
2: Derrick Dial
3: Derrick Favors
4: Derrick Jones
5: Derrick McKey
6: Derrick Rose
Pick one: 0
Results for Derrick Byars:

You searched for "Eric Dawson"
8 results found.
0: Eric Dawson
1: Eric Anderson
2: Tony Dawson
3: Eric Gordon
4: Eric Johnson
5: Eric Maynor
6: Eric Snow
7: Eric Money
Pick one: 0
Results for Eric Dawson:

You searched for "Justin Dentmon"
2 results found.
0: Justin Dentmon
1: Justin Patton
Pick one: 0
Results for Justin Dentmon:

You searched for "Boris Diaw"
1 result found.
Boris Diaw
Results for Boris Diaw:

You searched for "Ike Diogu"
4 results found.
0: Ike Diogu
1: Ike Anigbogu
2: Mike Davis
3: Mike Davis
Pick one: 0
Results for Ike Diogu:

You searched for "Tim Duncan"
2 results found.
0: Tim Duncan
1: Andy Duncan
Pick one: 0
Results for Tim Duncan:

You searched for "T.J. Ford"
7 results found.
0: T.J. Ford
1: Bob Ford
2: Don Ford
3: Jake Ford
4: Phil Ford
5: T.J. Leaf
6: O.J. Mayo
Pick one: 0
Results for T.J. Ford:

You searched for "Manu Ginóbili"
1 result found.
Manu Ginobili
Results for Manu Ginobili:

You searched for "Danny Green"
20 results found.
0: Danny Green
1: Kenny Green
2: Johnny Green
3: Danny Finn
4: Danny Granger
5: A.C. Green
6: Devin Green
7: Ken Green
8: Lamar Green
9: Sean Green
10: Sidney Green
11: Donte Greene
12: Lynn Greer
13: Danny Vranes
14: Danny Ainge
15: Danny Doyle
16: Danny Ferry
17: Dennis Grey
18: Danny Wagner
19: Danny Young
Pick one: 0
Results for Danny Green:

You searched for "Stephen Jackson"
3 results found.
0: Stephen Jackson
1: Stanley Jackson
2: Stephen Wilson
Pick one: 0
Results for Stephen Jackson:

You searched for "Richard Jefferson"
2 results found.
0: Richard Jefferson
1: Richard Anderson
Pick one: 0
Results for Richard Jefferson:

You searched for "Cory Joseph"
4 results found.
0: Cory Joseph
1: Garth Joseph
2: Kris Joseph
3: Yvon Joseph
Pick one: 0
Results for Cory Joseph:

You searched for "Kawhi Leonard"
2 results found.
0: Kawhi Leonard
1: Gary Leonard
Pick one: 0
Results for Kawhi Leonard:

You searched for "Patty Mills"
3 results found.
0: Patty Mills
1: Terry Mills
2: Jay Miller
Pick one: 0
Results for Patty Mills:

You searched for "Gary Neal"
16 results found.
0: Gary Neal
1: Gary Gray
2: Gary Hill
3: Gary Clark
4: Gary Grant
5: Gar Heard
6: Gary Keller
7: Craig Neal
8: Jim Neal
9: Lloyd Neal
10: Gary Trent
11: Gary Trent
12: Gary Voce
13: Gary Zeller
14: Ed Nealy
15: Gary Turner
Pick one: 0
Results for Gary Neal:

You searched for "Tony Parker"
17 results found.
0: Tony Parker
1: Tony Farmer
2: Sonny Parker
3: Tom Barker
4: Anthony Parker
5: Tony Allen
6: Ron Baker
7: Ron Carter
8: Tony Fuller
9: Ron Harper
10: Tony Harris
11: Tony Jaros
12: Tony Kappen
13: Thon Maker
14: Tony Price
15: Tony Battie
16: Coty Clarke
Pick one: 0
Results for Tony Parker:

You searched for "Tiago Splitter"
1 result found.
Tiago Splitter
Results for Tiago Splitter:

You searched for "Malcolm Thomas"
1 result found.
Malcolm Thomas
Results for Malcolm Thomas:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2012-02-04,29-263,SAS,HOME,OKC,W (+11),1,39:24,16,29,...,3,9,2,1,0,2,42,36.4,20,Tony Parker
1,2012-02-08,29-267,SAS,AWAY,PHI,W (+10),1,38:14,12,24,...,3,8,1,1,3,0,37,30.6,5,Tony Parker
2,2012-04-26,23-259,SAS,AWAY,GSW,W (+6),1,42:51,14,25,...,5,12,1,1,4,1,34,30.1,10,Patty Mills
3,2012-01-10,33-280,MIL,HOME,SAS,W (+3),1,42:05,12,17,...,1,8,0,0,3,3,34,28.6,-1,Stephen Jackson
4,2012-02-15,29-274,SAS,AWAY,TOR,W (+7),1,39:19,11,23,...,3,14,1,0,5,2,34,28.2,12,Tony Parker

In [24]:

SAS_2013_gamelog = []

for p in SAS_df_2013_players:
    player_log = get_game_logs(str(p), SEASON_2013_START, SEASON_2013_END, playoffs = False)
    player_log['Player'] = p
    
    SAS_2013_gamelog.append(player_log)
SAS_2013_gamelog = pd.concat(SAS_2013_gamelog)    
SAS_2013_gamelogs = SAS_2013_gamelog.copy()
SAS_2013_gamelogs['GAME_SCORE'] = SAS_2013_gamelogs['GAME_SCORE'].astype(float)
SAS_2013_games = SAS_2013_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
SAS_2013_games_csv = SAS_2013_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2013_games.csv', index=False)
SAS_2013_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2013_games.csv')
SAS_2013_games_proc.head()

You searched for "James Anderson"
10 results found.
0: James Anderson
1: Alan Anderson
2: Dan Anderson
3: Dan Anderson
4: Derek Anderson
5: Greg Anderson
6: J.J. Anderson
7: Jerome Anderson
8: Kim Anderson
9: Kyle Anderson
Pick one: 0
Results for James Anderson:

You searched for "Aron Baynes"
8 results found.
0: Aron Baynes
1: Ron Baker
2: Harry Barnes
3: Marvin Barnes
4: Ron Boone
5: Aaron James
6: Tharon Mayes
7: Cameron Payne
Pick one: 0
Results for Aron Baynes:

You searched for "DeJuan Blair"
2 results found.
0: DeJuan Blair
1: DeJuan Wheat
Pick one: 0
Results for DeJuan Blair:

You searched for "Matt Bonner"
4 results found.
0: Matt Bonner
1: Matt Barnes
2: Matt Mooney
3: Matt Geiger
Pick one: 0
Results for Matt Bonner:

You searched for "Nando De Colo"
1 result found.
Nando De Colo
Results for Nando De Colo:

You searched for "Boris Diaw"
1 result found.
Boris Diaw
Results for Boris Diaw:

You searched for "Tim Duncan"
2 results found.
0: Tim Duncan
1: Andy Duncan
Pick one: 0
Results for Tim Duncan:

You searched for "Manu Ginóbili"
1 result found.
Manu Ginobili
Results for Manu Ginobili:

You searched for "Danny Green"
20 results found.
0: Danny Green
1: Kenny Green
2: Johnny Green
3: Danny Finn
4: Danny Granger
5: A.C. Green
6: Devin Green
7: Ken Green
8: Lamar Green
9: Sean Green
10: Sidney Green
11: Donte Greene
12: Lynn Greer
13: Danny Vranes
14: Danny Ainge
15: Danny Doyle
16: Danny Ferry
17: Dennis Grey
18: Danny Wagner
19: Danny Young
Pick one: 0
Results for Danny Green:

You searched for "Stephen Jackson"
3 results found.
0: Stephen Jackson
1: Stanley Jackson
2: Stephen Wilson
Pick one: 0
Results for Stephen Jackson:

You searched for "Cory Joseph"
4 results found.
0: Cory Joseph
1: Garth Joseph
2: Kris Joseph
3: Yvon Joseph
Pick one: 0
Results for Cory Joseph:

You searched for "Kawhi Leonard"
2 results found.
0: Kawhi Leonard
1: Gary Leonard
Pick one: 0
Results for Kawhi Leonard:

You searched for "Tracy McGrady"
2 results found.
0: Tracy McGrady
1: Tracy Murray
Pick one: 0
Results for Tracy McGrady:

You searched for "Patty Mills"
3 results found.
0: Patty Mills
1: Terry Mills
2: Jay Miller
Pick one: 0
Results for Patty Mills:

You searched for "Gary Neal"
16 results found.
0: Gary Neal
1: Gary Gray
2: Gary Hill
3: Gary Clark
4: Gary Grant
5: Gar Heard
6: Gary Keller
7: Craig Neal
8: Jim Neal
9: Lloyd Neal
10: Gary Trent
11: Gary Trent
12: Gary Voce
13: Gary Zeller
14: Ed Nealy
15: Gary Turner
Pick one: 0
Results for Gary Neal:

You searched for "Tony Parker"
17 results found.
0: Tony Parker
1: Tony Farmer
2: Sonny Parker
3: Tom Barker
4: Anthony Parker
5: Tony Allen
6: Ron Baker
7: Ron Carter
8: Tony Fuller
9: Ron Harper
10: Tony Harris
11: Tony Jaros
12: Tony Kappen
13: Thon Maker
14: Tony Price
15: Tony Battie
16: Coty Clarke
Pick one: 0
Results for Tony Parker:

You searched for "Tiago Splitter"
1 result found.
Tiago Splitter
Results for Tiago Splitter:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2012-12-18,36-237,SAS,AWAY,DEN,L (-6),1,40:02,11,25,...,18,6,2,5,2,3,31,31.0,0,Tim Duncan
1,2013-02-21,30-280,SAS,AWAY,LAC,W (+26),1,28:02,12,16,...,2,7,1,0,0,2,31,30.3,31,Tony Parker
2,2013-03-29,36-338,SAS,HOME,LAC,W (+2),1,32:20,12,19,...,11,3,0,2,3,3,34,29.3,8,Tim Duncan
3,2013-01-26,30-254,SAS,HOME,PHO,W (+9),1,33:25,13,17,...,4,7,2,0,3,1,31,29.0,6,Tony Parker
4,2013-02-08,30-267,SAS,AWAY,DET,L (-10),1,35:09,10,16,...,2,8,1,0,1,3,31,28.4,-7,Tony Parker

In [27]:


SAS_2014_gamelog = []

for p in SAS_df_2014_players:
    player_log = get_game_logs(str(p), SEASON_2014_START, SEASON_2014_END, playoffs = False)
    player_log['Player'] = p
    
    SAS_2014_gamelog.append(player_log)
SAS_2014_gamelog = pd.concat(SAS_2014_gamelog)    
SAS_2014_gamelogs = SAS_2014_gamelog.copy()
SAS_2014_gamelogs['GAME_SCORE'] = SAS_2014_gamelogs['GAME_SCORE'].astype(float)
SAS_2014_games = SAS_2014_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
SAS_2014_games_csv = SAS_2014_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2014_games.csv', index=False)
SAS_2014_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2014_games.csv')
SAS_2014_games_proc.head()

You searched for "Aron Baynes"
8 results found.
0: Aron Baynes
1: Ron Baker
2: Harry Barnes
3: Marvin Barnes
4: Ron Boone
5: Aaron James
6: Tharon Mayes
7: Cameron Payne
Pick one: 0
Results for Aron Baynes:

You searched for "Marco Belinelli"
1 result found.
Marco Belinelli
Results for Marco Belinelli:

You searched for "Matt Bonner"
4 results found.
0: Matt Bonner
1: Matt Barnes
2: Matt Mooney
3: Matt Geiger
Pick one: 0
Results for Matt Bonner:

You searched for "Shannon Brown"
2 results found.
0: Shannon Brown
1: Stan Brown
Pick one: 0
Results for Shannon Brown:

You searched for "Austin Daye"
4 results found.
0: Austin Daye
1: Austin Carr
2: Justin James
3: Justin Reed
Pick one: 0
Results for Austin Daye:

You searched for "Nando De Colo"
1 result found.
Nando De Colo
Results for Nando De Colo:

You searched for "Boris Diaw"
1 result found.
Boris Diaw
Results for Boris Diaw:

You searched for "Tim Duncan"
2 results found.
0: Tim Duncan
1: Andy Duncan
Pick one: 0
Results for Tim Duncan:

You searched for "Manu Ginóbili"
1 result found.
Manu Ginobili
Results for Manu Ginobili:

You searched for "Danny Green"
20 results found.
0: Danny Green
1: Kenny Green
2: Johnny Green
3: Danny Finn
4: Danny Granger
5: A.C. Green
6: Devin Green
7: Ken Green
8: Lamar Green
9: Sean Green
10: Sidney Green
11: Donte Greene
12: Lynn Greer
13: Danny Vranes
14: Danny Ainge
15: Danny Doyle
16: Danny Ferry
17: Dennis Grey
18: Danny Wagner
19: Danny Young
Pick one: 0
Results for Danny Green:

You searched for "Damion James"
8 results found.
0: Damion James
1: Aaron James
2: Damian Jones
3: Damon Jones
4: LeBron James
5: Mike James
6: Mike James
7: Damion Lee
Pick one: 0
Results for Damion James:

You searched for "Othyus Jeffers"
1 result found.
Othyus Jeffers
Results for Othyus Jeffers:

You searched for "Cory Joseph"
4 results found.
0: Cory Joseph
1: Garth Joseph
2: Kris Joseph
3: Yvon Joseph
Pick one: 0
Results for Cory Joseph:

You searched for "Kawhi Leonard"
2 results found.
0: Kawhi Leonard
1: Gary Leonard
Pick one: 0
Results for Kawhi Leonard:

You searched for "Patty Mills"
3 results found.
0: Patty Mills
1: Terry Mills
2: Jay Miller
Pick one: 0
Results for Patty Mills:

You searched for "Tony Parker"
17 results found.
0: Tony Parker
1: Tony Farmer
2: Sonny Parker
3: Tom Barker
4: Anthony Parker
5: Tony Allen
6: Ron Baker
7: Ron Carter
8: Tony Fuller
9: Ron Harper
10: Tony Harris
11: Tony Jaros
12: Tony Kappen
13: Thon Maker
14: Tony Price
15: Tony Battie
16: Coty Clarke
Pick one: 0
Results for Tony Parker:

You searched for "Tiago Splitter"
1 result found.
Tiago Splitter
Results for Tiago Splitter:

You searched for "Malcolm Thomas"
1 result found.
Malcolm Thomas
Results for Malcolm Thomas:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2014-01-22,31-250,SAS,HOME,OKC,L (-6),1,38:39,14,22,...,2,4,1,1,3,1,37,29.3,-2,Tony Parker
1,2014-02-05,37-286,SAS,AWAY,WAS,W (+7),1,40:08,13,20,...,11,5,2,3,3,6,31,27.7,13,Tim Duncan
2,2014-04-11,26-293,SAS,HOME,PHO,W (+8),1,37:55,12,17,...,4,2,0,1,1,1,33,27.4,23,Danny Green
3,2014-01-02,27-283,SAS,HOME,NYK,L (-4),1,32:40,12,16,...,5,2,0,0,2,1,32,26.5,0,Marco Belinelli
4,2014-02-01,37-282,SAS,HOME,SAC,W (+2),1,32:54,8,13,...,17,5,0,2,1,0,23,25.7,4,Tim Duncan

In [32]:


SAS_2015_gamelog = []

for p in SAS_df_2015_players:
    player_log = get_game_logs(str(p), SEASON_2015_START, SEASON_2015_END, playoffs = False)
    player_log['Player'] = p
    
    SAS_2015_gamelog.append(player_log)
SAS_2015_gamelog = pd.concat(SAS_2015_gamelog)    
SAS_2015_gamelogs = SAS_2015_gamelog.copy()
SAS_2015_gamelogs['GAME_SCORE'] = SAS_2015_gamelogs['GAME_SCORE'].astype(float)
SAS_2015_games = SAS_2015_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
SAS_2015_games_csv = SAS_2015_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2015_games.csv', index=False)
SAS_2015_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2015_games.csv')
SAS_2015_games_proc.head()

You searched for "Kyle Anderson"
16 results found.
0: Kyle Anderson
1: Kim Anderson
2: Ryan Anderson
3: Alan Anderson
4: Dan Anderson
5: Dan Anderson
6: Derek Anderson
7: Eric Anderson
8: Greg Anderson
9: J.J. Anderson
10: James Anderson
11: Kenny Anderson
12: Nick Anderson
13: Ron Anderson
14: Willie Anderson
15: Kyle Alexander
Pick one: 0
Results for Kyle Anderson:

You searched for "Aron Baynes"
8 results found.
0: Aron Baynes
1: Ron Baker
2: Harry Barnes
3: Marvin Barnes
4: Ron Boone
5: Aaron James
6: Tharon Mayes
7: Cameron Payne
Pick one: 0
Results for Aron Baynes:

You searched for "Marco Belinelli"
1 result found.
Marco Belinelli
Results for Marco Belinelli:

You searched for "Matt Bonner"
4 results found.
0: Matt Bonner
1: Matt Barnes
2: Matt Mooney
3: Matt Geiger
Pick one: 0
Results for Matt Bonner:

You searched for "Austin Daye"
4 results found.
0: Austin Daye
1: Austin Carr
2: Justin James
3: Justin Reed
Pick one: 0
Results for Austin Daye:

You searched for "Boris Diaw"
1 result found.
Boris Diaw
Results for Boris Diaw:

You searched for "Tim Duncan"
2 results found.
0: Tim Duncan
1: Andy Duncan
Pick one: 0
Results for Tim Duncan:

You searched for "Manu Ginóbili"
1 result found.
Manu Ginobili
Results for Manu Ginobili:

You searched for "Danny Green"
20 results found.
0: Danny Green
1: Kenny Green
2: Johnny Green
3: Danny Finn
4: Danny Granger
5: A.C. Green
6: Devin Green
7: Ken Green
8: Lamar Green
9: Sean Green
10: Sidney Green
11: Donte Greene
12: Lynn Greer
13: Danny Vranes
14: Danny Ainge
15: Danny Doyle
16: Danny Ferry
17: Dennis Grey
18: Danny Wagner
19: Danny Young
Pick one: 0
Results for Danny Green:

You searched for "JaMychal Green"
1 result found.
JaMychal Green
Results for JaMychal Green:

You searched for "Cory Joseph"
4 results found.
0: Cory Joseph
1: Garth Joseph
2: Kris Joseph
3: Yvon Joseph
Pick one: 0
Results for Cory Joseph:

You searched for "Kawhi Leonard"
2 results found.
0: Kawhi Leonard
1: Gary Leonard
Pick one: 0
Results for Kawhi Leonard:

You searched for "Patty Mills"
3 results found.
0: Patty Mills
1: Terry Mills
2: Jay Miller
Pick one: 0
Results for Patty Mills:

You searched for "Tony Parker"
17 results found.
0: Tony Parker
1: Tony Farmer
2: Sonny Parker
3: Tom Barker
4: Anthony Parker
5: Tony Allen
6: Ron Baker
7: Ron Carter
8: Tony Fuller
9: Ron Harper
10: Tony Harris
11: Tony Jaros
12: Tony Kappen
13: Thon Maker
14: Tony Price
15: Tony Battie
16: Coty Clarke
Pick one: 0
Results for Tony Parker:

You searched for "Tiago Splitter"
1 result found.
Tiago Splitter
Results for Tiago Splitter:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2015-02-19,38-300,SAS,AWAY,LAC,L (-4),1,33:10,12,14,...,11,3,1,1,0,3,30,30.9,5,Tim Duncan
1,2014-12-19,38-238,SAS,HOME,POR,L (-10),1,43:02,12,24,...,10,3,2,4,1,3,32,28.1,3,Tim Duncan
2,2015-04-05,23-280,SAS,HOME,GSW,W (+15),1,24:23,11,17,...,5,3,7,0,1,1,26,27.3,13,Kawhi Leonard
3,2015-04-10,38-350,SAS,AWAY,HOU,W (+1),1,34:10,12,15,...,10,2,1,3,3,4,29,26.6,-3,Tim Duncan
4,2015-03-08,32-295,SAS,HOME,CHI,W (+11),1,30:27,13,19,...,4,2,2,0,1,2,32,25.9,11,Tony Parker

In [33]:


SAS_2016_gamelog = []

for p in SAS_df_2016_players:
    player_log = get_game_logs(str(p), SEASON_2016_START, SEASON_2016_END, playoffs = False)
    player_log['Player'] = p
    
    SAS_2016_gamelog.append(player_log)
SAS_2016_gamelog = pd.concat(SAS_2016_gamelog)    
SAS_2016_gamelogs = SAS_2016_gamelog.copy()
SAS_2016_gamelogs['GAME_SCORE'] = SAS_2016_gamelogs['GAME_SCORE'].astype(float)
SAS_2016_games = SAS_2016_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
SAS_2016_games_csv = SAS_2016_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2016_games.csv', index=False)
SAS_2016_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2016_games.csv')
SAS_2016_games_proc.head()

You searched for "LaMarcus Aldridge"
1 result found.
LaMarcus Aldridge
Results for LaMarcus Aldridge:

You searched for "Kyle Anderson"
16 results found.
0: Kyle Anderson
1: Kim Anderson
2: Ryan Anderson
3: Alan Anderson
4: Dan Anderson
5: Dan Anderson
6: Derek Anderson
7: Eric Anderson
8: Greg Anderson
9: J.J. Anderson
10: James Anderson
11: Kenny Anderson
12: Nick Anderson
13: Ron Anderson
14: Willie Anderson
15: Kyle Alexander
Pick one: 0
Results for Kyle Anderson:

You searched for "Matt Bonner"
4 results found.
0: Matt Bonner
1: Matt Barnes
2: Matt Mooney
3: Matt Geiger
Pick one: 0
Results for Matt Bonner:

You searched for "Rasual Butler"
2 results found.
0: Rasual Butler
1: Al Butler
Pick one: 0
Results for Rasual Butler:

You searched for "Boris Diaw"
1 result found.
Boris Diaw
Results for Boris Diaw:

You searched for "Tim Duncan"
2 results found.
0: Tim Duncan
1: Andy Duncan
Pick one: 0
Results for Tim Duncan:

You searched for "Manu Ginóbili"
1 result found.
Manu Ginobili
Results for Manu Ginobili:

You searched for "Danny Green"
20 results found.
0: Danny Green
1: Kenny Green
2: Johnny Green
3: Danny Finn
4: Danny Granger
5: A.C. Green
6: Devin Green
7: Ken Green
8: Lamar Green
9: Sean Green
10: Sidney Green
11: Donte Greene
12: Lynn Greer
13: Danny Vranes
14: Danny Ainge
15: Danny Doyle
16: Danny Ferry
17: Dennis Grey
18: Danny Wagner
19: Danny Young
Pick one: 0
Results for Danny Green:

You searched for "Kawhi Leonard"
2 results found.
0: Kawhi Leonard
1: Gary Leonard
Pick one: 0
Results for Kawhi Leonard:

You searched for "Boban Marjanović"
1 result found.
Boban Marjanovic
Results for Boban Marjanovic:

You searched for "Kevin Martin"
15 results found.
0: Kevin Martin
1: Kelan Martin
2: Kenyon Martin
3: Devin Harris
4: Brian Martin
5: Dino Martin
6: Don Martin
7: Jeff Martin
8: Phil Martin
9: Kevin Murphy
10: Kevin Porter
11: Kevin Porter
12: Kevin Durant
13: Kevin Garnett
14: Kevin McHale
Pick one: 0
Results for Kevin Martin:

You searched for "Ray McCallum"
2 results found.
0: Ray McCallum
1: CJ McCollum
Pick one: 0
Results for Ray McCallum:

You searched for "Andre Miller"
7 results found.
0: Andre Miller
1: Eddie Miller
2: Harry Miller
3: Larry Miller
4: Mike Miller
5: Andre Moore
6: Andre Turner
Pick one: 0
Results for Andre Miller:

You searched for "Patty Mills"
3 results found.
0: Patty Mills
1: Terry Mills
2: Jay Miller
Pick one: 0
Results for Patty Mills:

You searched for "Tony Parker"
17 results found.
0: Tony Parker
1: Tony Farmer
2: Sonny Parker
3: Tom Barker
4: Anthony Parker
5: Tony Allen
6: Ron Baker
7: Ron Carter
8: Tony Fuller
9: Ron Harper
10: Tony Harris
11: Tony Jaros
12: Tony Kappen
13: Thon Maker
14: Tony Price
15: Tony Battie
16: Coty Clarke
Pick one: 0
Results for Tony Parker:

You searched for "Jonathon Simmons"
1 result found.
Jonathon Simmons
Results for Jonathon Simmons:

You searched for "David West"
18 results found.
0: David West
1: David Wear
2: David Lee
3: David Lee
4: David Wesley
5: Mario West
6: David Wood
7: David Benoit
8: Travis Best
9: David Noel
10: David Nwaba
11: David Pope
12: Doug West
13: Mark West
14: David Burns
15: David Cooke
16: David Gaines
17: David Rivers
Pick one: 0
Results for David West:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2016-03-25,30-250,SAS,HOME,MEM,W (+6),1,33:06,12,16,...,12,1,2,3,1,1,32,34.2,17,LaMarcus Aldridge
1,2016-03-08,30-233,SAS,AWAY,MIN,W (+25),1,29:04,11,13,...,7,4,1,4,0,1,29,32.6,27,LaMarcus Aldridge
2,2016-04-02,24-278,SAS,HOME,TOR,W (+7),1,40:07,10,17,...,6,7,3,1,2,5,33,31.5,14,Kawhi Leonard
3,2016-03-28,30-253,SAS,AWAY,MEM,W (+14),1,30:59,11,16,...,13,3,0,2,1,0,31,31.4,18,LaMarcus Aldridge
4,2016-02-03,30-199,SAS,HOME,NOP,W (+13),1,33:52,12,20,...,6,1,1,3,2,3,36,30.0,2,LaMarcus Aldridge

In [36]:

SAS_2017_gamelog = []

for p in SAS_df_2017_players:
    player_log = get_game_logs(str(p), SEASON_2017_START, SEASON_2017_END, playoffs = False)
    player_log['Player'] = p
    
    SAS_2017_gamelog.append(player_log)
SAS_2017_gamelog = pd.concat(SAS_2017_gamelog)    
SAS_2017_gamelogs = SAS_2017_gamelog.copy()
SAS_2017_gamelogs['GAME_SCORE'] = SAS_2017_gamelogs['GAME_SCORE'].astype(float)
SAS_2017_games = SAS_2017_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
SAS_2017_games_csv = SAS_2017_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2017_games.csv', index=False)
SAS_2017_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2017_games.csv')
SAS_2017_games_proc.head()

You searched for "LaMarcus Aldridge"
1 result found.
LaMarcus Aldridge
Results for LaMarcus Aldridge:

You searched for "Kyle Anderson"
16 results found.
0: Kyle Anderson
1: Kim Anderson
2: Ryan Anderson
3: Alan Anderson
4: Dan Anderson
5: Dan Anderson
6: Derek Anderson
7: Eric Anderson
8: Greg Anderson
9: J.J. Anderson
10: James Anderson
11: Kenny Anderson
12: Nick Anderson
13: Ron Anderson
14: Willie Anderson
15: Kyle Alexander
Pick one: 0
Results for Kyle Anderson:

You searched for "Joel Anthony"
3 results found.
0: Joel Anthony
1: Cole Anthony
2: Greg Anthony
Pick one: 0
Results for Joel Anthony:

You searched for "Dāvis Bertāns"
3 results found.
0: Davis Bertans
1: Dairis Bertans
2: David Burns
Pick one: 0
Results for Davis Bertans:

You searched for "Dewayne Dedmon"
1 result found.
Dewayne Dedmon
Results for Dewayne Dedmon:

You searched for "Bryn Forbes"
2 results found.
0: Bryn Forbes
1: Gary Forbes
Pick one: 0
Results for Bryn Forbes:

You searched for "Pau Gasol"
7 results found.
0: Pau Gasol
1: Marc Gasol
2: Paul Watson
3: Paul Davis
4: Paul Grant
5: Paul Long
6: Paul Silas
Pick one: 0
Results for Pau Gasol:

You searched for "Manu Ginóbili"
1 result found.
Manu Ginobili
Results for Manu Ginobili:

You searched for "Danny Green"
20 results found.
0: Danny Green
1: Kenny Green
2: Johnny Green
3: Danny Finn
4: Danny Granger
5: A.C. Green
6: Devin Green
7: Ken Green
8: Lamar Green
9: Sean Green
10: Sidney Green
11: Donte Greene
12: Lynn Greer
13: Danny Vranes
14: Danny Ainge
15: Danny Doyle
16: Danny Ferry
17: Dennis Grey
18: Danny Wagner
19: Danny Young
Pick one: 0
Results for Danny Green:

You searched for "Nicolás Laprovíttola"
1 result found.
Nicolas Laprovittola
Results for Nicolas Laprovittola:

You searched for "Kawhi Leonard"
2 results found.
0: Kawhi Leonard
1: Gary Leonard
Pick one: 0
Results for Kawhi Leonard:

You searched for "Patty Mills"
3 results found.
0: Patty Mills
1: Terry Mills
2: Jay Miller
Pick one: 0
Results for Patty Mills:

You searched for "Dejounte Murray"
1 result found.
Dejounte Murray
Results for Dejounte Murray:

You searched for "Tony Parker"
17 results found.
0: Tony Parker
1: Tony Farmer
2: Sonny Parker
3: Tom Barker
4: Anthony Parker
5: Tony Allen
6: Ron Baker
7: Ron Carter
8: Tony Fuller
9: Ron Harper
10: Tony Harris
11: Tony Jaros
12: Tony Kappen
13: Thon Maker
14: Tony Price
15: Tony Battie
16: Coty Clarke
Pick one: 0
Results for Tony Parker:

You searched for "Jonathon Simmons"
1 result found.
Jonathon Simmons
Results for Jonathon Simmons:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2017-03-06,25-250,SAS,HOME,HOU,W (+2),1,39:00,12,18,...,6,5,1,2,1,1,39,37.5,4,Kawhi Leonard
1,2017-03-04,25-248,SAS,HOME,MIN,W (+7),1,43:55,11,25,...,10,5,6,1,1,1,34,32.7,18,Kawhi Leonard
2,2016-10-25,25-118,SAS,AWAY,GSW,W (+29),1,32:03,10,21,...,5,3,5,0,2,1,35,31.7,14,Kawhi Leonard
3,2017-03-15,25-259,SAS,HOME,POR,L (-4),1,36:31,12,21,...,9,6,3,2,2,4,34,31.4,0,Kawhi Leonard
4,2017-01-17,25-202,SAS,HOME,MIN,W (+8),1,38:34,12,17,...,7,5,1,0,1,4,34,30.9,5,Kawhi Leonard

In [37]:


SAS_2018_gamelog = []

for p in SAS_df_2018_players:
    player_log = get_game_logs(str(p), SEASON_2018_START, SEASON_2018_END, playoffs = False)
    player_log['Player'] = p
    
    SAS_2018_gamelog.append(player_log)
SAS_2018_gamelog = pd.concat(SAS_2018_gamelog)    
SAS_2018_gamelogs = SAS_2018_gamelog.copy()
SAS_2018_gamelogs['GAME_SCORE'] = SAS_2018_gamelogs['GAME_SCORE'].astype(float)
SAS_2018_games = SAS_2018_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
SAS_2018_games_csv = SAS_2018_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2018_games.csv', index=False)
SAS_2018_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2018_games.csv')
SAS_2018_games_proc.head()

You searched for "LaMarcus Aldridge"
1 result found.
LaMarcus Aldridge
Results for LaMarcus Aldridge:

You searched for "Kyle Anderson"
16 results found.
0: Kyle Anderson
1: Kim Anderson
2: Ryan Anderson
3: Alan Anderson
4: Dan Anderson
5: Dan Anderson
6: Derek Anderson
7: Eric Anderson
8: Greg Anderson
9: J.J. Anderson
10: James Anderson
11: Kenny Anderson
12: Nick Anderson
13: Ron Anderson
14: Willie Anderson
15: Kyle Alexander
Pick one: 0
Results for Kyle Anderson:

You searched for "Dāvis Bertāns"
3 results found.
0: Davis Bertans
1: Dairis Bertans
2: David Burns
Pick one: 0
Results for Davis Bertans:

You searched for "Matt Costello"
2 results found.
0: Matt Costello
1: Larry Costello
Pick one: 0
Results for Matt Costello:

You searched for "Bryn Forbes"
2 results found.
0: Bryn Forbes
1: Gary Forbes
Pick one: 0
Results for Bryn Forbes:

You searched for "Pau Gasol"
7 results found.
0: Pau Gasol
1: Marc Gasol
2: Paul Watson
3: Paul Davis
4: Paul Grant
5: Paul Long
6: Paul Silas
Pick one: 0
Results for Pau Gasol:

You searched for "Rudy Gay"
4 results found.
0: Rudy Gay
1: Todd Day
2: Ed Gray
3: Gary Gray
Pick one: 0
Results for Rudy Gay:

You searched for "Manu Ginóbili"
1 result found.
Manu Ginobili
Results for Manu Ginobili:

You searched for "Danny Green"
20 results found.
0: Danny Green
1: Kenny Green
2: Johnny Green
3: Danny Finn
4: Danny Granger
5: A.C. Green
6: Devin Green
7: Ken Green
8: Lamar Green
9: Sean Green
10: Sidney Green
11: Donte Greene
12: Lynn Greer
13: Danny Vranes
14: Danny Ainge
15: Danny Doyle
16: Danny Ferry
17: Dennis Grey
18: Danny Wagner
19: Danny Young
Pick one: 0
Results for Danny Green:

You searched for "Darrun Hilliard"
1 result found.
Darrun Hilliard
Results for Darrun Hilliard:

You searched for "Joffrey Lauvergne"
1 result found.
Joffrey Lauvergne
Results for Joffrey Lauvergne:

You searched for "Kawhi Leonard"
2 results found.
0: Kawhi Leonard
1: Gary Leonard
Pick one: 0
Results for Kawhi Leonard:

You searched for "Patty Mills"
3 results found.
0: Patty Mills
1: Terry Mills
2: Jay Miller
Pick one: 0
Results for Patty Mills:

You searched for "Dejounte Murray"
1 result found.
Dejounte Murray
Results for Dejounte Murray:

You searched for "Tony Parker"
17 results found.
0: Tony Parker
1: Tony Farmer
2: Sonny Parker
3: Tom Barker
4: Anthony Parker
5: Tony Allen
6: Ron Baker
7: Ron Carter
8: Tony Fuller
9: Ron Harper
10: Tony Harris
11: Tony Jaros
12: Tony Kappen
13: Thon Maker
14: Tony Price
15: Tony Battie
16: Coty Clarke
Pick one: 0
Results for Tony Parker:

You searched for "Brandon Paul"
4 results found.
0: Brandon Paul
1: Brandon Bass
2: Brandon Roy
3: Brandon Rush
Pick one: 0
Results for Brandon Paul:

You searched for "Derrick White"
6 results found.
0: Derrick White
1: Eric White
2: Derrick Dial
3: Derrick Rose
4: Derrick Walton
5: Derrick Brown
Pick one: 0
Results for Derrick White:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2018-03-23,32-247,SAS,HOME,UTA,W (+4),1,41:05,19,28,...,9,2,1,3,4,3,45,35.0,9,LaMarcus Aldridge
1,2017-11-29,32-133,SAS,HOME,MEM,W (+9),1,36:47,17,24,...,6,1,0,1,0,2,41,34.2,16,LaMarcus Aldridge
2,2017-11-27,32-131,SAS,HOME,DAL,W (+7),1,37:36,13,19,...,10,3,2,3,0,3,33,33.7,14,LaMarcus Aldridge
3,2018-03-17,32-241,SAS,HOME,MIN,W (+16),1,35:34,14,22,...,10,2,0,2,1,4,39,33.6,8,LaMarcus Aldridge
4,2018-04-03,32-258,SAS,AWAY,LAC,L (-3),1,37:23,13,21,...,9,1,2,3,0,4,35,33.0,0,LaMarcus Aldridge

In [38]:

SAS_2019_gamelog = []

for p in SAS_df_2019_players:
    player_log = get_game_logs(str(p), SEASON_2019_START, SEASON_2019_END, playoffs = False)
    player_log['Player'] = p
    
    SAS_2019_gamelog.append(player_log)
SAS_2019_gamelog = pd.concat(SAS_2019_gamelog)    
SAS_2019_gamelogs = SAS_2019_gamelog.copy()
SAS_2019_gamelogs['GAME_SCORE'] = SAS_2019_gamelogs['GAME_SCORE'].astype(float)
SAS_2019_games = SAS_2019_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
SAS_2019_games_csv = SAS_2019_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2019_games.csv', index=False)
SAS_2019_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2019_games.csv')
SAS_2019_games_proc.head()

You searched for "LaMarcus Aldridge"
1 result found.
LaMarcus Aldridge
Results for LaMarcus Aldridge:

You searched for "Marco Belinelli"
1 result found.
Marco Belinelli
Results for Marco Belinelli:

You searched for "Dāvis Bertāns"
3 results found.
0: Davis Bertans
1: Dairis Bertans
2: David Burns
Pick one: 0
Results for Davis Bertans:

You searched for "Dante Cunningham"
3 results found.
0: Dante Cunningham
1: Dick Cunningham
2: Jared Cunningham
Pick one: 0
Results for Dante Cunningham:

You searched for "DeMar DeRozan"
1 result found.
DeMar DeRozan
Results for DeMar DeRozan:

You searched for "Drew Eubanks"
1 result found.
Drew Eubanks
Results for Drew Eubanks:

You searched for "Bryn Forbes"
2 results found.
0: Bryn Forbes
1: Gary Forbes
Pick one: 0
Results for Bryn Forbes:

You searched for "Pau Gasol"
7 results found.
0: Pau Gasol
1: Marc Gasol
2: Paul Watson
3: Paul Davis
4: Paul Grant
5: Paul Long
6: Paul Silas
Pick one: 0
Results for Pau Gasol:

You searched for "Rudy Gay"
4 results found.
0: Rudy Gay
1: Todd Day
2: Ed Gray
3: Gary Gray
Pick one: 0
Results for Rudy Gay:

You searched for "Chimezie Metu"
1 result found.
Chimezie Metu
Results for Chimezie Metu:

You searched for "Patty Mills"
3 results found.
0: Patty Mills
1: Terry Mills
2: Jay Miller
Pick one: 0
Results for Patty Mills:

You searched for "Donatas Motiejūnas"
1 result found.
Donatas Motiejunas
Results for Donatas Motiejunas:

You searched for "Jakob Poeltl"
1 result found.
Jakob Poeltl
Results for Jakob Poeltl:

You searched for "Quincy Pondexter"
1 result found.
Quincy Pondexter
Results for Quincy Pondexter:

You searched for "Lonnie Walker"
3 results found.
0: Lonnie Walker
1: Horace Walker
2: Kenny Walker
Pick one: 0
Results for Lonnie Walker:

You searched for "Derrick White"
6 results found.
0: Derrick White
1: Eric White
2: Derrick Dial
3: Derrick Rose
4: Derrick Walton
5: Derrick Brown
Pick one: 0
Results for Derrick White:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2019-01-10,33-175,SAS,HOME,OKC,W (+7),1,48:34,20,33,...,9,4,0,4,5,2,56,45.0,7,LaMarcus Aldridge
1,2019-03-24,33-248,SAS,AWAY,BOS,W (+19),1,37:24,20,31,...,13,6,0,1,3,5,48,38.9,23,LaMarcus Aldridge
2,2018-12-07,29-122,SAS,HOME,LAL,W (+13),1,36:13,11,20,...,8,9,0,2,1,1,36,33.9,10,DeMar DeRozan
3,2018-10-22,33-095,SAS,AWAY,LAL,W (+1),1,39:59,13,22,...,10,5,1,1,1,3,37,32.0,9,LaMarcus Aldridge
4,2018-10-29,29-083,SAS,HOME,DAL,W (+5),1,42:53,12,21,...,6,9,3,0,2,4,34,32.0,-7,DeMar DeRozan

In [39]:


SAS_2020_gamelog = []

for p in SAS_df_2020_players:
    player_log = get_game_logs(str(p), SEASON_2020_START, SEASON_2020_END, playoffs = False)
    player_log['Player'] = p
    
    SAS_2020_gamelog.append(player_log)
SAS_2020_gamelog = pd.concat(SAS_2020_gamelog)    
SAS_2020_gamelogs = SAS_2020_gamelog.copy()
SAS_2020_gamelogs['GAME_SCORE'] = SAS_2020_gamelogs['GAME_SCORE'].astype(float)
SAS_2020_games = SAS_2020_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
SAS_2020_games_csv = SAS_2020_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2020_games.csv', index=False)
SAS_2020_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2020_games.csv')
SAS_2020_games_proc.head()

You searched for "LaMarcus Aldridge"
1 result found.
LaMarcus Aldridge
Results for LaMarcus Aldridge:

You searched for "Marco Belinelli"
1 result found.
Marco Belinelli
Results for Marco Belinelli:

You searched for "DeMarre Carroll"
1 result found.
DeMarre Carroll
Results for DeMarre Carroll:

You searched for "DeMar DeRozan"
1 result found.
DeMar DeRozan
Results for DeMar DeRozan:

You searched for "Drew Eubanks"
1 result found.
Drew Eubanks
Results for Drew Eubanks:

You searched for "Bryn Forbes"
2 results found.
0: Bryn Forbes
1: Gary Forbes
Pick one: 0
Results for Bryn Forbes:

You searched for "Rudy Gay"
4 results found.
0: Rudy Gay
1: Todd Day
2: Ed Gray
3: Gary Gray
Pick one: 0
Results for Rudy Gay:

You searched for "Keldon Johnson"
12 results found.
0: Keldon Johnson
1: Ken Johnson
2: Ken Johnson
3: Kevin Johnson
4: Armon Johnson
5: Clemon Johnson
6: Ed Johnson
7: Eddie Johnson
8: Eddie Johnson
9: Ervin Johnson
10: Linton Johnson
11: Ron Johnson
Pick one: 0
Results for Keldon Johnson:

You searched for "Trey Lyles"
5 results found.
0: Trey Lyles
1: Tre Jones
2: Trey Gilder
3: Terry Tyler
4: Trey Burke
Pick one: 0
Results for Trey Lyles:

You searched for "Chimezie Metu"
1 result found.
Chimezie Metu
Results for Chimezie Metu:

You searched for "Patty Mills"
3 results found.
0: Patty Mills
1: Terry Mills
2: Jay Miller
Pick one: 0
Results for Patty Mills:

You searched for "Dejounte Murray"
1 result found.
Dejounte Murray
Results for Dejounte Murray:

You searched for "Jakob Poeltl"
1 result found.
Jakob Poeltl
Results for Jakob Poeltl:

You searched for "Luka Šamanić"
1 result found.
Luka Samanic
Results for Luka Samanic:

You searched for "Lonnie Walker"
3 results found.
0: Lonnie Walker
1: Horace Walker
2: Kenny Walker
Pick one: 0
Results for Lonnie Walker:

You searched for "Quinndary Weatherspoon"
1 result found.
Quinndary Weatherspoon
Results for Quinndary Weatherspoon:

You searched for "Derrick White"
6 results found.
0: Derrick White
1: Eric White
2: Derrick Dial
3: Derrick Rose
4: Derrick Walton
5: Derrick Brown
Pick one: 0
Results for Derrick White:

You searched for "Tyler Zeller"
4 results found.
0: Tyler Zeller
1: Dave Zeller
2: Luke Zeller
3: Tyler Herro
Pick one: 0
Results for Tyler Zeller:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2019-12-23,34-157,SAS,AWAY,MEM,W (+30),1,31:46,17,25,...,9,5,0,3,1,1,40,37.0,29,LaMarcus Aldridge
1,2020-01-10,30-156,SAS,AWAY,MEM,L (-13),1,37:47,11,18,...,9,9,1,0,1,5,36,35.2,-1,DeMar DeRozan
2,2019-11-07,34-111,SAS,HOME,OKC,W (+9),1,34:14,19,23,...,6,4,2,1,3,2,39,34.8,18,LaMarcus Aldridge
3,2019-11-18,30-103,SAS,AWAY,DAL,L (-7),1,33:35,14,20,...,8,4,1,0,1,4,36,31.6,-8,DeMar DeRozan
4,2019-12-23,30-138,SAS,AWAY,MEM,W (+30),1,28:59,10,11,...,3,10,3,0,2,3,26,30.0,31,DeMar DeRozan

In [40]:

SAS_2021_gamelog = []

for p in SAS_df_2021_players:
    player_log = get_game_logs(str(p), SEASON_2021_START, SEASON_2021_END, playoffs = False)
    player_log['Player'] = p
    
    SAS_2021_gamelog.append(player_log)
SAS_2021_gamelog = pd.concat(SAS_2021_gamelog)    
SAS_2021_gamelogs = SAS_2021_gamelog.copy()
SAS_2021_gamelogs['GAME_SCORE'] = SAS_2021_gamelogs['GAME_SCORE'].astype(float)
SAS_2021_games = SAS_2021_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
SAS_2021_games_csv = SAS_2021_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2021_games.csv', index=False)
SAS_2021_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2021_games.csv')
SAS_2021_games_proc.head()

You searched for "LaMarcus Aldridge"
1 result found.
LaMarcus Aldridge
Results for LaMarcus Aldridge:

You searched for "Keita Bates-Diop"
1 result found.
Keita Bates-Diop
Results for Keita Bates-Diop:

You searched for "DeMar DeRozan"
1 result found.
DeMar DeRozan
Results for DeMar DeRozan:

You searched for "Gorgui Dieng"
1 result found.
Gorgui Dieng
Results for Gorgui Dieng:

You searched for "Drew Eubanks"
1 result found.
Drew Eubanks
Results for Drew Eubanks:

You searched for "Rudy Gay"
4 results found.
0: Rudy Gay
1: Todd Day
2: Ed Gray
3: Gary Gray
Pick one: 0
Results for Rudy Gay:

You searched for "Keldon Johnson"
12 results found.
0: Keldon Johnson
1: Ken Johnson
2: Ken Johnson
3: Kevin Johnson
4: Armon Johnson
5: Clemon Johnson
6: Ed Johnson
7: Eddie Johnson
8: Eddie Johnson
9: Ervin Johnson
10: Linton Johnson
11: Ron Johnson
Pick one: 0
Results for Keldon Johnson:

You searched for "Tre Jones"
25 results found.
0: Tre Jones
1: Fred Jones
2: Earl Jones
3: Jake Jones
4: Mark Jones
5: Mark Jones
6: Sam Jones
7: Steve Jones
8: Tyus Jones
9: Wil Jones
10: Tim James
11: Bill Jones
12: Eddie Jones
13: Hutch Jones
14: Jalen Jones
15: James Jones
16: K.C. Jones
17: Larry Jones
18: Nick Jones
19: Ozell Jones
20: Perry Jones
21: Rich Jones
22: Wali Jones
23: Trey Lyles
24: Trae Young
Pick one: 0
Results for Tre Jones:

You searched for "Trey Lyles"
5 results found.
0: Trey Lyles
1: Tre Jones
2: Trey Gilder
3: Terry Tyler
4: Trey Burke
Pick one: 0
Results for Trey Lyles:

You searched for "Patty Mills"
3 results found.
0: Patty Mills
1: Terry Mills
2: Jay Miller
Pick one: 0
Results for Patty Mills:

You searched for "Dejounte Murray"
1 result found.
Dejounte Murray
Results for Dejounte Murray:

You searched for "Jakob Poeltl"
1 result found.
Jakob Poeltl
Results for Jakob Poeltl:

You searched for "Cameron Reynolds"
1 result found.
Cameron Reynolds
Results for Cameron Reynolds:

You searched for "Luka Šamanić"
1 result found.
Luka Samanic
Results for Luka Samanic:

You searched for "Devin Vassell"
1 result found.
Devin Vassell
Results for Devin Vassell:

You searched for "Lonnie Walker"
3 results found.
0: Lonnie Walker
1: Horace Walker
2: Kenny Walker
Pick one: 0
Results for Lonnie Walker:

You searched for "Quinndary Weatherspoon"
1 result found.
Quinndary Weatherspoon
Results for Quinndary Weatherspoon:

You searched for "Derrick White"
6 results found.
0: Derrick White
1: Eric White
2: Derrick Dial
3: Derrick Rose
4: Derrick Walton
5: Derrick Brown
Pick one: 0
Results for Derrick White:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2021-01-09,31-155,SAS,AWAY,MIN,W (+3),1,43:49,13,23,...,5,5,0,0,1,1,38,30.7,4,DeMar DeRozan
1,2020-12-23,31-138,SAS,AWAY,MEM,W (+12),1,34:53,7,14,...,9,9,1,1,1,1,28,30.7,-1,DeMar DeRozan
2,2021-04-26,31-262,SAS,AWAY,WAS,W (+3),1,40:57,12,23,...,2,10,0,0,2,3,37,30.5,5,DeMar DeRozan
3,2021-02-27,31-204,SAS,HOME,NOP,W (+3),1,38:22,11,18,...,1,11,2,0,1,4,32,30.4,3,DeMar DeRozan
4,2021-01-29,31-175,SAS,HOME,DEN,W (+10),1,36:11,11,14,...,1,10,0,0,1,2,30,30.1,9,DeMar DeRozan

## combine all seasons

In [41]:
SAS_2000_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2000_games.csv')
SAS_2001_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2001_games.csv')
SAS_2002_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2002_games.csv')
SAS_2003_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2003_games.csv')
SAS_2004_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2004_games.csv')
SAS_2005_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2005_games.csv')
SAS_2006_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2006_games.csv')
SAS_2007_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2007_games.csv')
SAS_2008_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2008_games.csv')
SAS_2009_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2009_games.csv')
SAS_2010_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2010_games.csv')
SAS_2011_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2011_games.csv')
SAS_2012_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2012_games.csv')
SAS_2013_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2013_games.csv')
SAS_2014_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2014_games.csv')
SAS_2015_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2015_games.csv')
SAS_2016_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2016_games.csv')
SAS_2017_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2017_games.csv')
SAS_2018_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2018_games.csv')
SAS_2019_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2019_games.csv')
SAS_2020_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2020_games.csv')
SAS_2021_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/SAS/SAS_2021_games.csv')

In [42]:
SAS_season_dfs = [SAS_2000_games_io, SAS_2001_games_io, SAS_2002_games_io, SAS_2003_games_io, SAS_2004_games_io, SAS_2005_games_io,
                 SAS_2006_games_io, SAS_2007_games_io, SAS_2008_games_io, SAS_2009_games_io, SAS_2010_games_io, SAS_2011_games_io,
                 SAS_2012_games_io, SAS_2013_games_io, SAS_2014_games_io, SAS_2015_games_io, SAS_2016_games_io, SAS_2017_games_io,
                 SAS_2018_games_io, SAS_2019_games_io, SAS_2020_games_io, SAS_2021_games_io]

In [43]:
SAS_all = pd.concat(SAS_season_dfs)
SAS_all_sorted = SAS_all.sort_values(by=['GAME_SCORE'], ascending=False)
SAS_all_sorted.head(25)

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2008-02-13,30-200,SAS,AWAY,CLE,W (+7),1,40:34,15,20,...,5,8,3,1,1,2,46,46.6,12,Manu Ginóbili
0,2019-01-10,33-175,SAS,HOME,OKC,W (+7),1,48:34,20,33,...,9,4,0,4,5,2,56,45.0,7,LaMarcus Aldridge
0,2003-03-04,26-313,SAS,HOME,PHO,L (-7),1,43:39,14,18,...,21,8,2,4,2,1,35,44.7,-6,Tim Duncan
0,2008-11-05,26-172,SAS,AWAY,MIN,W (+4),1,50:32,22,36,...,7,10,0,0,4,0,55,43.3,7,Tony Parker
0,2001-12-26,25-245,SAS,HOME,DAL,L (-3),1,50:21,19,28,...,11,4,0,3,6,5,53,42.8,-1,Tim Duncan
0,2005-01-21,27-177,SAS,AWAY,PHO,W (+5),1,43:52,16,22,...,5,6,1,0,3,4,48,41.1,16,Manu Ginóbili
1,2003-01-14,26-264,SAS,HOME,PHO,W (+8),1,50:50,16,25,...,16,9,1,4,2,4,38,39.8,8,Tim Duncan
0,1999-12-09,23-228,SAS,HOME,VAN,W (+8),1,47:33,15,22,...,14,4,2,1,3,2,42,39.7,9,Tim Duncan
1,2019-03-24,33-248,SAS,AWAY,BOS,W (+19),1,37:24,20,31,...,13,6,0,1,3,5,48,38.9,23,LaMarcus Aldridge
1,2008-02-21,30-208,SAS,AWAY,MIN,W (+1),1,37:55,13,18,...,3,4,1,0,2,2,44,38.9,0,Manu Ginóbili
1,2009-03-25,26-312,SAS,AWAY,ATL,W (+10),1,39:12,18,25,...,3,10,1,0,2,2,42,37.8,19,Tony Parker
0,2017-03-06,25-250,SAS,HOME,HOU,W (+2),1,39:00,12,18,...,6,5,1,2,1,1,39,37.5,4,Kawhi Leonard
1,2004-12-11,28-230,SAS,HOME,CLE,W (+19),1,37:09,13,15,...,7,5,1,4,0,2,34,37.3,17,Tim Duncan
0,2019-12-23,34-157,SAS,AWAY,MEM,W (+30),1,31:46,17,25,...,9,5,0,3,1,1,40,37.0,29,LaMarcus Aldridge
0,2006-11-19,30-208,SAS,AWAY,SAC,W (+9),1,30:47,13,17,...,14,3,2,1,2,2,35,36.5,19,Tim Duncan
0,2012-02-04,29-263,SAS,HOME,OKC,W (+11),1,39:24,16,29,...,3,9,2,1,0,2,42,36.4,20,Tony Parker
0,2004-01-14,27-264,SAS,HOME,MIN,L (-7),1,44:08,14,26,...,20,7,1,1,1,1,36,36.2,-10,Tim Duncan
2,2000-03-28,23-338,SAS,AWAY,POR,W (+4),1,47:07,13,21,...,15,6,1,3,3,3,36,35.7,9,Tim Duncan
1,2000-01-10,23-260,SAS,HOME,UTA,W (+7),1,45:31,16,28,...,14,2,0,1,3,2,46,35.7,6,Tim Duncan
1,2002-01-17,25-267,SAS,HOME,UTA,W (+4),1,44:14,9,17,...,10,3,0,5,0,3,35,35.3,8,Tim Duncan
1,2020-01-10,30-156,SAS,AWAY,MEM,L (-13),1,37:47,11,18,...,9,9,1,0,1,5,36,35.2,-1,DeMar DeRozan
2,2003-02-11,26-292,SAS,AWAY,POR,W (+5),1,46:24,13,21,...,15,7,1,5,4,2,36,35.2,6,Tim Duncan
0,2018-03-23,32-247,SAS,HOME,UTA,W (+4),1,41:05,19,28,...,9,2,1,3,4,3,45,35.0,9,LaMarcus Aldridge
2,2019-11-07,34-111,SAS,HOME,OKC,W (+9),1,34:14,19,23,...,6,4,2,1,3,2,39,34.8,18,LaMarcus Aldridge
3,2000-02-03,23-284,SAS,HOME,TOR,W (+17),1,39:47,11,22,...,17,7,3,1,2,2,32,34.3,23,Tim Duncan