In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime as dt
import scipy.stats as stats
from basketball_reference_scraper.players import get_stats, get_game_logs, get_player_headshot
from basketball_reference_scraper.teams import get_roster, get_team_stats, get_opp_stats, get_roster_stats,get_team_misc

In [2]:
# Constants
SEASON_2000_START = '1999-11-02'
SEASON_2000_END = '2000-04-19'

SEASON_2001_START = '2000-11-01'
SEASON_2001_END = '2001-04-18'

SEASON_2002_START = '2001-10-30'
SEASON_2002_END = '2002-04-17'

SEASON_2003_START = '2002-10-30'
SEASON_2003_END = '2003-04-16'

SEASON_2004_START = '2003-10-29'
SEASON_2004_END = '2004-04-12'

SEASON_2005_START = '2004-11-03'
SEASON_2005_END = '2005-04-20'

SEASON_2006_START = '2005-11-02'
SEASON_2006_END = '2006-04-19'

SEASON_2007_START = '2006-11-01'
SEASON_2007_END = '2007-04-18'

SEASON_2008_START = '2007-11-02'
SEASON_2008_END = '2008-04-16'

SEASON_2009_START = '2008-10-28'
SEASON_2009_END = '2009-04-15'

SEASON_2010_START = '2009-10-27'
SEASON_2010_END = '2010-04-14'

SEASON_2011_START = '2010-10-26'
SEASON_2011_END = '2011-04-13'

SEASON_2012_START = '2011-11-25'
SEASON_2012_END = '2012-04-26'

SEASON_2013_START = '2012-10-30'
SEASON_2013_END = '2013-04-17'

SEASON_2014_START = '2013-10-30'
SEASON_2014_END = '2014-04-16'

SEASON_2015_START = '2014-10-29'
SEASON_2015_END = '2015-04-15'

SEASON_2016_START = '2015-10-28' 
SEASON_2016_END = '2016-04-13'

SEASON_2017_START = '2016-10-25'
SEASON_2017_END = '2017-04-14'

SEASON_2018_START = '2017-10-17'
SEASON_2018_END = '2018-04-14'

SEASON_2019_START = '2018-10-18'
SEASON_2019_END = '2019-04-12'

SEASON_2020_START = '2019-10-22'
SEASON_2020_END = '2020-08-15'

SEASON_2021_START = '2020-12-22'
SEASON_2021_END = '2021-05-16'

In [3]:
season = 2000
appended_data_UTA = []

# UTA
while season <= 2021:
    df_UTA = get_roster('UTA', season)
    df_UTA['Season'] = season
    df_UTA['Team'] = 'UTA'
    appended_data_UTA.append(df_UTA)
    season = season + 1
appended_data_UTA = pd.concat(appended_data_UTA)

In [4]:
UTA_df_all = appended_data_UTA.copy()
UTA_df_all_csv = UTA_df_all.to_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_players_all.csv', index=False)
UTA_df_all_csv_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_players_all.csv')
UTA_df_all_csv_io.head()

,NUMBER,PLAYER,POS,HEIGHT,WEIGHT,BIRTH_DATE,NATIONALITY,EXPERIENCE,COLLEGE,Season,Team
0,23,Pete Chilcutt,PF,6-10,230,1968-09-14,US,8,UNC,2000,UTA
1,10,Howard Eisley,PG,6-2,177,1972-12-04,US,5,Boston College,2000,UTA
2,5,Armen Gilliam,PF,6-9,230,1964-05-28,US,12,UNLV,2000,UTA
3,14,Jeff Hornacek,SG,6-3,190,1963-05-03,US,13,Iowa State,2000,UTA
4,31,Adam Keefe,C,6-9,230,1970-02-22,US,7,Stanford,2000,UTA

In [5]:
UTA_df_2000 = UTA_df_all[UTA_df_all['Season'] == 2000]
UTA_df_2001 = UTA_df_all[UTA_df_all['Season'] == 2001]
UTA_df_2002 = UTA_df_all[UTA_df_all['Season'] == 2002]
UTA_df_2003 = UTA_df_all[UTA_df_all['Season'] == 2003]
UTA_df_2004 = UTA_df_all[UTA_df_all['Season'] == 2004]
UTA_df_2005 = UTA_df_all[UTA_df_all['Season'] == 2005]
UTA_df_2006 = UTA_df_all[UTA_df_all['Season'] == 2006]
UTA_df_2007 = UTA_df_all[UTA_df_all['Season'] == 2007]
UTA_df_2008 = UTA_df_all[UTA_df_all['Season'] == 2008]
UTA_df_2009 = UTA_df_all[UTA_df_all['Season'] == 2009]
UTA_df_2010 = UTA_df_all[UTA_df_all['Season'] == 2010]
UTA_df_2011 = UTA_df_all[UTA_df_all['Season'] == 2011]
UTA_df_2012 = UTA_df_all[UTA_df_all['Season'] == 2012]
UTA_df_2013 = UTA_df_all[UTA_df_all['Season'] == 2013]
UTA_df_2014 = UTA_df_all[UTA_df_all['Season'] == 2014]
UTA_df_2015 = UTA_df_all[UTA_df_all['Season'] == 2015]
UTA_df_2016 = UTA_df_all[UTA_df_all['Season'] == 2016]
UTA_df_2017 = UTA_df_all[UTA_df_all['Season'] == 2017]
UTA_df_2018 = UTA_df_all[UTA_df_all['Season'] == 2018]
UTA_df_2019 = UTA_df_all[UTA_df_all['Season'] == 2019]
UTA_df_2020 = UTA_df_all[UTA_df_all['Season'] == 2020]
UTA_df_2021 = UTA_df_all[UTA_df_all['Season'] == 2021]

In [6]:
# changing names
#UTA_df_2002.loc[UTA_df_2003.PLAYER == 'Nenê Hilário', 'PLAYER'] = 'Nene Hilario'
#UTA_df_2004.loc[UTA_df_2003.PLAYER == 'Nenê Hilário', 'PLAYER'] = 'Nene Hilario'

In [6]:
UTA_df_2000_players = UTA_df_2000['PLAYER'].to_list()
UTA_df_2001_players = UTA_df_2001['PLAYER'].to_list()
UTA_df_2002_players = UTA_df_2002['PLAYER'].to_list()
UTA_df_2003_players = UTA_df_2003['PLAYER'].to_list()
UTA_df_2004_players = UTA_df_2004['PLAYER'].to_list()
UTA_df_2005_players = UTA_df_2005['PLAYER'].to_list()

UTA_df_2006_players = UTA_df_2006['PLAYER'].to_list()
UTA_df_2007_players = UTA_df_2007['PLAYER'].to_list()
UTA_df_2008_players = UTA_df_2008['PLAYER'].to_list()
UTA_df_2009_players = UTA_df_2009['PLAYER'].to_list()
UTA_df_2010_players = UTA_df_2010['PLAYER'].to_list()
UTA_df_2011_players = UTA_df_2011['PLAYER'].to_list()

UTA_df_2012_players = UTA_df_2012['PLAYER'].to_list()
UTA_df_2013_players = UTA_df_2013['PLAYER'].to_list()
UTA_df_2014_players = UTA_df_2014['PLAYER'].to_list()
UTA_df_2015_players = UTA_df_2015['PLAYER'].to_list()
UTA_df_2016_players = UTA_df_2016['PLAYER'].to_list()
UTA_df_2017_players = UTA_df_2017['PLAYER'].to_list()

UTA_df_2018_players = UTA_df_2018['PLAYER'].to_list()
UTA_df_2019_players = UTA_df_2019['PLAYER'].to_list()
UTA_df_2020_players = UTA_df_2020['PLAYER'].to_list()
UTA_df_2021_players = UTA_df_2021['PLAYER'].to_list()

## players to drop

In [52]:
#UTA_df_2001_players.remove("Mamadou N'Diaye")
#UTA_df_2004_players.remove("Sasha Pavlović")
#UTA_df_2004_players.remove("Mo Williams")
#UTA_df_2007_players.remove("Dee Brown")
#UTA_df_2013_players.remove("Mo Williams")
#UTA_df_2015_players.remove("Chris Johnson")
#UTA_df_2016_players.remove("Chris Johnson")
#UTA_df_2016_players.remove("J.J. O'Brien")
#UTA_df_2018_players.remove("Royce O'Neale")
#UTA_df_2019_players.remove("Royce O'Neale")
#UTA_df_2020_players.remove("Royce O'Neale")
UTA_df_2021_players.remove("Royce O'Neale")

In [43]:

UTA_2000_gamelog = []


for p in UTA_df_2000_players:
    player_log = get_game_logs(str(p), SEASON_2000_START, SEASON_2000_END, playoffs = False)
    player_log['Player'] = p
    
    UTA_2000_gamelog.append(player_log)
UTA_2000_gamelog = pd.concat(UTA_2000_gamelog)    
UTA_2000_gamelogs = UTA_2000_gamelog.copy()
UTA_2000_gamelogs['GAME_SCORE'] = UTA_2000_gamelogs['GAME_SCORE'].astype(float)
UTA_2000_games = UTA_2000_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
UTA_2000_games_csv = UTA_2000_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2000_games.csv', index=False)
UTA_2000_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2000_games.csv')
UTA_2000_games_proc.head()

You searched for "Pete Chilcutt"
1 result found.
Pete Chilcutt
Results for Pete Chilcutt:

You searched for "Howard Eisley"
1 result found.
Howard Eisley
Results for Howard Eisley:

You searched for "Armen Gilliam"
5 results found.
0: Armen Gilliam
1: Herm Gilliam
2: Darren Tillis
3: Art Williams
4: Ron Williams
Pick one: 0
Results for Armen Gilliam:

You searched for "Jeff Hornacek"
1 result found.
Jeff Hornacek
Results for Jeff Hornacek:

You searched for "Adam Keefe"
1 result found.
Adam Keefe
Results for Adam Keefe:

You searched for "Quincy Lewis"
2 results found.
0: Quincy Lewis
1: Quincy Miller
Pick one: 0
Results for Quincy Lewis:

You searched for "Karl Malone"
9 results found.
0: Karl Malone
1: Karim Mane
2: Daryl Macon
3: Mark Macon
4: Jeff Malone
5: Matt Maloney
6: Earl Barron
7: Earl Jones
8: Earl Watson
Pick one: 0
Results for Karl Malone:

You searched for "Greg Ostertag"
2 results found.
0: Greg Ostertag
1: Greg Foster
Pick one: 0
Results for Greg Ostertag:

You searched for "Scott Padgett"
1 result found.
Scott Padgett
Results for Scott Padgett:

You searched for "Olden Polynice"
1 result found.
Olden Polynice
Results for Olden Polynice:

You searched for "Bryon Russell"
4 results found.
0: Bryon Russell
1: Bill Russell
2: Frank Russell
3: Rubin Russell
Pick one: 0
Results for Bryon Russell:

You searched for "John Stockton"
3 results found.
0: John Stockton
1: John Dickson
2: John Morton
Pick one: 0
Results for John Stockton:

You searched for "Jacque Vaughn"
1 result found.
Jacque Vaughn
Results for Jacque Vaughn:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2000-02-28,36-219,UTA,HOME,NJN,W (+5),1,44:04,13,22,...,12,9,0,2,3,4,35,33.1,7,Karl Malone
1,1999-11-29,36-128,UTA,HOME,GSW,W (+16),1,30:46,12,14,...,8,10,2,1,2,1,27,32.1,31,Karl Malone
2,2000-01-05,36-165,UTA,HOME,CHH,W (+22),1,29:43,12,15,...,8,7,0,2,1,3,30,31.2,11,Karl Malone
3,2000-04-16,36-267,UTA,AWAY,PHO,W (+14),1,37:51,11,24,...,15,4,3,2,1,0,32,30.7,23,Karl Malone
4,2000-03-17,36-237,UTA,AWAY,PHI,L (-2),1,37:23,11,17,...,13,7,1,0,1,3,31,30.3,0,Karl Malone

In [8]:
# removed Mamadou N'Diaye
UTA_2001_gamelog = []


for p in UTA_df_2001_players:
    player_log = get_game_logs(str(p), SEASON_2001_START, SEASON_2001_END, playoffs = False)
    player_log['Player'] = p
    
    UTA_2001_gamelog.append(player_log)
UTA_2001_gamelog = pd.concat(UTA_2001_gamelog)    
UTA_2001_gamelogs = UTA_2001_gamelog.copy()
UTA_2001_gamelogs['GAME_SCORE'] = UTA_2001_gamelogs['GAME_SCORE'].astype(float)
UTA_2001_games = UTA_2001_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
UTA_2001_games_csv = UTA_2001_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2001_games.csv', index=False)
UTA_2001_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2001_games.csv')
UTA_2001_games_proc.head()

You searched for "David Benoit"
3 results found.
0: David Benoit
1: David Noel
2: David West
Pick one: 0
Results for David Benoit:

You searched for "John Crotty"
8 results found.
0: John Crotty
1: John Brown
2: John Chaney
3: John Coker
4: John Roche
5: John Morton
6: John Stroud
7: Johan Petro
Pick one: 0
Results for John Crotty:

You searched for "Quincy Lewis"
2 results found.
0: Quincy Lewis
1: Quincy Miller
Pick one: 0
Results for Quincy Lewis:

You searched for "Karl Malone"
9 results found.
0: Karl Malone
1: Karim Mane
2: Daryl Macon
3: Mark Macon
4: Jeff Malone
5: Matt Maloney
6: Earl Barron
7: Earl Jones
8: Earl Watson
Pick one: 0
Results for Karl Malone:

You searched for "Danny Manning"
3 results found.
0: Danny Manning
1: Danny Ainge
2: Guy Manning
Pick one: 0
Results for Danny Manning:

You searched for "Donyell Marshall"
3 results found.
0: Donyell Marshall
1: Donny Marshall
2: Kendall Marshall
Pick one: 0
Results for Donyell Marshall:

You searched for "Greg Ostertag"
2 results found.
0: Greg Ostertag
1: Greg Foster
Pick one: 0
Results for Greg Ostertag:

You searched for "Scott Padgett"
1 result found.
Scott Padgett
Results for Scott Padgett:

You searched for "Olden Polynice"
1 result found.
Olden Polynice
Results for Olden Polynice:

You searched for "Bryon Russell"
4 results found.
0: Bryon Russell
1: Bill Russell
2: Frank Russell
3: Rubin Russell
Pick one: 0
Results for Bryon Russell:

You searched for "John Starks"
9 results found.
0: John Starks
1: John Shasky
2: John Barr
3: John Edwards
4: John Garris
5: John Hargis
6: John Stroud
7: John Trapp
8: John Kuester
Pick one: 0
Results for John Starks:

You searched for "DeShawn Stevenson"
1 result found.
DeShawn Stevenson
Results for DeShawn Stevenson:

You searched for "John Stockton"
3 results found.
0: John Stockton
1: John Dickson
2: John Morton
Pick one: 0
Results for John Stockton:

You searched for "Jacque Vaughn"
1 result found.
Jacque Vaughn
Results for Jacque Vaughn:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2000-12-20,37-149,UTA,AWAY,PHI,W (+2),1,43:11,13,18,...,13,3,2,4,3,2,41,39.0,1,Karl Malone
1,2001-02-18,27-276,UTA,AWAY,SAC,W (+4),1,40:07,10,17,...,14,1,2,2,2,3,31,31.4,9,Donyell Marshall
2,2001-03-18,37-237,UTA,AWAY,LAC,W (+15),1,33:36,13,18,...,5,5,1,0,2,3,34,29.8,20,Karl Malone
3,2001-02-23,37-214,UTA,AWAY,SEA,W (+12),1,36:29,12,22,...,10,5,3,0,1,4,33,29.7,10,Karl Malone
4,2000-12-13,37-142,UTA,HOME,MIL,L (-9),1,37:38,10,18,...,8,4,1,0,2,5,35,29.4,-2,Karl Malone

In [9]:
# removed Mamadou N'Diaye
UTA_2002_gamelog = []


for p in UTA_df_2002_players:
    player_log = get_game_logs(str(p), SEASON_2002_START, SEASON_2002_END, playoffs = False)
    player_log['Player'] = p
    
    UTA_2002_gamelog.append(player_log)
UTA_2002_gamelog = pd.concat(UTA_2002_gamelog)    
UTA_2002_gamelogs = UTA_2002_gamelog.copy()
UTA_2002_gamelogs['GAME_SCORE'] = UTA_2002_gamelogs['GAME_SCORE'].astype(float)
UTA_2002_games = UTA_2002_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
UTA_2002_games_csv = UTA_2002_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2002_games.csv', index=False)
UTA_2002_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2002_games.csv')
UTA_2002_games_proc.head()

You searched for "John Amaechi"
6 results found.
0: John Amaechi
1: John Janisch
2: John Lambert
3: John Mandic
4: John Wallace
5: John Shumate
Pick one: 0
Results for John Amaechi:

You searched for "Jarron Collins"
10 results found.
0: Jarron Collins
1: Jason Collins
2: Sherron Collins
3: Jason Collier
4: Art Collins
5: Don Collins
6: James Collins
7: John Collins
8: Mardy Collins
9: Darren Collison
Pick one: 0
Results for Jarron Collins:

You searched for "John Crotty"
8 results found.
0: John Crotty
1: John Brown
2: John Chaney
3: John Coker
4: John Roche
5: John Morton
6: John Stroud
7: Johan Petro
Pick one: 0
Results for John Crotty:

You searched for "Andrei Kirilenko"
1 result found.
Andrei Kirilenko
Results for Andrei Kirilenko:

You searched for "Rusty LaRue"
1 result found.
Rusty LaRue
Results for Rusty LaRue:

You searched for "Quincy Lewis"
2 results found.
0: Quincy Lewis
1: Quincy Miller
Pick one: 0
Results for Quincy Lewis:

You searched for "Karl Malone"
9 results found.
0: Karl Malone
1: Karim Mane
2: Daryl Macon
3: Mark Macon
4: Jeff Malone
5: Matt Maloney
6: Earl Barron
7: Earl Jones
8: Earl Watson
Pick one: 0
Results for Karl Malone:

You searched for "Donyell Marshall"
3 results found.
0: Donyell Marshall
1: Donny Marshall
2: Kendall Marshall
Pick one: 0
Results for Donyell Marshall:

You searched for "Greg Ostertag"
2 results found.
0: Greg Ostertag
1: Greg Foster
Pick one: 0
Results for Greg Ostertag:

You searched for "Scott Padgett"
1 result found.
Scott Padgett
Results for Scott Padgett:

You searched for "Bryon Russell"
4 results found.
0: Bryon Russell
1: Bill Russell
2: Frank Russell
3: Rubin Russell
Pick one: 0
Results for Bryon Russell:

You searched for "John Starks"
9 results found.
0: John Starks
1: John Shasky
2: John Barr
3: John Edwards
4: John Garris
5: John Hargis
6: John Stroud
7: John Trapp
8: John Kuester
Pick one: 0
Results for John Starks:

You searched for "DeShawn Stevenson"
1 result found.
DeShawn Stevenson
Results for DeShawn Stevenson:

You searched for "John Stockton"
3 results found.
0: John Stockton
1: John Dickson
2: John Morton
Pick one: 0
Results for John Stockton:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2001-12-08,38-137,UTA,HOME,GSW,W (+10),1,40:07,14,27,...,7,5,1,4,1,5,39,32.9,16,Karl Malone
1,2002-04-13,40-018,UTA,AWAY,GSW,W (+8),1,31:57,7,11,...,2,9,4,0,0,1,26,32.0,13,John Stockton
2,2002-02-12,38-203,UTA,AWAY,IND,W (+16),1,41:09,11,23,...,14,6,5,2,5,2,34,30.5,18,Karl Malone
3,2002-01-17,20-333,UTA,AWAY,SAS,L (-4),1,39:08,8,13,...,8,3,6,1,2,0,24,28.1,4,Andrei Kirilenko
4,2002-01-17,38-177,UTA,AWAY,SAS,L (-4),1,44:49,11,17,...,14,6,1,0,3,3,30,27.7,-1,Karl Malone

In [10]:
# removed Mamadou N'Diaye
    
UTA_2003_gamelog = []



for p in UTA_df_2003_players:
    player_log = get_game_logs(str(p), SEASON_2003_START, SEASON_2003_END, playoffs = False)
    player_log['Player'] = p
    
    UTA_2003_gamelog.append(player_log)
UTA_2003_gamelog = pd.concat(UTA_2003_gamelog)    
UTA_2003_gamelogs = UTA_2003_gamelog.copy()
UTA_2003_gamelogs['GAME_SCORE'] = UTA_2003_gamelogs['GAME_SCORE'].astype(float)
UTA_2003_games = UTA_2003_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
UTA_2003_games_csv = UTA_2003_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2003_games.csv', index=False)
UTA_2003_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2003_games.csv')
UTA_2003_games_proc.head()

You searched for "John Amaechi"
6 results found.
0: John Amaechi
1: John Janisch
2: John Lambert
3: John Mandic
4: John Wallace
5: John Shumate
Pick one: 0
Results for John Amaechi:

You searched for "Carlos Arroyo"
2 results found.
0: Carlos Arroyo
1: Carlos Terry
Pick one: 0
Results for Carlos Arroyo:

You searched for "Calbert Cheaney"
1 result found.
Calbert Cheaney
Results for Calbert Cheaney:

You searched for "Jarron Collins"
10 results found.
0: Jarron Collins
1: Jason Collins
2: Sherron Collins
3: Jason Collier
4: Art Collins
5: Don Collins
6: James Collins
7: John Collins
8: Mardy Collins
9: Darren Collison
Pick one: 0
Results for Jarron Collins:

You searched for "Matt Harpring"
1 result found.
Matt Harpring
Results for Matt Harpring:

You searched for "Mark Jackson"
25 results found.
0: Mark Jackson
1: Marc Jackson
2: Aaron Jackson
3: Al Jackson
4: Frank Jackson
5: Jaren Jackson
6: Jaren Jackson
7: Mike Jackson
8: Myron Jackson
9: Mark Macon
10: Mark Eaton
11: Greg Jackson
12: Jim Jackson
13: Josh Jackson
14: Luke Jackson
15: Luke Jackson
16: Mervin Jackson
17: Phil Jackson
18: Ralph Jackson
19: Tony Jackson
20: Tony Jackson
21: Tracy Jackson
22: Mark Madsen
23: Mark Jones
24: Mark Jones
Pick one: 0
Results for Mark Jackson:

You searched for "Andrei Kirilenko"
1 result found.
Andrei Kirilenko
Results for Andrei Kirilenko:

You searched for "Karl Malone"
9 results found.
0: Karl Malone
1: Karim Mane
2: Daryl Macon
3: Mark Macon
4: Jeff Malone
5: Matt Maloney
6: Earl Barron
7: Earl Jones
8: Earl Watson
Pick one: 0
Results for Karl Malone:

You searched for "Tony Massenburg"
1 result found.
Tony Massenburg
Results for Tony Massenburg:

You searched for "Greg Ostertag"
2 results found.
0: Greg Ostertag
1: Greg Foster
Pick one: 0
Results for Greg Ostertag:

You searched for "Scott Padgett"
1 result found.
Scott Padgett
Results for Scott Padgett:

You searched for "DeShawn Stevenson"
1 result found.
DeShawn Stevenson
Results for DeShawn Stevenson:

You searched for "John Stockton"
3 results found.
0: John Stockton
1: John Dickson
2: John Morton
Pick one: 0
Results for John Stockton:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2003-03-12,39-231,UTA,AWAY,ORL,W (+3),1,42:08,12,19,...,9,7,4,0,1,2,40,38.9,2,Karl Malone
1,2003-02-05,39-196,UTA,HOME,MEM,W (+21),1,39:03,14,21,...,6,8,4,2,2,4,31,31.9,23,Karl Malone
2,2002-11-08,39-107,UTA,HOME,ATL,W (+13),1,38:28,10,15,...,11,7,3,1,1,4,27,30.6,22,Karl Malone
3,2003-01-04,39-164,UTA,AWAY,MIN,W (+8),1,38:05,11,20,...,9,4,2,0,1,1,33,29.9,8,Karl Malone
4,2003-02-11,39-202,UTA,AWAY,HOU,W (+2),1,44:49,13,23,...,5,9,3,0,2,3,33,29.7,1,Karl Malone

In [15]:


UTA_2004_gamelog = []



for p in UTA_df_2004_players:
    player_log = get_game_logs(str(p), SEASON_2004_START, SEASON_2004_END, playoffs = False)
    player_log['Player'] = p
    
    UTA_2004_gamelog.append(player_log)
UTA_2004_gamelog = pd.concat(UTA_2004_gamelog)    
UTA_2004_gamelogs = UTA_2004_gamelog.copy()
UTA_2004_gamelogs['GAME_SCORE'] = UTA_2004_gamelogs['GAME_SCORE'].astype(float)
UTA_2004_games = UTA_2004_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
UTA_2004_games_csv = UTA_2004_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2004_games.csv', index=False)
UTA_2004_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2004_games.csv')
UTA_2004_games_proc.head()

You searched for "Carlos Arroyo"
2 results found.
0: Carlos Arroyo
1: Carlos Terry
Pick one: 0
Results for Carlos Arroyo:

You searched for "Raja Bell"
2 results found.
0: Raja Bell
1: Troy Bell
Pick one: 0
Results for Raja Bell:

You searched for "Curtis Borchardt"
1 result found.
Curtis Borchardt
Results for Curtis Borchardt:

You searched for "Keon Clark"
5 results found.
0: Keon Clark
1: Ian Clark
2: Kenny Carr
3: Earl Clark
4: Gary Clark
Pick one: 0
Results for Keon Clark:

You searched for "Jarron Collins"
10 results found.
0: Jarron Collins
1: Jason Collins
2: Sherron Collins
3: Jason Collier
4: Art Collins
5: Don Collins
6: James Collins
7: John Collins
8: Mardy Collins
9: Darren Collison
Pick one: 0
Results for Jarron Collins:

You searched for "Gordan Giriček"
1 result found.
Gordan Giricek
Results for Gordan Giricek:

You searched for "Paul Grant"
20 results found.
0: Paul Grant
1: Paul Graham
2: Bud Grant
3: Gary Grant
4: Paul Reed
5: Paul Gordon
6: Greg Grant
7: Josh Grant
8: Paul Long
9: Paul Scranton
10: Paul Eboua
11: Paul Arizin
12: Carl Braun
13: Pau Gasol
14: Paul George
15: Paul Griffin
16: Paul Hogue
17: Paul Noel
18: Paul Nolen
19: Paul Silas
Pick one: 0
Results for Paul Grant:

You searched for "Tom Gugliotta"
1 result found.
Tom Gugliotta
Results for Tom Gugliotta:

You searched for "Ben Handlogten"
1 result found.
Ben Handlogten
Results for Ben Handlogten:

You searched for "Matt Harpring"
1 result found.
Matt Harpring
Results for Matt Harpring:

You searched for "Andrei Kirilenko"
1 result found.
Andrei Kirilenko
Results for Andrei Kirilenko:

You searched for "Raül López"
9 results found.
0: Raul Lopez
1: Paul Long
2: Brook Lopez
3: Robin Lopez
4: Paul Noel
5: Paul Nolen
6: Paul Cloyd
7: Paul Hogue
8: Raul Neto
Pick one: 0
Results for Raul Lopez:

You searched for "Mikki Moore"
2 results found.
0: Mikki Moore
1: Jackie Moore
Pick one: 0
Results for Mikki Moore:

You searched for "Greg Ostertag"
2 results found.
0: Greg Ostertag
1: Greg Foster
Pick one: 0
Results for Greg Ostertag:

You searched for "Michael Ruffin"
1 result found.
Michael Ruffin
Results for Michael Ruffin:

You searched for "DeShawn Stevenson"
1 result found.
DeShawn Stevenson
Results for DeShawn Stevenson:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2003-12-14,22-299,UTA,AWAY,PHI,W (+8),1,44:31,9,12,...,14,3,4,4,5,2,30,32.9,16,Andrei Kirilenko
1,2004-01-15,22-331,UTA,HOME,MIA,W (+12),1,43:05,9,18,...,12,4,3,5,1,3,26,28.9,18,Andrei Kirilenko
2,2003-12-22,22-307,UTA,AWAY,CHI,W (+12),1,36:41,9,13,...,16,3,1,2,2,4,26,28.6,16,Andrei Kirilenko
3,2003-11-14,24-107,UTA,AWAY,MIN,W (+8),1,39:02,11,16,...,6,4,3,0,2,3,30,27.2,14,Carlos Arroyo
4,2003-12-03,22-288,UTA,AWAY,HOU,L (-6),1,46:08,6,11,...,5,7,8,5,3,4,19,26.6,7,Andrei Kirilenko

In [16]:

UTA_2005_gamelog = []



for p in UTA_df_2005_players:
    player_log = get_game_logs(str(p), SEASON_2005_START, SEASON_2005_END, playoffs = False)
    player_log['Player'] = p
    
    UTA_2005_gamelog.append(player_log)
UTA_2005_gamelog = pd.concat(UTA_2005_gamelog)    
UTA_2005_gamelogs = UTA_2005_gamelog.copy()
UTA_2005_gamelogs['GAME_SCORE'] = UTA_2005_gamelogs['GAME_SCORE'].astype(float)
UTA_2005_games = UTA_2005_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
UTA_2005_games_csv = UTA_2005_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2005_games.csv', index=False)
UTA_2005_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2005_games.csv')
UTA_2005_games_proc.head()

You searched for "Carlos Arroyo"
2 results found.
0: Carlos Arroyo
1: Carlos Terry
Pick one: 0
Results for Carlos Arroyo:

You searched for "Raja Bell"
2 results found.
0: Raja Bell
1: Troy Bell
Pick one: 0
Results for Raja Bell:

You searched for "Carlos Boozer"
5 results found.
0: Carlos Boozer
1: Carlos Rogers
2: Charles Cooke
3: Carlos Arroyo
4: Carlos Terry
Pick one: 0
Results for Carlos Boozer:

You searched for "Curtis Borchardt"
1 result found.
Curtis Borchardt
Results for Curtis Borchardt:

You searched for "Jarron Collins"
10 results found.
0: Jarron Collins
1: Jason Collins
2: Sherron Collins
3: Jason Collier
4: Art Collins
5: Don Collins
6: James Collins
7: John Collins
8: Mardy Collins
9: Darren Collison
Pick one: 0
Results for Jarron Collins:

You searched for "Howard Eisley"
1 result found.
Howard Eisley
Results for Howard Eisley:

You searched for "Gordan Giriček"
1 result found.
Gordan Giricek
Results for Gordan Giricek:

You searched for "Ben Handlogten"
1 result found.
Ben Handlogten
Results for Ben Handlogten:

You searched for "Matt Harpring"
1 result found.
Matt Harpring
Results for Matt Harpring:

You searched for "Kris Humphries"
2 results found.
0: Kris Humphries
1: Jay Humphries
Pick one: 0
Results for Kris Humphries:

You searched for "Andrei Kirilenko"
1 result found.
Andrei Kirilenko
Results for Andrei Kirilenko:

You searched for "Randy Livingston"
2 results found.
0: Randy Livingston
1: Ron Livingstone
Pick one: 0
Results for Randy Livingston:

You searched for "Raül López"
9 results found.
0: Raul Lopez
1: Paul Long
2: Brook Lopez
3: Robin Lopez
4: Paul Noel
5: Paul Nolen
6: Paul Cloyd
7: Paul Hogue
8: Raul Neto
Pick one: 0
Results for Raul Lopez:

You searched for "Keith McLeod"
4 results found.
0: Keith McLeod
1: Keith McCord
2: Keith Closs
3: Keith Lee
Pick one: 0
Results for Keith McLeod:

You searched for "Mehmet Okur"
1 result found.
Mehmet Okur
Results for Mehmet Okur:

You searched for "Aleksandar Radojević"
2 results found.
0: Aleksandar Radojevic
1: Aleksandar Dordevic
Pick one: 0
Results for Aleksandar Radojevic:

You searched for "Kirk Snyder"
4 results found.
0: Kirk Snyder
1: Dick Snyder
2: Kirk Penney
3: Kirk Haston
Pick one: 0
Results for Kirk Snyder:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2004-12-01,23-011,UTA,AWAY,SEA,L (-10),1,48:01,15,21,...,6,3,1,0,0,1,36,33.0,-16,Carlos Boozer
1,2005-03-19,24-029,UTA,AWAY,WAS,L (-1),1,43:09,7,12,...,7,6,3,5,3,2,28,30.2,1,Andrei Kirilenko
2,2005-03-22,25-300,UTA,HOME,LAL,W (+8),1,39:06,7,8,...,16,5,0,0,3,1,27,29.5,10,Mehmet Okur
3,2004-11-06,22-352,UTA,AWAY,DEN,W (+24),1,33:47,13,19,...,17,3,0,0,1,3,30,28.9,23,Carlos Boozer
4,2004-11-16,22-362,UTA,AWAY,CHA,W (+2),1,38:17,14,19,...,13,3,1,0,4,5,34,28.9,14,Carlos Boozer

In [17]:

UTA_2006_gamelog = []

for p in UTA_df_2006_players:
    player_log = get_game_logs(str(p), SEASON_2006_START, SEASON_2006_END, playoffs = False)
    player_log['Player'] = p
    
    UTA_2006_gamelog.append(player_log)
UTA_2006_gamelog = pd.concat(UTA_2006_gamelog)    
UTA_2006_gamelogs = UTA_2006_gamelog.copy()
UTA_2006_gamelogs['GAME_SCORE'] = UTA_2006_gamelogs['GAME_SCORE'].astype(float)
UTA_2006_games = UTA_2006_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
UTA_2006_games_csv = UTA_2006_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2006_games.csv', index=False)
UTA_2006_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2006_games.csv')
UTA_2006_games_proc.head()

You searched for "Carlos Boozer"
5 results found.
0: Carlos Boozer
1: Carlos Rogers
2: Charles Cooke
3: Carlos Arroyo
4: Carlos Terry
Pick one: 0
Results for Carlos Boozer:

You searched for "Devin Brown"
15 results found.
0: Devin Brown
1: Dee Brown
2: Dee Brown
3: Leon Brown
4: Lewis Brown
5: Devin Green
6: Devin Booker
7: Kevin Brooks
8: Damone Brown
9: Derrick Brown
10: John Brown
11: Myron Brown
12: Stan Brown
13: Devin Gray
14: Jim Browne
Pick one: 0
Results for Devin Brown:

You searched for "Jarron Collins"
10 results found.
0: Jarron Collins
1: Jason Collins
2: Sherron Collins
3: Jason Collier
4: Art Collins
5: Don Collins
6: James Collins
7: John Collins
8: Mardy Collins
9: Darren Collison
Pick one: 0
Results for Jarron Collins:

You searched for "Gordan Giriček"
1 result found.
Gordan Giricek
Results for Gordan Giricek:

You searched for "Matt Harpring"
1 result found.
Matt Harpring
Results for Matt Harpring:

You searched for "Kris Humphries"
2 results found.
0: Kris Humphries
1: Jay Humphries
Pick one: 0
Results for Kris Humphries:

You searched for "Andrei Kirilenko"
1 result found.
Andrei Kirilenko
Results for Andrei Kirilenko:

You searched for "Keith McLeod"
4 results found.
0: Keith McLeod
1: Keith McCord
2: Keith Closs
3: Keith Lee
Pick one: 0
Results for Keith McLeod:

You searched for "C.J. Miles"
7 results found.
0: C.J. Miles
1: C.J. Kupec
2: B.J. Tyler
3: C.J. Wilcox
4: T.J. Leaf
5: A.J. Price
6: D.J. White
Pick one: 0
Results for C.J. Miles:

You searched for "Mehmet Okur"
1 result found.
Mehmet Okur
Results for Mehmet Okur:

You searched for "Greg Ostertag"
2 results found.
0: Greg Ostertag
1: Greg Foster
Pick one: 0
Results for Greg Ostertag:

You searched for "Andre Owens"
9 results found.
0: Andre Owens
1: Eddie Owens
2: Andre Brown
3: Andre Dawkins
4: Larry Owens
5: Red Owens
6: Andre Moore
7: Andrew Toney
8: Andrew Gaze
Pick one: 0
Results for Andre Owens:

You searched for "Milt Palacio"
1 result found.
Milt Palacio
Results for Milt Palacio:

You searched for "Robert Whaley"
4 results found.
0: Robert Whaley
1: Robert Hahn
2: Robert Hite
3: Robert Horry
Pick one: 0
Results for Robert Whaley:

You searched for "Deron Williams"
33 results found.
0: Deron Williams
1: Aaron Williams
2: Ron Williams
3: Eric Williams
4: Herb Williams
5: Jason Williams
6: Jerome Williams
7: Kevin Williams
8: Rob Williams
9: Sean Williams
10: Troy Williams
11: Alan Williams
12: Alvin Williams
13: Art Williams
14: Bernie Williams
15: Bob Williams
16: Corey Williams
17: Derrick Williams
18: Duck Williams
19: Earl Williams
20: Frank Williams
21: Gene Williams
22: Grant Williams
23: Jayson Williams
24: John Williams
25: Jordan Williams
26: Kenny Williams
27: Lou Williams
28: Marvin Williams
29: Mo Williams
30: Pete Williams
31: Ray Williams
32: Ward Williams
Pick one: 0
Results for Deron Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2005-11-12,26-170,UTA,AWAY,CHI,L (-5),1,41:34,12,19,...,17,4,1,1,4,3,33,30.1,3,Mehmet Okur
1,2006-04-14,25-055,UTA,AWAY,NOK,W (+1),1,42:21,8,12,...,9,6,1,7,3,3,25,29.6,8,Andrei Kirilenko
2,2006-01-03,24-319,UTA,HOME,LAL,W (+10),1,41:45,5,7,...,8,9,6,7,1,3,14,28.5,14,Andrei Kirilenko
3,2006-04-08,25-049,UTA,HOME,POR,W (+17),1,42:46,7,12,...,9,5,1,7,3,0,24,28.3,17,Andrei Kirilenko
4,2006-01-17,26-236,UTA,HOME,TOR,W (+13),1,38:28,11,17,...,6,7,0,1,0,5,29,28.1,15,Mehmet Okur

In [21]:
# removed dee brown

UTA_2007_gamelog = []

for p in UTA_df_2007_players:
    player_log = get_game_logs(str(p), SEASON_2007_START, SEASON_2007_END, playoffs = False)
    player_log['Player'] = p
    
    UTA_2007_gamelog.append(player_log)
UTA_2007_gamelog = pd.concat(UTA_2007_gamelog)    
UTA_2007_gamelogs = UTA_2007_gamelog.copy()
UTA_2007_gamelogs['GAME_SCORE'] = UTA_2007_gamelogs['GAME_SCORE'].astype(float)
UTA_2007_games = UTA_2007_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
UTA_2007_games_csv = UTA_2007_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2007_games.csv', index=False)
UTA_2007_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2007_games.csv')
UTA_2007_games_proc.head()

You searched for "Lou Amundson"
2 results found.
0: Lou Amundson
1: Lou Hudson
Pick one: 0
Results for Lou Amundson:

You searched for "Rafael Araújo"
1 result found.
Rafael Araujo
Results for Rafael Araujo:

You searched for "Carlos Boozer"
5 results found.
0: Carlos Boozer
1: Carlos Rogers
2: Charles Cooke
3: Carlos Arroyo
4: Carlos Terry
Pick one: 0
Results for Carlos Boozer:

You searched for "Ronnie Brewer"
4 results found.
0: Ronnie Brewer
1: Ron Brewer
2: Ronnie Lester
3: Ronnie Price
Pick one: 0
Results for Ronnie Brewer:

You searched for "Jarron Collins"
10 results found.
0: Jarron Collins
1: Jason Collins
2: Sherron Collins
3: Jason Collier
4: Art Collins
5: Don Collins
6: James Collins
7: John Collins
8: Mardy Collins
9: Darren Collison
Pick one: 0
Results for Jarron Collins:

You searched for "Derek Fisher"
2 results found.
0: Derek Fisher
1: Derek Harper
Pick one: 0
Results for Derek Fisher:

You searched for "Gordan Giriček"
1 result found.
Gordan Giricek
Results for Gordan Giricek:

You searched for "Matt Harpring"
1 result found.
Matt Harpring
Results for Matt Harpring:

You searched for "Andrei Kirilenko"
1 result found.
Andrei Kirilenko
Results for Andrei Kirilenko:

You searched for "C.J. Miles"
7 results found.
0: C.J. Miles
1: C.J. Kupec
2: B.J. Tyler
3: C.J. Wilcox
4: T.J. Leaf
5: A.J. Price
6: D.J. White
Pick one: 0
Results for C.J. Miles:

You searched for "Paul Millsap"
2 results found.
0: Paul Millsap
1: Paul Silas
Pick one: 0
Results for Paul Millsap:

You searched for "Mehmet Okur"
1 result found.
Mehmet Okur
Results for Mehmet Okur:

You searched for "Roger Powell"
3 results found.
0: Roger Powell
1: Myles Powell
2: Josh Powell
Pick one: 0
Results for Roger Powell:

You searched for "Deron Williams"
33 results found.
0: Deron Williams
1: Aaron Williams
2: Ron Williams
3: Eric Williams
4: Herb Williams
5: Jason Williams
6: Jerome Williams
7: Kevin Williams
8: Rob Williams
9: Sean Williams
10: Troy Williams
11: Alan Williams
12: Alvin Williams
13: Art Williams
14: Bernie Williams
15: Bob Williams
16: Corey Williams
17: Derrick Williams
18: Duck Williams
19: Earl Williams
20: Frank Williams
21: Gene Williams
22: Grant Williams
23: Jayson Williams
24: John Williams
25: Jordan Williams
26: Kenny Williams
27: Lou Williams
28: Marvin Williams
29: Mo Williams
30: Pete Williams
31: Ray Williams
32: Ward Williams
Pick one: 0
Results for Deron Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2007-03-26,25-126,UTA,HOME,WAS,W (+6),1,36:32,15,21,...,16,2,0,0,3,5,41,34.3,4,Carlos Boozer
1,2006-11-11,22-138,UTA,AWAY,MIL,W (+2),1,43:26,9,16,...,3,15,5,0,2,4,27,32.2,2,Deron Williams
2,2007-01-15,27-234,UTA,AWAY,WAS,L (-3),1,40:22,13,22,...,9,2,0,1,0,3,38,31.8,-8,Mehmet Okur
3,2007-01-31,27-250,UTA,HOME,SAS,W (+4),1,37:57,10,14,...,11,2,1,0,0,2,31,31.7,-1,Mehmet Okur
4,2006-11-22,25-002,UTA,AWAY,SAC,W (+9),1,38:54,14,20,...,13,5,1,2,3,3,32,30.0,5,Carlos Boozer

In [22]:


UTA_2008_gamelog = []

for p in UTA_df_2008_players:
    player_log = get_game_logs(str(p), SEASON_2008_START, SEASON_2008_END, playoffs = False)
    player_log['Player'] = p
    
    UTA_2008_gamelog.append(player_log)
UTA_2008_gamelog = pd.concat(UTA_2008_gamelog)    
UTA_2008_gamelogs = UTA_2008_gamelog.copy()
UTA_2008_gamelogs['GAME_SCORE'] = UTA_2008_gamelogs['GAME_SCORE'].astype(float)
UTA_2008_games = UTA_2008_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
UTA_2008_games_csv = UTA_2008_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2008_games.csv', index=False)
UTA_2008_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2008_games.csv')
UTA_2008_games_proc.head()

You searched for "Morris Almond"
1 result found.
Morris Almond
Results for Morris Almond:

You searched for "Carlos Boozer"
5 results found.
0: Carlos Boozer
1: Carlos Rogers
2: Charles Cooke
3: Carlos Arroyo
4: Carlos Terry
Pick one: 0
Results for Carlos Boozer:

You searched for "Ronnie Brewer"
4 results found.
0: Ronnie Brewer
1: Ron Brewer
2: Ronnie Lester
3: Ronnie Price
Pick one: 0
Results for Ronnie Brewer:

You searched for "Jarron Collins"
10 results found.
0: Jarron Collins
1: Jason Collins
2: Sherron Collins
3: Jason Collier
4: Art Collins
5: Don Collins
6: James Collins
7: John Collins
8: Mardy Collins
9: Darren Collison
Pick one: 0
Results for Jarron Collins:

You searched for "Kyrylo Fesenko"
1 result found.
Kyrylo Fesenko
Results for Kyrylo Fesenko:

You searched for "Gordan Giriček"
1 result found.
Gordan Giricek
Results for Gordan Giricek:

You searched for "Matt Harpring"
1 result found.
Matt Harpring
Results for Matt Harpring:

You searched for "Jason Hart"
9 results found.
0: Jason Hart
1: Josh Hart
2: Jaxson Hayes
3: Jason Kidd
4: Jason Smith
5: Jason Terry
6: Jon Barry
7: Jay Carty
8: Jason Sasser
Pick one: 0
Results for Jason Hart:

You searched for "Andrei Kirilenko"
1 result found.
Andrei Kirilenko
Results for Andrei Kirilenko:

You searched for "Kyle Korver"
3 results found.
0: Kyle Korver
1: Kyle Weaver
2: Kyle Lowry
Pick one: 0
Results for Kyle Korver:

You searched for "C.J. Miles"
7 results found.
0: C.J. Miles
1: C.J. Kupec
2: B.J. Tyler
3: C.J. Wilcox
4: T.J. Leaf
5: A.J. Price
6: D.J. White
Pick one: 0
Results for C.J. Miles:

You searched for "Paul Millsap"
2 results found.
0: Paul Millsap
1: Paul Silas
Pick one: 0
Results for Paul Millsap:

You searched for "Mehmet Okur"
1 result found.
Mehmet Okur
Results for Mehmet Okur:

You searched for "Ronnie Price"
5 results found.
0: Ronnie Price
1: Donnie Boyce
2: Ronnie Brewer
3: Tony Price
4: Connie Rea
Pick one: 0
Results for Ronnie Price:

You searched for "Deron Williams"
33 results found.
0: Deron Williams
1: Aaron Williams
2: Ron Williams
3: Eric Williams
4: Herb Williams
5: Jason Williams
6: Jerome Williams
7: Kevin Williams
8: Rob Williams
9: Sean Williams
10: Troy Williams
11: Alan Williams
12: Alvin Williams
13: Art Williams
14: Bernie Williams
15: Bob Williams
16: Corey Williams
17: Derrick Williams
18: Duck Williams
19: Earl Williams
20: Frank Williams
21: Gene Williams
22: Grant Williams
23: Jayson Williams
24: John Williams
25: Jordan Williams
26: Kenny Williams
27: Lou Williams
28: Marvin Williams
29: Mo Williams
30: Pete Williams
31: Ray Williams
32: Ward Williams
Pick one: 0
Results for Deron Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2008-03-15,26-116,UTA,AWAY,NJN,L (-2),1,38:27,15,19,...,9,2,1,1,2,3,41,37.9,-8,Carlos Boozer
1,2007-12-08,23-165,UTA,AWAY,DAL,L (-8),1,34:29,13,20,...,3,7,2,0,3,3,41,35.8,-4,Deron Williams
2,2007-11-30,26-285,UTA,HOME,LAL,W (+24),1,40:39,5,14,...,11,11,6,4,0,3,20,33.2,26,Andrei Kirilenko
3,2008-01-14,23-202,UTA,HOME,MIL,W (+11),1,37:48,8,14,...,5,10,4,0,4,1,33,32.9,17,Deron Williams
4,2008-03-14,23-262,UTA,AWAY,BOS,W (+18),1,42:23,7,10,...,5,8,1,1,3,2,32,32.8,20,Deron Williams

In [23]:
# removed patrick o'bruyant 
UTA_2009_gamelog = []

for p in UTA_df_2009_players:
    player_log = get_game_logs(str(p), SEASON_2009_START, SEASON_2009_END, playoffs = False)
    player_log['Player'] = p
    
    UTA_2009_gamelog.append(player_log)
UTA_2009_gamelog = pd.concat(UTA_2009_gamelog)    
UTA_2009_gamelogs = UTA_2009_gamelog.copy()
UTA_2009_gamelogs['GAME_SCORE'] = UTA_2009_gamelogs['GAME_SCORE'].astype(float)
UTA_2009_games = UTA_2009_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
UTA_2009_games_csv = UTA_2009_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2009_games.csv', index=False)
UTA_2009_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2009_games.csv')
UTA_2009_games_proc.head()

You searched for "Morris Almond"
1 result found.
Morris Almond
Results for Morris Almond:

You searched for "Carlos Boozer"
5 results found.
0: Carlos Boozer
1: Carlos Rogers
2: Charles Cooke
3: Carlos Arroyo
4: Carlos Terry
Pick one: 0
Results for Carlos Boozer:

You searched for "Ronnie Brewer"
4 results found.
0: Ronnie Brewer
1: Ron Brewer
2: Ronnie Lester
3: Ronnie Price
Pick one: 0
Results for Ronnie Brewer:

You searched for "Jarron Collins"
10 results found.
0: Jarron Collins
1: Jason Collins
2: Sherron Collins
3: Jason Collier
4: Art Collins
5: Don Collins
6: James Collins
7: John Collins
8: Mardy Collins
9: Darren Collison
Pick one: 0
Results for Jarron Collins:

You searched for "Kyrylo Fesenko"
1 result found.
Kyrylo Fesenko
Results for Kyrylo Fesenko:

You searched for "Matt Harpring"
1 result found.
Matt Harpring
Results for Matt Harpring:

You searched for "Andrei Kirilenko"
1 result found.
Andrei Kirilenko
Results for Andrei Kirilenko:

You searched for "Brevin Knight"
5 results found.
0: Brevin Knight
1: Brandin Knight
2: Travis Knight
3: Brandon Knight
4: Ron Knight
Pick one: 0
Results for Brevin Knight:

You searched for "Kyle Korver"
3 results found.
0: Kyle Korver
1: Kyle Weaver
2: Kyle Lowry
Pick one: 0
Results for Kyle Korver:

You searched for "Kosta Koufos"
1 result found.
Kosta Koufos
Results for Kosta Koufos:

You searched for "C.J. Miles"
7 results found.
0: C.J. Miles
1: C.J. Kupec
2: B.J. Tyler
3: C.J. Wilcox
4: T.J. Leaf
5: A.J. Price
6: D.J. White
Pick one: 0
Results for C.J. Miles:

You searched for "Paul Millsap"
2 results found.
0: Paul Millsap
1: Paul Silas
Pick one: 0
Results for Paul Millsap:

You searched for "Mehmet Okur"
1 result found.
Mehmet Okur
Results for Mehmet Okur:

You searched for "Ronnie Price"
5 results found.
0: Ronnie Price
1: Donnie Boyce
2: Ronnie Brewer
3: Tony Price
4: Connie Rea
Pick one: 0
Results for Ronnie Price:

You searched for "Deron Williams"
33 results found.
0: Deron Williams
1: Aaron Williams
2: Ron Williams
3: Eric Williams
4: Herb Williams
5: Jason Williams
6: Jerome Williams
7: Kevin Williams
8: Rob Williams
9: Sean Williams
10: Troy Williams
11: Alan Williams
12: Alvin Williams
13: Art Williams
14: Bernie Williams
15: Bob Williams
16: Corey Williams
17: Derrick Williams
18: Duck Williams
19: Earl Williams
20: Frank Williams
21: Gene Williams
22: Grant Williams
23: Jayson Williams
24: John Williams
25: Jordan Williams
26: Kenny Williams
27: Lou Williams
28: Marvin Williams
29: Mo Williams
30: Pete Williams
31: Ray Williams
32: Ward Williams
Pick one: 0
Results for Deron Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2009-01-12,29-231,UTA,HOME,IND,W (+7),1,40:13,13,19,...,9,3,1,0,1,2,43,38.9,13,Mehmet Okur
1,2009-01-21,24-209,UTA,AWAY,HOU,L (-9),1,37:14,10,17,...,5,11,0,0,1,0,32,32.7,-2,Deron Williams
2,2009-04-03,24-281,UTA,HOME,MIN,L (-1),1,39:08,12,20,...,2,11,0,0,2,1,34,30.7,0,Deron Williams
3,2009-02-05,24-224,UTA,HOME,DAL,W (+28),1,34:59,11,20,...,5,12,1,0,5,1,34,30.3,20,Deron Williams
4,2009-01-31,24-219,UTA,AWAY,POR,L (-14),1,37:50,12,18,...,2,5,2,0,3,1,35,29.5,-18,Deron Williams

In [24]:

UTA_2010_gamelog = []

for p in UTA_df_2010_players:
    player_log = get_game_logs(str(p), SEASON_2010_START, SEASON_2010_END, playoffs = False)
    player_log['Player'] = p
    
    UTA_2010_gamelog.append(player_log)
UTA_2010_gamelog = pd.concat(UTA_2010_gamelog)    
UTA_2010_gamelogs = UTA_2010_gamelog.copy()
UTA_2010_gamelogs['GAME_SCORE'] = UTA_2010_gamelogs['GAME_SCORE'].astype(float)
UTA_2010_games = UTA_2010_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
UTA_2010_games_csv = UTA_2010_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2010_games.csv', index=False)
UTA_2010_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2010_games.csv')
UTA_2010_games_proc.head()

You searched for "Carlos Boozer"
5 results found.
0: Carlos Boozer
1: Carlos Rogers
2: Charles Cooke
3: Carlos Arroyo
4: Carlos Terry
Pick one: 0
Results for Carlos Boozer:

You searched for "Ronnie Brewer"
4 results found.
0: Ronnie Brewer
1: Ron Brewer
2: Ronnie Lester
3: Ronnie Price
Pick one: 0
Results for Ronnie Brewer:

You searched for "Kyrylo Fesenko"
1 result found.
Kyrylo Fesenko
Results for Kyrylo Fesenko:

You searched for "Sundiata Gaines"
1 result found.
Sundiata Gaines
Results for Sundiata Gaines:

You searched for "Othyus Jeffers"
1 result found.
Othyus Jeffers
Results for Othyus Jeffers:

You searched for "Andrei Kirilenko"
1 result found.
Andrei Kirilenko
Results for Andrei Kirilenko:

You searched for "Kyle Korver"
3 results found.
0: Kyle Korver
1: Kyle Weaver
2: Kyle Lowry
Pick one: 0
Results for Kyle Korver:

You searched for "Kosta Koufos"
1 result found.
Kosta Koufos
Results for Kosta Koufos:

You searched for "Wesley Matthews"
2 results found.
0: Wesley Matthews
1: Wes Matthews
Pick one: 0
Results for Wesley Matthews:

You searched for "Eric Maynor"
5 results found.
0: Eric Maynor
1: Eric Dawson
2: Eric Money
3: Eric Snow
4: Eric Mobley
Pick one: 0
Results for Eric Maynor:

You searched for "C.J. Miles"
7 results found.
0: C.J. Miles
1: C.J. Kupec
2: B.J. Tyler
3: C.J. Wilcox
4: T.J. Leaf
5: A.J. Price
6: D.J. White
Pick one: 0
Results for C.J. Miles:

You searched for "Paul Millsap"
2 results found.
0: Paul Millsap
1: Paul Silas
Pick one: 0
Results for Paul Millsap:

You searched for "Mehmet Okur"
1 result found.
Mehmet Okur
Results for Mehmet Okur:

You searched for "Ronnie Price"
5 results found.
0: Ronnie Price
1: Donnie Boyce
2: Ronnie Brewer
3: Tony Price
4: Connie Rea
Pick one: 0
Results for Ronnie Price:

You searched for "Deron Williams"
33 results found.
0: Deron Williams
1: Aaron Williams
2: Ron Williams
3: Eric Williams
4: Herb Williams
5: Jason Williams
6: Jerome Williams
7: Kevin Williams
8: Rob Williams
9: Sean Williams
10: Troy Williams
11: Alan Williams
12: Alvin Williams
13: Art Williams
14: Bernie Williams
15: Bob Williams
16: Corey Williams
17: Derrick Williams
18: Duck Williams
19: Earl Williams
20: Frank Williams
21: Gene Williams
22: Grant Williams
23: Jayson Williams
24: John Williams
25: Jordan Williams
26: Kenny Williams
27: Lou Williams
28: Marvin Williams
29: Mo Williams
30: Pete Williams
31: Ray Williams
32: Ward Williams
Pick one: 0
Results for Deron Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2010-02-09,28-081,UTA,AWAY,LAC,W (+10),1,38:26,13,17,...,14,4,4,0,2,2,34,37.5,1,Carlos Boozer
1,2010-04-06,25-284,UTA,HOME,OKC,W (+1),1,42:23,14,23,...,3,10,0,0,1,3,42,36.8,9,Deron Williams
2,2009-12-14,25-171,UTA,HOME,MIN,L (-2),1,41:05,11,20,...,3,13,2,0,1,3,38,36.6,4,Deron Williams
3,2010-02-27,25-246,UTA,HOME,HOU,W (+23),1,32:33,13,17,...,7,13,0,1,4,5,35,34.2,24,Deron Williams
4,2009-12-10,25-167,UTA,HOME,ORL,W (+9),1,42:18,9,18,...,8,15,1,0,1,3,32,33.5,16,Deron Williams

In [25]:

UTA_2011_gamelog = []

for p in UTA_df_2011_players:
    player_log = get_game_logs(str(p), SEASON_2011_START, SEASON_2011_END, playoffs = False)
    player_log['Player'] = p
    
    UTA_2011_gamelog.append(player_log)
UTA_2011_gamelog = pd.concat(UTA_2011_gamelog)    
UTA_2011_gamelogs = UTA_2011_gamelog.copy()
UTA_2011_gamelogs['GAME_SCORE'] = UTA_2011_gamelogs['GAME_SCORE'].astype(float)
UTA_2011_games = UTA_2011_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
UTA_2011_games_csv = UTA_2011_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2011_games.csv', index=False)
UTA_2011_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2011_games.csv')
UTA_2011_games_proc.head()

You searched for "Raja Bell"
2 results found.
0: Raja Bell
1: Troy Bell
Pick one: 0
Results for Raja Bell:

You searched for "Marcus Cousin"
3 results found.
0: Marcus Cousin
1: DeMarcus Cousins
2: Marcus Morris
Pick one: 0
Results for Marcus Cousin:

You searched for "Francisco Elson"
1 result found.
Francisco Elson
Results for Francisco Elson:

You searched for "Jeremy Evans"
5 results found.
0: Jeremy Evans
1: Tyreke Evans
2: Jeremy Lamb
3: Jeremy Lin
4: Jeremy Tyler
Pick one: 0
Results for Jeremy Evans:

You searched for "Derrick Favors"
4 results found.
0: Derrick Favors
1: Derrick Byars
2: Derrick Rose
3: Derrick Walton
Pick one: 0
Results for Derrick Favors:

You searched for "Kyrylo Fesenko"
1 result found.
Kyrylo Fesenko
Results for Kyrylo Fesenko:

You searched for "Devin Harris"
8 results found.
0: Devin Harris
1: Jalen Harris
2: Bernie Harris
3: Chris Harris
4: Elias Harris
5: Steve Harris
6: David Harrison
7: Kevin Martin
Pick one: 0
Results for Devin Harris:

You searched for "Gordon Hayward"
1 result found.
Gordon Hayward
Results for Gordon Hayward:

You searched for "Al Jefferson"
3 results found.
0: Al Jefferson
1: Amile Jefferson
2: Cory Jefferson
Pick one: 0
Results for Al Jefferson:

You searched for "Andrei Kirilenko"
1 result found.
Andrei Kirilenko
Results for Andrei Kirilenko:

You searched for "C.J. Miles"
7 results found.
0: C.J. Miles
1: C.J. Kupec
2: B.J. Tyler
3: C.J. Wilcox
4: T.J. Leaf
5: A.J. Price
6: D.J. White
Pick one: 0
Results for C.J. Miles:

You searched for "Paul Millsap"
2 results found.
0: Paul Millsap
1: Paul Silas
Pick one: 0
Results for Paul Millsap:

You searched for "Mehmet Okur"
1 result found.
Mehmet Okur
Results for Mehmet Okur:

You searched for "Ronnie Price"
5 results found.
0: Ronnie Price
1: Donnie Boyce
2: Ronnie Brewer
3: Tony Price
4: Connie Rea
Pick one: 0
Results for Ronnie Price:

You searched for "Earl Watson"
9 results found.
0: Earl Watson
1: Paul Watson
2: Earl Barron
3: Mark Eaton
4: Earl Shannon
5: Earl Tatum
6: C.J. Watson
7: Jamie Watson
8: Earl Jones
Pick one: 0
Results for Earl Watson:

You searched for "Kyle Weaver"
3 results found.
0: Kyle Weaver
1: Kyle Korver
2: Kyle Wiltjer
Pick one: 0
Results for Kyle Weaver:

You searched for "Deron Williams"
33 results found.
0: Deron Williams
1: Aaron Williams
2: Ron Williams
3: Eric Williams
4: Herb Williams
5: Jason Williams
6: Jerome Williams
7: Kevin Williams
8: Rob Williams
9: Sean Williams
10: Troy Williams
11: Alan Williams
12: Alvin Williams
13: Art Williams
14: Bernie Williams
15: Bob Williams
16: Corey Williams
17: Derrick Williams
18: Duck Williams
19: Earl Williams
20: Frank Williams
21: Gene Williams
22: Grant Williams
23: Jayson Williams
24: John Williams
25: Jordan Williams
26: Kenny Williams
27: Lou Williams
28: Marvin Williams
29: Mo Williams
30: Pete Williams
31: Ray Williams
32: Ward Williams
Pick one: 0
Results for Deron Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2010-11-09,25-272,UTA,AWAY,MIA,W (+2),1,43:27,19,28,...,9,1,1,1,1,4,46,37.3,2,Paul Millsap
1,2011-03-20,26-038,UTA,AWAY,HOU,L (-2),1,38:57,12,18,...,10,4,1,3,1,5,35,33.1,9,Paul Millsap
2,2011-01-28,29-344,UTA,HOME,MIN,W (+8),1,35:10,10,13,...,6,7,5,1,2,1,27,33.1,10,Andrei Kirilenko
3,2011-03-16,23-363,UTA,HOME,MIN,W (+15),1,31:41,14,18,...,4,2,0,0,1,4,40,33.0,17,C.J. Miles
4,2011-02-05,25-360,UTA,HOME,OKC,L (-16),1,36:21,15,20,...,10,6,0,0,0,4,34,32.0,1,Paul Millsap

In [26]:


UTA_2012_gamelog = []

for p in UTA_df_2012_players:
    player_log = get_game_logs(str(p), SEASON_2012_START, SEASON_2012_END, playoffs = False)
    player_log['Player'] = p
    
    UTA_2012_gamelog.append(player_log)
UTA_2012_gamelog = pd.concat(UTA_2012_gamelog)    
UTA_2012_gamelogs = UTA_2012_gamelog.copy()
UTA_2012_gamelogs['GAME_SCORE'] = UTA_2012_gamelogs['GAME_SCORE'].astype(float)
UTA_2012_games = UTA_2012_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
UTA_2012_games_csv = UTA_2012_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2012_games.csv', index=False)
UTA_2012_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2012_games.csv')
UTA_2012_games_proc.head()

You searched for "Blake Ahearn"
1 result found.
Blake Ahearn
Results for Blake Ahearn:

You searched for "Raja Bell"
2 results found.
0: Raja Bell
1: Troy Bell
Pick one: 0
Results for Raja Bell:

You searched for "Alec Burks"
3 results found.
0: Alec Burks
1: Trey Burke
2: Alex Kirk
Pick one: 0
Results for Alec Burks:

You searched for "DeMarre Carroll"
1 result found.
DeMarre Carroll
Results for DeMarre Carroll:

You searched for "Jeremy Evans"
5 results found.
0: Jeremy Evans
1: Tyreke Evans
2: Jeremy Lamb
3: Jeremy Lin
4: Jeremy Tyler
Pick one: 0
Results for Jeremy Evans:

You searched for "Derrick Favors"
4 results found.
0: Derrick Favors
1: Derrick Byars
2: Derrick Rose
3: Derrick Walton
Pick one: 0
Results for Derrick Favors:

You searched for "Devin Harris"
8 results found.
0: Devin Harris
1: Jalen Harris
2: Bernie Harris
3: Chris Harris
4: Elias Harris
5: Steve Harris
6: David Harrison
7: Kevin Martin
Pick one: 0
Results for Devin Harris:

You searched for "Gordon Hayward"
1 result found.
Gordon Hayward
Results for Gordon Hayward:

You searched for "Josh Howard"
8 results found.
0: Josh Howard
1: Josh Hart
2: Mo Howard
3: Josh Hall
4: Greg Howard
5: Juwan Howard
6: Otis Howard
7: Josh Powell
Pick one: 0
Results for Josh Howard:

You searched for "Al Jefferson"
3 results found.
0: Al Jefferson
1: Amile Jefferson
2: Cory Jefferson
Pick one: 0
Results for Al Jefferson:

You searched for "Enes Kanter"
2 results found.
0: Enes Kanter
1: Les Hunter
Pick one: 0
Results for Enes Kanter:

You searched for "C.J. Miles"
7 results found.
0: C.J. Miles
1: C.J. Kupec
2: B.J. Tyler
3: C.J. Wilcox
4: T.J. Leaf
5: A.J. Price
6: D.J. White
Pick one: 0
Results for C.J. Miles:

You searched for "Paul Millsap"
2 results found.
0: Paul Millsap
1: Paul Silas
Pick one: 0
Results for Paul Millsap:

You searched for "Jamaal Tinsley"
1 result found.
Jamaal Tinsley
Results for Jamaal Tinsley:

You searched for "Earl Watson"
9 results found.
0: Earl Watson
1: Paul Watson
2: Earl Barron
3: Mark Eaton
4: Earl Shannon
5: Earl Tatum
6: C.J. Watson
7: Jamie Watson
8: Earl Jones
Pick one: 0
Results for Earl Watson:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2012-02-17,27-044,UTA,HOME,WAS,W (+14),1,30:51,16,23,...,12,1,3,1,0,2,34,33.1,25,Al Jefferson
1,2012-03-05,27-061,UTA,AWAY,CLE,W (+9),1,39:11,9,16,...,13,7,1,3,0,2,25,29.3,16,Al Jefferson
2,2012-04-06,27-093,UTA,HOME,GSW,W (+6),1,38:50,13,18,...,11,2,0,5,2,2,30,29.2,22,Al Jefferson
3,2012-03-07,27-063,UTA,AWAY,CHA,W (+6),1,32:41,11,19,...,9,5,1,0,0,2,31,28.9,16,Al Jefferson
4,2012-04-11,22-019,UTA,AWAY,HOU,W (+12),1,39:15,9,14,...,2,6,2,0,2,0,29,27.6,16,Gordon Hayward

In [29]:

UTA_2013_gamelog = []

for p in UTA_df_2013_players:
    player_log = get_game_logs(str(p), SEASON_2013_START, SEASON_2013_END, playoffs = False)
    player_log['Player'] = p
    
    UTA_2013_gamelog.append(player_log)
UTA_2013_gamelog = pd.concat(UTA_2013_gamelog)    
UTA_2013_gamelogs = UTA_2013_gamelog.copy()
UTA_2013_gamelogs['GAME_SCORE'] = UTA_2013_gamelogs['GAME_SCORE'].astype(float)
UTA_2013_games = UTA_2013_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
UTA_2013_games_csv = UTA_2013_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2013_games.csv', index=False)
UTA_2013_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2013_games.csv')
UTA_2013_games_proc.head()

You searched for "Alec Burks"
3 results found.
0: Alec Burks
1: Trey Burke
2: Alex Kirk
Pick one: 0
Results for Alec Burks:

You searched for "DeMarre Carroll"
1 result found.
DeMarre Carroll
Results for DeMarre Carroll:

You searched for "Jeremy Evans"
5 results found.
0: Jeremy Evans
1: Tyreke Evans
2: Jeremy Lamb
3: Jeremy Lin
4: Jeremy Tyler
Pick one: 0
Results for Jeremy Evans:

You searched for "Derrick Favors"
4 results found.
0: Derrick Favors
1: Derrick Byars
2: Derrick Rose
3: Derrick Walton
Pick one: 0
Results for Derrick Favors:

You searched for "Randy Foye"
10 results found.
0: Randy Foye
1: Randy Allen
2: Randy Brown
3: Danny Doyle
4: Randy Stoll
5: Randy White
6: Randy Woods
7: Ray Owes
8: Brandon Roy
9: Ray Felix
Pick one: 0
Results for Randy Foye:

You searched for "Gordon Hayward"
1 result found.
Gordon Hayward
Results for Gordon Hayward:

You searched for "Al Jefferson"
3 results found.
0: Al Jefferson
1: Amile Jefferson
2: Cory Jefferson
Pick one: 0
Results for Al Jefferson:

You searched for "Enes Kanter"
2 results found.
0: Enes Kanter
1: Les Hunter
Pick one: 0
Results for Enes Kanter:

You searched for "Paul Millsap"
2 results found.
0: Paul Millsap
1: Paul Silas
Pick one: 0
Results for Paul Millsap:

You searched for "Kevin Murphy"
9 results found.
0: Kevin Murphy
1: Calvin Murphy
2: Erik Murphy
3: Kevin Durant
4: Kevin Hervey
5: Kevin Martin
6: Allen Murphy
7: John Murphy
8: Ken Murray
Pick one: 0
Results for Kevin Murphy:

You searched for "Jamaal Tinsley"
1 result found.
Jamaal Tinsley
Results for Jamaal Tinsley:

You searched for "Earl Watson"
9 results found.
0: Earl Watson
1: Paul Watson
2: Earl Barron
3: Mark Eaton
4: Earl Shannon
5: Earl Tatum
6: C.J. Watson
7: Jamie Watson
8: Earl Jones
Pick one: 0
Results for Earl Watson:

You searched for "Marvin Williams"
20 results found.
0: Marvin Williams
1: Alvin Williams
2: Aaron Williams
3: Kevin Williams
4: Marcus Williams
5: Marcus Williams
6: Alan Williams
7: Art Williams
8: Bernie Williams
9: Deron Williams
10: Earl Williams
11: Eric Williams
12: Jason Williams
13: Jayson Williams
14: Jordan Williams
15: Justin Williams
16: Matt Williams
17: Ron Williams
18: Travis Williams
19: Ward Williams
Pick one: 0
Results for Marvin Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2013-04-12,28-098,UTA,HOME,MIN,W (+7),1,40:37,19,27,...,13,6,0,0,5,1,40,32.6,6,Al Jefferson
1,2012-11-12,27-276,UTA,AWAY,TOR,W (+7),1,43:40,11,16,...,9,2,2,2,1,3,34,32.5,4,Paul Millsap
2,2013-02-08,28-035,UTA,HOME,CHI,L (-4),1,40:56,15,22,...,13,1,2,2,0,1,32,30.6,6,Al Jefferson
3,2012-12-05,27-336,UTA,HOME,ORL,W (+6),1,34:50,13,20,...,15,2,1,0,1,4,31,27.7,8,Al Jefferson
4,2012-12-12,27-306,UTA,HOME,SAS,W (+3),1,35:58,10,15,...,12,5,1,1,0,2,24,25.5,11,Paul Millsap

In [30]:


UTA_2014_gamelog = []

for p in UTA_df_2014_players:
    player_log = get_game_logs(str(p), SEASON_2014_START, SEASON_2014_END, playoffs = False)
    player_log['Player'] = p
    
    UTA_2014_gamelog.append(player_log)
UTA_2014_gamelog = pd.concat(UTA_2014_gamelog)    
UTA_2014_gamelogs = UTA_2014_gamelog.copy()
UTA_2014_gamelogs['GAME_SCORE'] = UTA_2014_gamelogs['GAME_SCORE'].astype(float)
UTA_2014_games = UTA_2014_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
UTA_2014_games_csv = UTA_2014_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2014_games.csv', index=False)
UTA_2014_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2014_games.csv')
UTA_2014_games_proc.head()

You searched for "Andris Biedriņš"
1 result found.
Andris Biedrins
Results for Andris Biedrins:

You searched for "Trey Burke"
5 results found.
0: Trey Burke
1: Pat Burke
2: Alec Burks
3: Corey Beck
4: Troy Bell
Pick one: 0
Results for Trey Burke:

You searched for "Alec Burks"
3 results found.
0: Alec Burks
1: Trey Burke
2: Alex Kirk
Pick one: 0
Results for Alec Burks:

You searched for "Ian Clark"
4 results found.
0: Ian Clark
1: Earl Clark
2: Gary Clark
3: Keon Clark
Pick one: 0
Results for Ian Clark:

You searched for "Jeremy Evans"
5 results found.
0: Jeremy Evans
1: Tyreke Evans
2: Jeremy Lamb
3: Jeremy Lin
4: Jeremy Tyler
Pick one: 0
Results for Jeremy Evans:

You searched for "Derrick Favors"
4 results found.
0: Derrick Favors
1: Derrick Byars
2: Derrick Rose
3: Derrick Walton
Pick one: 0
Results for Derrick Favors:

You searched for "Diante Garrett"
3 results found.
0: Diante Garrett
1: Dean Garrett
2: Dick Garrett
Pick one: 0
Results for Diante Garrett:

You searched for "Rudy Gobert"
2 results found.
0: Rudy Gobert
1: Ray Tolbert
Pick one: 0
Results for Rudy Gobert:

You searched for "Mike Harris"
26 results found.
0: Mike Harris
1: Mike Barr
2: Mike Davis
3: Mike Davis
4: Mike Harper
5: Joe Harris
6: Jalen Harris
7: Mike Barrett
8: Mike Farmer
9: Mike Hall
10: Art Harris
11: Billy Harris
12: Bob Harris
13: Elias Harris
14: Gary Harris
15: Manny Harris
16: Steve Harris
17: Tony Harris
18: Mike Higgins
19: Mike James
20: Mike James
21: Mike Kearns
22: Mike Lewis
23: Mike Morrison
24: Mike Price
25: Mike Taylor
Pick one: 0
Results for Mike Harris:

You searched for "Gordon Hayward"
1 result found.
Gordon Hayward
Results for Gordon Hayward:

You searched for "Richard Jefferson"
2 results found.
0: Richard Jefferson
1: Richard Anderson
Pick one: 0
Results for Richard Jefferson:

You searched for "Enes Kanter"
2 results found.
0: Enes Kanter
1: Les Hunter
Pick one: 0
Results for Enes Kanter:

You searched for "John Lucas III"
2 results found.
0: John Lucas III
1: John Lucas
Pick one: 0
Results for John Lucas III:

You searched for "Brandon Rush"
4 results found.
0: Brandon Rush
1: Brandon Bass
2: Brandon Roy
3: Brandon Paul
Pick one: 0
Results for Brandon Rush:

You searched for "Malcolm Thomas"
1 result found.
Malcolm Thomas
Results for Malcolm Thomas:

You searched for "Jamaal Tinsley"
1 result found.
Jamaal Tinsley
Results for Jamaal Tinsley:

You searched for "Marvin Williams"
20 results found.
0: Marvin Williams
1: Alvin Williams
2: Aaron Williams
3: Kevin Williams
4: Marcus Williams
5: Marcus Williams
6: Alan Williams
7: Art Williams
8: Bernie Williams
9: Deron Williams
10: Earl Williams
11: Eric Williams
12: Jason Williams
13: Jayson Williams
14: Jordan Williams
15: Justin Williams
16: Matt Williams
17: Ron Williams
18: Travis Williams
19: Ward Williams
Pick one: 0
Results for Marvin Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2014-01-07,23-290,UTA,HOME,OKC,W (+11),1,37:10,13,16,...,11,7,2,1,4,0,37,36.3,11,Gordon Hayward
1,2014-01-13,22-177,UTA,HOME,DEN,W (+15),1,37:39,13,19,...,3,5,1,0,1,2,34,29.5,9,Alec Burks
2,2013-12-13,23-265,UTA,AWAY,DEN,W (+10),1,38:03,11,18,...,13,5,1,0,0,4,30,29.4,15,Gordon Hayward
3,2013-12-18,21-036,UTA,AWAY,ORL,W (+4),1,40:28,12,20,...,7,8,1,0,2,0,30,27.9,21,Trey Burke
4,2013-11-13,23-235,UTA,HOME,NOP,W (+6),1,41:58,6,12,...,5,10,2,1,5,1,27,26.8,4,Gordon Hayward

In [33]:


UTA_2015_gamelog = []

for p in UTA_df_2015_players:
    player_log = get_game_logs(str(p), SEASON_2015_START, SEASON_2015_END, playoffs = False)
    player_log['Player'] = p
    
    UTA_2015_gamelog.append(player_log)
UTA_2015_gamelog = pd.concat(UTA_2015_gamelog)    
UTA_2015_gamelogs = UTA_2015_gamelog.copy()
UTA_2015_gamelogs['GAME_SCORE'] = UTA_2015_gamelogs['GAME_SCORE'].astype(float)
UTA_2015_games = UTA_2015_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
UTA_2015_games_csv = UTA_2015_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2015_games.csv', index=False)
UTA_2015_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2015_games.csv')
UTA_2015_games_proc.head()

You searched for "Jerrelle Benimon"
1 result found.
Jerrelle Benimon
Results for Jerrelle Benimon:

You searched for "Trevor Booker"
3 results found.
0: Trevor Booker
1: Devin Booker
2: Trevor Winter
Pick one: 0
Results for Trevor Booker:

You searched for "Trey Burke"
5 results found.
0: Trey Burke
1: Pat Burke
2: Alec Burks
3: Corey Beck
4: Troy Bell
Pick one: 0
Results for Trey Burke:

You searched for "Alec Burks"
3 results found.
0: Alec Burks
1: Trey Burke
2: Alex Kirk
Pick one: 0
Results for Alec Burks:

You searched for "Patrick Christopher"
1 result found.
Patrick Christopher
Results for Patrick Christopher:

You searched for "Ian Clark"
4 results found.
0: Ian Clark
1: Earl Clark
2: Gary Clark
3: Keon Clark
Pick one: 0
Results for Ian Clark:

You searched for "Jack Cooley"
15 results found.
0: Jack Cooley
1: Jack Foley
2: Jack Haley
3: Jack Kiley
4: Jack Smiley
5: Jack Toomay
6: Jack Coleman
7: Ray Corley
8: Jack Cotton
9: Jacky Dorsey
10: Jack Rocker
11: Jack George
12: Jackie Moore
13: Jack Nichols
14: Jack Tingle
Pick one: 0
Results for Jack Cooley:

You searched for "Bryce Cotton"
2 results found.
0: Bryce Cotton
1: Jack Cotton
Pick one: 0
Results for Bryce Cotton:

You searched for "Jeremy Evans"
5 results found.
0: Jeremy Evans
1: Tyreke Evans
2: Jeremy Lamb
3: Jeremy Lin
4: Jeremy Tyler
Pick one: 0
Results for Jeremy Evans:

You searched for "Dante Exum"
1 result found.
Dante Exum
Results for Dante Exum:

You searched for "Derrick Favors"
4 results found.
0: Derrick Favors
1: Derrick Byars
2: Derrick Rose
3: Derrick Walton
Pick one: 0
Results for Derrick Favors:

You searched for "Rudy Gobert"
2 results found.
0: Rudy Gobert
1: Ray Tolbert
Pick one: 0
Results for Rudy Gobert:

You searched for "Gordon Hayward"
1 result found.
Gordon Hayward
Results for Gordon Hayward:

You searched for "Rodney Hood"
4 results found.
0: Rodney Hood
1: Rodney Buford
2: Rodney Monroe
3: Rodney White
Pick one: 0
Results for Rodney Hood:

You searched for "Joe Ingles"
7 results found.
0: Joe Ingles
1: Joe Ellis
2: Joe Fulks
3: Joe Reaves
4: Joe Binion
5: Jack Tingle
6: Joe Kleine
Pick one: 0
Results for Joe Ingles:

You searched for "Grant Jerrett"
1 result found.
Grant Jerrett
Results for Grant Jerrett:

You searched for "Enes Kanter"
2 results found.
0: Enes Kanter
1: Les Hunter
Pick one: 0
Results for Enes Kanter:

You searched for "Elijah Millsap"
1 result found.
Elijah Millsap
Results for Elijah Millsap:

You searched for "Toure' Murry"
1 result found.
Toure' Murry
Results for Toure' Murry:

You searched for "Steve Novak"
9 results found.
0: Steve Novak
1: Steve Blake
2: Steve Jones
3: Steve Nash
4: Mike Novak
5: Steve Bardo
6: Steve Green
7: Steve Kerr
8: Steve Henson
Pick one: 0
Results for Steve Novak:

You searched for "Elliot Williams"
8 results found.
0: Elliot Williams
1: Alvin Williams
2: Cliff Williams
3: Eric Williams
4: Lou Williams
5: Milt Williams
6: Walt Williams
7: Willie Williams
Pick one: 0
Results for Elliot Williams:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2015-04-11,27-137,UTA,AWAY,POR,W (+6),1,35:37,12,15,...,9,1,2,1,0,1,36,35.2,-1,Trevor Booker
1,2015-04-01,22-316,OKC,HOME,DAL,L (-4),1,38:22,9,13,...,16,1,0,1,0,1,30,31.9,-7,Enes Kanter
2,2014-11-14,24-236,UTA,AWAY,NYK,W (+2),1,37:52,11,18,...,3,6,4,0,3,4,33,29.3,8,Gordon Hayward
3,2014-11-01,23-109,UTA,HOME,PHO,W (+27),1,30:23,12,22,...,9,1,2,2,0,2,32,28.6,12,Derrick Favors
4,2015-03-12,22-259,UTA,HOME,HOU,W (+18),1,35:33,8,11,...,22,2,0,4,1,2,19,28.3,11,Rudy Gobert

In [39]:


UTA_2016_gamelog = []

for p in UTA_df_2016_players:
    player_log = get_game_logs(str(p), SEASON_2016_START, SEASON_2016_END, playoffs = False)
    player_log['Player'] = p
    
    UTA_2016_gamelog.append(player_log)
UTA_2016_gamelog = pd.concat(UTA_2016_gamelog)    
UTA_2016_gamelogs = UTA_2016_gamelog.copy()
UTA_2016_gamelogs['GAME_SCORE'] = UTA_2016_gamelogs['GAME_SCORE'].astype(float)
UTA_2016_games = UTA_2016_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
UTA_2016_games_csv = UTA_2016_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2016_games.csv', index=False)
UTA_2016_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2016_games.csv')
UTA_2016_games_proc.head()

You searched for "Trevor Booker"
3 results found.
0: Trevor Booker
1: Devin Booker
2: Trevor Winter
Pick one: 0
Results for Trevor Booker:

You searched for "Trey Burke"
5 results found.
0: Trey Burke
1: Pat Burke
2: Alec Burks
3: Corey Beck
4: Troy Bell
Pick one: 0
Results for Trey Burke:

You searched for "Alec Burks"
3 results found.
0: Alec Burks
1: Trey Burke
2: Alex Kirk
Pick one: 0
Results for Alec Burks:

You searched for "Derrick Favors"
4 results found.
0: Derrick Favors
1: Derrick Byars
2: Derrick Rose
3: Derrick Walton
Pick one: 0
Results for Derrick Favors:

You searched for "Rudy Gobert"
2 results found.
0: Rudy Gobert
1: Ray Tolbert
Pick one: 0
Results for Rudy Gobert:

You searched for "Erick Green"
11 results found.
0: Erick Green
1: Rickey Green
2: Eric Gordon
3: A.C. Green
4: Devin Green
5: Gerald Green
6: Mike Green
7: Si Green
8: Orien Greene
9: Ricky Grace
10: Erik McCree
Pick one: 0
Results for Erick Green:

You searched for "Gordon Hayward"
1 result found.
Gordon Hayward
Results for Gordon Hayward:

You searched for "Rodney Hood"
4 results found.
0: Rodney Hood
1: Rodney Buford
2: Rodney Monroe
3: Rodney White
Pick one: 0
Results for Rodney Hood:

You searched for "Joe Ingles"
7 results found.
0: Joe Ingles
1: Joe Ellis
2: Joe Fulks
3: Joe Reaves
4: Joe Binion
5: Jack Tingle
6: Joe Kleine
Pick one: 0
Results for Joe Ingles:

You searched for "Trey Lyles"
5 results found.
0: Trey Lyles
1: Tre Jones
2: Trey Gilder
3: Terry Tyler
4: Trey Burke
Pick one: 0
Results for Trey Lyles:

You searched for "Shelvin Mack"
2 results found.
0: Shelvin Mack
1: Sheldon Mac
Pick one: 0
Results for Shelvin Mack:

You searched for "Elijah Millsap"
1 result found.
Elijah Millsap
Results for Elijah Millsap:

You searched for "Raul Neto"
7 results found.
0: Raul Neto
1: Paul Reed
2: Al Cueto
3: Paul Noel
4: Paul Long
5: Raul Lopez
6: Paul Nolen
Pick one: 0
Results for Raul Neto:

You searched for "Tibor Pleiß"
1 result found.
Tibor Pleiss
Results for Tibor Pleiss:

You searched for "Jeff Withey"
2 results found.
0: Jeff Withey
1: Jeff Webb
Pick one: 0
Results for Jeff Withey:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2016-03-13,24-242,UTA,AWAY,SAC,W (+9),1,37:30,10,16,...,14,4,3,1,1,2,28,30.9,7,Derrick Favors
1,2016-01-18,25-301,UTA,AWAY,CHO,L (-5),1,48:26,12,24,...,5,9,2,1,4,3,36,29.7,-5,Gordon Hayward
2,2016-02-23,25-337,UTA,HOME,HOU,W (+3),1,40:13,6,7,...,7,5,1,0,2,3,28,29.3,-3,Gordon Hayward
3,2015-12-05,24-143,UTA,HOME,IND,W (+3),1,43:32,14,24,...,13,1,1,1,2,3,35,28.9,3,Derrick Favors
4,2015-11-12,24-120,UTA,AWAY,MIA,L (-1),1,39:45,10,18,...,12,2,3,7,1,3,25,28.3,11,Derrick Favors

In [40]:

UTA_2017_gamelog = []

for p in UTA_df_2017_players:
    player_log = get_game_logs(str(p), SEASON_2017_START, SEASON_2017_END, playoffs = False)
    player_log['Player'] = p
    
    UTA_2017_gamelog.append(player_log)
UTA_2017_gamelog = pd.concat(UTA_2017_gamelog)    
UTA_2017_gamelogs = UTA_2017_gamelog.copy()
UTA_2017_gamelogs['GAME_SCORE'] = UTA_2017_gamelogs['GAME_SCORE'].astype(float)
UTA_2017_games = UTA_2017_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
UTA_2017_games_csv = UTA_2017_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2017_games.csv', index=False)
UTA_2017_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2017_games.csv')
UTA_2017_games_proc.head()

You searched for "Joel Bolomboy"
1 result found.
Joel Bolomboy
Results for Joel Bolomboy:

You searched for "Alec Burks"
3 results found.
0: Alec Burks
1: Trey Burke
2: Alex Kirk
Pick one: 0
Results for Alec Burks:

You searched for "Boris Diaw"
1 result found.
Boris Diaw
Results for Boris Diaw:

You searched for "Dante Exum"
1 result found.
Dante Exum
Results for Dante Exum:

You searched for "Derrick Favors"
4 results found.
0: Derrick Favors
1: Derrick Byars
2: Derrick Rose
3: Derrick Walton
Pick one: 0
Results for Derrick Favors:

You searched for "Rudy Gobert"
2 results found.
0: Rudy Gobert
1: Ray Tolbert
Pick one: 0
Results for Rudy Gobert:

You searched for "Gordon Hayward"
1 result found.
Gordon Hayward
Results for Gordon Hayward:

You searched for "George Hill"
11 results found.
0: George Hill
1: George Karl
2: George King
3: George King
4: Gary Hill
5: George Lee
6: George Mikan
7: George Wilson
8: George Zidek
9: George Bucci
10: George Lynch
Pick one: 0
Results for George Hill:

You searched for "Rodney Hood"
4 results found.
0: Rodney Hood
1: Rodney Buford
2: Rodney Monroe
3: Rodney White
Pick one: 0
Results for Rodney Hood:

You searched for "Joe Ingles"
7 results found.
0: Joe Ingles
1: Joe Ellis
2: Joe Fulks
3: Joe Reaves
4: Joe Binion
5: Jack Tingle
6: Joe Kleine
Pick one: 0
Results for Joe Ingles:

You searched for "Joe Johnson"
40 results found.
0: Joe Johnson
1: John Johnson
2: Lee Johnson
3: Ron Johnson
4: Dave Johnson
5: Ed Johnson
6: Gus Johnson
7: James Johnson
8: Ken Johnson
9: Ken Johnson
10: Stew Johnson
11: Trey Johnson
12: Joe Binion
13: Joe Dolhon
14: Alize Johnson
15: Amir Johnson
16: Andy Johnson
17: Armon Johnson
18: Arnie Johnson
19: Avery Johnson
20: B.J. Johnson
21: Brice Johnson
22: Buck Johnson
23: Clay Johnson
24: Eddie Johnson
25: Eddie Johnson
26: Eric Johnson
27: George Johnson
28: George Johnson
29: George Johnson
30: Ivan Johnson
31: Neil Johnson
32: Nick Johnson
33: Ollie Johnson
34: Rich Johnson
35: Steve Johnson
36: Tyler Johnson
37: Nate Johnston
38: Jim Johnstone
39: Joe Colone
Pick one: 0
Results for Joe Johnson:

You searched for "Trey Lyles"
5 results found.
0: Trey Lyles
1: Tre Jones
2: Trey Gilder
3: Terry Tyler
4: Trey Burke
Pick one: 0
Results for Trey Lyles:

You searched for "Shelvin Mack"
2 results found.
0: Shelvin Mack
1: Sheldon Mac
Pick one: 0
Results for Shelvin Mack:

You searched for "Raul Neto"
7 results found.
0: Raul Neto
1: Paul Reed
2: Al Cueto
3: Paul Noel
4: Paul Long
5: Raul Lopez
6: Paul Nolen
Pick one: 0
Results for Raul Neto:

You searched for "Jeff Withey"
2 results found.
0: Jeff Withey
1: Jeff Webb
Pick one: 0
Results for Jeff Withey:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2017-03-22,24-269,UTA,HOME,NYK,W (+7),1,38:05,13,15,...,15,1,1,4,3,2,35,38.9,13,Rudy Gobert
1,2017-04-07,27-015,UTA,HOME,MIN,W (+7),1,39:01,14,22,...,3,5,2,0,2,3,39,32.0,13,Gordon Hayward
2,2017-01-20,24-208,UTA,AWAY,DAL,W (+5),1,41:29,8,12,...,25,1,1,2,2,3,27,30.8,5,Rudy Gobert
3,2016-12-27,26-279,UTA,AWAY,LAL,W (+2),1,34:06,10,17,...,9,3,0,1,0,0,31,29.4,5,Gordon Hayward
4,2016-12-01,26-253,UTA,HOME,MIA,L (-1),1,40:19,12,22,...,3,7,2,0,0,0,32,29.2,1,Gordon Hayward

In [44]:


UTA_2018_gamelog = []

for p in UTA_df_2018_players:
    player_log = get_game_logs(str(p), SEASON_2018_START, SEASON_2018_END, playoffs = False)
    player_log['Player'] = p
    
    UTA_2018_gamelog.append(player_log)
UTA_2018_gamelog = pd.concat(UTA_2018_gamelog)    
UTA_2018_gamelogs = UTA_2018_gamelog.copy()
UTA_2018_gamelogs['GAME_SCORE'] = UTA_2018_gamelogs['GAME_SCORE'].astype(float)
UTA_2018_games = UTA_2018_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
UTA_2018_games_csv = UTA_2018_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2018_games.csv', index=False)
UTA_2018_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2018_games.csv')
UTA_2018_games_proc.head()

You searched for "Tony Bradley"
10 results found.
0: Tony Bradley
1: Toby Bailey
2: Joe Bradley
3: Tony Allen
4: Alex Bradley
5: Alonzo Bradley
6: Avery Bradley
7: Bill Bradley
8: Bill Bradley
9: Jim Bradley
Pick one: 0
Results for Tony Bradley:

You searched for "Alec Burks"
3 results found.
0: Alec Burks
1: Trey Burke
2: Alex Kirk
Pick one: 0
Results for Alec Burks:

You searched for "Jae Crowder"
4 results found.
0: Jae Crowder
1: Joe Cooper
2: Corey Crowder
3: Joe Strawder
Pick one: 0
Results for Jae Crowder:

You searched for "Dante Exum"
1 result found.
Dante Exum
Results for Dante Exum:

You searched for "Derrick Favors"
4 results found.
0: Derrick Favors
1: Derrick Byars
2: Derrick Rose
3: Derrick Walton
Pick one: 0
Results for Derrick Favors:

You searched for "Rudy Gobert"
2 results found.
0: Rudy Gobert
1: Ray Tolbert
Pick one: 0
Results for Rudy Gobert:

You searched for "Rodney Hood"
4 results found.
0: Rodney Hood
1: Rodney Buford
2: Rodney Monroe
3: Rodney White
Pick one: 0
Results for Rodney Hood:

You searched for "Joe Ingles"
7 results found.
0: Joe Ingles
1: Joe Ellis
2: Joe Fulks
3: Joe Reaves
4: Joe Binion
5: Jack Tingle
6: Joe Kleine
Pick one: 0
Results for Joe Ingles:

You searched for "Jonas Jerebko"
1 result found.
Jonas Jerebko
Results for Jonas Jerebko:

You searched for "Joe Johnson"
40 results found.
0: Joe Johnson
1: John Johnson
2: Lee Johnson
3: Ron Johnson
4: Dave Johnson
5: Ed Johnson
6: Gus Johnson
7: James Johnson
8: Ken Johnson
9: Ken Johnson
10: Stew Johnson
11: Trey Johnson
12: Joe Binion
13: Joe Dolhon
14: Alize Johnson
15: Amir Johnson
16: Andy Johnson
17: Armon Johnson
18: Arnie Johnson
19: Avery Johnson
20: B.J. Johnson
21: Brice Johnson
22: Buck Johnson
23: Clay Johnson
24: Eddie Johnson
25: Eddie Johnson
26: Eric Johnson
27: George Johnson
28: George Johnson
29: George Johnson
30: Ivan Johnson
31: Neil Johnson
32: Nick Johnson
33: Ollie Johnson
34: Rich Johnson
35: Steve Johnson
36: Tyler Johnson
37: Nate Johnston
38: Jim Johnstone
39: Joe Colone
Pick one: 0
Results for Joe Johnson:

You searched for "Erik McCree"
1 result found.
Erik McCree
Results for Erik McCree:

You searched for "Donovan Mitchell"
1 result found.
Donovan Mitchell
Results for Donovan Mitchell:

You searched for "Naz Mitrou-Long"
1 result found.
Naz Mitrou-Long
Results for Naz Mitrou-Long:

You searched for "Raul Neto"
7 results found.
0: Raul Neto
1: Paul Reed
2: Al Cueto
3: Paul Noel
4: Paul Long
5: Raul Lopez
6: Paul Nolen
Pick one: 0
Results for Raul Neto:

You searched for "Georges Niang"
4 results found.
0: Georges Niang
1: George King
2: George King
3: George Mikan
Pick one: 0
Results for Georges Niang:

You searched for "Ricky Rubio"
7 results found.
0: Ricky Rubio
1: Ricky Davis
2: Ricky Ledo
3: Rick Robey
4: Ricky Berry
5: Ricky Grace
6: Ricky Marsh
Pick one: 0
Results for Ricky Rubio:

You searched for "Thabo Sefolosha"
1 result found.
Thabo Sefolosha
Results for Thabo Sefolosha:

You searched for "David Stockton"
1 result found.
David Stockton
Results for David Stockton:

You searched for "Ekpe Udoh"
1 result found.
Ekpe Udoh
Results for Ekpe Udoh:

You searched for "Nate Wolters"
1 result found.
Nate Wolters
Results for Nate Wolters:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2018-02-02,21-148,UTA,AWAY,PHO,W (+32),1,33:05,14,19,...,5,6,2,0,2,0,40,38.4,36,Donovan Mitchell
1,2018-02-03,27-105,UTA,AWAY,SAS,W (+9),1,34:59,11,14,...,3,9,0,0,4,3,34,30.2,15,Ricky Rubio
2,2018-03-02,25-249,UTA,HOME,MIN,W (+8),1,35:55,7,9,...,16,1,1,4,1,3,26,30.0,10,Rudy Gobert
3,2018-04-03,27-164,UTA,HOME,LAL,W (+7),1,33:25,10,16,...,6,8,0,0,2,1,31,29.6,16,Ricky Rubio
4,2017-12-01,21-085,UTA,HOME,NOP,W (+6),1,36:42,13,25,...,4,4,0,0,2,3,41,28.7,11,Donovan Mitchell

In [47]:

UTA_2019_gamelog = []

for p in UTA_df_2019_players:
    player_log = get_game_logs(str(p), SEASON_2019_START, SEASON_2019_END, playoffs = False)
    player_log['Player'] = p
    
    UTA_2019_gamelog.append(player_log)
UTA_2019_gamelog = pd.concat(UTA_2019_gamelog)    
UTA_2019_gamelogs = UTA_2019_gamelog.copy()
UTA_2019_gamelogs['GAME_SCORE'] = UTA_2019_gamelogs['GAME_SCORE'].astype(float)
UTA_2019_games = UTA_2019_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
UTA_2019_games_csv = UTA_2019_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2019_games.csv', index=False)
UTA_2019_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2019_games.csv')
UTA_2019_games_proc.head()

You searched for "Grayson Allen"
2 results found.
0: Grayson Allen
1: Ray Allen
Pick one: 0
Results for Grayson Allen:

You searched for "Tony Bradley"
10 results found.
0: Tony Bradley
1: Toby Bailey
2: Joe Bradley
3: Tony Allen
4: Alex Bradley
5: Alonzo Bradley
6: Avery Bradley
7: Bill Bradley
8: Bill Bradley
9: Jim Bradley
Pick one: 0
Results for Tony Bradley:

You searched for "Alec Burks"
3 results found.
0: Alec Burks
1: Trey Burke
2: Alex Kirk
Pick one: 0
Results for Alec Burks:

You searched for "Tyler Cavanaugh"
1 result found.
Tyler Cavanaugh
Results for Tyler Cavanaugh:

You searched for "Jae Crowder"
4 results found.
0: Jae Crowder
1: Joe Cooper
2: Corey Crowder
3: Joe Strawder
Pick one: 0
Results for Jae Crowder:

You searched for "Dante Exum"
1 result found.
Dante Exum
Results for Dante Exum:

You searched for "Derrick Favors"
4 results found.
0: Derrick Favors
1: Derrick Byars
2: Derrick Rose
3: Derrick Walton
Pick one: 0
Results for Derrick Favors:

You searched for "Rudy Gobert"
2 results found.
0: Rudy Gobert
1: Ray Tolbert
Pick one: 0
Results for Rudy Gobert:

You searched for "Joe Ingles"
7 results found.
0: Joe Ingles
1: Joe Ellis
2: Joe Fulks
3: Joe Reaves
4: Joe Binion
5: Jack Tingle
6: Joe Kleine
Pick one: 0
Results for Joe Ingles:

You searched for "Kyle Korver"
3 results found.
0: Kyle Korver
1: Kyle Weaver
2: Kyle Lowry
Pick one: 0
Results for Kyle Korver:

You searched for "Donovan Mitchell"
1 result found.
Donovan Mitchell
Results for Donovan Mitchell:

You searched for "Naz Mitrou-Long"
1 result found.
Naz Mitrou-Long
Results for Naz Mitrou-Long:

You searched for "Raul Neto"
7 results found.
0: Raul Neto
1: Paul Reed
2: Al Cueto
3: Paul Noel
4: Paul Long
5: Raul Lopez
6: Paul Nolen
Pick one: 0
Results for Raul Neto:

You searched for "Georges Niang"
4 results found.
0: Georges Niang
1: George King
2: George King
3: George Mikan
Pick one: 0
Results for Georges Niang:

You searched for "Ricky Rubio"
7 results found.
0: Ricky Rubio
1: Ricky Davis
2: Ricky Ledo
3: Rick Robey
4: Ricky Berry
5: Ricky Grace
6: Ricky Marsh
Pick one: 0
Results for Ricky Rubio:

You searched for "Thabo Sefolosha"
1 result found.
Thabo Sefolosha
Results for Thabo Sefolosha:

You searched for "Ekpe Udoh"
1 result found.
Ekpe Udoh
Results for Ekpe Udoh:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2019-04-09,22-214,UTA,HOME,DEN,W (+10),1,36:12,14,26,...,7,4,2,0,4,4,46,34.3,24,Donovan Mitchell
1,2019-03-02,22-176,UTA,HOME,MIL,W (+4),1,39:12,15,32,...,3,6,2,1,3,3,46,32.8,10,Donovan Mitchell
2,2019-01-16,26-204,UTA,AWAY,LAC,W (+20),1,33:35,7,10,...,22,1,1,4,0,3,23,30.7,19,Rudy Gobert
3,2018-10-27,28-006,UTA,AWAY,NOP,W (+21),1,29:33,8,14,...,6,12,1,0,2,2,28,29.8,26,Ricky Rubio
4,2018-10-27,26-123,UTA,AWAY,NOP,W (+21),1,31:29,11,13,...,14,0,1,4,0,1,25,28.7,23,Rudy Gobert

In [50]:


UTA_2020_gamelog = []

for p in UTA_df_2020_players:
    player_log = get_game_logs(str(p), SEASON_2020_START, SEASON_2020_END, playoffs = False)
    player_log['Player'] = p
    
    UTA_2020_gamelog.append(player_log)
UTA_2020_gamelog = pd.concat(UTA_2020_gamelog)    
UTA_2020_gamelogs = UTA_2020_gamelog.copy()
UTA_2020_gamelogs['GAME_SCORE'] = UTA_2020_gamelogs['GAME_SCORE'].astype(float)
UTA_2020_games = UTA_2020_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
UTA_2020_games_csv = UTA_2020_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2020_games.csv', index=False)
UTA_2020_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2020_games.csv')
UTA_2020_games_proc.head()

You searched for "Bojan Bogdanović"
2 results found.
0: Bojan Bogdanovic
1: Bogdan Bogdanovic
Pick one: 0
Results for Bojan Bogdanovic:

You searched for "Tony Bradley"
10 results found.
0: Tony Bradley
1: Toby Bailey
2: Joe Bradley
3: Tony Allen
4: Alex Bradley
5: Alonzo Bradley
6: Avery Bradley
7: Bill Bradley
8: Bill Bradley
9: Jim Bradley
Pick one: 0
Results for Tony Bradley:

You searched for "Jarrell Brantley"
1 result found.
Jarrell Brantley
Results for Jarrell Brantley:

You searched for "Jordan Clarkson"
1 result found.
Jordan Clarkson
Results for Jordan Clarkson:

You searched for "Mike Conley"
17 results found.
0: Mike Conley
1: Gene Conley
2: Mike Tobey
3: Mike Butler
4: Ken Corley
5: Mike Dunleavy
6: Mike Dunleavy
7: Mike Gale
8: Mike Maloy
9: Mike Miller
10: Mike Niles
11: Mike Glenn
12: Mike Lynn
13: Mike Flynn
14: Mike Gibson
15: Mike Lewis
16: Mike Jackson
Pick one: 0
Results for Mike Conley:

You searched for "Ed Davis"
34 results found.
0: Ed Davis
1: Red Davis
2: Ben Davis
3: Lee Davis
4: Mel Davis
5: Bob Davis
6: Brad Davis
7: Glen Davis
8: Jim Davis
9: Ron Davis
10: Ed Kasid
11: Ed Rains
12: Ed Dahler
13: Bob Davies
14: Bill Davis
15: Dale Davis
16: Josh Davis
17: Mark Davis
18: Mark Davis
19: Mike Davis
20: Mike Davis
21: Paul Davis
22: Terry Davis
23: Tyler Davis
24: Walt Davis
25: Ed Earle
26: Ed Gayda
27: Ed Melvin
28: Ed Beach
29: Ed Leede
30: Ed Mikan
31: Ed Nealy
32: Med Park
33: Todd Day
Pick one: 0
Results for Ed Davis:

You searched for "Dante Exum"
1 result found.
Dante Exum
Results for Dante Exum:

You searched for "Rudy Gobert"
2 results found.
0: Rudy Gobert
1: Ray Tolbert
Pick one: 0
Results for Rudy Gobert:

You searched for "Jeff Green"
21 results found.
0: Jeff Green
1: Josh Green
2: Jeff Adrien
3: Jeff Grayer
4: Ken Green
5: Sean Green
6: Jeff Ayres
7: Jeff Cross
8: A.C. Green
9: Devin Green
10: Kenny Green
11: Mike Green
12: Si Green
13: Steve Green
14: Jeff Lebo
15: Jeff Martin
16: Jeff Turner
17: Jeff Webb
18: Jeff Foote
19: Jeff Slade
20: Jeff Teague
Pick one: 0
Results for Jeff Green:

You searched for "Joe Ingles"
7 results found.
0: Joe Ingles
1: Joe Ellis
2: Joe Fulks
3: Joe Reaves
4: Joe Binion
5: Jack Tingle
6: Joe Kleine
Pick one: 0
Results for Joe Ingles:

You searched for "Stanton Kidd"
2 results found.
0: Stanton Kidd
1: Jason Kidd
Pick one: 0
Results for Stanton Kidd:

You searched for "Donovan Mitchell"
1 result found.
Donovan Mitchell
Results for Donovan Mitchell:

You searched for "Juwan Morgan"
4 results found.
0: Juwan Morgan
1: Guy Morgan
2: Juwan Howard
3: Ja Morant
Pick one: 0
Results for Juwan Morgan:

You searched for "Emmanuel Mudiay"
1 result found.
Emmanuel Mudiay
Results for Emmanuel Mudiay:

You searched for "Georges Niang"
4 results found.
0: Georges Niang
1: George King
2: George King
3: George Mikan
Pick one: 0
Results for Georges Niang:

You searched for "Miye Oni"
4 results found.
0: Miye Oni
1: Mile Ilic
2: Mike Lynn
3: Mike Brown
Pick one: 0
Results for Miye Oni:

You searched for "Rayjon Tucker"
1 result found.
Rayjon Tucker
Results for Rayjon Tucker:

You searched for "Nigel Williams-Goss"
1 result found.
Nigel Williams-Goss
Results for Nigel Williams-Goss:

You searched for "Justin Wright-Foreman"
1 result found.
Justin Wright-Foreman
Results for Justin Wright-Foreman:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2020-01-16,23-131,UTA,AWAY,NOP,L (-6),1,42:20,16,34,...,6,2,2,0,3,2,46,31.2,-4,Donovan Mitchell
1,2020-01-18,27-206,UTA,HOME,SAC,W (+22),1,33:39,9,11,...,15,0,2,3,1,4,28,30.7,32,Rudy Gobert
2,2019-12-26,23-110,UTA,HOME,POR,W (+6),1,38:25,12,19,...,3,7,0,0,2,1,35,29.1,12,Donovan Mitchell
3,2020-02-24,23-170,UTA,HOME,PHO,L (-20),1,35:20,11,19,...,4,4,1,0,4,4,38,28.1,-19,Donovan Mitchell
4,2019-10-23,23-046,UTA,HOME,OKC,W (+5),1,36:24,14,22,...,12,3,1,0,1,4,32,27.9,9,Donovan Mitchell

In [53]:

UTA_2021_gamelog = []

for p in UTA_df_2021_players:
    player_log = get_game_logs(str(p), SEASON_2021_START, SEASON_2021_END, playoffs = False)
    player_log['Player'] = p
    
    UTA_2021_gamelog.append(player_log)
UTA_2021_gamelog = pd.concat(UTA_2021_gamelog)    
UTA_2021_gamelogs = UTA_2021_gamelog.copy()
UTA_2021_gamelogs['GAME_SCORE'] = UTA_2021_gamelogs['GAME_SCORE'].astype(float)
UTA_2021_games = UTA_2021_gamelogs.sort_values(by=['GAME_SCORE'], ascending=False)
UTA_2021_games_csv = UTA_2021_games.to_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2021_games.csv', index=False)
UTA_2021_games_proc = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2021_games.csv')
UTA_2021_games_proc.head()

You searched for "Udoka Azubuike"
1 result found.
Udoka Azubuike
Results for Udoka Azubuike:

You searched for "Bojan Bogdanović"
2 results found.
0: Bojan Bogdanovic
1: Bogdan Bogdanovic
Pick one: 0
Results for Bojan Bogdanovic:

You searched for "Jarrell Brantley"
1 result found.
Jarrell Brantley
Results for Jarrell Brantley:

You searched for "Jordan Clarkson"
1 result found.
Jordan Clarkson
Results for Jordan Clarkson:

You searched for "Mike Conley"
17 results found.
0: Mike Conley
1: Gene Conley
2: Mike Tobey
3: Mike Butler
4: Ken Corley
5: Mike Dunleavy
6: Mike Dunleavy
7: Mike Gale
8: Mike Maloy
9: Mike Miller
10: Mike Niles
11: Mike Glenn
12: Mike Lynn
13: Mike Flynn
14: Mike Gibson
15: Mike Lewis
16: Mike Jackson
Pick one: 0
Results for Mike Conley:

You searched for "Derrick Favors"
4 results found.
0: Derrick Favors
1: Derrick Byars
2: Derrick Rose
3: Derrick Walton
Pick one: 0
Results for Derrick Favors:

You searched for "Trent Forrest"
1 result found.
Trent Forrest
Results for Trent Forrest:

You searched for "Rudy Gobert"
2 results found.
0: Rudy Gobert
1: Ray Tolbert
Pick one: 0
Results for Rudy Gobert:

You searched for "Shaquille Harrison"
1 result found.
Shaquille Harrison
Results for Shaquille Harrison:

You searched for "Elijah Hughes"
1 result found.
Elijah Hughes
Results for Elijah Hughes:

You searched for "Ersan İlyasova"
1 result found.
Ersan Ilyasova
Results for Ersan Ilyasova:

You searched for "Joe Ingles"
7 results found.
0: Joe Ingles
1: Joe Ellis
2: Joe Fulks
3: Joe Reaves
4: Joe Binion
5: Jack Tingle
6: Joe Kleine
Pick one: 0
Results for Joe Ingles:

You searched for "Donovan Mitchell"
1 result found.
Donovan Mitchell
Results for Donovan Mitchell:

You searched for "Juwan Morgan"
4 results found.
0: Juwan Morgan
1: Guy Morgan
2: Juwan Howard
3: Ja Morant
Pick one: 0
Results for Juwan Morgan:

You searched for "Georges Niang"
4 results found.
0: Georges Niang
1: George King
2: George King
3: George Mikan
Pick one: 0
Results for Georges Niang:

You searched for "Miye Oni"
4 results found.
0: Miye Oni
1: Mile Ilic
2: Mike Lynn
3: Mike Brown
Pick one: 0
Results for Miye Oni:

You searched for "Matt Thomas"
15 results found.
0: Matt Thomas
1: Matt Guokas
2: Matt Guokas
3: Carl Thomas
4: Kurt Thomas
5: Etan Thomas
6: Jamel Thomas
7: James Thomas
8: Jim Thomas
9: Joe Thomas
10: John Thomas
11: Lance Thomas
12: Tim Thomas
13: Matt Mazza
14: Matt Othick
Pick one: 0
Results for Matt Thomas:

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2021-05-07,32-019,UTA,HOME,DEN,W (+7),1,39:09,16,23,...,8,2,2,0,5,4,48,37.9,4,Bojan Bogdanović
1,2021-03-14,28-261,UTA,AWAY,GSW,L (-12),1,32:28,8,10,...,28,1,2,4,0,5,24,33.3,11,Rudy Gobert
2,2021-02-09,24-155,UTA,HOME,BOS,W (+14),1,35:49,12,23,...,4,9,1,2,2,3,36,31.4,13,Donovan Mitchell
3,2021-03-18,33-167,UTA,AWAY,WAS,L (-9),1,32:58,12,17,...,5,2,2,0,0,3,34,30.6,2,Joe Ingles
4,2021-04-10,24-215,UTA,HOME,SAC,W (+16),1,35:02,12,31,...,3,4,1,1,0,0,42,30.1,9,Donovan Mitchell

## combine all seasons

In [54]:
UTA_2000_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2000_games.csv')
UTA_2001_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2001_games.csv')
UTA_2002_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2002_games.csv')
UTA_2003_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2003_games.csv')
UTA_2004_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2004_games.csv')
UTA_2005_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2005_games.csv')
UTA_2006_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2006_games.csv')
UTA_2007_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2007_games.csv')
UTA_2008_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2008_games.csv')
UTA_2009_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2009_games.csv')
UTA_2010_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2010_games.csv')
UTA_2011_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2011_games.csv')
UTA_2012_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2012_games.csv')
UTA_2013_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2013_games.csv')
UTA_2014_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2014_games.csv')
UTA_2015_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2015_games.csv')
UTA_2016_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2016_games.csv')
UTA_2017_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2017_games.csv')
UTA_2018_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2018_games.csv')
UTA_2019_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2019_games.csv')
UTA_2020_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2020_games.csv')
UTA_2021_games_io = pd.read_csv('/Users/brendan/Desktop/Python/NBA_API/UTA/UTA_2021_games.csv')

In [55]:
UTA_season_dfs = [UTA_2000_games_io, UTA_2001_games_io, UTA_2002_games_io, UTA_2003_games_io, UTA_2004_games_io, UTA_2005_games_io,
                 UTA_2006_games_io, UTA_2007_games_io, UTA_2008_games_io, UTA_2009_games_io, UTA_2010_games_io, UTA_2011_games_io,
                 UTA_2012_games_io, UTA_2013_games_io, UTA_2014_games_io, UTA_2015_games_io, UTA_2016_games_io, UTA_2017_games_io,
                 UTA_2018_games_io, UTA_2019_games_io, UTA_2020_games_io, UTA_2021_games_io]

In [56]:
UTA_all = pd.concat(UTA_season_dfs)
UTA_all_sorted = UTA_all.sort_values(by=['GAME_SCORE'], ascending=False)
UTA_all_sorted.head(25)

,DATE,AGE,TEAM,HOME/AWAY,OPPONENT,RESULT,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GAME_SCORE,+/-,Player
0,2000-12-20,37-149,UTA,AWAY,PHI,W (+2),1,43:11,13,18,...,13,3,2,4,3,2,41,39.0,1,Karl Malone
0,2009-01-12,29-231,UTA,HOME,IND,W (+7),1,40:13,13,19,...,9,3,1,0,1,2,43,38.9,13,Mehmet Okur
0,2017-03-22,24-269,UTA,HOME,NYK,W (+7),1,38:05,13,15,...,15,1,1,4,3,2,35,38.9,13,Rudy Gobert
0,2003-03-12,39-231,UTA,AWAY,ORL,W (+3),1,42:08,12,19,...,9,7,4,0,1,2,40,38.9,2,Karl Malone
0,2018-02-02,21-148,UTA,AWAY,PHO,W (+32),1,33:05,14,19,...,5,6,2,0,2,0,40,38.4,36,Donovan Mitchell
0,2021-05-07,32-019,UTA,HOME,DEN,W (+7),1,39:09,16,23,...,8,2,2,0,5,4,48,37.9,4,Bojan Bogdanović
0,2008-03-15,26-116,UTA,AWAY,NJN,L (-2),1,38:27,15,19,...,9,2,1,1,2,3,41,37.9,-8,Carlos Boozer
0,2010-02-09,28-081,UTA,AWAY,LAC,W (+10),1,38:26,13,17,...,14,4,4,0,2,2,34,37.5,1,Carlos Boozer
0,2010-11-09,25-272,UTA,AWAY,MIA,W (+2),1,43:27,19,28,...,9,1,1,1,1,4,46,37.3,2,Paul Millsap
1,2010-04-06,25-284,UTA,HOME,OKC,W (+1),1,42:23,14,23,...,3,10,0,0,1,3,42,36.8,9,Deron Williams
2,2009-12-14,25-171,UTA,HOME,MIN,L (-2),1,41:05,11,20,...,3,13,2,0,1,3,38,36.6,4,Deron Williams
0,2014-01-07,23-290,UTA,HOME,OKC,W (+11),1,37:10,13,16,...,11,7,2,1,4,0,37,36.3,11,Gordon Hayward
1,2007-12-08,23-165,UTA,AWAY,DAL,L (-8),1,34:29,13,20,...,3,7,2,0,3,3,41,35.8,-4,Deron Williams
0,2015-04-11,27-137,UTA,AWAY,POR,W (+6),1,35:37,12,15,...,9,1,2,1,0,1,36,35.2,-1,Trevor Booker
0,2019-04-09,22-214,UTA,HOME,DEN,W (+10),1,36:12,14,26,...,7,4,2,0,4,4,46,34.3,24,Donovan Mitchell
0,2007-03-26,25-126,UTA,HOME,WAS,W (+6),1,36:32,15,21,...,16,2,0,0,3,5,41,34.3,4,Carlos Boozer
3,2010-02-27,25-246,UTA,HOME,HOU,W (+23),1,32:33,13,17,...,7,13,0,1,4,5,35,34.2,24,Deron Williams
4,2009-12-10,25-167,UTA,HOME,ORL,W (+9),1,42:18,9,18,...,8,15,1,0,1,3,32,33.5,16,Deron Williams
5,2010-03-09,25-256,UTA,AWAY,CHI,W (+24),1,36:35,11,15,...,1,17,1,0,1,1,28,33.3,24,Deron Williams
1,2021-03-14,28-261,UTA,AWAY,GSW,L (-12),1,32:28,8,10,...,28,1,2,4,0,5,24,33.3,11,Rudy Gobert
2,2007-11-30,26-285,UTA,HOME,LAL,W (+24),1,40:39,5,14,...,11,11,6,4,0,3,20,33.2,26,Andrei Kirilenko
2,2011-01-28,29-344,UTA,HOME,MIN,W (+8),1,35:10,10,13,...,6,7,5,1,2,1,27,33.1,10,Andrei Kirilenko
1,2011-03-20,26-038,UTA,AWAY,HOU,L (-2),1,38:57,12,18,...,10,4,1,3,1,5,35,33.1,9,Paul Millsap
0,2012-02-17,27-044,UTA,HOME,WAS,W (+14),1,30:51,16,23,...,12,1,3,1,0,2,34,33.1,25,Al Jefferson
0,2000-02-28,36-219,UTA,HOME,NJN,W (+5),1,44:04,13,22,...,12,9,0,2,3,4,35,33.1,7,Karl Malone